<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>3202.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1028},{1024,813}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,813}}</string>
                <key>sourceSize</key>
                <string>{1024,813}</string>
            </dict>
            <key>3203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1024,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,595}}</string>
                <key>sourceSize</key>
                <string>{1024,595}</string>
            </dict>
            <key>3500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{996,346}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{996,346}}</string>
                <key>sourceSize</key>
                <string>{1002,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3200.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7362a2f2e35dee3ea1e948fdf0735188$</string>
            <key>textureFileName</key>
            <string>3200.png</string>
        </dict>
    </dict>
</plist>
