<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>andi1-bishou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,288},{25,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,19}}</string>
        <key>sourceSize</key>
        <string>{25,19}</string>
      </dict>
      <key>andi1-bishou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,217},{15,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,11}}</string>
        <key>sourceSize</key>
        <string>{15,11}</string>
      </dict>
      <key>andi1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,194},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>andi1-youbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,139},{29,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,20}}</string>
        <key>sourceSize</key>
        <string>{29,20}</string>
      </dict>
      <key>andi1-liuhia.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,217},{97,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,104}}</string>
        <key>sourceSize</key>
        <string>{97,104}</string>
      </dict>
      <key>andi1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,110},{49,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,119}}</string>
        <key>sourceSize</key>
        <string>{49,119}</string>
      </dict>
      <key>andi1-youbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,0},{33,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,34}}</string>
        <key>sourceSize</key>
        <string>{33,34}</string>
      </dict>
      <key>andi1-bianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{99,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,141}}</string>
        <key>sourceSize</key>
        <string>{99,141}</string>
      </dict>
      <key>andi1-bianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,231},{68,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,116}}</string>
        <key>sourceSize</key>
        <string>{68,116}</string>
      </dict>
      <key>andi1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,347},{46,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,56}}</string>
        <key>sourceSize</key>
        <string>{46,56}</string>
      </dict>
      <key>andi1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,277},{58,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,107}}</string>
        <key>sourceSize</key>
        <string>{58,107}</string>
      </dict>
      <key>andi1-tangtang.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,143},{25,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,22}}</string>
        <key>sourceSize</key>
        <string>{25,22}</string>
      </dict>
      <key>andi1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,349},{81,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,57}}</string>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>andi1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,386},{78,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,48}}</string>
        <key>sourceSize</key>
        <string>{78,48}</string>
      </dict>
      <key>andi1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,378},{80,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,55}}</string>
        <key>sourceSize</key>
        <string>{80,55}</string>
      </dict>
      <key>andi1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,396},{50,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,40}}</string>
        <key>sourceSize</key>
        <string>{50,40}</string>
      </dict>
      <key>andi1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,110},{116,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,105}}</string>
        <key>sourceSize</key>
        <string>{116,105}</string>
      </dict>
      <key>andi1-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,405},{42,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,20}}</string>
        <key>sourceSize</key>
        <string>{42,20}</string>
      </dict>
      <key>andi1-qugan.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,396},{45,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,42}}</string>
        <key>sourceSize</key>
        <string>{45,42}</string>
      </dict>
      <key>andi1-qunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{94,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,50}}</string>
        <key>sourceSize</key>
        <string>{94,50}</string>
      </dict>
      <key>andi1-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,266},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>andi1-youtui.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,309},{20,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,22}}</string>
        <key>sourceSize</key>
        <string>{20,22}</string>
      </dict>
      <key>andi1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,408},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>andi1-youtui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,68},{21,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,34}}</string>
        <key>sourceSize</key>
        <string>{21,34}</string>
      </dict>
      <key>andi1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,244},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>andi1-zuotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,104},{20,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,33}}</string>
        <key>sourceSize</key>
        <string>{20,33}</string>
      </dict>
      <key>andi1-zuotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,167},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>andi1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,220},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>andi1-zuobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,333},{23,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,18}}</string>
        <key>sourceSize</key>
        <string>{23,18}</string>
      </dict>
      <key>andi1-zuobi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,36},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,30}</string>
      </dict>
      <key>andi1-huediejie.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,323},{84,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,71}}</string>
        <key>sourceSize</key>
        <string>{84,71}</string>
      </dict>
      <key>andi1-hudiejie.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,161},{40,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,72}}</string>
        <key>sourceSize</key>
        <string>{40,72}</string>
      </dict>
      <key>andi1-bainzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,143},{72,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,132}}</string>
        <key>sourceSize</key>
        <string>{72,132}</string>
      </dict>
      <key>andi1-bianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,235},{47,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,110}}</string>
        <key>sourceSize</key>
        <string>{47,110}</string>
      </dict>
      <key>andi1-hudiejie1.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{177,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,108}}</string>
        <key>sourceSize</key>
        <string>{177,108}</string>
      </dict>
      <key>andi1-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{193,376}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,376}}</string>
        <key>sourceSize</key>
        <string>{193,376}</string>
      </dict>
      <key>andi1-shouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,353},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>andi2.png</string>
      <key>textureFileName</key>
      <string>andi2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>