<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>annu0-liouhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,318},{121,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,83}}</string>
        <key>sourceSize</key>
        <string>{121,83}</string>
      </dict>
      <key>annu0-shouji10.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,523},{73,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,31}}</string>
        <key>sourceSize</key>
        <string>{73,31}</string>
      </dict>
      <key>annu0-gonji10.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,527},{68,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,30}}</string>
        <key>sourceSize</key>
        <string>{68,30}</string>
      </dict>
      <key>annu0-daiji10.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,531},{63,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,29}}</string>
        <key>sourceSize</key>
        <string>{63,29}</string>
      </dict>
      <key>annu0-shouji1.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,485},{84,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,40}}</string>
        <key>sourceSize</key>
        <string>{84,40}</string>
      </dict>
      <key>annu0-gonji1.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,493},{82,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,40}}</string>
        <key>sourceSize</key>
        <string>{82,40}</string>
      </dict>
      <key>annu0-daiji1.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,500},{82,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,40}}</string>
        <key>sourceSize</key>
        <string>{82,40}</string>
      </dict>
      <key>annu0-goutou.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,0},{217,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{217,230}}</string>
        <key>sourceSize</key>
        <string>{217,230}</string>
      </dict>
      <key>annu0-youfa.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,198},{38,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,105}}</string>
        <key>sourceSize</key>
        <string>{38,105}</string>
      </dict>
      <key>annu0-youer.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,495},{55,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,48}}</string>
        <key>sourceSize</key>
        <string>{55,48}</string>
      </dict>
      <key>annu0-youbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,428},{78,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,56}}</string>
        <key>sourceSize</key>
        <string>{78,56}</string>
      </dict>
      <key>annu0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,226},{113,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,102}}</string>
        <key>sourceSize</key>
        <string>{113,102}</string>
      </dict>
      <key>annu0-zuofa.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,0},{26,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,86}}</string>
        <key>sourceSize</key>
        <string>{26,86}</string>
      </dict>
      <key>annu0-zuoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,324},{40,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,32}}</string>
        <key>sourceSize</key>
        <string>{40,32}</string>
      </dict>
      <key>annu0-youbi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,399},{71,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,84}}</string>
        <key>sourceSize</key>
        <string>{71,84}</string>
      </dict>
      <key>annu0-youbudai.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,216},{126,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,105}}</string>
        <key>sourceSize</key>
        <string>{126,105}</string>
      </dict>
      <key>annu0-youbudai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,413},{104,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,42}}</string>
        <key>sourceSize</key>
        <string>{104,42}</string>
      </dict>
      <key>annu0-youbi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,132},{31,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,33}}</string>
        <key>sourceSize</key>
        <string>{31,33}</string>
      </dict>
      <key>annu0-youbi20.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,535},{43,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,32}}</string>
        <key>sourceSize</key>
        <string>{43,32}</string>
      </dict>
      <key>annu0-youbi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,367},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>annu0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,399},{29,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,20}}</string>
        <key>sourceSize</key>
        <string>{29,20}</string>
      </dict>
      <key>annu0-tiangping.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,535},{34,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,12}}</string>
        <key>sourceSize</key>
        <string>{34,12}</string>
      </dict>
      <key>annu0-tiangping2.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,372},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>annu0-tiangping3.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,353},{20,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>annu0-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,381},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>annu0-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,323},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>annu0-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,496},{64,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,53}}</string>
        <key>sourceSize</key>
        <string>{64,53}</string>
      </dict>
      <key>annu0-youmaoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,226},{74,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,153}}</string>
        <key>sourceSize</key>
        <string>{74,153}</string>
      </dict>
      <key>annu0-zuomaoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,216},{43,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,128}}</string>
        <key>sourceSize</key>
        <string>{43,128}</string>
      </dict>
      <key>annu0-youtie1.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,226},{41,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,56}}</string>
        <key>sourceSize</key>
        <string>{41,56}</string>
      </dict>
      <key>annu0-zhongtie2.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,534},{42,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,46}}</string>
        <key>sourceSize</key>
        <string>{42,46}</string>
      </dict>
      <key>annu0-zuotie3.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,413},{45,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,57}}</string>
        <key>sourceSize</key>
        <string>{45,57}</string>
      </dict>
      <key>annu0-youtui.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,381},{65,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>annu0-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,449},{83,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,49}}</string>
        <key>sourceSize</key>
        <string>{83,49}</string>
      </dict>
      <key>annu0-neiku.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,536},{44,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,23}}</string>
        <key>sourceSize</key>
        <string>{44,23}</string>
      </dict>
      <key>annu0-yaobu.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,284},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>annu0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,305},{36,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
      <key>annu0-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,88},{26,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,42}}</string>
        <key>sourceSize</key>
        <string>{26,42}</string>
      </dict>
      <key>annu0-yaodai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,486},{75,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,43}}</string>
        <key>sourceSize</key>
        <string>{75,43}</string>
      </dict>
      <key>annu0-youtui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,349},{36,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,27}}</string>
        <key>sourceSize</key>
        <string>{36,27}</string>
      </dict>
      <key>annu0-youtui3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>annu0-youjiaozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,526},{68,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,31}}</string>
        <key>sourceSize</key>
        <string>{68,31}</string>
      </dict>
      <key>annu0-youtui4.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,426},{51,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,54}}</string>
        <key>sourceSize</key>
        <string>{51,54}</string>
      </dict>
      <key>annu0-zuotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{79,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,85}}</string>
        <key>sourceSize</key>
        <string>{79,85}</string>
      </dict>
      <key>annu0-zuotui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,531},{35,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,23}}</string>
        <key>sourceSize</key>
        <string>{35,23}</string>
      </dict>
      <key>annu0-zuotui3.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,508},{61,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,55}}</string>
        <key>sourceSize</key>
        <string>{61,55}</string>
      </dict>
      <key>annu0-zuoiaozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{72,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,31}}</string>
        <key>sourceSize</key>
        <string>{72,31}</string>
      </dict>
      <key>annu0-zuotui4.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,531},{45,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>annu0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,482},{47,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>annu0-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,348},{21,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,22}}</string>
        <key>sourceSize</key>
        <string>{21,22}</string>
      </dict>
      <key>annu0-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,317},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
      <key>annu0-houbeibu.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,457},{87,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,51}}</string>
        <key>sourceSize</key>
        <string>{87,51}</string>
      </dict>
      <key>annu0-youjian.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,232},{123,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,84}}</string>
        <key>sourceSize</key>
        <string>{123,84}</string>
      </dict>
      <key>annu0-houbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,367},{83,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,80}}</string>
        <key>sourceSize</key>
        <string>{83,80}</string>
      </dict>
      <key>annu0-houbai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,317},{61,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,104}}</string>
        <key>sourceSize</key>
        <string>{61,104}</string>
      </dict>
      <key>annu0-houbai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,346},{48,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,97}}</string>
        <key>sourceSize</key>
        <string>{48,97}</string>
      </dict>
      <key>annu0-houbai4.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,358},{48,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,68}}</string>
        <key>sourceSize</key>
        <string>{48,68}</string>
      </dict>
      <key>annu0-tuibu.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,510},{81,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,24}}</string>
        <key>sourceSize</key>
        <string>{81,24}</string>
      </dict>
      <key>annu0-zuojian.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,330},{102,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,67}}</string>
        <key>sourceSize</key>
        <string>{102,67}</string>
      </dict>
      <key>annu0-zuobi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,378},{50,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,62}}</string>
        <key>sourceSize</key>
        <string>{50,62}</string>
      </dict>
      <key>annu0-zuobi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,167},{28,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,29}}</string>
        <key>sourceSize</key>
        <string>{28,29}</string>
      </dict>
      <key>annu0-zuobi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,232},{89,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,83}}</string>
        <key>sourceSize</key>
        <string>{89,83}</string>
      </dict>
      <key>annu0-zuobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,458},{65,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>annu0-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{333,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{333,224}}</string>
        <key>sourceSize</key>
        <string>{333,224}</string>
      </dict>
      <key>annu0-dao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,531},{48,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,44}}</string>
        <key>sourceSize</key>
        <string>{48,44}</string>
      </dict>
      <key>annu0-dao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,445},{50,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,48}}</string>
        <key>sourceSize</key>
        <string>{50,48}</string>
      </dict>
      <key>annu0-youchi.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{143,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,212}}</string>
        <key>sourceSize</key>
        <string>{143,212}</string>
      </dict>
      <key>annu0-youyi.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,214},{129,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,151}}</string>
        <key>sourceSize</key>
        <string>{129,151}</string>
      </dict>
      <key>annu0-youyi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,323},{108,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,88}}</string>
        <key>sourceSize</key>
        <string>{108,88}</string>
      </dict>
      <key>annu0-youyi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,403},{98,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,53}}</string>
        <key>sourceSize</key>
        <string>{98,53}</string>
      </dict>
      <key>annu0-youyi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,447},{82,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,59}}</string>
        <key>sourceSize</key>
        <string>{82,59}</string>
      </dict>
      <key>annu0-youyi5.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,423},{76,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,68}}</string>
        <key>sourceSize</key>
        <string>{76,68}</string>
      </dict>
      <key>annu0-youchi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,0},{172,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,214}}</string>
        <key>sourceSize</key>
        <string>{172,214}</string>
      </dict>
      <key>annu0-zuochi.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,0},{116,185}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,185}}</string>
        <key>sourceSize</key>
        <string>{116,185}</string>
      </dict>
      <key>annu0-zuoyi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{97,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,134}}</string>
        <key>sourceSize</key>
        <string>{97,134}</string>
      </dict>
      <key>annu0-zuoyi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,376},{91,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,69}}</string>
        <key>sourceSize</key>
        <string>{91,69}</string>
      </dict>
      <key>annu0-zuoyi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,477},{82,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,44}}</string>
        <key>sourceSize</key>
        <string>{82,44}</string>
      </dict>
      <key>annu0-zuoyi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,472},{71,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,57}}</string>
        <key>sourceSize</key>
        <string>{71,57}</string>
      </dict>
      <key>annu0-zuoyi5.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,442},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>annu0-zuochi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,187},{109,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,187}}</string>
        <key>sourceSize</key>
        <string>{109,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>annu2.png</string>
      <key>textureFileName</key>
      <string>annu2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>