<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>balala2-qiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{340,315}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{340,315}}</string>
    <key>sourceSize</key>
    <string>{340,315}</string>
   </dict>
   <key>balala2-qiu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,0},{254,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,250}}</string>
    <key>sourceSize</key>
    <string>{254,250}</string>
   </dict>
   <key>balala2-ditan.png</key>
   <dict>
    <key>frame</key>
    <string>{{598,172},{135,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,58}}</string>
    <key>sourceSize</key>
    <string>{135,58}</string>
   </dict>
   <key>balala2-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{930,149},{39,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,93}}</string>
    <key>sourceSize</key>
    <string>{39,93}</string>
   </dict>
   <key>balala2-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{930,0},{88,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,76}}</string>
    <key>sourceSize</key>
    <string>{88,76}</string>
   </dict>
   <key>balala2-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,252},{95,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,73}}</string>
    <key>sourceSize</key>
    <string>{95,73}</string>
   </dict>
   <key>balala2-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{598,232},{95,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,81}}</string>
    <key>sourceSize</key>
    <string>{95,81}</string>
   </dict>
   <key>balala2-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{931,300},{77,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,39}}</string>
    <key>sourceSize</key>
    <string>{77,39}</string>
   </dict>
   <key>balala2-maozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{598,0},{200,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,170}}</string>
    <key>sourceSize</key>
    <string>{200,170}</string>
   </dict>
   <key>balala2-maozipiaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{930,78},{84,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,69}}</string>
    <key>sourceSize</key>
    <string>{84,69}</string>
   </dict>
   <key>balala2-maozipiaodai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,307},{95,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,38}}</string>
    <key>sourceSize</key>
    <string>{95,38}</string>
   </dict>
   <key>balala2-lian .png</key>
   <dict>
    <key>frame</key>
    <string>{{800,0},{128,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,121}}</string>
    <key>sourceSize</key>
    <string>{128,121}</string>
   </dict>
   <key>balala2-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,172},{48,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,54}}</string>
    <key>sourceSize</key>
    <string>{48,54}</string>
   </dict>
   <key>balala2-weijin.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,238},{34,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,30}}</string>
    <key>sourceSize</key>
    <string>{34,30}</string>
   </dict>
   <key>balala2-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,283},{22,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,21}}</string>
    <key>sourceSize</key>
    <string>{22,21}</string>
   </dict>
   <key>balala2-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{695,232},{31,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,35}}</string>
    <key>sourceSize</key>
    <string>{31,35}</string>
   </dict>
   <key>balala2-youtui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,270},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{28,28}</string>
   </dict>
   <key>balala2-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,274},{24,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,20}}</string>
    <key>sourceSize</key>
    <string>{24,20}</string>
   </dict>
   <key>balala2-zuowazi.png</key>
   <dict>
    <key>frame</key>
    <string>{{785,172},{12,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,14}}</string>
    <key>sourceSize</key>
    <string>{12,14}</string>
   </dict>
   <key>balala2-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,244},{27,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,37}}</string>
    <key>sourceSize</key>
    <string>{27,37}</string>
   </dict>
   <key>balala2-zuotui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,252},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>balala2-kudang.png</key>
   <dict>
    <key>frame</key>
    <string>{{882,281},{23,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,21}}</string>
    <key>sourceSize</key>
    <string>{23,21}</string>
   </dict>
   <key>balala2-qugan.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,228},{42,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,44}}</string>
    <key>sourceSize</key>
    <string>{42,44}</string>
   </dict>
   <key>balala2-yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,284},{30,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,11}}</string>
    <key>sourceSize</key>
    <string>{30,11}</string>
   </dict>
   <key>balala2-youxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{695,269},{25,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,33}}</string>
    <key>sourceSize</key>
    <string>{25,33}</string>
   </dict>
   <key>balala2-youdabi.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,244},{18,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,28}}</string>
    <key>sourceSize</key>
    <string>{18,28}</string>
   </dict>
   <key>balala2-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,274},{18,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,11}}</string>
    <key>sourceSize</key>
    <string>{18,11}</string>
   </dict>
   <key>balala2-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{722,274},{24,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,28}}</string>
    <key>sourceSize</key>
    <string>{24,28}</string>
   </dict>
   <key>balala2-zuoshagnbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1007,149},{13,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,24}}</string>
    <key>sourceSize</key>
    <string>{13,24}</string>
   </dict>
   <key>balala2-bozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1001,270},{20,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,25}}</string>
    <key>sourceSize</key>
    <string>{20,25}</string>
   </dict>
   <key>balala2-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{800,123},{128,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,101}}</string>
    <key>sourceSize</key>
    <string>{128,101}</string>
   </dict>
   <key>balala2-kuaxiamaotan.png</key>
   <dict>
    <key>frame</key>
    <string>{{785,226},{135,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,53}}</string>
    <key>sourceSize</key>
    <string>{135,53}</string>
   </dict>
   <key>balala2-maotanjuanqilaidebufen .png</key>
   <dict>
    <key>frame</key>
    <string>{{536,315},{86,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,23}}</string>
    <key>sourceSize</key>
    <string>{86,23}</string>
   </dict>
   <key>balala2-maotan.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,252},{113,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,53}}</string>
    <key>sourceSize</key>
    <string>{113,53}</string>
   </dict>
   <key>balala2-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,149},{34,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,87}}</string>
    <key>sourceSize</key>
    <string>{34,87}</string>
   </dict>
   <key>balala2-zhentou .png</key>
   <dict>
    <key>frame</key>
    <string>{{774,281},{106,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,54}}</string>
    <key>sourceSize</key>
    <string>{106,54}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>balala2.png</string>
   <key>textureFileName</key>
   <string>balala2.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>