<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>balong1-gongji1.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,376},{94,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,32}}</string>
    <key>sourceSize</key>
    <string>{94,32}</string>
   </dict>
   <key>balong1-chui.png</key>
   <dict>
    <key>frame</key>
    <string>{{279,376},{77,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,40}}</string>
    <key>sourceSize</key>
    <string>{77,40}</string>
   </dict>
   <key>balong1-xiqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,349},{82,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,50}}</string>
    <key>sourceSize</key>
    <string>{82,50}</string>
   </dict>
   <key>balong1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,298},{97,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,49}}</string>
    <key>sourceSize</key>
    <string>{97,49}</string>
   </dict>
   <key>balong1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,232},{88,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,64}}</string>
    <key>sourceSize</key>
    <string>{88,64}</string>
   </dict>
   <key>balong1-putong.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,322},{92,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,52}}</string>
    <key>sourceSize</key>
    <string>{92,52}</string>
   </dict>
   <key>balong1-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,224},{33,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,37}}</string>
    <key>sourceSize</key>
    <string>{33,37}</string>
   </dict>
   <key>balong1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,263},{27,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,30}}</string>
    <key>sourceSize</key>
    <string>{27,30}</string>
   </dict>
   <key>balong1-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,315},{63,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,44}}</string>
    <key>sourceSize</key>
    <string>{63,44}</string>
   </dict>
   <key>balong1-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,110},{195,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{195,112}}</string>
    <key>sourceSize</key>
    <string>{195,112}</string>
   </dict>
   <key>balong1-zuoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,324},{26,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,27}}</string>
    <key>sourceSize</key>
    <string>{26,27}</string>
   </dict>
   <key>balong1-hudiejie.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,224},{173,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,96}}</string>
    <key>sourceSize</key>
    <string>{173,96}</string>
   </dict>
   <key>balong1-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,0},{221,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{221,108}}</string>
    <key>sourceSize</key>
    <string>{221,108}</string>
   </dict>
   <key>balong1-hudiejie2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,383},{49,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,21}}</string>
    <key>sourceSize</key>
    <string>{49,21}</string>
   </dict>
   <key>balong1-aixin.png</key>
   <dict>
    <key>frame</key>
    <string>{{293,322},{66,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,52}}</string>
    <key>sourceSize</key>
    <string>{66,52}</string>
   </dict>
   <key>balong1-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{214,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,160}}</string>
    <key>sourceSize</key>
    <string>{214,160}</string>
   </dict>
   <key>balong1-lian2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,259},{188,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{188,54}}</string>
    <key>sourceSize</key>
    <string>{188,54}</string>
   </dict>
   <key>balong1-qiqiuxian.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,0},{54,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,74}}</string>
    <key>sourceSize</key>
    <string>{54,74}</string>
   </dict>
   <key>balong1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,361},{47,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,36}}</string>
    <key>sourceSize</key>
    <string>{47,36}</string>
   </dict>
   <key>balong1-zuoshou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{413,110},{21,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,30}}</string>
    <key>sourceSize</key>
    <string>{21,30}</string>
   </dict>
   <key>balong1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,349},{25,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,27}}</string>
    <key>sourceSize</key>
    <string>{25,27}</string>
   </dict>
   <key>balong1-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,76},{59,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,68}}</string>
    <key>sourceSize</key>
    <string>{59,68}</string>
   </dict>
   <key>balong1-youjioa.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,295},{28,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,27}}</string>
    <key>sourceSize</key>
    <string>{28,27}</string>
   </dict>
   <key>balong1-youjioa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{413,146},{85,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,84}}</string>
    <key>sourceSize</key>
    <string>{85,84}</string>
   </dict>
   <key>balong1-neiku.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,315},{132,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,66}}</string>
    <key>sourceSize</key>
    <string>{132,66}</string>
   </dict>
   <key>balong1-qunzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,162},{198,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{198,95}}</string>
    <key>sourceSize</key>
    <string>{198,95}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>balong2.png</string>
   <key>textureFileName</key>
   <string>balong2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>