<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>balu0-maozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,173},{256,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{256,155}}</string>
    <key>sourceSize</key>
    <string>{256,155}</string>
   </dict>
   <key>balu0-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,211},{82,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,135}}</string>
    <key>sourceSize</key>
    <string>{82,135}</string>
   </dict>
   <key>balu0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,114},{47,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,40}}</string>
    <key>sourceSize</key>
    <string>{47,40}</string>
   </dict>
   <key>balu0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,156},{46,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,41}}</string>
    <key>sourceSize</key>
    <string>{46,41}</string>
   </dict>
   <key>balu0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,301},{46,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,39}}</string>
    <key>sourceSize</key>
    <string>{46,39}</string>
   </dict>
   <key>balu0-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,65},{33,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,47}}</string>
    <key>sourceSize</key>
    <string>{33,47}</string>
   </dict>
   <key>balu0-liuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,0},{33,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,63}}</string>
    <key>sourceSize</key>
    <string>{33,63}</string>
   </dict>
   <key>balu0-liuhai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,199},{37,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,50}}</string>
    <key>sourceSize</key>
    <string>{37,50}</string>
   </dict>
   <key>balu0-erduo .png</key>
   <dict>
    <key>frame</key>
    <string>{{495,23},{10,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,17}}</string>
    <key>sourceSize</key>
    <string>{10,17}</string>
   </dict>
   <key>balu0-naodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,330},{69,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,67}}</string>
    <key>sourceSize</key>
    <string>{69,67}</string>
   </dict>
   <key>balu0-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{258,211},{109,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,175}}</string>
    <key>sourceSize</key>
    <string>{109,175}</string>
   </dict>
   <key>balu0-bozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,348},{21,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,16}}</string>
    <key>sourceSize</key>
    <string>{21,16}</string>
   </dict>
   <key>balu0-xiuzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,342},{19,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,24}}</string>
    <key>sourceSize</key>
    <string>{19,24}</string>
   </dict>
   <key>balu0-shoutao.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,348},{22,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,19}}</string>
    <key>sourceSize</key>
    <string>{22,19}</string>
   </dict>
   <key>balu0-gebo.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,56},{10,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,14}}</string>
    <key>sourceSize</key>
    <string>{10,14}</string>
   </dict>
   <key>balu0-gebo3.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,0},{13,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,21}}</string>
    <key>sourceSize</key>
    <string>{13,21}</string>
   </dict>
   <key>balu0-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,330},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{28,28}</string>
   </dict>
   <key>balu0-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,251},{54,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,48}}</string>
    <key>sourceSize</key>
    <string>{54,48}</string>
   </dict>
   <key>balu0-jiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,330},{22,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,26}}</string>
    <key>sourceSize</key>
    <string>{22,26}</string>
   </dict>
   <key>balu0-datui.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,42},{14,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,12}}</string>
    <key>sourceSize</key>
    <string>{14,12}</string>
   </dict>
   <key>balu0-xiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,342},{25,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,20}}</string>
    <key>sourceSize</key>
    <string>{25,20}</string>
   </dict>
   <key>balu0-tofua.png</key>
   <dict>
    <key>frame</key>
    <string>{{274,0},{184,209}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,209}}</string>
    <key>sourceSize</key>
    <string>{184,209}</string>
   </dict>
   <key>balu0-shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,330},{116,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,129}}</string>
    <key>sourceSize</key>
    <string>{116,129}</string>
   </dict>
   <key>balu0-dizuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{272,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{272,171}}</string>
    <key>sourceSize</key>
    <string>{272,171}</string>
   </dict>
   <key>balu0-xiuzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,348},{17,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,19}}</string>
    <key>sourceSize</key>
    <string>{17,19}</string>
   </dict>
   <key>balu0-gebo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,84},{8,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,12}}</string>
    <key>sourceSize</key>
    <string>{8,12}</string>
   </dict>
   <key>balu0-shoutao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{435,348},{16,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,19}}</string>
    <key>sourceSize</key>
    <string>{16,19}</string>
   </dict>
   <key>balu0-gebo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,72},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>balu2.png</string>
   <key>textureFileName</key>
   <string>balu2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>