<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>beilingi1-shangbei1.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,472},{296,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{296,118}}</string>
    <key>sourceSize</key>
    <string>{296,118}</string>
   </dict>
   <key>beilingi1-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,375},{80,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,52}}</string>
    <key>sourceSize</key>
    <string>{80,52}</string>
   </dict>
   <key>beilingi1-zuoluhai .png</key>
   <dict>
    <key>frame</key>
    <string>{{311,375},{40,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,70}}</string>
    <key>sourceSize</key>
    <string>{40,70}</string>
   </dict>
   <key>beilingi1-youluhai .png</key>
   <dict>
    <key>frame</key>
    <string>{{91,359},{51,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,63}}</string>
    <key>sourceSize</key>
    <string>{51,63}</string>
   </dict>
   <key>beilingi1-youtoufa .png</key>
   <dict>
    <key>frame</key>
    <string>{{391,234},{68,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,111}}</string>
    <key>sourceSize</key>
    <string>{68,111}</string>
   </dict>
   <key>beilingi1-zuotoufa .png</key>
   <dict>
    <key>frame</key>
    <string>{{461,237},{34,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,95}}</string>
    <key>sourceSize</key>
    <string>{34,95}</string>
   </dict>
   <key>beilingi1-toufa .png</key>
   <dict>
    <key>frame</key>
    <string>{{0,217},{145,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{145,140}}</string>
    <key>sourceSize</key>
    <string>{145,140}</string>
   </dict>
   <key>beilingi1-shangbei2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,592},{215,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{215,40}}</string>
    <key>sourceSize</key>
    <string>{215,40}</string>
   </dict>
   <key>beilingi1-youshou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,0},{30,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,24}}</string>
    <key>sourceSize</key>
    <string>{30,24}</string>
   </dict>
   <key>beilingi1-zuoshou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,26},{28,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,25}}</string>
    <key>sourceSize</key>
    <string>{28,25}</string>
   </dict>
   <key>beilingi1-xiabei1.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,120},{222,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{222,112}}</string>
    <key>sourceSize</key>
    <string>{222,112}</string>
   </dict>
   <key>beilingi1-souji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,359},{89,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,56}}</string>
    <key>sourceSize</key>
    <string>{89,56}</string>
   </dict>
   <key>beilingi1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{147,330},{80,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,72}}</string>
    <key>sourceSize</key>
    <string>{80,72}</string>
   </dict>
   <key>beilingi1-zuoluhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,404},{37,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,72}}</string>
    <key>sourceSize</key>
    <string>{37,72}</string>
   </dict>
   <key>beilingi1-youluhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,347},{54,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,60}}</string>
    <key>sourceSize</key>
    <string>{54,60}</string>
   </dict>
   <key>beilingi1-youtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{147,217},{72,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,111}}</string>
    <key>sourceSize</key>
    <string>{72,111}</string>
   </dict>
   <key>beilingi1-zuotoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,334},{33,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,94}}</string>
    <key>sourceSize</key>
    <string>{33,94}</string>
   </dict>
   <key>beilingi1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{246,234},{143,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,139}}</string>
    <key>sourceSize</key>
    <string>{143,139}</string>
   </dict>
   <key>beilingi1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,73},{26,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,21}}</string>
    <key>sourceSize</key>
    <string>{26,21}</string>
   </dict>
   <key>beilingi1-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,236},{22,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,17}}</string>
    <key>sourceSize</key>
    <string>{22,17}</string>
   </dict>
   <key>beilingi1-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,218},{23,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,17}}</string>
    <key>sourceSize</key>
    <string>{23,17}</string>
   </dict>
   <key>beilingi1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,255},{21,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,15}}</string>
    <key>sourceSize</key>
    <string>{21,15}</string>
   </dict>
   <key>beilingi1-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,96},{22,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,25}}</string>
    <key>sourceSize</key>
    <string>{22,25}</string>
   </dict>
   <key>beilingi1-zuojiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,148},{22,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,23}}</string>
    <key>sourceSize</key>
    <string>{22,23}</string>
   </dict>
   <key>beilingi1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,272},{23,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,12}}</string>
    <key>sourceSize</key>
    <string>{23,12}</string>
   </dict>
   <key>beilingi1-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,192},{20,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,24}}</string>
    <key>sourceSize</key>
    <string>{20,24}</string>
   </dict>
   <key>beilingi1-youjiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,173},{27,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,17}}</string>
    <key>sourceSize</key>
    <string>{27,17}</string>
   </dict>
   <key>beilingi1-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,409},{46,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,61}}</string>
    <key>sourceSize</key>
    <string>{46,61}</string>
   </dict>
   <key>beilingi1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,53},{29,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,18}}</string>
    <key>sourceSize</key>
    <string>{29,18}</string>
   </dict>
   <key>beilingi1-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,217},{23,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,17}}</string>
    <key>sourceSize</key>
    <string>{23,17}</string>
   </dict>
   <key>beilingi1-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,123},{23,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,23}}</string>
    <key>sourceSize</key>
    <string>{23,23}</string>
   </dict>
   <key>beilingi1-xiabei.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,0},{223,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{223,118}}</string>
    <key>sourceSize</key>
    <string>{223,118}</string>
   </dict>
   <key>beilingi1-shangbei.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{253,215}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{253,215}}</string>
    <key>sourceSize</key>
    <string>{253,215}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>beiling.png</string>
   <key>textureFileName</key>
   <string>beiling.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>