<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yuanjian-chibang_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{462,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{462,246}}</string>
        <key>sourceSize</key>
        <string>{462,246}</string>
      </dict>
      <key>yuanjian-chibang_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,0},{332,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{332,350}}</string>
        <key>sourceSize</key>
        <string>{332,350}</string>
      </dict>
      <key>yuanjian-chibang_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,0},{293,379}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,379}}</string>
        <key>sourceSize</key>
        <string>{293,379}</string>
      </dict>
      <key>yuanjian-1-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,242},{279,371}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{279,371}}</string>
        <key>sourceSize</key>
        <string>{279,371}</string>
      </dict>
      <key>yuanjian-chibang_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,0},{423,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{423,240}}</string>
        <key>sourceSize</key>
        <string>{423,240}</string>
      </dict>
      <key>yuanjian-chibang_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,449},{401,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{401,173}}</string>
        <key>sourceSize</key>
        <string>{401,173}</string>
      </dict>
      <key>yuanjian-1-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{364,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{364,349}}</string>
        <key>sourceSize</key>
        <string>{364,349}</string>
      </dict>
      <key>yuanjian-1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,248},{403,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{403,199}}</string>
        <key>sourceSize</key>
        <string>{403,199}</string>
      </dict>
      <key>yuanjian-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,490},{163,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,179}}</string>
        <key>sourceSize</key>
        <string>{163,179}</string>
      </dict>
      <key>yuanjian-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{1881,296},{163,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,194}}</string>
        <key>sourceSize</key>
        <string>{163,194}</string>
      </dict>
      <key>yuanjian-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{1881,492},{163,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,179}}</string>
        <key>sourceSize</key>
        <string>{163,179}</string>
      </dict>
      <key>yuanjian-zuoshou05.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,351},{37,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,69}}</string>
        <key>sourceSize</key>
        <string>{37,69}</string>
      </dict>
      <key>yuanjian-zuoshou01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,490},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,30}</string>
      </dict>
      <key>yuanjian-zuoshou02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,482},{40,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,39}}</string>
        <key>sourceSize</key>
        <string>{40,39}</string>
      </dict>
      <key>yuanjian-zuoshou03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,485},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>yuanjian-zuoshou04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1796,435},{42,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,45}}</string>
        <key>sourceSize</key>
        <string>{42,45}</string>
      </dict>
      <key>yuanjian-zuojiao01.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,248},{51,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,89}}</string>
        <key>sourceSize</key>
        <string>{51,89}</string>
      </dict>
      <key>yuanjian-zuojiao02.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,468},{48,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,40}}</string>
        <key>sourceSize</key>
        <string>{48,40}</string>
      </dict>
      <key>yuanjian-zuojiao03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,363},{25,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,49}}</string>
        <key>sourceSize</key>
        <string>{25,49}</string>
      </dict>
      <key>yuanjian-zuojiao04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1807,365},{35,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,68}}</string>
        <key>sourceSize</key>
        <string>{35,68}</string>
      </dict>
      <key>yuanjian-zuojiao05.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,422},{37,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,60}}</string>
        <key>sourceSize</key>
        <string>{37,60}</string>
      </dict>
      <key>yuanjian-bozi01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,352},{67,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,80}}</string>
        <key>sourceSize</key>
        <string>{67,80}</string>
      </dict>
      <key>yuanjian-bozi02.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,351},{73,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,74}}</string>
        <key>sourceSize</key>
        <string>{73,74}</string>
      </dict>
      <key>yuanjian-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{1884,150},{148,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,144}}</string>
        <key>sourceSize</key>
        <string>{148,144}</string>
      </dict>
      <key>yuanjian-weiba_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,365},{65,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>yuanjian-weiba_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,381},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>yuanjian-weiba_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,427},{58,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,53}}</string>
        <key>sourceSize</key>
        <string>{58,53}</string>
      </dict>
      <key>yuanjian-weiba_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,434},{48,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>yuanjian-weiba_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,440},{50,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,46}}</string>
        <key>sourceSize</key>
        <string>{50,46}</string>
      </dict>
      <key>yuanjian-weiba_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1840,472},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>yuanjian-weiba_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,488},{33,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,29}}</string>
        <key>sourceSize</key>
        <string>{33,29}</string>
      </dict>
      <key>yuanjian-weiba_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,482},{50,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,34}}</string>
        <key>sourceSize</key>
        <string>{50,34}</string>
      </dict>
      <key>yuanjian-weiba_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,490},{76,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,30}}</string>
        <key>sourceSize</key>
        <string>{76,30}</string>
      </dict>
      <key>yuanjian-youjiao01.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,339},{47,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,69}}</string>
        <key>sourceSize</key>
        <string>{47,69}</string>
      </dict>
      <key>yuanjian-youjiao02.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,510},{29,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,23}}</string>
        <key>sourceSize</key>
        <string>{29,23}</string>
      </dict>
      <key>yuanjian-youjiao03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,306},{28,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,55}}</string>
        <key>sourceSize</key>
        <string>{28,55}</string>
      </dict>
      <key>yuanjian-youjiao04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,242},{29,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,62}}</string>
        <key>sourceSize</key>
        <string>{29,62}</string>
      </dict>
      <key>yuanjian-youjiao05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1844,414},{35,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,56}}</string>
        <key>sourceSize</key>
        <string>{35,56}</string>
      </dict>
      <key>yuanjian-youshou02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,485},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>yuanjian-youshou03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,433},{54,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>yuanjian-youshou04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1782,482},{33,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,41}}</string>
        <key>sourceSize</key>
        <string>{33,41}</string>
      </dict>
      <key>yuanjian-youshou01.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,484},{39,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,34}}</string>
        <key>sourceSize</key>
        <string>{39,34}</string>
      </dict>
      <key>yuanjian-youshou05.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,410},{41,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,56}}</string>
        <key>sourceSize</key>
        <string>{41,56}</string>
      </dict>
      <key>yuanjian-2-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,547},{197,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,136}}</string>
        <key>sourceSize</key>
        <string>{197,136}</string>
      </dict>
      <key>yuanjian-2-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,242},{108,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,121}}</string>
        <key>sourceSize</key>
        <string>{108,121}</string>
      </dict>
      <key>yuanjian-2-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1884,0},{148,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,148}}</string>
        <key>sourceSize</key>
        <string>{148,148}</string>
      </dict>
      <key>yuanjian-2-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1163,381},{233,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,164}}</string>
        <key>sourceSize</key>
        <string>{233,164}</string>
      </dict>
      <key>yuanjian-2-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,547},{201,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{201,87}}</string>
        <key>sourceSize</key>
        <string>{201,87}</string>
      </dict>
      <key>yuanjian-2-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,557},{218,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,62}}</string>
        <key>sourceSize</key>
        <string>{218,62}</string>
      </dict>
      <key>yuanjian-2-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,351},{247,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{247,204}}</string>
        <key>sourceSize</key>
        <string>{247,204}</string>
      </dict>
      <key>yuanjian-2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,352},{272,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,136}}</string>
        <key>sourceSize</key>
        <string>{272,136}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Blue.png</string>
      <key>textureFileName</key>
      <string>Blue.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>