<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boenku-xingxing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,167},{55,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,49}}</string>
        <key>sourceSize</key>
        <string>{55,49}</string>
      </dict>
      <key>boenku-xingxing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,209},{55,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,49}}</string>
        <key>sourceSize</key>
        <string>{55,49}</string>
      </dict>
      <key>boenku-xingxing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,218},{55,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,49}}</string>
        <key>sourceSize</key>
        <string>{55,49}</string>
      </dict>
      <key>boenku-shoji.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,156},{98,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,56}}</string>
        <key>sourceSize</key>
        <string>{98,56}</string>
      </dict>
      <key>boenku-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{97,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,63}}</string>
        <key>sourceSize</key>
        <string>{97,63}</string>
      </dict>
      <key>boenku-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,65},{96,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,63}}</string>
        <key>sourceSize</key>
        <string>{96,63}</string>
      </dict>
      <key>boenku-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{182,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,154}}</string>
        <key>sourceSize</key>
        <string>{182,154}</string>
      </dict>
      <key>boenku-zhuojianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,157},{16,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,15}}</string>
        <key>sourceSize</key>
        <string>{16,15}</string>
      </dict>
      <key>boenku-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,110},{18,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,22}}</string>
        <key>sourceSize</key>
        <string>{18,22}</string>
      </dict>
      <key>boenku-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,214},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>boenku-feidan.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,156},{79,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,51}}</string>
        <key>sourceSize</key>
        <string>{79,51}</string>
      </dict>
      <key>boenku-zhuoyifu.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,79},{54,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,86}}</string>
        <key>sourceSize</key>
        <string>{54,86}</string>
      </dict>
      <key>boenku-youyifu.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,130},{27,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,81}}</string>
        <key>sourceSize</key>
        <string>{27,81}</string>
      </dict>
      <key>boenku-kuzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,259},{33,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,21}}</string>
        <key>sourceSize</key>
        <string>{33,21}</string>
      </dict>
      <key>boenku-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,213},{25,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,34}}</string>
        <key>sourceSize</key>
        <string>{25,34}</string>
      </dict>
      <key>boenku-zhuojiaozhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,217},{16,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,10}}</string>
        <key>sourceSize</key>
        <string>{16,10}</string>
      </dict>
      <key>boenku-zhuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,79},{15,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,29}}</string>
        <key>sourceSize</key>
        <string>{15,29}</string>
      </dict>
      <key>boenku-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,174},{19,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,29}}</string>
        <key>sourceSize</key>
        <string>{19,29}</string>
      </dict>
      <key>boenku-youjiaozhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,232},{16,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,10}}</string>
        <key>sourceSize</key>
        <string>{16,10}</string>
      </dict>
      <key>boenku-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,134},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>boenku-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,204},{57,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,54}}</string>
        <key>sourceSize</key>
        <string>{57,54}</string>
      </dict>
      <key>boenku-yifuhou.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,130},{65,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,72}}</string>
        <key>sourceSize</key>
        <string>{65,72}</string>
      </dict>
      <key>boenku-huohua1.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,228},{15,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,6}}</string>
        <key>sourceSize</key>
        <string>{15,6}</string>
      </dict>
      <key>boenku-huohua2.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,205},{17,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,10}}</string>
        <key>sourceSize</key>
        <string>{17,10}</string>
      </dict>
      <key>boenku-huohua4.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,204},{9,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,14}}</string>
        <key>sourceSize</key>
        <string>{9,14}</string>
      </dict>
      <key>boenku-huohua3.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{6,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,9}}</string>
        <key>sourceSize</key>
        <string>{6,9}</string>
      </dict>
      <key>boenku-yingxian .png</key>
      <dict>
        <key>frame</key>
        <string>{{394,249},{36,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
      <key>boenku-zhuadan.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,0},{65,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,77}}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
      <key>boenku-yougebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,209},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>boenku-youshouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,229},{21,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,18}</string>
      </dict>
      <key>boenku-youjianbang .png</key>
      <dict>
        <key>frame</key>
        <string>{{189,259},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,26}}</string>
        <key>sourceSize</key>
        <string>{24,26}</string>
      </dict>
      <key>boenku-huojian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{152,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,264}}</string>
        <key>sourceSize</key>
        <string>{152,264}</string>
      </dict>
      <key>boenku-yingxian.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,214},{81,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,43}}</string>
        <key>sourceSize</key>
        <string>{81,43}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boen2.png</string>
      <key>textureFileName</key>
      <string>boen2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>