<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boer_0-zuoshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,79},{18,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,30}}</string>
        <key>sourceSize</key>
        <string>{18,30}</string>
      </dict>
      <key>boer_0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,124},{22,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,17}}</string>
        <key>sourceSize</key>
        <string>{22,17}</string>
      </dict>
      <key>boer_0-zuoqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,25},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>boer_0-liuhai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,192},{47,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,45}}</string>
        <key>sourceSize</key>
        <string>{47,45}</string>
      </dict>
      <key>boer_0-humujing.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,143},{90,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,50}}</string>
        <key>sourceSize</key>
        <string>{90,50}</string>
      </dict>
      <key>boer_0-luihai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,205},{51,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,41}}</string>
        <key>sourceSize</key>
        <string>{51,41}</string>
      </dict>
      <key>boer_0-luihai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,135},{47,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,65}}</string>
        <key>sourceSize</key>
        <string>{47,65}</string>
      </dict>
      <key>boer_0-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,71},{20,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,29}}</string>
        <key>sourceSize</key>
        <string>{20,29}</string>
      </dict>
      <key>boer_0-daizi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,131},{103,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,41}}</string>
        <key>sourceSize</key>
        <string>{103,41}</string>
      </dict>
      <key>boer_0-wuguan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,202},{50,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,46}}</string>
        <key>sourceSize</key>
        <string>{50,46}</string>
      </dict>
      <key>boer_0-wuguan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,176},{53,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,47}}</string>
        <key>sourceSize</key>
        <string>{53,47}</string>
      </dict>
      <key>boer_0-wuguan.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,192},{56,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,44}}</string>
        <key>sourceSize</key>
        <string>{56,44}</string>
      </dict>
      <key>boer_0-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{92,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,89}}</string>
        <key>sourceSize</key>
        <string>{92,89}</string>
      </dict>
      <key>boer_0-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,202},{48,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,34}}</string>
        <key>sourceSize</key>
        <string>{48,34}</string>
      </dict>
      <key>boer_0-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,143},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>boer_0-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>boer_0-youqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,79},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>boer_0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,189},{19,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,13}}</string>
        <key>sourceSize</key>
        <string>{19,13}</string>
      </dict>
      <key>boer_0-datui.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,167},{27,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,20}}</string>
        <key>sourceSize</key>
        <string>{27,20}</string>
      </dict>
      <key>boer_0-kuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,155},{30,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,19}}</string>
        <key>sourceSize</key>
        <string>{30,19}</string>
      </dict>
      <key>boer_0-xiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,174},{20,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,16}}</string>
        <key>sourceSize</key>
        <string>{20,16}</string>
      </dict>
      <key>boer_0-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,48},{12,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,21}}</string>
        <key>sourceSize</key>
        <string>{12,21}</string>
      </dict>
      <key>boer_0-yuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{59,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,39}}</string>
        <key>sourceSize</key>
        <string>{59,39}</string>
      </dict>
      <key>boer_0-haitunyanjing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,98},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>boer_0-haitunyanjing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,111},{10,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,13}}</string>
        <key>sourceSize</key>
        <string>{10,13}</string>
      </dict>
      <key>boer_0-haitunyanjing.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,114},{9,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,11}}</string>
        <key>sourceSize</key>
        <string>{9,11}</string>
      </dict>
      <key>boer_0-langhua 41.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,79},{128,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,50}}</string>
        <key>sourceSize</key>
        <string>{128,50}</string>
      </dict>
      <key>boer_0-langbua42.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,79},{98,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,57}}</string>
        <key>sourceSize</key>
        <string>{98,57}</string>
      </dict>
      <key>boer_0-shui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,50}}</string>
        <key>sourceSize</key>
        <string>{178,50}</string>
      </dict>
      <key>boer_0-haituntoubu.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,52},{81,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,84}}</string>
        <key>sourceSize</key>
        <string>{81,84}</string>
      </dict>
      <key>boer_0-haitunshenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,138},{68,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,65}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>boer_0-youtui.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,102},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>boer_0-beiqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,131},{35,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,22}}</string>
        <key>sourceSize</key>
        <string>{35,22}</string>
      </dict>
      <key>boer_0-shui.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,174},{75,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,26}}</string>
        <key>sourceSize</key>
        <string>{75,26}</string>
      </dict>
      <key>boer_0-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,71},{35,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,62}}</string>
        <key>sourceSize</key>
        <string>{35,62}</string>
      </dict>
      <key>boer_0-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,202},{45,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,41}}</string>
        <key>sourceSize</key>
        <string>{45,41}</string>
      </dict>
      <key>boer_0-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{44,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,69}}</string>
        <key>sourceSize</key>
        <string>{44,69}</string>
      </dict>
      <key>boer_0-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,138},{89,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,52}}</string>
        <key>sourceSize</key>
        <string>{89,52}</string>
      </dict>
      <key>boer_0-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{115,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,77}}</string>
        <key>sourceSize</key>
        <string>{115,77}</string>
      </dict>
      <key>boer_0-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{148,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,77}}</string>
        <key>sourceSize</key>
        <string>{148,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boer3.png</string>
      <key>textureFileName</key>
      <string>boer3.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>