<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>changeku-tuzigongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,462},{36,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,31}}</string>
    <key>sourceSize</key>
    <string>{36,31}</string>
   </dict>
   <key>changeku-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,307},{85,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,56}}</string>
    <key>sourceSize</key>
    <string>{85,56}</string>
   </dict>
   <key>changeku-gongjidaizi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,480},{151,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{151,45}}</string>
    <key>sourceSize</key>
    <string>{151,45}</string>
   </dict>
   <key>changeku-gongjidaizi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,495},{154,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,40}}</string>
    <key>sourceSize</key>
    <string>{154,40}</string>
   </dict>
   <key>changeku-gongjidaizi.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,527},{162,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,31}}</string>
    <key>sourceSize</key>
    <string>{162,31}</string>
   </dict>
   <key>changeku-xiuzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{481,338},{28,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,37}}</string>
    <key>sourceSize</key>
    <string>{28,37}</string>
   </dict>
   <key>changeku-yixiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,426},{42,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,37}}</string>
    <key>sourceSize</key>
    <string>{42,37}</string>
   </dict>
   <key>changeku-tuzishouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,440},{50,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,40}}</string>
    <key>sourceSize</key>
    <string>{50,40}</string>
   </dict>
   <key>changeku-tuzidaiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,322},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>changeku-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,237},{92,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,68}}</string>
    <key>sourceSize</key>
    <string>{92,68}</string>
   </dict>
   <key>changeku-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{423,111},{86,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,64}}</string>
    <key>sourceSize</key>
    <string>{86,64}</string>
   </dict>
   <key>changeku-tuer.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,377},{37,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,41}}</string>
    <key>sourceSize</key>
    <string>{37,41}</string>
   </dict>
   <key>changeku-tuzi .png</key>
   <dict>
    <key>frame</key>
    <string>{{0,375},{110,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,85}}</string>
    <key>sourceSize</key>
    <string>{110,85}</string>
   </dict>
   <key>changeku-tuer1.png</key>
   <dict>
    <key>frame</key>
    <string>{{481,291},{22,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,45}}</string>
    <key>sourceSize</key>
    <string>{22,45}</string>
   </dict>
   <key>changeku-piaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,0},{174,233}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{174,233}}</string>
    <key>sourceSize</key>
    <string>{174,233}</string>
   </dict>
   <key>changeku-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,322},{36,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,101}}</string>
    <key>sourceSize</key>
    <string>{36,101}</string>
   </dict>
   <key>changeku-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{481,249},{28,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,40}}</string>
    <key>sourceSize</key>
    <string>{28,40}</string>
   </dict>
   <key>changeku-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,359},{106,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,119}}</string>
    <key>sourceSize</key>
    <string>{106,119}</string>
   </dict>
   <key>changeku-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,235},{157,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{157,122}}</string>
    <key>sourceSize</key>
    <string>{157,122}</string>
   </dict>
   <key>changeku-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{423,0},{80,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,109}}</string>
    <key>sourceSize</key>
    <string>{80,109}</string>
   </dict>
   <key>changeku-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,237},{143,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,136}}</string>
    <key>sourceSize</key>
    <string>{143,136}</string>
   </dict>
   <key>changeku-gebo.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,356},{27,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,31}}</string>
    <key>sourceSize</key>
    <string>{27,31}</string>
   </dict>
   <key>changeku-febo.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,375},{21,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,30}}</string>
    <key>sourceSize</key>
    <string>{21,30}</string>
   </dict>
   <key>changeku-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,365},{43,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,59}}</string>
    <key>sourceSize</key>
    <string>{43,59}</string>
   </dict>
   <key>changeku-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,420},{59,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,46}}</string>
    <key>sourceSize</key>
    <string>{59,46}</string>
   </dict>
   <key>changeku-qunzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,425},{38,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,46}}</string>
    <key>sourceSize</key>
    <string>{38,46}</string>
   </dict>
   <key>changeku-qianbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,425},{51,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,49}}</string>
    <key>sourceSize</key>
    <string>{51,49}</string>
   </dict>
   <key>changeku-qunzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,473},{115,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,71}}</string>
    <key>sourceSize</key>
    <string>{115,71}</string>
   </dict>
   <key>changeku-piaodai3.png</key>
   <dict>
    <key>frame</key>
    <string>{{423,177},{78,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,70}}</string>
    <key>sourceSize</key>
    <string>{78,70}</string>
   </dict>
   <key>changeku-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,365},{37,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,73}}</string>
    <key>sourceSize</key>
    <string>{37,73}</string>
   </dict>
   <key>changeku-piaodai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,359},{61,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,64}}</string>
    <key>sourceSize</key>
    <string>{61,64}</string>
   </dict>
   <key>changeku-piaodai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{245,235}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{245,235}}</string>
    <key>sourceSize</key>
    <string>{245,235}</string>
   </dict>
   <key>changeku-bianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,249},{73,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,71}}</string>
    <key>sourceSize</key>
    <string>{73,71}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>change2.png</string>
   <key>textureFileName</key>
   <string>change2.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>