<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daisi1-xuanzhuan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,364}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,364}}</string>
        <key>sourceSize</key>
        <string>{400,364}</string>
      </dict>
      <key>daisi1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,317},{65,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>daisi1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,366},{45,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,38}}</string>
        <key>sourceSize</key>
        <string>{45,38}</string>
      </dict>
      <key>daisi1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,366},{45,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,37}}</string>
        <key>sourceSize</key>
        <string>{45,37}</string>
      </dict>
      <key>daisi1-mianju.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,359},{39,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,50}}</string>
        <key>sourceSize</key>
        <string>{39,50}</string>
      </dict>
      <key>daisi1-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,177},{126,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,99}}</string>
        <key>sourceSize</key>
        <string>{126,99}</string>
      </dict>
      <key>daisi1-zhuotoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,183},{47,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,101}}</string>
        <key>sourceSize</key>
        <string>{47,101}</string>
      </dict>
      <key>daisi1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,262},{92,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,89}}</string>
        <key>sourceSize</key>
        <string>{92,89}</string>
      </dict>
      <key>daisi1-hudiejie1.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,354},{30,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,18}}</string>
        <key>sourceSize</key>
        <string>{30,18}</string>
      </dict>
      <key>daisi1-hudiejie2.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,241},{25,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,42}}</string>
        <key>sourceSize</key>
        <string>{25,42}</string>
      </dict>
      <key>daisi1-hudiejie3.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,334},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>daisi1-yifu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,286},{54,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>daisi1-yifu3.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,354},{49,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,59}}</string>
        <key>sourceSize</key>
        <string>{49,59}</string>
      </dict>
      <key>daisi1-yifu4.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,349},{61,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>daisi1-yifu5.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,177},{27,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,62}}</string>
        <key>sourceSize</key>
        <string>{27,62}</string>
      </dict>
      <key>daisi1-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,285},{31,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,47}}</string>
        <key>sourceSize</key>
        <string>{31,47}</string>
      </dict>
      <key>daisi1-zhuojiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,349},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>daisi1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,308},{16,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,41}}</string>
        <key>sourceSize</key>
        <string>{16,41}</string>
      </dict>
      <key>daisi1-youjiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,351},{16,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,17}}</string>
        <key>sourceSize</key>
        <string>{16,17}</string>
      </dict>
      <key>daisi1-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,348},{42,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,70}}</string>
        <key>sourceSize</key>
        <string>{42,70}</string>
      </dict>
      <key>daisi1-houmaozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,353},{79,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,36}}</string>
        <key>sourceSize</key>
        <string>{79,36}</string>
      </dict>
      <key>daisi1-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,349},{56,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,61}}</string>
        <key>sourceSize</key>
        <string>{56,61}</string>
      </dict>
      <key>daisi1-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,262},{77,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,73}}</string>
        <key>sourceSize</key>
        <string>{77,73}</string>
      </dict>
      <key>daisi1-youjianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,278},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>daisi1-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,337},{63,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>daisi1-zhuoqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,0},{44,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,102}}</string>
        <key>sourceSize</key>
        <string>{44,102}</string>
      </dict>
      <key>daisi1-zhuojianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{84,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,26}}</string>
        <key>sourceSize</key>
        <string>{84,26}</string>
      </dict>
      <key>daisi1-liandao.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{410,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{410,260}}</string>
        <key>sourceSize</key>
        <string>{410,260}</string>
      </dict>
      <key>daisi1-shuidi.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,278},{45,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,68}}</string>
        <key>sourceSize</key>
        <string>{45,68}</string>
      </dict>
      <key>daisi1-shuidi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,262},{22,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,44}}</string>
        <key>sourceSize</key>
        <string>{22,44}</string>
      </dict>
      <key>daisi1-shuidi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,337},{9,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,25}}</string>
        <key>sourceSize</key>
        <string>{9,25}</string>
      </dict>
      <key>daisi1-shuidi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,353},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>daisi1-shuidi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,359},{8,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,15}}</string>
        <key>sourceSize</key>
        <string>{8,15}</string>
      </dict>
      <key>daisi1-shuidi5.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,104},{42,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,77}}</string>
        <key>sourceSize</key>
        <string>{42,77}</string>
      </dict>
      <key>daisi1-dimian1.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,262},{210,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,53}}</string>
        <key>sourceSize</key>
        <string>{210,53}</string>
      </dict>
      <key>daisi1-texiao7.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,0},{161,175}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,175}}</string>
        <key>sourceSize</key>
        <string>{161,175}</string>
      </dict>
      <key>daisi1-dimian2.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,317},{135,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,30}}</string>
        <key>sourceSize</key>
        <string>{135,30}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>daisi2.png</string>
      <key>textureFileName</key>
      <string>daisi2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>