<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dimu0-maozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{323,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{323,191}}</string>
    <key>sourceSize</key>
    <string>{323,191}</string>
   </dict>
   <key>dimu0-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{934,232},{72,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,91}}</string>
    <key>sourceSize</key>
    <string>{72,91}</string>
   </dict>
   <key>dimu0-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,269},{67,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,96}}</string>
    <key>sourceSize</key>
    <string>{67,96}</string>
   </dict>
   <key>dimu0-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,278},{61,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,96}}</string>
    <key>sourceSize</key>
    <string>{61,96}</string>
   </dict>
   <key>dimu0-shoji.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,193},{110,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,83}}</string>
    <key>sourceSize</key>
    <string>{110,83}</string>
   </dict>
   <key>dimu0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{818,240},{108,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,72}}</string>
    <key>sourceSize</key>
    <string>{108,72}</string>
   </dict>
   <key>dimu0-putong.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,193},{107,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,85}}</string>
    <key>sourceSize</key>
    <string>{107,85}</string>
   </dict>
   <key>dimu0-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{761,272},{44,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,103}}</string>
    <key>sourceSize</key>
    <string>{44,103}</string>
   </dict>
   <key>dimu0-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{618,175},{141,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,146}}</string>
    <key>sourceSize</key>
    <string>{141,146}</string>
   </dict>
   <key>dimu0-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{761,175},{55,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,95}}</string>
    <key>sourceSize</key>
    <string>{55,95}</string>
   </dict>
   <key>dimu0-lingzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{807,314},{34,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,26}}</string>
    <key>sourceSize</key>
    <string>{34,26}</string>
   </dict>
   <key>dimu0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{315,302},{39,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,31}}</string>
    <key>sourceSize</key>
    <string>{39,31}</string>
   </dict>
   <key>dimu0-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{610,323},{26,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,19}}</string>
    <key>sourceSize</key>
    <string>{26,19}</string>
   </dict>
   <key>dimu0-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{898,314},{26,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,26}}</string>
    <key>sourceSize</key>
    <string>{26,26}</string>
   </dict>
   <key>dimu0-lingzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,302},{19,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,43}}</string>
    <key>sourceSize</key>
    <string>{19,43}</string>
   </dict>
   <key>dimu0-lingzi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{427,302},{15,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,37}}</string>
    <key>sourceSize</key>
    <string>{15,37}</string>
   </dict>
   <key>dimu0-yifu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{286,280},{27,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,74}}</string>
    <key>sourceSize</key>
    <string>{27,74}</string>
   </dict>
   <key>dimu0-yifu2.png</key>
   <dict>
    <key>frame</key>
    <string>{{165,278},{43,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,74}}</string>
    <key>sourceSize</key>
    <string>{43,74}</string>
   </dict>
   <key>dimu0-zuoshou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,314},{30,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,24}}</string>
    <key>sourceSize</key>
    <string>{30,24}</string>
   </dict>
   <key>dimu0-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,323},{25,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,15}}</string>
    <key>sourceSize</key>
    <string>{25,15}</string>
   </dict>
   <key>dimu0-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,302},{23,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,41}}</string>
    <key>sourceSize</key>
    <string>{23,41}</string>
   </dict>
   <key>dimu0-yifu.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,280},{74,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,80}}</string>
    <key>sourceSize</key>
    <string>{74,80}</string>
   </dict>
   <key>dimu0-youjioa.png</key>
   <dict>
    <key>frame</key>
    <string>{{638,323},{22,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,22}}</string>
    <key>sourceSize</key>
    <string>{22,22}</string>
   </dict>
   <key>dimu0-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{381,302},{23,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,40}}</string>
    <key>sourceSize</key>
    <string>{23,40}</string>
   </dict>
   <key>dimu0-zuojiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{689,323},{19,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,21}}</string>
    <key>sourceSize</key>
    <string>{19,21}</string>
   </dict>
   <key>dimu0-zuojioa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,314},{21,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,36}}</string>
    <key>sourceSize</key>
    <string>{21,36}</string>
   </dict>
   <key>dimu0-houtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{622,0},{199,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{199,173}}</string>
    <key>sourceSize</key>
    <string>{199,173}</string>
   </dict>
   <key>dimu0-bianzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,114},{75,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,153}}</string>
    <key>sourceSize</key>
    <string>{75,153}</string>
   </dict>
   <key>dimu0-bianzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{934,0},{83,230}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,230}}</string>
    <key>sourceSize</key>
    <string>{83,230}</string>
   </dict>
   <key>dimu0-bianzi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,193},{100,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,179}}</string>
    <key>sourceSize</key>
    <string>{100,179}</string>
   </dict>
   <key>dimu0-bianzi4.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,114},{118,186}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,186}}</string>
    <key>sourceSize</key>
    <string>{118,186}</string>
   </dict>
   <key>dimu0-bianzi5.png</key>
   <dict>
    <key>frame</key>
    <string>{{823,0},{109,238}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,238}}</string>
    <key>sourceSize</key>
    <string>{109,238}</string>
   </dict>
   <key>dimu0-bianzi6.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,114},{94,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,210}}</string>
    <key>sourceSize</key>
    <string>{94,210}</string>
   </dict>
   <key>dimu0-maozi2 .png</key>
   <dict>
    <key>frame</key>
    <string>{{325,0},{295,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{295,112}}</string>
    <key>sourceSize</key>
    <string>{295,112}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>dimu2.png</string>
   <key>textureFileName</key>
   <string>dimu2.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>