<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dinling2-xiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,248},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>dinling2-shangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,148},{32,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,52}}</string>
        <key>sourceSize</key>
        <string>{32,52}</string>
      </dict>
      <key>dinling2-yj.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,384},{89,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,23}}</string>
        <key>sourceSize</key>
        <string>{89,23}</string>
      </dict>
      <key>dinling2-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,242},{23,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,19}}</string>
        <key>sourceSize</key>
        <string>{23,19}</string>
      </dict>
      <key>dinling2-shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,255},{14,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,25}}</string>
        <key>sourceSize</key>
        <string>{14,25}</string>
      </dict>
      <key>dinling2-shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,229},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>dinling2-shou.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,248},{23,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,18}}</string>
        <key>sourceSize</key>
        <string>{23,18}</string>
      </dict>
      <key>dinling2-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,160},{80,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,67}}</string>
        <key>sourceSize</key>
        <string>{80,67}</string>
      </dict>
      <key>dinling2-gj.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,313},{83,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,69}}</string>
        <key>sourceSize</key>
        <string>{83,69}</string>
      </dict>
      <key>dinling2-pt.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,313},{85,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,75}}</string>
        <key>sourceSize</key>
        <string>{85,75}</string>
      </dict>
      <key>dinling2-liuhjai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{88,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,130}}</string>
        <key>sourceSize</key>
        <string>{88,130}</string>
      </dict>
      <key>dinling2-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,160},{99,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,115}}</string>
        <key>sourceSize</key>
        <string>{99,115}</string>
      </dict>
      <key>dinling2-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,183},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>dinling2-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{174,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,146}}</string>
        <key>sourceSize</key>
        <string>{174,146}</string>
      </dict>
      <key>dinling2-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{153,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,158}}</string>
        <key>sourceSize</key>
        <string>{153,158}</string>
      </dict>
      <key>dinling2-yhuediejie.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,277},{88,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,122}}</string>
        <key>sourceSize</key>
        <string>{88,122}</string>
      </dict>
      <key>dinling2-hudiejie.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,148},{111,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,163}}</string>
        <key>sourceSize</key>
        <string>{111,163}</string>
      </dict>
      <key>dinling2-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,197},{26,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,27}}</string>
        <key>sourceSize</key>
        <string>{26,27}</string>
      </dict>
      <key>dinling2-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,268},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>dinling2-yiling.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,226},{28,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>dinling2-yiling1.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,268},{15,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,19}}</string>
        <key>sourceSize</key>
        <string>{15,19}</string>
      </dict>
      <key>dinling2-xiong.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,220},{29,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,20}}</string>
        <key>sourceSize</key>
        <string>{29,20}</string>
      </dict>
      <key>dinling2-qunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,160},{46,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,34}}</string>
        <key>sourceSize</key>
        <string>{46,34}</string>
      </dict>
      <key>dinling2-xiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,148},{26,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,33}}</string>
        <key>sourceSize</key>
        <string>{26,33}</string>
      </dict>
      <key>dinling2-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,226},{27,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,20}}</string>
        <key>sourceSize</key>
        <string>{27,20}</string>
      </dict>
      <key>dinling2-datui.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,254},{38,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,31}}</string>
        <key>sourceSize</key>
        <string>{38,31}</string>
      </dict>
      <key>dinling2-xiaotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,160},{14,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,35}}</string>
        <key>sourceSize</key>
        <string>{14,35}</string>
      </dict>
      <key>dinling2-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,263},{16,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,20}}</string>
        <key>sourceSize</key>
        <string>{16,20}</string>
      </dict>
      <key>dinling2-datui .png</key>
      <dict>
        <key>frame</key>
        <string>{{448,242},{32,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,18}}</string>
        <key>sourceSize</key>
        <string>{32,18}</string>
      </dict>
      <key>dinling2-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,196},{32,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,44}}</string>
        <key>sourceSize</key>
        <string>{32,44}</string>
      </dict>
      <key>dinling2-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,263},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
      <key>dinling2-qunzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,202},{29,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,22}}</string>
        <key>sourceSize</key>
        <string>{29,22}</string>
      </dict>
      <key>dinling2-touying.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,229},{49,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,23}}</string>
        <key>sourceSize</key>
        <string>{49,23}</string>
      </dict>
      <key>dinling2-qianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{97,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,95}}</string>
        <key>sourceSize</key>
        <string>{97,95}</string>
      </dict>
      <key>dinling2-suanpan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,158}}</string>
        <key>sourceSize</key>
        <string>{170,158}</string>
      </dict>
      <key>dinling2-shoubeihou.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,273},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>dinling2-xiaobi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,262},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
      <key>dinling2-shangbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,255},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dinling2.png</string>
      <key>textureFileName</key>
      <string>dinling2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>