<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>duolu1-xuanzhuan12.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,960},{399,380}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{399,380}}</string>
    <key>sourceSize</key>
    <string>{399,380}</string>
   </dict>
   <key>duolu1-xuanzhuan11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1491,478},{466,481}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{466,481}}</string>
    <key>sourceSize</key>
    <string>{466,481}</string>
   </dict>
   <key>duolu1-xuanzhuan10.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,0},{493,498}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{493,498}}</string>
    <key>sourceSize</key>
    <string>{493,498}</string>
   </dict>
   <key>duolu1-xuanzhuan9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,501},{442,415}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{442,415}}</string>
    <key>sourceSize</key>
    <string>{442,415}</string>
   </dict>
   <key>duolu1-xuanzhuan8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,918},{405,426}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{405,426}}</string>
    <key>sourceSize</key>
    <string>{405,426}</string>
   </dict>
   <key>duolu1-xuanzhuan7.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,0},{495,486}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{495,486}}</string>
    <key>sourceSize</key>
    <string>{495,486}</string>
   </dict>
   <key>duolu1-xuanzhuan6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1491,0},{489,476}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{489,476}}</string>
    <key>sourceSize</key>
    <string>{489,476}</string>
   </dict>
   <key>duolu1-xuanzhuan5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1490,961},{372,404}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{372,404}}</string>
    <key>sourceSize</key>
    <string>{372,404}</string>
   </dict>
   <key>duolu1-xuanzhuan4.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,500},{457,435}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{457,435}}</string>
    <key>sourceSize</key>
    <string>{457,435}</string>
   </dict>
   <key>duolu1-xuanzhuan 3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{497,499}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{497,499}}</string>
    <key>sourceSize</key>
    <string>{497,499}</string>
   </dict>
   <key>duolu1-xuanzhuan2.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,488},{451,470}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{451,470}}</string>
    <key>sourceSize</key>
    <string>{451,470}</string>
   </dict>
   <key>duolu1-xuanzhuan1.png</key>
   <dict>
    <key>frame</key>
    <string>{{407,937},{399,380}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{399,380}}</string>
    <key>sourceSize</key>
    <string>{399,380}</string>
   </dict>
   <key>duolu1-xiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{2024,336},{22,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,18}}</string>
    <key>sourceSize</key>
    <string>{22,18}</string>
   </dict>
   <key>duolu1-shangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{2000,336},{22,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,22}}</string>
    <key>sourceSize</key>
    <string>{22,22}</string>
   </dict>
   <key>duolu1-shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{2024,356},{22,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,17}}</string>
    <key>sourceSize</key>
    <string>{22,17}</string>
   </dict>
   <key>duolu1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1959,694},{68,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,55}}</string>
    <key>sourceSize</key>
    <string>{68,55}</string>
   </dict>
   <key>duolu1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1959,751},{68,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,53}}</string>
    <key>sourceSize</key>
    <string>{68,53}</string>
   </dict>
   <key>duolu1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1959,634},{68,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,58}}</string>
    <key>sourceSize</key>
    <string>{68,58}</string>
   </dict>
   <key>duolu1-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1959,478},{71,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,88}}</string>
    <key>sourceSize</key>
    <string>{71,88}</string>
   </dict>
   <key>duolu1-liuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,0},{61,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,101}}</string>
    <key>sourceSize</key>
    <string>{61,101}</string>
   </dict>
   <key>duolu1-liuhai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,103},{61,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,98}}</string>
    <key>sourceSize</key>
    <string>{61,98}</string>
   </dict>
   <key>duolu1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,203},{31,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,69}}</string>
    <key>sourceSize</key>
    <string>{31,69}</string>
   </dict>
   <key>duolu1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1375,960},{113,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,112}}</string>
    <key>sourceSize</key>
    <string>{113,112}</string>
   </dict>
   <key>duolu1-bozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{2019,375},{15,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,17}}</string>
    <key>sourceSize</key>
    <string>{15,17}</string>
   </dict>
   <key>duolu1-shangbanshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{2005,300},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>duolu1-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1959,568},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,64}}</string>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>duolu1-shangib.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,327},{16,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,24}}</string>
    <key>sourceSize</key>
    <string>{16,24}</string>
   </dict>
   <key>duolu1-xiaobi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,303},{19,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,22}}</string>
    <key>sourceSize</key>
    <string>{19,22}</string>
   </dict>
   <key>duolu1-shou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1998,360},{19,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,15}}</string>
    <key>sourceSize</key>
    <string>{19,15}</string>
   </dict>
   <key>duolu1-tui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,274},{21,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,27}}</string>
    <key>sourceSize</key>
    <string>{21,27}</string>
   </dict>
   <key>duolu1-jiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,353},{14,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,19}}</string>
    <key>sourceSize</key>
    <string>{14,19}</string>
   </dict>
   <key>duolu1-tui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{2015,265},{18,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,33}}</string>
    <key>sourceSize</key>
    <string>{18,33}</string>
   </dict>
   <key>duolu1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{2015,203},{31,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,60}}</string>
    <key>sourceSize</key>
    <string>{31,60}</string>
   </dict>
   <key>duolu1-jiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1982,374},{12,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,17}}</string>
    <key>sourceSize</key>
    <string>{12,17}</string>
   </dict>
   <key>duolu1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{808,937},{164,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,167}}</string>
    <key>sourceSize</key>
    <string>{164,167}</string>
   </dict>
   <key>duolu1-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1864,961},{126,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,75}}</string>
    <key>sourceSize</key>
    <string>{126,75}</string>
   </dict>
   <key>duolu1-wuqi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1864,1038},{136,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,60}}</string>
    <key>sourceSize</key>
    <string>{136,60}</string>
   </dict>
   <key>duolu1-wuqi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1375,1074},{99,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,51}}</string>
    <key>sourceSize</key>
    <string>{99,51}</string>
   </dict>
   <key>duolu1-wuqi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1864,1100},{91,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,48}}</string>
    <key>sourceSize</key>
    <string>{91,48}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>duolu2.png</string>
   <key>textureFileName</key>
   <string>duolu2.png</string>
   <key>size</key>
   <string>{2048,2048}</string>
  </dict>
 </dict>
</plist>