<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>duosilijia1-shoujipao.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{417,439}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{417,439}}</string>
    <key>sourceSize</key>
    <string>{417,439}</string>
   </dict>
   <key>duosilijia1-diajipao.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,0},{418,419}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{418,419}}</string>
    <key>sourceSize</key>
    <string>{418,419}</string>
   </dict>
   <key>duosilijia1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,441},{85,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,74}}</string>
    <key>sourceSize</key>
    <string>{85,74}</string>
   </dict>
   <key>duosilijia1-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,441},{81,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,77}}</string>
    <key>sourceSize</key>
    <string>{81,77}</string>
   </dict>
   <key>duosilijia1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,441},{83,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,72}}</string>
    <key>sourceSize</key>
    <string>{83,72}</string>
   </dict>
   <key>duosilijia1-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{953,368},{65,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,68}}</string>
    <key>sourceSize</key>
    <string>{65,68}</string>
   </dict>
   <key>duosilijia1-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{823,496},{40,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,77}}</string>
    <key>sourceSize</key>
    <string>{40,77}</string>
   </dict>
   <key>duosilijia1-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,441},{72,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,83}}</string>
    <key>sourceSize</key>
    <string>{72,83}</string>
   </dict>
   <key>duosilijia1-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,491},{88,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,37}}</string>
    <key>sourceSize</key>
    <string>{88,37}</string>
   </dict>
   <key>duosilijia1-zuoliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{953,438},{61,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,69}}</string>
    <key>sourceSize</key>
    <string>{61,69}</string>
   </dict>
   <key>duosilijia1-xiaopao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,114},{9,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,7}}</string>
    <key>sourceSize</key>
    <string>{9,7}</string>
   </dict>
   <key>duosilijia1-dapao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,75},{19,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,14}}</string>
    <key>sourceSize</key>
    <string>{19,14}</string>
   </dict>
   <key>duosilijia1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{839,0},{162,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,145}}</string>
    <key>sourceSize</key>
    <string>{162,145}</string>
   </dict>
   <key>duosilijia1-toushi.png</key>
   <dict>
    <key>frame</key>
    <string>{{647,491},{84,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,69}}</string>
    <key>sourceSize</key>
    <string>{84,69}</string>
   </dict>
   <key>duosilijia1-mawui.png</key>
   <dict>
    <key>frame</key>
    <string>{{839,147},{164,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,111}}</string>
    <key>sourceSize</key>
    <string>{164,111}</string>
   </dict>
   <key>duosilijia1-mawui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,421},{226,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{226,155}}</string>
    <key>sourceSize</key>
    <string>{226,155}</string>
   </dict>
   <key>duosilijia1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,520},{32,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,22}}</string>
    <key>sourceSize</key>
    <string>{32,22}</string>
   </dict>
   <key>duosilijia1-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,449},{23,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,19}}</string>
    <key>sourceSize</key>
    <string>{23,19}</string>
   </dict>
   <key>duosilijia1-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,517},{27,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,28}}</string>
    <key>sourceSize</key>
    <string>{27,28}</string>
   </dict>
   <key>duosilijia1-xionbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,520},{33,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,20}}</string>
    <key>sourceSize</key>
    <string>{33,20}</string>
   </dict>
   <key>duosilijia1-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{865,496},{43,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,55}}</string>
    <key>sourceSize</key>
    <string>{43,55}</string>
   </dict>
   <key>duosilijia1-yaoqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{940,509},{59,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,23}}</string>
    <key>sourceSize</key>
    <string>{59,23}</string>
   </dict>
   <key>duosilijia1-yaoqi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,515},{50,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,18}}</string>
    <key>sourceSize</key>
    <string>{50,18}</string>
   </dict>
   <key>duosilijia1-youtui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{910,496},{28,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,50}}</string>
    <key>sourceSize</key>
    <string>{28,50}</string>
   </dict>
   <key>duosilijia1-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,0},{17,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,31}}</string>
    <key>sourceSize</key>
    <string>{17,31}</string>
   </dict>
   <key>duosilijia1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,54},{16,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,19}}</string>
    <key>sourceSize</key>
    <string>{16,19}</string>
   </dict>
   <key>duosilijia1-kuabu.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,517},{34,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,25}}</string>
    <key>sourceSize</key>
    <string>{34,25}</string>
   </dict>
   <key>duosilijia1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,526},{28,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,18}}</string>
    <key>sourceSize</key>
    <string>{28,18}</string>
   </dict>
   <key>duosilijia1-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{332,526},{27,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,25}}</string>
    <key>sourceSize</key>
    <string>{27,25}</string>
   </dict>
   <key>duosilijia1-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,421},{23,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,26}}</string>
    <key>sourceSize</key>
    <string>{23,26}</string>
   </dict>
   <key>duosilijia1-zuotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,515},{28,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,37}}</string>
    <key>sourceSize</key>
    <string>{28,37}</string>
   </dict>
   <key>duosilijia1-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,520},{27,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,28}}</string>
    <key>sourceSize</key>
    <string>{27,28}</string>
   </dict>
   <key>duosilijia1-zuojio.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,91},{11,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,21}}</string>
    <key>sourceSize</key>
    <string>{11,21}</string>
   </dict>
   <key>duosilijia1-yaoqi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,33},{19,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,19}}</string>
    <key>sourceSize</key>
    <string>{19,19}</string>
   </dict>
   <key>duosilijia1-wuiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,441},{78,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,135}}</string>
    <key>sourceSize</key>
    <string>{78,135}</string>
   </dict>
   <key>duosilijia1-wuiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{839,368},{112,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,126}}</string>
    <key>sourceSize</key>
    <string>{112,126}</string>
   </dict>
   <key>duosilijia1-wuiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{839,260},{164,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,106}}</string>
    <key>sourceSize</key>
    <string>{164,106}</string>
   </dict>
   <key>duosilijia1-wuiba4.png</key>
   <dict>
    <key>frame</key>
    <string>{{647,421},{162,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,68}}</string>
    <key>sourceSize</key>
    <string>{162,68}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>duosilijia2.png</string>
   <key>textureFileName</key>
   <string>duosilijia2.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>