<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>duye1-shanger.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{244,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,79}}</string>
        <key>sourceSize</key>
        <string>{244,79}</string>
      </dict>
      <key>duye1-zui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,246}}</string>
        <key>sourceSize</key>
        <string>{79,246}</string>
      </dict>
      <key>duye1-xiaer.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,150},{161,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,93}}</string>
        <key>sourceSize</key>
        <string>{161,93}</string>
      </dict>
      <key>duye1-zui3.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,245},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>duye1-duye1.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,81},{44,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,125}}</string>
        <key>sourceSize</key>
        <string>{44,125}</string>
      </dict>
      <key>duye1-zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,386},{128,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,71}}</string>
        <key>sourceSize</key>
        <string>{128,71}</string>
      </dict>
      <key>duye1-shetou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,337},{135,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,74}}</string>
        <key>sourceSize</key>
        <string>{135,74}</string>
      </dict>
      <key>duye1-shetou.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,337},{159,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,47}}</string>
        <key>sourceSize</key>
        <string>{159,47}</string>
      </dict>
      <key>duye1-dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,81},{5,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,13}}</string>
        <key>sourceSize</key>
        <string>{5,13}</string>
      </dict>
      <key>duye1-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,204},{123,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,131}}</string>
        <key>sourceSize</key>
        <string>{123,131}</string>
      </dict>
      <key>duye1-souji.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,466},{83,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,50}}</string>
        <key>sourceSize</key>
        <string>{83,50}</string>
      </dict>
      <key>duye1-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,386},{81,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,75}}</string>
        <key>sourceSize</key>
        <string>{81,75}</string>
      </dict>
      <key>duye1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,463},{81,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,65}}</string>
        <key>sourceSize</key>
        <string>{81,65}</string>
      </dict>
      <key>duye1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,208},{52,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,70}}</string>
        <key>sourceSize</key>
        <string>{52,70}</string>
      </dict>
      <key>duye1-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,280},{89,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,119}}</string>
        <key>sourceSize</key>
        <string>{89,119}</string>
      </dict>
      <key>duye1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{165,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,148}}</string>
        <key>sourceSize</key>
        <string>{165,148}</string>
      </dict>
      <key>duye1-zuoliuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,401},{92,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,96}}</string>
        <key>sourceSize</key>
        <string>{92,96}</string>
      </dict>
      <key>duye1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,81},{176,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,121}}</string>
        <key>sourceSize</key>
        <string>{176,121}</string>
      </dict>
      <key>duye1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,413},{105,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,51}}</string>
        <key>sourceSize</key>
        <string>{105,51}</string>
      </dict>
      <key>duye1-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{58,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,44}}</string>
        <key>sourceSize</key>
        <string>{58,44}</string>
      </dict>
      <key>duye1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,459},{85,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,61}}</string>
        <key>sourceSize</key>
        <string>{85,61}</string>
      </dict>
      <key>duye1-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,150},{39,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,24}}</string>
        <key>sourceSize</key>
        <string>{39,24}</string>
      </dict>
      <key>duye1-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{73,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
      <key>duye1-yuni.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{16,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,75}}</string>
        <key>sourceSize</key>
        <string>{16,75}</string>
      </dict>
      <key>duye1-yuni2.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,77},{11,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,57}}</string>
        <key>sourceSize</key>
        <string>{11,57}</string>
      </dict>
      <key>duye1-duye2.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,81},{10,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,46}}</string>
        <key>sourceSize</key>
        <string>{10,46}</string>
      </dict>
      <key>duye1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,413},{87,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>duye1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,204},{43,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,41}}</string>
        <key>sourceSize</key>
        <string>{43,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>duye2.png</string>
      <key>textureFileName</key>
      <string>duye2.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>