<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>fenghuang5-youchi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{361,328}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{361,328}}</string>
    <key>sourceSize</key>
    <string>{361,328}</string>
   </dict>
   <key>fenghuang5-youhuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,0},{318,308}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{318,308}}</string>
    <key>sourceSize</key>
    <string>{318,308}</string>
   </dict>
   <key>fenghuang5-niaozui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1493,565},{34,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,39}}</string>
    <key>sourceSize</key>
    <string>{34,39}</string>
   </dict>
   <key>fenghuang5-niaozui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1946,386},{17,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,29}}</string>
    <key>sourceSize</key>
    <string>{17,29}</string>
   </dict>
   <key>fenghuang5-niaotou.png</key>
   <dict>
    <key>frame</key>
    <string>{{875,432},{79,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,107}}</string>
    <key>sourceSize</key>
    <string>{79,107}</string>
   </dict>
   <key>fenghuang5-bouzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1398,455},{129,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,108}}</string>
    <key>sourceSize</key>
    <string>{129,108}</string>
   </dict>
   <key>fenghuang5-toushangyumao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1969,206},{32,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,161}}</string>
    <key>sourceSize</key>
    <string>{32,161}</string>
   </dict>
   <key>fenghuang5-youzhuazi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1441,565},{50,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,45}}</string>
    <key>sourceSize</key>
    <string>{50,45}</string>
   </dict>
   <key>fenghuang5-youzhuazi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1998,476},{46,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,51}}</string>
    <key>sourceSize</key>
    <string>{46,51}</string>
   </dict>
   <key>fenghuang5-youzhuazi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1946,284},{21,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,36}}</string>
    <key>sourceSize</key>
    <string>{21,36}</string>
   </dict>
   <key>fenghuang5-youzhuazi4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1040,588},{51,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,28}}</string>
    <key>sourceSize</key>
    <string>{51,28}</string>
   </dict>
   <key>fenghuang5-youzhuazi5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1357,506},{34,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,45}}</string>
    <key>sourceSize</key>
    <string>{34,45}</string>
   </dict>
   <key>fenghuang5-youzhuazi6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1946,322},{21,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,34}}</string>
    <key>sourceSize</key>
    <string>{21,34}</string>
   </dict>
   <key>fenghuang5-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1768,543},{65,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,70}}</string>
    <key>sourceSize</key>
    <string>{65,70}</string>
   </dict>
   <key>fenghuang5-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,420},{190,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{190,166}}</string>
    <key>sourceSize</key>
    <string>{190,166}</string>
   </dict>
   <key>fenghuang5-zuozhuazi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1944,572},{51,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,39}}</string>
    <key>sourceSize</key>
    <string>{51,39}</string>
   </dict>
   <key>fenghuang5-zuozhuazi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{987,588},{51,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,33}}</string>
    <key>sourceSize</key>
    <string>{51,33}</string>
   </dict>
   <key>fenghuang5-zuozhuazi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,376},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>fenghuang5-zuozhuazi4.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,568},{56,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,37}}</string>
    <key>sourceSize</key>
    <string>{56,37}</string>
   </dict>
   <key>fenghuang5-zuozhuazi5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1998,566},{38,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,36}}</string>
    <key>sourceSize</key>
    <string>{38,36}</string>
   </dict>
   <key>fenghuang5-zuozhuazi6.png</key>
   <dict>
    <key>frame</key>
    <string>{{652,447},{24,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,37}}</string>
    <key>sourceSize</key>
    <string>{24,37}</string>
   </dict>
   <key>fenghuang5-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1389,565},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,50}}</string>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>fenghuang5-zuochi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1785,0},{182,282}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{182,282}}</string>
    <key>sourceSize</key>
    <string>{182,282}</string>
   </dict>
   <key>fenghuang5-zuohuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{683,278},{190,262}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{190,262}}</string>
    <key>sourceSize</key>
    <string>{190,262}</string>
   </dict>
   <key>fenghuang5-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,330},{326,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{326,126}}</string>
    <key>sourceSize</key>
    <string>{326,126}</string>
   </dict>
   <key>fenghuang5-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,615},{338,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{338,112}}</string>
    <key>sourceSize</key>
    <string>{338,112}</string>
   </dict>
   <key>fenghuang5-weiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,284},{275,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{275,134}}</string>
    <key>sourceSize</key>
    <string>{275,134}</string>
   </dict>
   <key>fenghuang1-zuozua1.png</key>
   <dict>
    <key>frame</key>
    <string>{{829,542},{35,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,43}}</string>
    <key>sourceSize</key>
    <string>{35,43}</string>
   </dict>
   <key>fenghuang1-zuozua2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1998,529},{44,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,35}}</string>
    <key>sourceSize</key>
    <string>{44,35}</string>
   </dict>
   <key>fenghuang1-zuozua4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1897,543},{45,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,31}}</string>
    <key>sourceSize</key>
    <string>{45,31}</string>
   </dict>
   <key>fenghuang1-zuozua3.png</key>
   <dict>
    <key>frame</key>
    <string>{{934,588},{51,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,36}}</string>
    <key>sourceSize</key>
    <string>{51,36}</string>
   </dict>
   <key>fenghuang1-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1650,0},{133,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,414}}</string>
    <key>sourceSize</key>
    <string>{133,414}</string>
   </dict>
   <key>fenghuang1-zuozua11.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,493},{27,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,30}}</string>
    <key>sourceSize</key>
    <string>{27,30}</string>
   </dict>
   <key>fenghuang1-zuozua22.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,558},{38,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,36}}</string>
    <key>sourceSize</key>
    <string>{38,36}</string>
   </dict>
   <key>fenghuang1-zuozhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{759,542},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>fenghuang1-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1638,534},{74,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,83}}</string>
    <key>sourceSize</key>
    <string>{74,83}</string>
   </dict>
   <key>fenghuang1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1226,544},{70,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,46}}</string>
    <key>sourceSize</key>
    <string>{70,46}</string>
   </dict>
   <key>fenghuang1-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,558},{62,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,46}}</string>
    <key>sourceSize</key>
    <string>{62,46}</string>
   </dict>
   <key>fenghuang1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1152,563},{65,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,41}}</string>
    <key>sourceSize</key>
    <string>{65,41}</string>
   </dict>
   <key>fenghuang1-guanhuang.png</key>
   <dict>
    <key>frame</key>
    <string>{{1969,0},{44,204}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,204}}</string>
    <key>sourceSize</key>
    <string>{44,204}</string>
   </dict>
   <key>fenghuang1-guanhuang2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1152,420},{72,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,141}}</string>
    <key>sourceSize</key>
    <string>{72,141}</string>
   </dict>
   <key>fenghuang1-guanhuang3.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,458},{102,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,72}}</string>
    <key>sourceSize</key>
    <string>{102,72}</string>
   </dict>
   <key>fenghuang1-guanhuang4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1093,588},{52,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,19}}</string>
    <key>sourceSize</key>
    <string>{52,19}</string>
   </dict>
   <key>fenghuang1-guanhuang5.png</key>
   <dict>
    <key>frame</key>
    <string>{{2015,0},{27,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,125}}</string>
    <key>sourceSize</key>
    <string>{27,125}</string>
   </dict>
   <key>fenghuang1-guanhuang6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1948,459},{48,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,111}}</string>
    <key>sourceSize</key>
    <string>{48,111}</string>
   </dict>
   <key>fenghuang1-guanhuang7.png</key>
   <dict>
    <key>frame</key>
    <string>{{652,519},{29,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,27}}</string>
    <key>sourceSize</key>
    <string>{29,27}</string>
   </dict>
   <key>fenghuang1-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1769,444},{177,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{177,97}}</string>
    <key>sourceSize</key>
    <string>{177,97}</string>
   </dict>
   <key>fenghuang1-youzua1.png</key>
   <dict>
    <key>frame</key>
    <string>{{652,486},{28,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,31}}</string>
    <key>sourceSize</key>
    <string>{28,31}</string>
   </dict>
   <key>fenghuang1-youzua2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1969,369},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>fenghuang1-youzua3.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,416},{28,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,40}}</string>
    <key>sourceSize</key>
    <string>{28,40}</string>
   </dict>
   <key>fenghuang1-youzua4.png</key>
   <dict>
    <key>frame</key>
    <string>{{2015,192},{28,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,48}}</string>
    <key>sourceSize</key>
    <string>{28,48}</string>
   </dict>
   <key>fenghuang1-jingzhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{107,458},{87,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,108}}</string>
    <key>sourceSize</key>
    <string>{87,108}</string>
   </dict>
   <key>fenghuang1-youbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{875,541},{57,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,93}}</string>
    <key>sourceSize</key>
    <string>{57,93}</string>
   </dict>
   <key>fenghuang1-zuobu.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,525},{52,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,88}}</string>
    <key>sourceSize</key>
    <string>{52,88}</string>
   </dict>
   <key>fenghuang1-youzua11.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,330},{33,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,44}}</string>
    <key>sourceSize</key>
    <string>{33,44}</string>
   </dict>
   <key>fenghuang1-youzua22.png</key>
   <dict>
    <key>frame</key>
    <string>{{2003,367},{38,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,44}}</string>
    <key>sourceSize</key>
    <string>{38,44}</string>
   </dict>
   <key>fenghuang1-youzua33.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,458},{32,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,33}}</string>
    <key>sourceSize</key>
    <string>{32,33}</string>
   </dict>
   <key>fenghuang1-youzua44.png</key>
   <dict>
    <key>frame</key>
    <string>{{1351,553},{36,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,39}}</string>
    <key>sourceSize</key>
    <string>{36,39}</string>
   </dict>
   <key>fenghuang1-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,532},{88,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,75}}</string>
    <key>sourceSize</key>
    <string>{88,75}</string>
   </dict>
   <key>fenghuang1-youtui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{875,278},{83,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,152}}</string>
    <key>sourceSize</key>
    <string>{83,152}</string>
   </dict>
   <key>fenghuang1-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1298,544},{51,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,57}}</string>
    <key>sourceSize</key>
    <string>{51,57}</string>
   </dict>
   <key>fenghuang1-youliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1835,543},{60,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,57}}</string>
    <key>sourceSize</key>
    <string>{60,57}</string>
   </dict>
   <key>fenghuang1-youliuhai3.png</key>
   <dict>
    <key>frame</key>
    <string>{{2015,127},{28,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,63}}</string>
    <key>sourceSize</key>
    <string>{28,63}</string>
   </dict>
   <key>fenghuang1-er.png</key>
   <dict>
    <key>frame</key>
    <string>{{1714,534},{52,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,68}}</string>
    <key>sourceSize</key>
    <string>{52,68}</string>
   </dict>
   <key>fenghuang1-zuoliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1999,413},{44,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,61}}</string>
    <key>sourceSize</key>
    <string>{44,61}</string>
   </dict>
   <key>fenghuang1-zuoliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{2003,242},{34,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,70}}</string>
    <key>sourceSize</key>
    <string>{34,70}</string>
   </dict>
   <key>fenghuang1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,458},{105,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,98}}</string>
    <key>sourceSize</key>
    <string>{105,98}</string>
   </dict>
   <key>fenghuang1-zuoliuhai3 .png</key>
   <dict>
    <key>frame</key>
    <string>{{2003,314},{37,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,51}}</string>
    <key>sourceSize</key>
    <string>{37,51}</string>
   </dict>
   <key>fenghuang1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{652,548},{28,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,22}}</string>
    <key>sourceSize</key>
    <string>{28,22}</string>
   </dict>
   <key>fenghuang1-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1603,536},{31,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,24}}</string>
    <key>sourceSize</key>
    <string>{31,24}</string>
   </dict>
   <key>fenghuang1-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1603,562},{30,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,23}}</string>
    <key>sourceSize</key>
    <string>{30,23}</string>
   </dict>
   <key>fenghuang1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,458},{22,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,21}}</string>
    <key>sourceSize</key>
    <string>{22,21}</string>
   </dict>
   <key>fenghuang1-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1357,457},{34,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,47}}</string>
    <key>sourceSize</key>
    <string>{34,47}</string>
   </dict>
   <key>fenghuang1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,481},{22,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,20}}</string>
    <key>sourceSize</key>
    <string>{22,20}</string>
   </dict>
   <key>fenghuang1-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1769,416},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>fenghuang1-zhuzhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{683,542},{74,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,73}}</string>
    <key>sourceSize</key>
    <string>{74,73}</string>
   </dict>
   <key>fenghuang1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1946,358},{21,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,26}}</string>
    <key>sourceSize</key>
    <string>{21,26}</string>
   </dict>
   <key>fenghuang1-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1965,414},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>fenghuang1-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{1529,536},{72,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,79}}</string>
    <key>sourceSize</key>
    <string>{72,79}</string>
   </dict>
   <key>fenghuang1-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,568},{27,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,22}}</string>
    <key>sourceSize</key>
    <string>{27,22}</string>
   </dict>
   <key>fenghuang1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{1638,416},{129,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,116}}</string>
    <key>sourceSize</key>
    <string>{129,116}</string>
   </dict>
   <key>fenghuang1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1785,284},{159,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,158}}</string>
    <key>sourceSize</key>
    <string>{159,158}</string>
   </dict>
   <key>fenghuang1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,144},{95,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,155}}</string>
    <key>sourceSize</key>
    <string>{95,155}</string>
   </dict>
   <key>fenghuang1-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,432},{86,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,102}}</string>
    <key>sourceSize</key>
    <string>{86,102}</string>
   </dict>
   <key>fenghuang1-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1226,457},{129,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,85}}</string>
    <key>sourceSize</key>
    <string>{129,85}</string>
   </dict>
   <key>fenghuang1-zuotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,301},{86,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,129}}</string>
    <key>sourceSize</key>
    <string>{86,129}</string>
   </dict>
   <key>fenghuang1-youchi.png</key>
   <dict>
    <key>frame</key>
    <string>{{683,0},{281,276}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{281,276}}</string>
    <key>sourceSize</key>
    <string>{281,276}</string>
   </dict>
   <key>fenghuang1-youhuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{966,0},{275,282}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{275,282}}</string>
    <key>sourceSize</key>
    <string>{275,282}</string>
   </dict>
   <key>fenghuang1-zuochi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1243,144},{153,311}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,311}}</string>
    <key>sourceSize</key>
    <string>{153,311}</string>
   </dict>
   <key>fenghuang1-zuohuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{1398,144},{150,309}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,309}}</string>
    <key>sourceSize</key>
    <string>{150,309}</string>
   </dict>
   <key>fenghuang1-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,310},{315,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{315,135}}</string>
    <key>sourceSize</key>
    <string>{315,135}</string>
   </dict>
   <key>fenghuang1-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1243,0},{405,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{405,142}}</string>
    <key>sourceSize</key>
    <string>{405,142}</string>
   </dict>
   <key>fenghuang1-weiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,447},{292,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{292,144}}</string>
    <key>sourceSize</key>
    <string>{292,144}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>fenghuang2.png</string>
   <key>textureFileName</key>
   <string>fenghuang2.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>