<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fuluoxia1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,288},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
      <key>fuluoxia1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,326},{22,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,23}}</string>
        <key>sourceSize</key>
        <string>{22,23}</string>
      </dict>
      <key>fuluoxia1-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,316},{22,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,26}}</string>
        <key>sourceSize</key>
        <string>{22,26}</string>
      </dict>
      <key>fuluoxia1-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,311},{49,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,65}}</string>
        <key>sourceSize</key>
        <string>{49,65}</string>
      </dict>
      <key>fuluoxia1-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,249},{45,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,77}}</string>
        <key>sourceSize</key>
        <string>{45,77}</string>
      </dict>
      <key>fuluoxia1-youdaimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,127},{72,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>fuluoxia1-zuodaimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,328},{51,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,62}}</string>
        <key>sourceSize</key>
        <string>{51,62}</string>
      </dict>
      <key>fuluoxia1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,187},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>fuluoxia1-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,127},{68,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,58}}</string>
        <key>sourceSize</key>
        <string>{68,58}</string>
      </dict>
      <key>fuluoxia1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,254},{66,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,55}}</string>
        <key>sourceSize</key>
        <string>{66,55}</string>
      </dict>
      <key>fuluoxia1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{147,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,125}}</string>
        <key>sourceSize</key>
        <string>{147,125}</string>
      </dict>
      <key>fuluoxia1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,329},{44,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,46}}</string>
        <key>sourceSize</key>
        <string>{44,46}</string>
      </dict>
      <key>fuluoxia1-qungbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,249},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>fuluoxia1-qungzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,329},{66,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,43}}</string>
        <key>sourceSize</key>
        <string>{66,43}</string>
      </dict>
      <key>fuluoxia1-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,199},{15,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,19}}</string>
        <key>sourceSize</key>
        <string>{15,19}</string>
      </dict>
      <key>fuluoxia1-youjiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,158},{16,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,20}}</string>
        <key>sourceSize</key>
        <string>{16,20}</string>
      </dict>
      <key>fuluoxia1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,220},{15,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,10}}</string>
        <key>sourceSize</key>
        <string>{15,10}</string>
      </dict>
      <key>fuluoxia1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,222},{13,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,11}}</string>
        <key>sourceSize</key>
        <string>{13,11}</string>
      </dict>
      <key>fuluoxia1-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,203},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>fuluoxia1-zuojiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,176},{15,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,21}}</string>
        <key>sourceSize</key>
        <string>{15,21}</string>
      </dict>
      <key>fuluoxia1-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,180},{15,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,21}}</string>
        <key>sourceSize</key>
        <string>{15,21}</string>
      </dict>
      <key>fuluoxia1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,155},{17,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,19}}</string>
        <key>sourceSize</key>
        <string>{17,19}</string>
      </dict>
      <key>fuluoxia1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,333},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>fuluoxia1-youmawei.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,197},{70,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,55}}</string>
        <key>sourceSize</key>
        <string>{70,55}</string>
      </dict>
      <key>fuluoxia1-youtoudai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{50,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,21}}</string>
        <key>sourceSize</key>
        <string>{50,21}</string>
      </dict>
      <key>fuluoxia1-zuomawei.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,329},{48,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,54}}</string>
        <key>sourceSize</key>
        <string>{48,54}</string>
      </dict>
      <key>fuluoxia1-zuotoudai.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,311},{35,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,13}}</string>
        <key>sourceSize</key>
        <string>{35,13}</string>
      </dict>
      <key>fuluoxia1-fenche1.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,155},{158,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,172}}</string>
        <key>sourceSize</key>
        <string>{158,172}</string>
      </dict>
      <key>fuluoxia1-fenche2.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{177,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,153}}</string>
        <key>sourceSize</key>
        <string>{177,153}</string>
      </dict>
      <key>fuluoxia1-fenche3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{157,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,173}}</string>
        <key>sourceSize</key>
        <string>{157,173}</string>
      </dict>
      <key>fuluoxia1-fenche4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{175,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,156}}</string>
        <key>sourceSize</key>
        <string>{175,156}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fuluoxia2.png</string>
      <key>textureFileName</key>
      <string>fuluoxia2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>