<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>habi0-zhuandong2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{474,316}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{474,316}}</string>
    <key>sourceSize</key>
    <string>{474,316}</string>
   </dict>
   <key>habi0-zhuoqianzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{60,386},{50,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,55}}</string>
    <key>sourceSize</key>
    <string>{50,55}</string>
   </dict>
   <key>habi0-zhuoqianzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,108},{36,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,55}}</string>
    <key>sourceSize</key>
    <string>{36,55}</string>
   </dict>
   <key>habi0-qiantoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,347},{65,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,88}}</string>
    <key>sourceSize</key>
    <string>{65,88}</string>
   </dict>
   <key>habi0-youqianzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,180},{41,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,58}}</string>
    <key>sourceSize</key>
    <string>{41,58}</string>
   </dict>
   <key>habi0-youqianzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,240},{43,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,55}}</string>
    <key>sourceSize</key>
    <string>{43,55}</string>
   </dict>
   <key>habi0-qiantoufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{759,342},{50,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,72}}</string>
    <key>sourceSize</key>
    <string>{50,72}</string>
   </dict>
   <key>habi0-qiantoufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{454,370},{61,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,87}}</string>
    <key>sourceSize</key>
    <string>{61,87}</string>
   </dict>
   <key>habi0-shoujibaioqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,318},{92,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,88}}</string>
    <key>sourceSize</key>
    <string>{92,88}</string>
   </dict>
   <key>habi0-gongjibiaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,369},{93,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,59}}</string>
    <key>sourceSize</key>
    <string>{93,59}</string>
   </dict>
   <key>habi0-daijibiaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,347},{94,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,69}}</string>
    <key>sourceSize</key>
    <string>{94,69}</string>
   </dict>
   <key>habi0-zhuoshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{771,276},{35,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,27}}</string>
    <key>sourceSize</key>
    <string>{35,27}</string>
   </dict>
   <key>habi0-zhuoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,386},{58,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,51}}</string>
    <key>sourceSize</key>
    <string>{58,51}</string>
   </dict>
   <key>habi0-qiantoufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,297},{43,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,42}}</string>
    <key>sourceSize</key>
    <string>{43,42}</string>
   </dict>
   <key>habi0-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,180},{161,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,165}}</string>
    <key>sourceSize</key>
    <string>{161,165}</string>
   </dict>
   <key>habizhiyuan-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,292},{115,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,75}}</string>
    <key>sourceSize</key>
    <string>{115,75}</string>
   </dict>
   <key>habi0-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,318},{115,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,75}}</string>
    <key>sourceSize</key>
    <string>{115,75}</string>
   </dict>
   <key>habi0-zhuogebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{771,241},{31,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,33}}</string>
    <key>sourceSize</key>
    <string>{31,33}</string>
   </dict>
   <key>habi0-houtoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,199},{83,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,169}}</string>
    <key>sourceSize</key>
    <string>{83,169}</string>
   </dict>
   <key>habi0-guo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,0},{336,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{336,106}}</string>
    <key>sourceSize</key>
    <string>{336,106}</string>
   </dict>
   <key>habi0-guobashou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,318},{151,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{151,66}}</string>
    <key>sourceSize</key>
    <string>{151,66}</string>
   </dict>
   <key>habi0-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{678,328},{79,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,83}}</string>
    <key>sourceSize</key>
    <string>{79,83}</string>
   </dict>
   <key>habi0-zhuojianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,165},{37,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,35}}</string>
    <key>sourceSize</key>
    <string>{37,35}</string>
   </dict>
   <key>habi0-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{771,305},{27,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,35}}</string>
    <key>sourceSize</key>
    <string>{27,35}</string>
   </dict>
   <key>habi0-youjianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,341},{23,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,35}}</string>
    <key>sourceSize</key>
    <string>{23,35}</string>
   </dict>
   <key>habi0-weiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,199},{135,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,91}}</string>
    <key>sourceSize</key>
    <string>{135,91}</string>
   </dict>
   <key>habi0-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,318},{88,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,82}}</string>
    <key>sourceSize</key>
    <string>{88,82}</string>
   </dict>
   <key>habi0-houtoufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{698,199},{71,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,127}}</string>
    <key>sourceSize</key>
    <string>{71,127}</string>
   </dict>
   <key>habi0-houtoufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{814,0},{189,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{189,178}}</string>
    <key>sourceSize</key>
    <string>{189,178}</string>
   </dict>
   <key>habi0-youerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{771,202},{31,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,37}}</string>
    <key>sourceSize</key>
    <string>{31,37}</string>
   </dict>
   <key>habi0-pingdiguo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,108},{294,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{294,89}}</string>
    <key>sourceSize</key>
    <string>{294,89}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>habi2.png</string>
   <key>textureFileName</key>
   <string>habi2.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>