<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>haboziyuan-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,373},{50,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,51}}</string>
    <key>sourceSize</key>
    <string>{50,51}</string>
   </dict>
   <key>haboziyuan-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,87},{16,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,32}}</string>
    <key>sourceSize</key>
    <string>{16,32}</string>
   </dict>
   <key>haboziyuan-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,233},{23,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,31}}</string>
    <key>sourceSize</key>
    <string>{23,31}</string>
   </dict>
   <key>haboziyuan-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,177},{19,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,33}}</string>
    <key>sourceSize</key>
    <string>{19,33}</string>
   </dict>
   <key>haboziyuan-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{343,284},{39,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,63}}</string>
    <key>sourceSize</key>
    <string>{39,63}</string>
   </dict>
   <key>haboziyuan-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,232},{23,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,62}}</string>
    <key>sourceSize</key>
    <string>{23,62}</string>
   </dict>
   <key>haboziyuan-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,283},{26,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,57}}</string>
    <key>sourceSize</key>
    <string>{26,57}</string>
   </dict>
   <key>haboziyuan-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,371},{39,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,39}}</string>
    <key>sourceSize</key>
    <string>{39,39}</string>
   </dict>
   <key>haboziyuan-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,357},{69,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,44}}</string>
    <key>sourceSize</key>
    <string>{69,44}</string>
   </dict>
   <key>haboziyuan-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,405},{45,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,47}}</string>
    <key>sourceSize</key>
    <string>{45,47}</string>
   </dict>
   <key>haboziyuan-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{106,410},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,48}}</string>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>haboziyuan-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,219},{107,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,97}}</string>
    <key>sourceSize</key>
    <string>{107,97}</string>
   </dict>
   <key>haboziyuan-toufa7.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,303},{25,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,54}}</string>
    <key>sourceSize</key>
    <string>{25,54}</string>
   </dict>
   <key>haboziyuan-zhuoshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,296},{18,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,11}}</string>
    <key>sourceSize</key>
    <string>{18,11}</string>
   </dict>
   <key>haboziyuan-zhuoshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,266},{21,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,16}}</string>
    <key>sourceSize</key>
    <string>{21,16}</string>
   </dict>
   <key>haboziyuan-zhuogebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,338},{24,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,21}}</string>
    <key>sourceSize</key>
    <string>{24,21}</string>
   </dict>
   <key>haboziyuan-xiongbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{429,445},{26,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,15}}</string>
    <key>sourceSize</key>
    <string>{26,15}</string>
   </dict>
   <key>haboziyuan-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,357},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>haboziyuan-toufa8.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,232},{69,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,135}}</string>
    <key>sourceSize</key>
    <string>{69,135}</string>
   </dict>
   <key>haboziyuan-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,411},{62,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,32}}</string>
    <key>sourceSize</key>
    <string>{62,32}</string>
   </dict>
   <key>haboziyuan-hudiejie1.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,433},{28,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,24}}</string>
    <key>sourceSize</key>
    <string>{28,24}</string>
   </dict>
   <key>haboziyuan-hudiejie3.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,185},{19,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,23}}</string>
    <key>sourceSize</key>
    <string>{19,23}</string>
   </dict>
   <key>haboziyuan-youshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,212},{18,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,18}}</string>
    <key>sourceSize</key>
    <string>{18,18}</string>
   </dict>
   <key>haboziyuan-yougebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,210},{18,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,21}}</string>
    <key>sourceSize</key>
    <string>{18,21}</string>
   </dict>
   <key>haboziyuan-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,284},{16,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,17}}</string>
    <key>sourceSize</key>
    <string>{16,17}</string>
   </dict>
   <key>haboziyuan-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,121},{16,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,31}}</string>
    <key>sourceSize</key>
    <string>{16,31}</string>
   </dict>
   <key>haboziyuan-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,154},{16,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,21}}</string>
    <key>sourceSize</key>
    <string>{16,21}</string>
   </dict>
   <key>haboziyuan-youjiaowan.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,309},{15,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,10}}</string>
    <key>sourceSize</key>
    <string>{15,10}</string>
   </dict>
   <key>haboziyuan-zhuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,152},{18,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,31}}</string>
    <key>sourceSize</key>
    <string>{18,31}</string>
   </dict>
   <key>haboziyuan-zhuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{497,127},{12,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,23}}</string>
    <key>sourceSize</key>
    <string>{12,23}</string>
   </dict>
   <key>haboziyuan-zhuojiaowan.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,321},{11,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,12}}</string>
    <key>sourceSize</key>
    <string>{11,12}</string>
   </dict>
   <key>haboziyuan-hudiejie4.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,393},{33,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,23}}</string>
    <key>sourceSize</key>
    <string>{33,23}</string>
   </dict>
   <key>haboziyuan-budiejie2.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,433},{40,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,26}}</string>
    <key>sourceSize</key>
    <string>{40,26}</string>
   </dict>
   <key>haboziyuan-chetou.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,87},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>haboziyuan-chibang1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,218},{106,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,137}}</string>
    <key>sourceSize</key>
    <string>{106,137}</string>
   </dict>
   <key>haboziyuan-lingjian1.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,218},{90,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,118}}</string>
    <key>sourceSize</key>
    <string>{90,118}</string>
   </dict>
   <key>haboziyuan-lingjian2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{235,216}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{235,216}}</string>
    <key>sourceSize</key>
    <string>{235,216}</string>
   </dict>
   <key>haboziyuan-chibang2.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,87},{67,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,143}}</string>
    <key>sourceSize</key>
    <string>{67,143}</string>
   </dict>
   <key>haboziyuan-lunzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,369},{55,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,57}}</string>
    <key>sourceSize</key>
    <string>{55,57}</string>
   </dict>
   <key>haboziyuan-zhuojixieshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,318},{70,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,71}}</string>
    <key>sourceSize</key>
    <string>{70,71}</string>
   </dict>
   <key>haboziyuan-zhuojixieshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,403},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>haboziyuan-zhuojixiegebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,349},{44,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,54}}</string>
    <key>sourceSize</key>
    <string>{44,54}</string>
   </dict>
   <key>haboziyuan-zhuoshouguanjie.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,428},{39,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,36}}</string>
    <key>sourceSize</key>
    <string>{39,36}</string>
   </dict>
   <key>haboziyuan-xian1.png</key>
   <dict>
    <key>frame</key>
    <string>{{503,0},{3,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,98}}</string>
    <key>sourceSize</key>
    <string>{3,98}</string>
   </dict>
   <key>haboziyuan-xian2.png</key>
   <dict>
    <key>frame</key>
    <string>{{497,0},{4,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,125}}</string>
    <key>sourceSize</key>
    <string>{4,125}</string>
   </dict>
   <key>haboziyuan-xian3.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,0},{3,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,138}}</string>
    <key>sourceSize</key>
    <string>{3,138}</string>
   </dict>
   <key>haboziyuan-xian4.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,0},{3,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,159}}</string>
    <key>sourceSize</key>
    <string>{3,159}</string>
   </dict>
   <key>haboziyuan-lingjian3.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,0},{248,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{248,85}}</string>
    <key>sourceSize</key>
    <string>{248,85}</string>
   </dict>
   <key>haboziyuan-lingjian4.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,426},{53,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,32}}</string>
    <key>sourceSize</key>
    <string>{53,32}</string>
   </dict>
   <key>haboziyuan-lingjian5.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,318},{40,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,51}}</string>
    <key>sourceSize</key>
    <string>{40,51}</string>
   </dict>
   <key>haboziyuan-lingjian6.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,218},{32,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,63}}</string>
    <key>sourceSize</key>
    <string>{32,63}</string>
   </dict>
   <key>haboziyuan-lingjian7.png</key>
   <dict>
    <key>frame</key>
    <string>{{223,391},{62,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,40}}</string>
    <key>sourceSize</key>
    <string>{62,40}</string>
   </dict>
   <key>haboziyuan-lingjian8.png</key>
   <dict>
    <key>frame</key>
    <string>{{52,418},{47,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,40}}</string>
    <key>sourceSize</key>
    <string>{47,40}</string>
   </dict>
   <key>haboziyuan-lunzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,359},{46,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,50}}</string>
    <key>sourceSize</key>
    <string>{46,50}</string>
   </dict>
   <key>haboziyuan-youjixieshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,338},{61,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,70}}</string>
    <key>sourceSize</key>
    <string>{61,70}</string>
   </dict>
   <key>haboziyuan-youjixieshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,412},{51,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,41}}</string>
    <key>sourceSize</key>
    <string>{51,41}</string>
   </dict>
   <key>haboziyuan-youjixiegebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{343,219},{46,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,63}}</string>
    <key>sourceSize</key>
    <string>{46,63}</string>
   </dict>
   <key>haboziyuan-youshouguanjie.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,342},{28,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,29}}</string>
    <key>sourceSize</key>
    <string>{28,29}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>habo2.png</string>
   <key>textureFileName</key>
   <string>habo2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>