<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hongye5-zhuan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{390,219}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{390,219}}</string>
    <key>sourceSize</key>
    <string>{390,219}</string>
   </dict>
   <key>hongye5-hongye0.png</key>
   <dict>
    <key>frame</key>
    <string>{{617,196},{120,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,72}}</string>
    <key>sourceSize</key>
    <string>{120,72}</string>
   </dict>
   <key>hongye5-yezi5.png</key>
   <dict>
    <key>frame</key>
    <string>{{862,255},{36,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,31}}</string>
    <key>sourceSize</key>
    <string>{36,31}</string>
   </dict>
   <key>hongye5-yezi6.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,287},{57,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,54}}</string>
    <key>sourceSize</key>
    <string>{57,54}</string>
   </dict>
   <key>hongye5-yezi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{516,263},{66,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,69}}</string>
    <key>sourceSize</key>
    <string>{66,69}</string>
   </dict>
   <key>hongye5-yezi4.png</key>
   <dict>
    <key>frame</key>
    <string>{{525,179},{90,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,82}}</string>
    <key>sourceSize</key>
    <string>{90,82}</string>
   </dict>
   <key>hongye5-yezi7.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,290},{44,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,41}}</string>
    <key>sourceSize</key>
    <string>{44,41}</string>
   </dict>
   <key>hongye5-hongye2.png</key>
   <dict>
    <key>frame</key>
    <string>{{617,270},{63,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,58}}</string>
    <key>sourceSize</key>
    <string>{63,58}</string>
   </dict>
   <key>hongye5-yezi9.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,248},{34,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,39}}</string>
    <key>sourceSize</key>
    <string>{34,39}</string>
   </dict>
   <key>hongye5-yezi8.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,144},{26,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,27}}</string>
    <key>sourceSize</key>
    <string>{26,27}</string>
   </dict>
   <key>hongye5-yezi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,221},{98,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,81}}</string>
    <key>sourceSize</key>
    <string>{98,81}</string>
   </dict>
   <key>hongye5-yezi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{297,221},{84,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,77}}</string>
    <key>sourceSize</key>
    <string>{84,77}</string>
   </dict>
   <key>hongye5-zhuotoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{862,159},{38,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,94}}</string>
    <key>sourceSize</key>
    <string>{38,94}</string>
   </dict>
   <key>hongye5-zhuotoufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{902,162},{77,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,136}}</string>
    <key>sourceSize</key>
    <string>{77,136}</string>
   </dict>
   <key>hongye5-youtoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,173},{36,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,81}}</string>
    <key>sourceSize</key>
    <string>{36,81}</string>
   </dict>
   <key>hongye5-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{849,288},{51,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,44}}</string>
    <key>sourceSize</key>
    <string>{51,44}</string>
   </dict>
   <key>hongye5-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,221},{96,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,70}}</string>
    <key>sourceSize</key>
    <string>{96,70}</string>
   </dict>
   <key>hongye5-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,248},{95,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,67}}</string>
    <key>sourceSize</key>
    <string>{95,67}</string>
   </dict>
   <key>hongye5-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,221},{97,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,67}}</string>
    <key>sourceSize</key>
    <string>{97,67}</string>
   </dict>
   <key>hongye5-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{763,0},{156,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,157}}</string>
    <key>sourceSize</key>
    <string>{156,157}</string>
   </dict>
   <key>hongye5-zhuogebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{817,287},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>hongye5-zhuoshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,117},{28,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,25}}</string>
    <key>sourceSize</key>
    <string>{28,25}</string>
   </dict>
   <key>hongye5-zhuoshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,289},{31,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,24}}</string>
    <key>sourceSize</key>
    <string>{31,24}</string>
   </dict>
   <key>hongye5-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,179},{131,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,67}}</string>
    <key>sourceSize</key>
    <string>{131,67}</string>
   </dict>
   <key>hongye5-xiongbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,256},{39,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,25}}</string>
    <key>sourceSize</key>
    <string>{39,25}</string>
   </dict>
   <key>hongye5-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{682,270},{49,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,68}}</string>
    <key>sourceSize</key>
    <string>{49,68}</string>
   </dict>
   <key>hongye5-youshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,283},{32,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,28}}</string>
    <key>sourceSize</key>
    <string>{32,28}</string>
   </dict>
   <key>hongye5-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,270},{23,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,30}}</string>
    <key>sourceSize</key>
    <string>{23,30}</string>
   </dict>
   <key>hongye5-youjianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{584,263},{31,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,30}}</string>
    <key>sourceSize</key>
    <string>{31,30}</string>
   </dict>
   <key>hongye5-zhuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,67},{22,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,48}}</string>
    <key>sourceSize</key>
    <string>{22,48}</string>
   </dict>
   <key>hongye5-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,0},{23,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,65}}</string>
    <key>sourceSize</key>
    <string>{23,65}</string>
   </dict>
   <key>hongye5-youtoufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{921,0},{71,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,160}}</string>
    <key>sourceSize</key>
    <string>{71,160}</string>
   </dict>
   <key>hongye5-houtoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{618,0},{143,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,194}}</string>
    <key>sourceSize</key>
    <string>{143,194}</string>
   </dict>
   <key>hongye5-houtofa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,0},{224,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,177}}</string>
    <key>sourceSize</key>
    <string>{224,177}</string>
   </dict>
   <key>hongye5-hotoufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{763,159},{97,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,126}}</string>
    <key>sourceSize</key>
    <string>{97,126}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hongye-修改通明帧.png</string>
   <key>textureFileName</key>
   <string>hongye-修改通明帧.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>