<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hongzhizhuziyuan-youqian.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,160},{41,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,92}}</string>
        <key>sourceSize</key>
        <string>{41,92}</string>
      </dict>
      <key>hongzhizhuziyuan-youshou4.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,130},{84,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>hongzhizhuziyuan-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{62,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,52}}</string>
        <key>sourceSize</key>
        <string>{62,52}</string>
      </dict>
      <key>hongzhizhuziyuan-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,223},{47,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,49}}</string>
        <key>sourceSize</key>
        <string>{47,49}</string>
      </dict>
      <key>hongzhizhuziyuan-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{47,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,36}}</string>
        <key>sourceSize</key>
        <string>{47,36}</string>
      </dict>
      <key>hongzhizhuziyuan-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,152},{95,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,46}}</string>
        <key>sourceSize</key>
        <string>{95,46}</string>
      </dict>
      <key>hongzhizhuziyuan-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{164,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,150}}</string>
        <key>sourceSize</key>
        <string>{164,150}</string>
      </dict>
      <key>hongzhizhuziyuan-youyao.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,264},{53,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,26}}</string>
        <key>sourceSize</key>
        <string>{53,26}</string>
      </dict>
      <key>hongzhizhuziyuan-jitou.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,279},{40,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,24}}</string>
        <key>sourceSize</key>
        <string>{40,24}</string>
      </dict>
      <key>hongzhizhuziyuan-zuoyao.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,254},{33,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,26}}</string>
        <key>sourceSize</key>
        <string>{33,26}</string>
      </dict>
      <key>hongzhizhuziyuan-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{125,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,76}}</string>
        <key>sourceSize</key>
        <string>{125,76}</string>
      </dict>
      <key>hongzhizhuziyuan-yaobu.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,200},{94,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,34}}</string>
        <key>sourceSize</key>
        <string>{94,34}</string>
      </dict>
      <key>hongzhizhuziyuan-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,274},{51,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,22}}</string>
        <key>sourceSize</key>
        <string>{51,22}</string>
      </dict>
      <key>hongzhizhuziyuan-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,211},{68,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,45}}</string>
        <key>sourceSize</key>
        <string>{68,45}</string>
      </dict>
      <key>hongzhizhuziyuan-youjiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,236},{47,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,41}}</string>
        <key>sourceSize</key>
        <string>{47,41}</string>
      </dict>
      <key>hongzhizhuziyuan-kuabu.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,254},{52,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,33}}</string>
        <key>sourceSize</key>
        <string>{52,33}</string>
      </dict>
      <key>hongzhizhuziyuan-zuoshou4.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,152},{70,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>hongzhizhuziyuan-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,208},{58,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,54}}</string>
        <key>sourceSize</key>
        <string>{58,54}</string>
      </dict>
      <key>hongzhizhuziyuan-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,258},{47,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,38}}</string>
        <key>sourceSize</key>
        <string>{47,38}</string>
      </dict>
      <key>hongzhizhuziyuan-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,266},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>hongzhizhuziyuan-zuoqian.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,130},{61,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,86}}</string>
        <key>sourceSize</key>
        <string>{61,86}</string>
      </dict>
      <key>hongzhizhuziyuan-youpao.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,80},{24,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,78}}</string>
        <key>sourceSize</key>
        <string>{24,78}</string>
      </dict>
      <key>hongzhizhuziyuan-zuopao.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{24,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,78}}</string>
        <key>sourceSize</key>
        <string>{24,78}</string>
      </dict>
      <key>hongzhizhuziyuan-jiyi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{304,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{304,128}}</string>
        <key>sourceSize</key>
        <string>{304,128}</string>
      </dict>
      <key>hongzhizhuziyuan-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,266},{34,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,15}}</string>
        <key>sourceSize</key>
        <string>{34,15}</string>
      </dict>
      <key>hongzhizhuziyuan-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,218},{54,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,46}}</string>
        <key>sourceSize</key>
        <string>{54,46}</string>
      </dict>
      <key>hongzhizhuziyuan-zuojiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,236},{52,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,42}}</string>
        <key>sourceSize</key>
        <string>{52,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hongzhizhu2.png</string>
      <key>textureFileName</key>
      <string>hongzhizhu2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>