<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>fengdongzuo-chibang-21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{367,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{367,196}}</string>
    <key>sourceSize</key>
    <string>{367,196}</string>
   </dict>
   <key>fengdongzuo-zuoushou03.png</key>
   <dict>
    <key>frame</key>
    <string>{{977,232},{36,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,44}}</string>
    <key>sourceSize</key>
    <string>{36,44}</string>
   </dict>
   <key>fengdongzuo-wuqi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{589,0},{228,310}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{228,310}}</string>
    <key>sourceSize</key>
    <string>{228,310}</string>
   </dict>
   <key>fengdongzuo-shouji03.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,562},{107,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,89}}</string>
    <key>sourceSize</key>
    <string>{107,89}</string>
   </dict>
   <key>fengdongzuo-gongji02.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,488},{106,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,91}}</string>
    <key>sourceSize</key>
    <string>{106,91}</string>
   </dict>
   <key>fengdongzuo-daiji01.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,578},{107,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,85}}</string>
    <key>sourceSize</key>
    <string>{107,85}</string>
   </dict>
   <key>fengdongzuo-lingdai01.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,78},{17,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,14}}</string>
    <key>sourceSize</key>
    <string>{17,14}</string>
   </dict>
   <key>fengdongzuo-lingdai02.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,488},{37,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,17}}</string>
    <key>sourceSize</key>
    <string>{37,17}</string>
   </dict>
   <key>fengdongzuo-lingdai03.png</key>
   <dict>
    <key>frame</key>
    <string>{{329,378},{27,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,32}}</string>
    <key>sourceSize</key>
    <string>{27,32}</string>
   </dict>
   <key>fengdongzuo-zuoushou01.png</key>
   <dict>
    <key>frame</key>
    <string>{{977,325},{40,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,37}}</string>
    <key>sourceSize</key>
    <string>{40,37}</string>
   </dict>
   <key>fengdongzuo-zuoushou02.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,301},{36,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,34}}</string>
    <key>sourceSize</key>
    <string>{36,34}</string>
   </dict>
   <key>fengdongzuo-hudiejie1.png</key>
   <dict>
    <key>frame</key>
    <string>{{916,522},{106,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,87}}</string>
    <key>sourceSize</key>
    <string>{106,87}</string>
   </dict>
   <key>fengdongzuo-toufa011.png</key>
   <dict>
    <key>frame</key>
    <string>{{961,364},{47,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,54}}</string>
    <key>sourceSize</key>
    <string>{47,54}</string>
   </dict>
   <key>fengdongzuo-toufa02.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,339},{72,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,112}}</string>
    <key>sourceSize</key>
    <string>{72,112}</string>
   </dict>
   <key>fengdongzuo-toufa031.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,198},{65,149}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,149}}</string>
    <key>sourceSize</key>
    <string>{65,149}</string>
   </dict>
   <key>fengdongzuo-toufa041.png</key>
   <dict>
    <key>frame</key>
    <string>{{587,461},{123,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,135}}</string>
    <key>sourceSize</key>
    <string>{123,135}</string>
   </dict>
   <key>fengdongzuo-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{819,186},{156,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,148}}</string>
    <key>sourceSize</key>
    <string>{156,148}</string>
   </dict>
   <key>fengdongzuo-toufa05.png</key>
   <dict>
    <key>frame</key>
    <string>{{819,0},{176,184}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{176,184}}</string>
    <key>sourceSize</key>
    <string>{176,184}</string>
   </dict>
   <key>fengdongzuo-toufa06.png</key>
   <dict>
    <key>frame</key>
    <string>{{712,513},{90,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,66}}</string>
    <key>sourceSize</key>
    <string>{90,66}</string>
   </dict>
   <key>fengdongzuo-toufa07.png</key>
   <dict>
    <key>frame</key>
    <string>{{961,420},{57,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,34}}</string>
    <key>sourceSize</key>
    <string>{57,34}</string>
   </dict>
   <key>fengdongzuo-zuojiao01.png</key>
   <dict>
    <key>frame</key>
    <string>{{961,456},{52,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,33}}</string>
    <key>sourceSize</key>
    <string>{52,33}</string>
   </dict>
   <key>fengdongzuo-zuojiao02.png</key>
   <dict>
    <key>frame</key>
    <string>{{977,278},{33,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,45}}</string>
    <key>sourceSize</key>
    <string>{33,45}</string>
   </dict>
   <key>fengdongzuo-zuojiao03.png</key>
   <dict>
    <key>frame</key>
    <string>{{571,598},{85,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,64}}</string>
    <key>sourceSize</key>
    <string>{85,64}</string>
   </dict>
   <key>fengdongzuo-niaozui01.png</key>
   <dict>
    <key>frame</key>
    <string>{{808,485},{106,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,115}}</string>
    <key>sourceSize</key>
    <string>{106,115}</string>
   </dict>
   <key>fengdongzuo-niaozui03.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,198},{33,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,54}}</string>
    <key>sourceSize</key>
    <string>{33,54}</string>
   </dict>
   <key>fengdongzuo-lingdang.png</key>
   <dict>
    <key>frame</key>
    <string>{{739,441},{67,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,70}}</string>
    <key>sourceSize</key>
    <string>{67,70}</string>
   </dict>
   <key>fengdongzuo-zuochibang 1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,431},{229,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{229,217}}</string>
    <key>sourceSize</key>
    <string>{229,217}</string>
   </dict>
   <key>fengdongzuo-niaoshengti011.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,198},{261,231}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{261,231}}</string>
    <key>sourceSize</key>
    <string>{261,231}</string>
   </dict>
   <key>fengdongzuo-shouji022.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,336},{148,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,147}}</string>
    <key>sourceSize</key>
    <string>{148,147}</string>
   </dict>
   <key>fengdongzuo-gongji011.png</key>
   <dict>
    <key>frame</key>
    <string>{{589,312},{148,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,147}}</string>
    <key>sourceSize</key>
    <string>{148,147}</string>
   </dict>
   <key>fengdongzuo-niaoshengti02.png</key>
   <dict>
    <key>frame</key>
    <string>{{359,339},{148,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,147}}</string>
    <key>sourceSize</key>
    <string>{148,147}</string>
   </dict>
   <key>fengdongzuo-weiba01.png</key>
   <dict>
    <key>frame</key>
    <string>{{879,611},{77,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,47}}</string>
    <key>sourceSize</key>
    <string>{77,47}</string>
   </dict>
   <key>fengdongzuo-weiba02.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,631},{71,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,44}}</string>
    <key>sourceSize</key>
    <string>{71,44}</string>
   </dict>
   <key>fengdongzuo-weiba03.png</key>
   <dict>
    <key>frame</key>
    <string>{{712,581},{85,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,67}}</string>
    <key>sourceSize</key>
    <string>{85,67}</string>
   </dict>
   <key>fengdongzuo-weiba04.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,581},{118,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,48}}</string>
    <key>sourceSize</key>
    <string>{118,48}</string>
   </dict>
   <key>fengdongzuo-zuojiao01_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{311,474},{41,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,33}}</string>
    <key>sourceSize</key>
    <string>{41,33}</string>
   </dict>
   <key>fengdongzuo-zuojiao02_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,0},{23,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,45}}</string>
    <key>sourceSize</key>
    <string>{23,45}</string>
   </dict>
   <key>fengdongzuo-zuojiao03_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{916,485},{36,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,22}}</string>
    <key>sourceSize</key>
    <string>{36,22}</string>
   </dict>
   <key>fengdongzuo-zuojiao04.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,431},{30,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,23}}</string>
    <key>sourceSize</key>
    <string>{30,23}</string>
   </dict>
   <key>fengdongzuo-zuojiao05.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,429},{57,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,33}}</string>
    <key>sourceSize</key>
    <string>{57,33}</string>
   </dict>
   <key>fengdongzuo-zuojiao06.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,455},{27,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,17}}</string>
    <key>sourceSize</key>
    <string>{27,17}</string>
   </dict>
   <key>fengdongzuo-zuojiao07.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,395},{64,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,32}}</string>
    <key>sourceSize</key>
    <string>{64,32}</string>
   </dict>
   <key>fengdongzuo-youjiao01.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,254},{35,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,45}}</string>
    <key>sourceSize</key>
    <string>{35,45}</string>
   </dict>
   <key>fengdongzuo-youjiao02.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,337},{27,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,39}}</string>
    <key>sourceSize</key>
    <string>{27,39}</string>
   </dict>
   <key>fengdongzuo-youjiao03.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,432},{32,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,21}}</string>
    <key>sourceSize</key>
    <string>{32,21}</string>
   </dict>
   <key>fengdongzuo-youjiao04.png</key>
   <dict>
    <key>frame</key>
    <string>{{329,412},{27,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,18}}</string>
    <key>sourceSize</key>
    <string>{27,18}</string>
   </dict>
   <key>fengdongzuo-youjiao05.png</key>
   <dict>
    <key>frame</key>
    <string>{{658,598},{50,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,29}}</string>
    <key>sourceSize</key>
    <string>{50,29}</string>
   </dict>
   <key>fengdongzuo-youjiao06.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,491},{55,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,29}}</string>
    <key>sourceSize</key>
    <string>{55,29}</string>
   </dict>
   <key>fengdongzuo-youjiao07.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,456},{27,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,15}}</string>
    <key>sourceSize</key>
    <string>{27,15}</string>
   </dict>
   <key>fengdongzuo-youjiao08.png</key>
   <dict>
    <key>frame</key>
    <string>{{413,664},{293,187}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{293,187}}</string>
    <key>sourceSize</key>
    <string>{293,187}</string>
   </dict>
   <key>fengdongzuo-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,502},{77,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,74}}</string>
    <key>sourceSize</key>
    <string>{77,74}</string>
   </dict>
   <key>fengdongzuo-kua.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,602},{78,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,61}}</string>
    <key>sourceSize</key>
    <string>{78,61}</string>
   </dict>
   <key>fengdongzuo-youshou01.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,47},{25,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,29}}</string>
    <key>sourceSize</key>
    <string>{25,29}</string>
   </dict>
   <key>fengdongzuo-wuqi02.png</key>
   <dict>
    <key>frame</key>
    <string>{{739,312},{70,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,127}}</string>
    <key>sourceSize</key>
    <string>{70,127}</string>
   </dict>
   <key>fengdongzuo-youshou02.png</key>
   <dict>
    <key>frame</key>
    <string>{{977,186},{43,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,44}}</string>
    <key>sourceSize</key>
    <string>{43,44}</string>
   </dict>
   <key>fengdongzuo-youshou03.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,464},{49,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,36}}</string>
    <key>sourceSize</key>
    <string>{49,36}</string>
   </dict>
   <key>fengdongzuo-youshou04.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,349},{64,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,44}}</string>
    <key>sourceSize</key>
    <string>{64,44}</string>
   </dict>
   <key>fengdongzuo-zuoyi.png</key>
   <dict>
    <key>frame</key>
    <string>{{509,453},{76,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,107}}</string>
    <key>sourceSize</key>
    <string>{76,107}</string>
   </dict>
   <key>fengdongzuo-chibang-11.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,0},{218,337}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{218,337}}</string>
    <key>sourceSize</key>
    <string>{218,337}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>jiadelu.png</string>
   <key>textureFileName</key>
   <string>jiadelu.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>