<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>jiahuo0-huo.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,108},{50,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,94}}</string>
    <key>sourceSize</key>
    <string>{50,94}</string>
   </dict>
   <key>jiahuo0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,257},{31,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,34}}</string>
    <key>sourceSize</key>
    <string>{31,34}</string>
   </dict>
   <key>jiahuo0-huoba.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,121},{37,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,105}}</string>
    <key>sourceSize</key>
    <string>{37,105}</string>
   </dict>
   <key>jiahuo0-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,147},{60,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,70}}</string>
    <key>sourceSize</key>
    <string>{60,70}</string>
   </dict>
   <key>jiahuo0-zuoliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,0},{55,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,106}}</string>
    <key>sourceSize</key>
    <string>{55,106}</string>
   </dict>
   <key>jiahuo0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,147},{79,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,62}}</string>
    <key>sourceSize</key>
    <string>{79,62}</string>
   </dict>
   <key>jiahuo0-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,211},{72,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,53}}</string>
    <key>sourceSize</key>
    <string>{72,53}</string>
   </dict>
   <key>jiahuo0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,167},{72,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,55}}</string>
    <key>sourceSize</key>
    <string>{72,55}</string>
   </dict>
   <key>jiahuo0-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,0},{75,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,84}}</string>
    <key>sourceSize</key>
    <string>{75,84}</string>
   </dict>
   <key>jiahuo0-yoouliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,121},{38,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,90}}</string>
    <key>sourceSize</key>
    <string>{38,90}</string>
   </dict>
   <key>jiahuo0-youer.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,224},{61,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,26}}</string>
    <key>sourceSize</key>
    <string>{61,26}</string>
   </dict>
   <key>jiahuo0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{170,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{170,145}}</string>
    <key>sourceSize</key>
    <string>{170,145}</string>
   </dict>
   <key>jiahuo0-zuoliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{483,0},{22,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,69}}</string>
    <key>sourceSize</key>
    <string>{22,69}</string>
   </dict>
   <key>jiahuo0-zuoer.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,252},{56,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,21}}</string>
    <key>sourceSize</key>
    <string>{56,21}</string>
   </dict>
   <key>jiahuo0-linghua.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,265},{36,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,27}}</string>
    <key>sourceSize</key>
    <string>{36,27}</string>
   </dict>
   <key>jiahuo0-youjianhui.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,266},{28,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,17}}</string>
    <key>sourceSize</key>
    <string>{28,17}</string>
   </dict>
   <key>jiahuo0-beidai.png</key>
   <dict>
    <key>frame</key>
    <string>{{483,119},{21,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,48}}</string>
    <key>sourceSize</key>
    <string>{21,48}</string>
   </dict>
   <key>jiahuo0-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,250},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>jiahuo0-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,228},{39,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,37}}</string>
    <key>sourceSize</key>
    <string>{39,37}</string>
   </dict>
   <key>jiahuo0-bozhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{367,266},{20,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,15}}</string>
    <key>sourceSize</key>
    <string>{20,15}</string>
   </dict>
   <key>jiahuo0-yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,261},{49,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,21}}</string>
    <key>sourceSize</key>
    <string>{49,21}</string>
   </dict>
   <key>jiahuo0-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{344,204},{48,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,60}}</string>
    <key>sourceSize</key>
    <string>{48,60}</string>
   </dict>
   <key>jiahuo0-zuojianhui.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,220},{24,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,14}}</string>
    <key>sourceSize</key>
    <string>{24,14}</string>
   </dict>
   <key>jiahuo0-youyibai.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,185},{52,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,74}}</string>
    <key>sourceSize</key>
    <string>{52,74}</string>
   </dict>
   <key>jiahuo0-youyibai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,219},{48,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,53}}</string>
    <key>sourceSize</key>
    <string>{48,53}</string>
   </dict>
   <key>jiahuo0-youjiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,185},{36,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,44}}</string>
    <key>sourceSize</key>
    <string>{36,44}</string>
   </dict>
   <key>jiahuo0-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{36,266},{32,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,29}}</string>
    <key>sourceSize</key>
    <string>{32,29}</string>
   </dict>
   <key>jiahuo0-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,236},{18,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,19}}</string>
    <key>sourceSize</key>
    <string>{18,19}</string>
   </dict>
   <key>jiahuo0-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,267},{20,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,12}}</string>
    <key>sourceSize</key>
    <string>{20,12}</string>
   </dict>
   <key>jiahuo0-kuabu.png</key>
   <dict>
    <key>frame</key>
    <string>{{457,239},{49,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,35}}</string>
    <key>sourceSize</key>
    <string>{49,35}</string>
   </dict>
   <key>jiahuo0-zuoyibai.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,169},{30,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,68}}</string>
    <key>sourceSize</key>
    <string>{30,68}</string>
   </dict>
   <key>jiahuo0-zuoyibai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,147},{25,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,43}}</string>
    <key>sourceSize</key>
    <string>{25,43}</string>
   </dict>
   <key>jiahuo0-zuojiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{483,71},{25,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,46}}</string>
    <key>sourceSize</key>
    <string>{25,46}</string>
   </dict>
   <key>jiahuo0-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,192},{24,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,26}}</string>
    <key>sourceSize</key>
    <string>{24,26}</string>
   </dict>
   <key>jiahuo0-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,219},{15,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,21}}</string>
    <key>sourceSize</key>
    <string>{15,21}</string>
   </dict>
   <key>jiahuo0-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{246,267},{22,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,10}}</string>
    <key>sourceSize</key>
    <string>{22,10}</string>
   </dict>
   <key>jiahuo0-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,276},{80,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,33}}</string>
    <key>sourceSize</key>
    <string>{80,33}</string>
   </dict>
   <key>jiahuo0-yibai.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,121},{91,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,62}}</string>
    <key>sourceSize</key>
    <string>{91,62}</string>
   </dict>
   <key>jiahuo0-paodan.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,86},{75,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,79}}</string>
    <key>sourceSize</key>
    <string>{75,79}</string>
   </dict>
   <key>jiahuo0-dapao.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,0},{175,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{175,119}}</string>
    <key>sourceSize</key>
    <string>{175,119}</string>
   </dict>
   <key>jiahuo0-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,231},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>jiahuo0-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{34,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,28}}</string>
    <key>sourceSize</key>
    <string>{34,28}</string>
   </dict>
   <key>jiahuo0-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,213},{38,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,35}}</string>
    <key>sourceSize</key>
    <string>{38,35}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>jiahuo2.png</string>
   <key>textureFileName</key>
   <string>jiahuo2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>