<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jialunpa0-zhuoerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,142},{43,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,83}}</string>
        <key>sourceSize</key>
        <string>{43,83}</string>
      </dict>
      <key>jialunpa0-qiantoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,138},{87,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,80}}</string>
        <key>sourceSize</key>
        <string>{87,80}</string>
      </dict>
      <key>jialunpa0-zhuobianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,146},{74,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>jialunpa0-youbianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{95,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,144}}</string>
        <key>sourceSize</key>
        <string>{95,144}</string>
      </dict>
      <key>jialunpa0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,227},{57,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>jialunpa0-dahaqie.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{58,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,48}}</string>
        <key>sourceSize</key>
        <string>{58,48}</string>
      </dict>
      <key>jialunpa0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,221},{60,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,49}}</string>
        <key>sourceSize</key>
        <string>{60,49}</string>
      </dict>
      <key>jialunpa0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,220},{63,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,50}}</string>
        <key>sourceSize</key>
        <string>{63,50}</string>
      </dict>
      <key>jialunpa0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{129,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,133}}</string>
        <key>sourceSize</key>
        <string>{129,133}</string>
      </dict>
      <key>jialunpa0-youbianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{89,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,136}}</string>
        <key>sourceSize</key>
        <string>{89,136}</string>
      </dict>
      <key>jialunpa0-youerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,146},{43,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,65}}</string>
        <key>sourceSize</key>
        <string>{43,65}</string>
      </dict>
      <key>jialunpa0-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,213},{27,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,22}}</string>
        <key>sourceSize</key>
        <string>{27,22}</string>
      </dict>
      <key>jialunpa0-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,146},{23,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,37}}</string>
        <key>sourceSize</key>
        <string>{23,37}</string>
      </dict>
      <key>jialunpa0-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,217},{24,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>jialunpa0-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,185},{28,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,30}}</string>
        <key>sourceSize</key>
        <string>{28,30}</string>
      </dict>
      <key>jialunpa0-youjiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,60},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>jialunpa0-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{87,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,51}}</string>
        <key>sourceSize</key>
        <string>{87,51}</string>
      </dict>
      <key>jialunpa0-youshoubi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,100},{21,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,44}}</string>
        <key>sourceSize</key>
        <string>{21,44}</string>
      </dict>
      <key>jialunpa0-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,135},{106,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{106,110}</string>
      </dict>
      <key>jialunpa0-weiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,0},{30,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,58}}</string>
        <key>sourceSize</key>
        <string>{30,58}</string>
      </dict>
      <key>jialunpa0-zhuochibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,169}}</string>
        <key>sourceSize</key>
        <string>{98,169}</string>
      </dict>
      <key>jialunpa0-youchibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{50,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,140}}</string>
        <key>sourceSize</key>
        <string>{50,140}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>jialunpa2.png</string>
      <key>textureFileName</key>
      <string>jialunpa2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>