<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>jiali2-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,167},{25,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,21}}</string>
    <key>sourceSize</key>
    <string>{25,21}</string>
   </dict>
   <key>jiali2-youxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,141},{27,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,26}}</string>
    <key>sourceSize</key>
    <string>{27,26}</string>
   </dict>
   <key>jiali2-youshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,190},{18,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,21}}</string>
    <key>sourceSize</key>
    <string>{18,21}</string>
   </dict>
   <key>jiali2-yuan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,250},{68,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,69}}</string>
    <key>sourceSize</key>
    <string>{68,69}</string>
   </dict>
   <key>jiali2-guangxiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{127,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,150}}</string>
    <key>sourceSize</key>
    <string>{127,150}</string>
   </dict>
   <key>jiali2-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{123,233},{91,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,69}}</string>
    <key>sourceSize</key>
    <string>{91,69}</string>
   </dict>
   <key>jiali2-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,304},{86,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,70}}</string>
    <key>sourceSize</key>
    <string>{86,70}</string>
   </dict>
   <key>jiali2-daijia.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,235},{82,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,78}}</string>
    <key>sourceSize</key>
    <string>{82,78}</string>
   </dict>
   <key>jiali2-chujiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,142},{90,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,89}}</string>
    <key>sourceSize</key>
    <string>{90,89}</string>
   </dict>
   <key>jiali2-liuhaiyou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,152},{76,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,96}}</string>
    <key>sourceSize</key>
    <string>{76,96}</string>
   </dict>
   <key>jiali2-youer.png</key>
   <dict>
    <key>frame</key>
    <string>{{293,191},{71,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,73}}</string>
    <key>sourceSize</key>
    <string>{71,73}</string>
   </dict>
   <key>jiali2-liuhaizuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,130},{81,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,103}}</string>
    <key>sourceSize</key>
    <string>{81,103}</string>
   </dict>
   <key>jiali2-fajixian.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,0},{127,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,118}}</string>
    <key>sourceSize</key>
    <string>{127,118}</string>
   </dict>
   <key>jiali2-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,0},{117,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,128}}</string>
    <key>sourceSize</key>
    <string>{117,128}</string>
   </dict>
   <key>jiali2-youbiantoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,0},{108,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,140}}</string>
    <key>sourceSize</key>
    <string>{108,140}</string>
   </dict>
   <key>jiali2-zuoer.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,247},{37,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,47}}</string>
    <key>sourceSize</key>
    <string>{37,47}</string>
   </dict>
   <key>jiali2-xiongjia.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,291},{36,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,17}}</string>
    <key>sourceSize</key>
    <string>{36,17}</string>
   </dict>
   <key>jiali2-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{293,266},{70,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,43}}</string>
    <key>sourceSize</key>
    <string>{70,43}</string>
   </dict>
   <key>jiali2-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,130},{27,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,35}}</string>
    <key>sourceSize</key>
    <string>{27,35}</string>
   </dict>
   <key>jiali2-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,62},{20,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,27}}</string>
    <key>sourceSize</key>
    <string>{20,27}</string>
   </dict>
   <key>jiali2-zuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,0},{23,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,33}}</string>
    <key>sourceSize</key>
    <string>{23,33}</string>
   </dict>
   <key>jiali2-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,142},{14,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,18}}</string>
    <key>sourceSize</key>
    <string>{14,18}</string>
   </dict>
   <key>jiali2-zuoxiaotui_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,115},{17,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,24}}</string>
    <key>sourceSize</key>
    <string>{17,24}</string>
   </dict>
   <key>jiali2-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,162},{16,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,15}}</string>
    <key>sourceSize</key>
    <string>{16,15}</string>
   </dict>
   <key>jiali2-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,227},{43,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,66}}</string>
    <key>sourceSize</key>
    <string>{43,66}</string>
   </dict>
   <key>jiali2-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,169},{26,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,19}}</string>
    <key>sourceSize</key>
    <string>{26,19}</string>
   </dict>
   <key>jiali2-youbianbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,191},{70,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,98}}</string>
    <key>sourceSize</key>
    <string>{70,98}</string>
   </dict>
   <key>jiali2-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,35},{23,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,25}}</string>
    <key>sourceSize</key>
    <string>{23,25}</string>
   </dict>
   <key>jiali2-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,91},{22,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,22}}</string>
    <key>sourceSize</key>
    <string>{22,22}</string>
   </dict>
   <key>jiali2-zuobiantoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,190},{35,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,55}}</string>
    <key>sourceSize</key>
    <string>{35,55}</string>
   </dict>
   <key>jiali2-zuobianbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,152},{45,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,73}}</string>
    <key>sourceSize</key>
    <string>{45,73}</string>
   </dict>
   <key>jiali2-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,120},{127,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{127,69}}</string>
    <key>sourceSize</key>
    <string>{127,69}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>jiali2.png</string>
   <key>textureFileName</key>
   <string>jiali2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>