<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>jierui1-nailao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,0},{157,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{157,128}}</string>
    <key>sourceSize</key>
    <string>{157,128}</string>
   </dict>
   <key>jierui1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,281},{73,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,64}}</string>
    <key>sourceSize</key>
    <string>{73,64}</string>
   </dict>
   <key>jierui1-zhuobianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,223},{69,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,125}}</string>
    <key>sourceSize</key>
    <string>{69,125}</string>
   </dict>
   <key>jierui1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,266},{74,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,77}}</string>
    <key>sourceSize</key>
    <string>{74,77}</string>
   </dict>
   <key>jierui1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,281},{74,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,63}}</string>
    <key>sourceSize</key>
    <string>{74,63}</string>
   </dict>
   <key>jierui1-youerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,113},{117,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,116}}</string>
    <key>sourceSize</key>
    <string>{117,116}</string>
   </dict>
   <key>jierui1-zhuoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,180},{62,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,88}}</string>
    <key>sourceSize</key>
    <string>{62,88}</string>
   </dict>
   <key>jierui1-hudiejiezhuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,113},{13,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,27}}</string>
    <key>sourceSize</key>
    <string>{13,27}</string>
   </dict>
   <key>jierui1-hudiejieyou.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,142},{12,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,23}}</string>
    <key>sourceSize</key>
    <string>{12,23}</string>
   </dict>
   <key>jierui1-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{165,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{165,178}}</string>
    <key>sourceSize</key>
    <string>{165,178}</string>
   </dict>
   <key>jierui1-lingzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,330},{76,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,50}}</string>
    <key>sourceSize</key>
    <string>{76,50}</string>
   </dict>
   <key>jierui1-zhuoshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,235},{28,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,29}}</string>
    <key>sourceSize</key>
    <string>{28,29}</string>
   </dict>
   <key>jierui1-zhuogebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,195},{25,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,46}}</string>
    <key>sourceSize</key>
    <string>{25,46}</string>
   </dict>
   <key>jierui1-zhuojianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{279,190},{29,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,45}}</string>
    <key>sourceSize</key>
    <string>{29,45}</string>
   </dict>
   <key>jierui1-zhuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,195},{33,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,38}}</string>
    <key>sourceSize</key>
    <string>{33,38}</string>
   </dict>
   <key>jierui1-zhuodatui .png</key>
   <dict>
    <key>frame</key>
    <string>{{279,130},{39,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,58}}</string>
    <key>sourceSize</key>
    <string>{39,58}</string>
   </dict>
   <key>jierui1-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,231},{83,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,97}}</string>
    <key>sourceSize</key>
    <string>{83,97}</string>
   </dict>
   <key>jierui1-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,223},{28,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,36}}</string>
    <key>sourceSize</key>
    <string>{28,36}</string>
   </dict>
   <key>jierui1-youjiaozhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,231},{23,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,21}}</string>
    <key>sourceSize</key>
    <string>{23,21}</string>
   </dict>
   <key>jierui1-youshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,237},{21,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,22}}</string>
    <key>sourceSize</key>
    <string>{21,22}</string>
   </dict>
   <key>jierui1-youjiangbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,237},{16,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,20}}</string>
    <key>sourceSize</key>
    <string>{16,20}</string>
   </dict>
   <key>jierui1-yougebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{395,231},{20,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,38}}</string>
    <key>sourceSize</key>
    <string>{20,38}</string>
   </dict>
   <key>jierui1-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,0},{132,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,111}}</string>
    <key>sourceSize</key>
    <string>{132,111}</string>
   </dict>
   <key>jierui1-nailao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,130},{110,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,91}}</string>
    <key>sourceSize</key>
    <string>{110,91}</string>
   </dict>
   <key>jierui1-weiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,122},{37,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,71}}</string>
    <key>sourceSize</key>
    <string>{37,71}</string>
   </dict>
   <key>jierui1-youtaofa.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,0},{48,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,120}}</string>
    <key>sourceSize</key>
    <string>{48,120}</string>
   </dict>
   <key>jierui1-youerduo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,180},{101,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,99}}</string>
    <key>sourceSize</key>
    <string>{101,99}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>jierui2.png</string>
   <key>textureFileName</key>
   <string>jierui2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>