<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>niuziyuan-youniujiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1574,227},{138,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,189}}</string>
    <key>sourceSize</key>
    <string>{138,189}</string>
   </dict>
   <key>niuziyuan-youniujiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1574,0},{178,225}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{178,225}}</string>
    <key>sourceSize</key>
    <string>{178,225}</string>
   </dict>
   <key>niuziyuan-zuoniujiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1253,434},{106,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,138}}</string>
    <key>sourceSize</key>
    <string>{106,138}</string>
   </dict>
   <key>niuziyuan-zuoniujiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1388,232},{141,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,173}}</string>
    <key>sourceSize</key>
    <string>{141,173}</string>
   </dict>
   <key>niuziyuan-youniuer1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1781,563},{51,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,42}}</string>
    <key>sourceSize</key>
    <string>{51,42}</string>
   </dict>
   <key>niuziyuan-maofa.png</key>
   <dict>
    <key>frame</key>
    <string>{{1714,331},{192,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,107}}</string>
    <key>sourceSize</key>
    <string>{192,107}</string>
   </dict>
   <key>niuziyuan-biaozhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{792,561},{53,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,47}}</string>
    <key>sourceSize</key>
    <string>{53,47}</string>
   </dict>
   <key>niuziyuan-bihuan.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,480},{110,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,77}}</string>
    <key>sourceSize</key>
    <string>{110,77}</string>
   </dict>
   <key>niuziyuan-niutou.png</key>
   <dict>
    <key>frame</key>
    <string>{{1388,0},{184,230}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,230}}</string>
    <key>sourceSize</key>
    <string>{184,230}</string>
   </dict>
   <key>niuziyuan-maofa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,0},{289,293}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{289,293}}</string>
    <key>sourceSize</key>
    <string>{289,293}</string>
   </dict>
   <key>niuziyuan-niuer2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1714,227},{35,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,36}}</string>
    <key>sourceSize</key>
    <string>{35,36}</string>
   </dict>
   <key>niuziyuan-niuxiaotui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1457,553},{94,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,74}}</string>
    <key>sourceSize</key>
    <string>{94,74}</string>
   </dict>
   <key>niuziyuan-niuxiaotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1871,464},{88,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,95}}</string>
    <key>sourceSize</key>
    <string>{88,95}</string>
   </dict>
   <key>niuziyuan-niudatui2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1781,440},{88,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,121}}</string>
    <key>sourceSize</key>
    <string>{88,121}</string>
   </dict>
   <key>niuziyuan-niuxiaotui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1971,456},{72,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,83}}</string>
    <key>sourceSize</key>
    <string>{72,83}</string>
   </dict>
   <key>niuziyuan-niudatui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1685,440},{94,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,132}}</string>
    <key>sourceSize</key>
    <string>{94,132}</string>
   </dict>
   <key>niuziyuan-niushangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{1163,0},{223,247}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{223,247}}</string>
    <key>sourceSize</key>
    <string>{223,247}</string>
   </dict>
   <key>niuziyuan-niuxiashen.png</key>
   <dict>
    <key>frame</key>
    <string>{{1367,407},{153,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,144}}</string>
    <key>sourceSize</key>
    <string>{153,144}</string>
   </dict>
   <key>niuziyuan-niuweiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,561},{60,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,41}}</string>
    <key>sourceSize</key>
    <string>{60,41}</string>
   </dict>
   <key>niuziyuan-niuweiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{2006,123},{39,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,38}}</string>
    <key>sourceSize</key>
    <string>{39,38}</string>
   </dict>
   <key>niuziyuan-niuweiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1958,241},{29,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,39}}</string>
    <key>sourceSize</key>
    <string>{29,39}</string>
   </dict>
   <key>niuziyuan-niuweiba4.png</key>
   <dict>
    <key>frame</key>
    <string>{{488,561},{61,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,52}}</string>
    <key>sourceSize</key>
    <string>{61,52}</string>
   </dict>
   <key>niuziyuan-niudatui4.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,561},{58,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,60}}</string>
    <key>sourceSize</key>
    <string>{58,60}</string>
   </dict>
   <key>niuziyuan-niudatui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1076,449},{74,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,81}}</string>
    <key>sourceSize</key>
    <string>{74,81}</string>
   </dict>
   <key>jinniuzuoziyuan-mofu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,0},{434,559}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{434,559}}</string>
    <key>sourceSize</key>
    <string>{434,559}</string>
   </dict>
   <key>jinniuzuoziyuan-mh2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{434,559}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{434,559}}</string>
    <key>sourceSize</key>
    <string>{434,559}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1069,532},{66,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,86}}</string>
    <key>sourceSize</key>
    <string>{66,86}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1961,541},{68,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,80}}</string>
    <key>sourceSize</key>
    <string>{68,80}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{2006,0},{32,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,79}}</string>
    <key>sourceSize</key>
    <string>{32,79}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1989,264},{56,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,87}}</string>
    <key>sourceSize</key>
    <string>{56,87}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1971,353},{58,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,101}}</string>
    <key>sourceSize</key>
    <string>{58,101}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1253,574},{61,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,28}}</string>
    <key>sourceSize</key>
    <string>{61,28}</string>
   </dict>
   <key>jinniuzuoziyuan-toufa7.png</key>
   <dict>
    <key>frame</key>
    <string>{{611,561},{63,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,42}}</string>
    <key>sourceSize</key>
    <string>{63,42}</string>
   </dict>
   <key>jinniuzuoziyuan-jiao_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1076,295},{79,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,152}}</string>
    <key>sourceSize</key>
    <string>{79,152}</string>
   </dict>
   <key>jinniuzuoziyuan-jiao_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1908,331},{61,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,131}}</string>
    <key>sourceSize</key>
    <string>{61,131}</string>
   </dict>
   <key>jinniuzuoziyuan-jiao_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1572,418},{111,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,177}}</string>
    <key>sourceSize</key>
    <string>{111,177}</string>
   </dict>
   <key>niuziyuan-niuxiaotui1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1361,553},{94,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,88}}</string>
    <key>sourceSize</key>
    <string>{94,88}</string>
   </dict>
   <key>jinniuzuoziyuan-jiao_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1157,434},{94,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,158}}</string>
    <key>sourceSize</key>
    <string>{94,158}</string>
   </dict>
   <key>jinniuzuoziyuan-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{1522,407},{48,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,41}}</string>
    <key>sourceSize</key>
    <string>{48,41}</string>
   </dict>
   <key>jinniuzuoziyuan-biaoqing1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,561},{94,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,68}}</string>
    <key>sourceSize</key>
    <string>{94,68}</string>
   </dict>
   <key>jinniuzuoziyuan-biaoqing1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,561},{95,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,65}}</string>
    <key>sourceSize</key>
    <string>{95,65}</string>
   </dict>
   <key>jinniuzuoziyuan-biaoqing1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,559},{95,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,67}}</string>
    <key>sourceSize</key>
    <string>{95,67}</string>
   </dict>
   <key>jinniuzuoziyuan-biaoqing1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1754,146},{202,183}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{202,183}}</string>
    <key>sourceSize</key>
    <string>{202,183}</string>
   </dict>
   <key>jinniuzuoziyuan-biaoqing1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,295},{202,183}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{202,183}}</string>
    <key>sourceSize</key>
    <string>{202,183}</string>
   </dict>
   <key>jinniuzuoziyuan-biaoqing1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1163,249},{202,183}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{202,183}}</string>
    <key>sourceSize</key>
    <string>{202,183}</string>
   </dict>
   <key>jinniuzuoziyuan-zuoshou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1531,266},{32,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,24}}</string>
    <key>sourceSize</key>
    <string>{32,24}</string>
   </dict>
   <key>jinniuzuoziyuan-jian1.png</key>
   <dict>
    <key>frame</key>
    <string>{{969,568},{54,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,38}}</string>
    <key>sourceSize</key>
    <string>{54,38}</string>
   </dict>
   <key>jinniuzuoziyuan-jing.png</key>
   <dict>
    <key>frame</key>
    <string>{{1714,297},{30,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,20}}</string>
    <key>sourceSize</key>
    <string>{30,20}</string>
   </dict>
   <key>jinniuzuoziyuan-youxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{676,561},{52,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,50}}</string>
    <key>sourceSize</key>
    <string>{52,50}</string>
   </dict>
   <key>jinniuzuoziyuan-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{1958,204},{38,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,35}}</string>
    <key>sourceSize</key>
    <string>{38,35}</string>
   </dict>
   <key>jinniuzuoziyuan-youshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{2001,163},{44,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,48}}</string>
    <key>sourceSize</key>
    <string>{44,48}</string>
   </dict>
   <key>jinniuzuoziyuan-jian2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1685,574},{50,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,38}}</string>
    <key>sourceSize</key>
    <string>{50,38}</string>
   </dict>
   <key>jinniuzuoziyuan-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{193,561},{89,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,71}}</string>
    <key>sourceSize</key>
    <string>{89,71}</string>
   </dict>
   <key>jinniuzuoziyuan-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{2006,81},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,40}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>jinniuzuoziyuan-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1714,265},{36,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,30}}</string>
    <key>sourceSize</key>
    <string>{36,30}</string>
   </dict>
   <key>jinniuzuoziyuan-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1958,146},{41,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,56}}</string>
    <key>sourceSize</key>
    <string>{41,56}</string>
   </dict>
   <key>jinniuzuoziyuan-yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,561},{86,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,39}}</string>
    <key>sourceSize</key>
    <string>{86,39}</string>
   </dict>
   <key>jinniuzuoziyuan-yaobu.png</key>
   <dict>
    <key>frame</key>
    <string>{{984,480},{83,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,86}}</string>
    <key>sourceSize</key>
    <string>{83,86}</string>
   </dict>
   <key>jinniuzuoziyuan-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{551,561},{58,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,49}}</string>
    <key>sourceSize</key>
    <string>{58,49}</string>
   </dict>
   <key>jinniuzuoziyuan-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1531,232},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>jinniuzuoziyuan-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,561},{54,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,70}}</string>
    <key>sourceSize</key>
    <string>{54,70}</string>
   </dict>
   <key>jinniuzuoziyuan-zuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1871,561},{57,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,42}}</string>
    <key>sourceSize</key>
    <string>{57,42}</string>
   </dict>
   <key>jinniuzuoziyuan-zuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1998,213},{47,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,49}}</string>
    <key>sourceSize</key>
    <string>{47,49}</string>
   </dict>
   <key>jinniuzuoziyuan-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1522,450},{48,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,34}}</string>
    <key>sourceSize</key>
    <string>{48,34}</string>
   </dict>
   <key>jinniuzuoziyuan-weiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1531,292},{31,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,20}}</string>
    <key>sourceSize</key>
    <string>{31,20}</string>
   </dict>
   <key>jinniuzuoziyuan-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1367,249},{19,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,28}}</string>
    <key>sourceSize</key>
    <string>{19,28}</string>
   </dict>
   <key>jinniuzuoziyuan-weiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1958,282},{23,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,19}}</string>
    <key>sourceSize</key>
    <string>{23,19}</string>
   </dict>
   <key>jinniuzuoziyuan-weiba4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1522,486},{45,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,34}}</string>
    <key>sourceSize</key>
    <string>{45,34}</string>
   </dict>
   <key>jinniuzuoziyuan-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1754,0},{250,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,144}}</string>
    <key>sourceSize</key>
    <string>{250,144}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>jinniuzuo.png</string>
   <key>textureFileName</key>
   <string>jinniuzuo.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>