<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jiuyuanziyuan-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{79,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,228}}</string>
        <key>sourceSize</key>
        <string>{79,228}</string>
      </dict>
      <key>jiuyuanziyuan-xiuz.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,235},{52,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,65}}</string>
        <key>sourceSize</key>
        <string>{52,65}</string>
      </dict>
      <key>jiuyuanziyuan-liuhai .png</key>
      <dict>
        <key>frame</key>
        <string>{{926,0},{61,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,218}}</string>
        <key>sourceSize</key>
        <string>{61,218}</string>
      </dict>
      <key>jiuyuanziyuan-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{82,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,71}}</string>
        <key>sourceSize</key>
        <string>{82,71}</string>
      </dict>
      <key>jiuyuanziyuan-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,220},{98,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>jiuyuanziyuan-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,196},{97,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,75}}</string>
        <key>sourceSize</key>
        <string>{97,75}</string>
      </dict>
      <key>jiuyuanziyuan-piaod.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,113},{96,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,145}}</string>
        <key>sourceSize</key>
        <string>{96,145}</string>
      </dict>
      <key>jiuyuanziyuan-piaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,165},{85,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,150}}</string>
        <key>sourceSize</key>
        <string>{85,150}</string>
      </dict>
      <key>jiuyuanziyuan-shitou.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,0},{194,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,111}}</string>
        <key>sourceSize</key>
        <string>{194,111}</string>
      </dict>
      <key>jiuyuanziyuan-liuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,0},{95,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,194}}</string>
        <key>sourceSize</key>
        <string>{95,194}</string>
      </dict>
      <key>jiuyuanziyuan-liuhai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,113},{71,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,186}}</string>
        <key>sourceSize</key>
        <string>{71,186}</string>
      </dict>
      <key>jiuyuanziyuan-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,273},{39,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,40}}</string>
        <key>sourceSize</key>
        <string>{39,40}</string>
      </dict>
      <key>jiuyuanziyuan-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{208,233}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,233}}</string>
        <key>sourceSize</key>
        <string>{208,233}</string>
      </dict>
      <key>jiuyuanziyuan-naodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{147,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,163}}</string>
        <key>sourceSize</key>
        <string>{147,163}</string>
      </dict>
      <key>jiuyuanziyuan-kuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,230},{67,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,74}}</string>
        <key>sourceSize</key>
        <string>{67,74}</string>
      </dict>
      <key>jiuyuanziyuan-pigu.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,273},{45,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,33}}</string>
        <key>sourceSize</key>
        <string>{45,33}</string>
      </dict>
      <key>jiuyuanziyuan-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,0},{22,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,19}}</string>
        <key>sourceSize</key>
        <string>{22,19}</string>
      </dict>
      <key>jiuyuanziyuan-kuzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,235},{54,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,79}}</string>
        <key>sourceSize</key>
        <string>{54,79}</string>
      </dict>
      <key>jiuyuanziyuan-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,260},{41,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,47}}</string>
        <key>sourceSize</key>
        <string>{41,47}</string>
      </dict>
      <key>jiuyuanziyuan-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,21},{14,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,24}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>jiuyuanziyuan-xiuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,260},{42,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,63}}</string>
        <key>sourceSize</key>
        <string>{42,63}</string>
      </dict>
      <key>jiuyuanziyuan-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{191,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,200}}</string>
        <key>sourceSize</key>
        <string>{191,200}</string>
      </dict>
      <key>jiuyuanziyuan-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,47},{20,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>jiuyuanziyuan-weib.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,202},{162,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,81}}</string>
        <key>sourceSize</key>
        <string>{162,81}</string>
      </dict>
      <key>jiuyuanziyuan-piaodai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,165},{60,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,171}}</string>
        <key>sourceSize</key>
        <string>{60,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>jiuyuan.png</string>
      <key>textureFileName</key>
      <string>jiuyuan.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>