<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>kamei0-zhuang10.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,181},{449,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{449,179}}</string>
    <key>sourceSize</key>
    <string>{449,179}</string>
   </dict>
   <key>kamei0-zhuang9.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,0},{449,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{449,179}}</string>
    <key>sourceSize</key>
    <string>{449,179}</string>
   </dict>
   <key>kamei0-zhuang8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,181},{449,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{449,179}}</string>
    <key>sourceSize</key>
    <string>{449,179}</string>
   </dict>
   <key>kamei0-zhuang7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{449,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{449,179}}</string>
    <key>sourceSize</key>
    <string>{449,179}</string>
   </dict>
   <key>kamei0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{902,46},{63,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,69}}</string>
    <key>sourceSize</key>
    <string>{63,69}</string>
   </dict>
   <key>kamei0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,362},{155,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,146}}</string>
    <key>sourceSize</key>
    <string>{155,146}</string>
   </dict>
   <key>kamei0-zhuang6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,362},{155,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,153}}</string>
    <key>sourceSize</key>
    <string>{155,153}</string>
   </dict>
   <key>kamei0-putong.png</key>
   <dict>
    <key>frame</key>
    <string>{{314,362},{155,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,142}}</string>
    <key>sourceSize</key>
    <string>{155,142}</string>
   </dict>
   <key>kamei0-youtui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{967,99},{53,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,52}}</string>
    <key>sourceSize</key>
    <string>{53,52}</string>
   </dict>
   <key>kamei0-youtui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{964,153},{54,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,33}}</string>
    <key>sourceSize</key>
    <string>{54,33}</string>
   </dict>
   <key>kamei0-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,362},{149,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,142}}</string>
    <key>sourceSize</key>
    <string>{149,142}</string>
   </dict>
   <key>kamei0-weiba4.png</key>
   <dict>
    <key>frame</key>
    <string>{{902,0},{90,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,44}}</string>
    <key>sourceSize</key>
    <string>{90,44}</string>
   </dict>
   <key>kamei0-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{902,173},{59,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,24}}</string>
    <key>sourceSize</key>
    <string>{59,24}</string>
   </dict>
   <key>kamei0-zuotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{967,46},{55,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,51}}</string>
    <key>sourceSize</key>
    <string>{55,51}</string>
   </dict>
   <key>kamei0-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{902,117},{60,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,54}}</string>
    <key>sourceSize</key>
    <string>{60,54}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>kamei2.png</string>
   <key>textureFileName</key>
   <string>kamei2.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>