<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>kamiao0-shoubi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,198},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>kamiao0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,144},{28,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,25}}</string>
    <key>sourceSize</key>
    <string>{28,25}</string>
   </dict>
   <key>kamiao0-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,52},{25,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,35}}</string>
    <key>sourceSize</key>
    <string>{25,35}</string>
   </dict>
   <key>kamiao0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,259},{78,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,57}}</string>
    <key>sourceSize</key>
    <string>{78,57}</string>
   </dict>
   <key>kamiao0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,232},{87,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,58}}</string>
    <key>sourceSize</key>
    <string>{87,58}</string>
   </dict>
   <key>kamiao0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,198},{87,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,62}}</string>
    <key>sourceSize</key>
    <string>{87,62}</string>
   </dict>
   <key>kamiao0-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,154},{55,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,82}}</string>
    <key>sourceSize</key>
    <string>{55,82}</string>
   </dict>
   <key>kamiao0-zuoliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,166},{69,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,91}}</string>
    <key>sourceSize</key>
    <string>{69,91}</string>
   </dict>
   <key>kamiao0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{203,0},{160,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,152}}</string>
    <key>sourceSize</key>
    <string>{160,152}</string>
   </dict>
   <key>kamiao0-qunbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{203,154},{95,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,76}}</string>
    <key>sourceSize</key>
    <string>{95,76}</string>
   </dict>
   <key>kamiao0-qun.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,269},{61,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,38}}</string>
    <key>sourceSize</key>
    <string>{61,38}</string>
   </dict>
   <key>kamiao0-qunbai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,262},{56,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,54}}</string>
    <key>sourceSize</key>
    <string>{56,54}</string>
   </dict>
   <key>kamiao0-xionbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,201},{40,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,23}}</string>
    <key>sourceSize</key>
    <string>{40,23}</string>
   </dict>
   <key>kamiao0-youjiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,166},{32,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,49}}</string>
    <key>sourceSize</key>
    <string>{32,49}</string>
   </dict>
   <key>kamiao0-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,217},{21,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,27}}</string>
    <key>sourceSize</key>
    <string>{21,27}</string>
   </dict>
   <key>kamiao0-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,248},{23,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,23}}</string>
    <key>sourceSize</key>
    <string>{23,23}</string>
   </dict>
   <key>kamiao0-zuojiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,0},{26,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,50}}</string>
    <key>sourceSize</key>
    <string>{26,50}</string>
   </dict>
   <key>kamiao0-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,171},{21,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,28}}</string>
    <key>sourceSize</key>
    <string>{21,28}</string>
   </dict>
   <key>kamiao0-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,224},{25,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,22}}</string>
    <key>sourceSize</key>
    <string>{25,22}</string>
   </dict>
   <key>kamiao0-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,226},{57,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,66}}</string>
    <key>sourceSize</key>
    <string>{57,66}</string>
   </dict>
   <key>kamiao0-houbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,198},{80,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,69}}</string>
    <key>sourceSize</key>
    <string>{80,69}</string>
   </dict>
   <key>kamiao0-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,166},{9,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,12}}</string>
    <key>sourceSize</key>
    <string>{9,12}</string>
   </dict>
   <key>kamiao0-pingzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,238},{64,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,63}}</string>
    <key>sourceSize</key>
    <string>{64,63}</string>
   </dict>
   <key>kamiao0-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,118},{29,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,24}}</string>
    <key>sourceSize</key>
    <string>{29,24}</string>
   </dict>
   <key>kamiao0-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{479,89},{30,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,27}}</string>
    <key>sourceSize</key>
    <string>{30,27}</string>
   </dict>
   <key>kamiao0-houfa.png</key>
   <dict>
    <key>frame</key>
    <string>{{365,0},{112,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,164}}</string>
    <key>sourceSize</key>
    <string>{112,164}</string>
   </dict>
   <key>kamiao0-houfa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{201,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{201,196}}</string>
    <key>sourceSize</key>
    <string>{201,196}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>kamiao2.png</string>
   <key>textureFileName</key>
   <string>kamiao2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>