<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kapa1-yanjing.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{90,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,51}}</string>
        <key>sourceSize</key>
        <string>{90,51}</string>
      </dict>
      <key>kapa1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{72,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>kapa1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,83},{71,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,53}}</string>
        <key>sourceSize</key>
        <string>{71,53}</string>
      </dict>
      <key>kapa1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,53},{76,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,61}}</string>
        <key>sourceSize</key>
        <string>{76,61}</string>
      </dict>
      <key>kapa1-lihai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,70},{72,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>kapa1-liuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,111},{28,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,53}}</string>
        <key>sourceSize</key>
        <string>{28,53}</string>
      </dict>
      <key>kapa1-liuhai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{39,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,95}}</string>
        <key>sourceSize</key>
        <string>{39,95}</string>
      </dict>
      <key>kapa1-liuhai4.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{56,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,104}}</string>
        <key>sourceSize</key>
        <string>{56,104}</string>
      </dict>
      <key>kapa1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>kapa1-liuhai5.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{50,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,107}}</string>
        <key>sourceSize</key>
        <string>{50,107}</string>
      </dict>
      <key>kapa1-yezi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,97},{47,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,75}}</string>
        <key>sourceSize</key>
        <string>{47,75}</string>
      </dict>
      <key>kapa1-yezi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,106},{53,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,60}}</string>
        <key>sourceSize</key>
        <string>{53,60}</string>
      </dict>
      <key>kapa1-yezi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,131},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>kapa1-yezi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,109},{50,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{50,58}</string>
      </dict>
      <key>kapa1-yezi5.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,116},{43,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,35}}</string>
        <key>sourceSize</key>
        <string>{43,35}</string>
      </dict>
      <key>kapa1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,149},{17,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,18}}</string>
        <key>sourceSize</key>
        <string>{17,18}</string>
      </dict>
      <key>kapa1-youqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,138},{20,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,23}}</string>
        <key>sourceSize</key>
        <string>{20,23}</string>
      </dict>
      <key>kapa1-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,131},{20,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,27}}</string>
        <key>sourceSize</key>
        <string>{20,27}</string>
      </dict>
      <key>kapa1-yifu.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,146},{20,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>kapa1-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{42,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,58}}</string>
        <key>sourceSize</key>
        <string>{42,58}</string>
      </dict>
      <key>kapa1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,153},{15,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,20}}</string>
        <key>sourceSize</key>
        <string>{15,20}</string>
      </dict>
      <key>kapa1-zzuoqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,138},{21,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,24}}</string>
        <key>sourceSize</key>
        <string>{21,24}</string>
      </dict>
      <key>kapa1-zuoshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,138},{18,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,22}}</string>
        <key>sourceSize</key>
        <string>{18,22}</string>
      </dict>
      <key>kapa1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,163},{22,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,11}}</string>
        <key>sourceSize</key>
        <string>{22,11}</string>
      </dict>
      <key>kapa1-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,131},{16,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,34}}</string>
        <key>sourceSize</key>
        <string>{16,34}</string>
      </dict>
      <key>kapa1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,111},{22,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,33}}</string>
        <key>sourceSize</key>
        <string>{22,33}</string>
      </dict>
      <key>kapa1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,160},{23,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,10}}</string>
        <key>sourceSize</key>
        <string>{23,10}</string>
      </dict>
      <key>kapa1-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,116},{23,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,31}}</string>
        <key>sourceSize</key>
        <string>{23,31}</string>
      </dict>
      <key>kapa1-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,153},{17,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,18}}</string>
        <key>sourceSize</key>
        <string>{17,18}</string>
      </dict>
      <key>kapa1-guike.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{74,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,81}}</string>
        <key>sourceSize</key>
        <string>{74,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>kapa2.png</string>
      <key>textureFileName</key>
      <string>kapa2.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>