<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kelisidiziyuan-zhusi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{269,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,429}}</string>
        <key>sourceSize</key>
        <string>{269,429}</string>
      </dict>
      <key>kelisidiziyuan-zhusi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,121},{134,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,216}}</string>
        <key>sourceSize</key>
        <string>{134,216}</string>
      </dict>
      <key>kelisidiziyuan-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,305},{40,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,44}}</string>
        <key>sourceSize</key>
        <string>{40,44}</string>
      </dict>
      <key>kelisidiziyuan-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,476},{65,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,48}}</string>
        <key>sourceSize</key>
        <string>{65,48}</string>
      </dict>
      <key>kelisidiziyuan-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,339},{114,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,62}}</string>
        <key>sourceSize</key>
        <string>{114,62}</string>
      </dict>
      <key>kelisidiziyuan-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,431},{105,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,70}}</string>
        <key>sourceSize</key>
        <string>{105,70}</string>
      </dict>
      <key>kelisidiziyuan-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,403},{105,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,71}}</string>
        <key>sourceSize</key>
        <string>{105,71}</string>
      </dict>
      <key>kelisidiziyuan-zuoerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,355},{64,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,61}}</string>
        <key>sourceSize</key>
        <string>{64,61}</string>
      </dict>
      <key>kelisidiziyuan-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,431},{144,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,132}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>kelisidiziyuan-youerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,217},{43,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,86}}</string>
        <key>sourceSize</key>
        <string>{43,86}</string>
      </dict>
      <key>kelisidiziyuan-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,429},{42,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,39}}</string>
        <key>sourceSize</key>
        <string>{42,39}</string>
      </dict>
      <key>kelisidiziyuan-zuoxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,217},{51,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{51,53}</string>
      </dict>
      <key>kelisidiziyuan-zuoshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,388},{43,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,39}}</string>
        <key>sourceSize</key>
        <string>{43,39}</string>
      </dict>
      <key>kelisidiziyuan-zuotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,512},{33,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,24}}</string>
        <key>sourceSize</key>
        <string>{33,24}</string>
      </dict>
      <key>kelisidiziyuan-kuabu.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,468},{83,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,42}}</string>
        <key>sourceSize</key>
        <string>{83,42}</string>
      </dict>
      <key>kelisidiziyuan-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,121},{97,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,94}}</string>
        <key>sourceSize</key>
        <string>{97,94}</string>
      </dict>
      <key>kelisidiziyuan-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,272},{56,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,41}}</string>
        <key>sourceSize</key>
        <string>{56,41}</string>
      </dict>
      <key>kelisidiziyuan-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,315},{47,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,38}}</string>
        <key>sourceSize</key>
        <string>{47,38}</string>
      </dict>
      <key>kelisidiziyuan-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,351},{47,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,35}}</string>
        <key>sourceSize</key>
        <string>{47,35}</string>
      </dict>
      <key>kelisidiziyuan-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,470},{41,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,40}}</string>
        <key>sourceSize</key>
        <string>{41,40}</string>
      </dict>
      <key>kelisidiziyuan-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,512},{35,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,21}}</string>
        <key>sourceSize</key>
        <string>{35,21}</string>
      </dict>
      <key>kelisidiziyuan-kuabuyinying.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,503},{81,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,30}}</string>
        <key>sourceSize</key>
        <string>{81,30}</string>
      </dict>
      <key>kelisidiziyuan-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,418},{68,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,48}}</string>
        <key>sourceSize</key>
        <string>{68,48}</string>
      </dict>
      <key>kelisidiziyuan-youxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,512},{37,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,28}}</string>
        <key>sourceSize</key>
        <string>{37,28}</string>
      </dict>
      <key>kelisidiziyuan-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,476},{32,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,43}}</string>
        <key>sourceSize</key>
        <string>{32,43}</string>
      </dict>
      <key>kelisidiziyuan-pifeng.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{231,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,119}}</string>
        <key>sourceSize</key>
        <string>{231,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>kelisidi2.png</string>
      <key>textureFileName</key>
      <string>kelisidi2.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>