<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kuji0-youqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{101,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,66}}</string>
        <key>sourceSize</key>
        <string>{101,66}</string>
      </dict>
      <key>kuji0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,403},{109,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,117}}</string>
        <key>sourceSize</key>
        <string>{109,117}</string>
      </dict>
      <key>kuji0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,324},{94,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,109}}</string>
        <key>sourceSize</key>
        <string>{94,109}</string>
      </dict>
      <key>kuji0-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,464},{97,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,114}}</string>
        <key>sourceSize</key>
        <string>{97,114}</string>
      </dict>
      <key>kuji0-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,207},{137,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,115}}</string>
        <key>sourceSize</key>
        <string>{137,115}</string>
      </dict>
      <key>kuji0-hudiejie.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,525},{130,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,92}}</string>
        <key>sourceSize</key>
        <string>{130,92}</string>
      </dict>
      <key>kuji0-daizi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{119,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,205}}</string>
        <key>sourceSize</key>
        <string>{119,205}</string>
      </dict>
      <key>kuji0-daizi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,324},{92,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,138}}</string>
        <key>sourceSize</key>
        <string>{92,138}</string>
      </dict>
      <key>kuji0-daizi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,354},{67,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>kuji0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,211}}</string>
        <key>sourceSize</key>
        <string>{179,211}</string>
      </dict>
      <key>kuji0-zuoqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,517},{71,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,40}}</string>
        <key>sourceSize</key>
        <string>{71,40}</string>
      </dict>
      <key>kuji0-shenti1.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{160,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,200}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>kuji0-shengti2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{112,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,139}}</string>
        <key>sourceSize</key>
        <string>{112,139}</string>
      </dict>
      <key>kuji0-qi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,37},{26,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,24}}</string>
        <key>sourceSize</key>
        <string>{26,24}</string>
      </dict>
      <key>kuji0-weiqi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,435},{79,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>kuji0-qi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>kuji0-shenti2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{107,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,122}}</string>
        <key>sourceSize</key>
        <string>{107,122}</string>
      </dict>
      <key>kuji0-shenti3.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,213},{52,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,79}}</string>
        <key>sourceSize</key>
        <string>{52,79}</string>
      </dict>
      <key>kuji0-weiqi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,207},{49,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,84}}</string>
        <key>sourceSize</key>
        <string>{49,84}</string>
      </dict>
      <key>kuji0-daizhou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,202},{65,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,133}}</string>
        <key>sourceSize</key>
        <string>{65,133}</string>
      </dict>
      <key>kuji0-daizihou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,441},{66,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,82}}</string>
        <key>sourceSize</key>
        <string>{66,82}</string>
      </dict>
      <key>kuji0-daizihou.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,202},{72,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,199}}</string>
        <key>sourceSize</key>
        <string>{72,199}</string>
      </dict>
      <key>kuji0-suipianyun.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,63},{23,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,11}}</string>
        <key>sourceSize</key>
        <string>{23,11}</string>
      </dict>
      <key>kuji0-suipianyun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,63},{20,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,9}}</string>
        <key>sourceSize</key>
        <string>{20,9}</string>
      </dict>
      <key>kuji0-suipianyun3.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,37},{15,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,9}}</string>
        <key>sourceSize</key>
        <string>{15,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>kuji.png</string>
      <key>textureFileName</key>
      <string>kuji.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>