<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zilian1-weiba11.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,442},{86,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,101}}</string>
        <key>sourceSize</key>
        <string>{86,101}</string>
      </dict>
      <key>zilian1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,132},{140,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,89}}</string>
        <key>sourceSize</key>
        <string>{140,89}</string>
      </dict>
      <key>zilian1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,359},{110,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,81}}</string>
        <key>sourceSize</key>
        <string>{110,81}</string>
      </dict>
      <key>zilian1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,280},{106,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,88}}</string>
        <key>sourceSize</key>
        <string>{106,88}</string>
      </dict>
      <key>zilian1-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,0},{114,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,130}}</string>
        <key>sourceSize</key>
        <string>{114,130}</string>
      </dict>
      <key>zilian1-youliuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{148,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,110}}</string>
        <key>sourceSize</key>
        <string>{148,110}</string>
      </dict>
      <key>zilian1-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,124},{57,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,152}}</string>
        <key>sourceSize</key>
        <string>{57,152}</string>
      </dict>
      <key>zilian1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,124},{146,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,154}}</string>
        <key>sourceSize</key>
        <string>{146,154}</string>
      </dict>
      <key>zilian1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,357},{68,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,95}}</string>
        <key>sourceSize</key>
        <string>{68,95}</string>
      </dict>
      <key>zilian1-zuoliuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,223},{82,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,134}}</string>
        <key>sourceSize</key>
        <string>{82,134}</string>
      </dict>
      <key>zilian1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,312},{28,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,29}}</string>
        <key>sourceSize</key>
        <string>{28,29}</string>
      </dict>
      <key>zilian1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,266},{22,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,44}}</string>
        <key>sourceSize</key>
        <string>{22,44}</string>
      </dict>
      <key>zilian1-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,278},{50,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,18}}</string>
        <key>sourceSize</key>
        <string>{50,18}</string>
      </dict>
      <key>zilian1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,316},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>zilian1-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{383,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{383,122}}</string>
        <key>sourceSize</key>
        <string>{383,122}</string>
      </dict>
      <key>zilian1-youxion.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,280},{30,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,34}}</string>
        <key>sourceSize</key>
        <string>{30,34}</string>
      </dict>
      <key>zilian1-zuoxion.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,308},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>zilian1-shangbanshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,298},{63,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>zilian1-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,454},{72,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,49}}</string>
        <key>sourceSize</key>
        <string>{72,49}</string>
      </dict>
      <key>zilian1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,343},{18,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,28}}</string>
        <key>sourceSize</key>
        <string>{18,28}</string>
      </dict>
      <key>zilian1-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,266},{34,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,40}}</string>
        <key>sourceSize</key>
        <string>{34,40}</string>
      </dict>
      <key>zilian1-weiba32.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,370},{108,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,80}}</string>
        <key>sourceSize</key>
        <string>{108,80}</string>
      </dict>
      <key>zilian1-weibamao11.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,505},{66,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,43}}</string>
        <key>sourceSize</key>
        <string>{66,43}</string>
      </dict>
      <key>zilian1-weiba3.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,494},{111,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,58}}</string>
        <key>sourceSize</key>
        <string>{111,58}</string>
      </dict>
      <key>zilian1-weiba31.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,452},{131,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,40}}</string>
        <key>sourceSize</key>
        <string>{131,40}</string>
      </dict>
      <key>zilian1-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{146,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,40}}</string>
        <key>sourceSize</key>
        <string>{146,40}</string>
      </dict>
      <key>zilian1-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,223},{58,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,41}}</string>
        <key>sourceSize</key>
        <string>{58,41}</string>
      </dict>
      <key>zilian1-beiqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{157,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,232}}</string>
        <key>sourceSize</key>
        <string>{157,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>lanzhi.png</string>
      <key>textureFileName</key>
      <string>lanzhi.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>