<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>leibo1-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,297},{72,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,52}}</string>
        <key>sourceSize</key>
        <string>{72,52}</string>
      </dict>
      <key>leibo1-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,0},{40,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,114}}</string>
        <key>sourceSize</key>
        <string>{40,114}</string>
      </dict>
      <key>leibo1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{77,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,49}}</string>
        <key>sourceSize</key>
        <string>{77,49}</string>
      </dict>
      <key>leibo1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,259},{73,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,54}}</string>
        <key>sourceSize</key>
        <string>{73,54}</string>
      </dict>
      <key>leibo1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,353},{34,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,18}}</string>
        <key>sourceSize</key>
        <string>{34,18}</string>
      </dict>
      <key>leibo1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,330},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>leibo1-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>leibo1-zuoshouzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,248},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>leibo1-qiu.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,163},{80,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,83}}</string>
        <key>sourceSize</key>
        <string>{80,83}</string>
      </dict>
      <key>leibo1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,287},{53,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,64}}</string>
        <key>sourceSize</key>
        <string>{53,64}</string>
      </dict>
      <key>leibo1-liuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,303},{24,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,57}}</string>
        <key>sourceSize</key>
        <string>{24,57}</string>
      </dict>
      <key>leibo1-liuhai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,215},{35,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,86}}</string>
        <key>sourceSize</key>
        <string>{35,86}</string>
      </dict>
      <key>leibo1-daibao.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,315},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>leibo1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,163},{141,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,132}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>leibo1-mawei.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{91,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,92}}</string>
        <key>sourceSize</key>
        <string>{91,92}</string>
      </dict>
      <key>leibo1-mawei2.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,297},{36,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,63}}</string>
        <key>sourceSize</key>
        <string>{36,63}</string>
      </dict>
      <key>leibo1-mawei3.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,303},{38,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,55}}</string>
        <key>sourceSize</key>
        <string>{38,55}</string>
      </dict>
      <key>leibo1-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,297},{22,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,86}}</string>
        <key>sourceSize</key>
        <string>{22,86}</string>
      </dict>
      <key>leibo1-zuoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,330},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>leibo1-bozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,297},{22,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,12}}</string>
        <key>sourceSize</key>
        <string>{22,12}</string>
      </dict>
      <key>leibo1-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,351},{30,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,20}}</string>
        <key>sourceSize</key>
        <string>{30,20}</string>
      </dict>
      <key>leibo1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,315},{40,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>leibo1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,337},{40,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,20}}</string>
        <key>sourceSize</key>
        <string>{40,20}</string>
      </dict>
      <key>leibo1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,273},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>leibo1-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,351},{38,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,19}}</string>
        <key>sourceSize</key>
        <string>{38,19}</string>
      </dict>
      <key>leibo1-chaihong.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{238,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,190}}</string>
        <key>sourceSize</key>
        <string>{238,190}</string>
      </dict>
      <key>leibo1-qunzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,192},{52,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,93}}</string>
        <key>sourceSize</key>
        <string>{52,93}</string>
      </dict>
      <key>leibo1-qunzhi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,116},{44,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,97}}</string>
        <key>sourceSize</key>
        <string>{44,97}</string>
      </dict>
      <key>leibo1-qunzhi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,248},{59,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,80}}</string>
        <key>sourceSize</key>
        <string>{59,80}</string>
      </dict>
      <key>leibo1-qunzhi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,192},{76,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,65}}</string>
        <key>sourceSize</key>
        <string>{76,65}</string>
      </dict>
      <key>leibo1-chaihong2.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{224,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,161}}</string>
        <key>sourceSize</key>
        <string>{224,161}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>leibo2.png</string>
      <key>textureFileName</key>
      <string>leibo2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>