<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>liaocheng0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,312},{119,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,87}}</string>
        <key>sourceSize</key>
        <string>{119,87}</string>
      </dict>
      <key>liaocheng0-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,219},{107,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,91}}</string>
        <key>sourceSize</key>
        <string>{107,91}</string>
      </dict>
      <key>liaocheng0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,401},{109,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,84}}</string>
        <key>sourceSize</key>
        <string>{109,84}</string>
      </dict>
      <key>liaocheng0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{261,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,141}}</string>
        <key>sourceSize</key>
        <string>{261,141}</string>
      </dict>
      <key>liaocheng0-zuoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,375},{60,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,50}}</string>
        <key>sourceSize</key>
        <string>{60,50}</string>
      </dict>
      <key>liaocheng0-youer.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,136},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>liaocheng0-hulu.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,209},{47,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,69}}</string>
        <key>sourceSize</key>
        <string>{47,69}</string>
      </dict>
      <key>liaocheng0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{78,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,73}}</string>
        <key>sourceSize</key>
        <string>{78,73}</string>
      </dict>
      <key>liaocheng0-jiutong.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{114,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,119}}</string>
        <key>sourceSize</key>
        <string>{114,119}</string>
      </dict>
      <key>liaocheng0-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,429},{104,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,35}}</string>
        <key>sourceSize</key>
        <string>{104,35}</string>
      </dict>
      <key>liaocheng0-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,121},{111,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,96}}</string>
        <key>sourceSize</key>
        <string>{111,96}</string>
      </dict>
      <key>liaocheng0-qungbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,209},{42,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,58}}</string>
        <key>sourceSize</key>
        <string>{42,58}</string>
      </dict>
      <key>liaocheng0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,386},{47,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,21}}</string>
        <key>sourceSize</key>
        <string>{47,21}</string>
      </dict>
      <key>liaocheng0-youbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,75},{86,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,59}}</string>
        <key>sourceSize</key>
        <string>{86,59}</string>
      </dict>
      <key>liaocheng0-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,409},{32,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,18}}</string>
        <key>sourceSize</key>
        <string>{32,18}</string>
      </dict>
      <key>liaocheng0-zuobai.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,330},{59,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,54}}</string>
        <key>sourceSize</key>
        <string>{59,54}</string>
      </dict>
      <key>liaocheng0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,280},{46,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>liaocheng0-honying.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,429},{133,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,66}}</string>
        <key>sourceSize</key>
        <string>{133,66}</string>
      </dict>
      <key>liaocheng0-qiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,284}}</string>
        <key>sourceSize</key>
        <string>{294,284}</string>
      </dict>
      <key>liaocheng0-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,327},{40,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,46}}</string>
        <key>sourceSize</key>
        <string>{40,46}</string>
      </dict>
      <key>liaocheng0-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,269},{42,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,56}}</string>
        <key>sourceSize</key>
        <string>{42,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>liaocheng2.png</string>
      <key>textureFileName</key>
      <string>liaocheng2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>