<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lilu-0-lilu-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,67},{39,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,35}}</string>
        <key>sourceSize</key>
        <string>{39,35}</string>
      </dict>
      <key>lilu-0-lilu-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,133},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,30}</string>
      </dict>
      <key>lilu-0-lilu-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,295},{61,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,52}}</string>
        <key>sourceSize</key>
        <string>{61,52}</string>
      </dict>
      <key>lilu-0-lilu-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,319},{66,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,61}}</string>
        <key>sourceSize</key>
        <string>{66,61}</string>
      </dict>
      <key>lilu-0-lilu-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,104},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>lilu-0-lilu-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,120},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>lilu-0-lilu-16.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,191},{110,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,126}}</string>
        <key>sourceSize</key>
        <string>{110,126}</string>
      </dict>
      <key>lilu-0-lilu-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,374},{84,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,36}}</string>
        <key>sourceSize</key>
        <string>{84,36}</string>
      </dict>
      <key>lilu-0-lilu-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,349},{58,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,34}}</string>
        <key>sourceSize</key>
        <string>{58,34}</string>
      </dict>
      <key>lilu-0-lilu-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,330},{59,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,38}}</string>
        <key>sourceSize</key>
        <string>{59,38}</string>
      </dict>
      <key>lilu-0-lilu-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,271},{115,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,57}}</string>
        <key>sourceSize</key>
        <string>{115,57}</string>
      </dict>
      <key>lilu-0-lilu-15.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,165},{47,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,9}}</string>
        <key>sourceSize</key>
        <string>{47,9}</string>
      </dict>
      <key>lilu-0-lilu-17.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,306},{67,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,63}}</string>
        <key>sourceSize</key>
        <string>{67,63}</string>
      </dict>
      <key>lilu-0-lilu-19.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{44,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,65}}</string>
        <key>sourceSize</key>
        <string>{44,65}</string>
      </dict>
      <key>lilu-0-lilu-20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{79,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,43}}</string>
        <key>sourceSize</key>
        <string>{79,43}</string>
      </dict>
      <key>lilu-0-lilu-21.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,374},{74,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,48}}</string>
        <key>sourceSize</key>
        <string>{74,48}</string>
      </dict>
      <key>lilu-0-lilu-22.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,319},{59,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,47}}</string>
        <key>sourceSize</key>
        <string>{59,47}</string>
      </dict>
      <key>lilu-0-lilu-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{158,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,66}}</string>
        <key>sourceSize</key>
        <string>{158,66}</string>
      </dict>
      <key>lilu-0-lilu-24.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,330},{81,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,42}}</string>
        <key>sourceSize</key>
        <string>{81,42}</string>
      </dict>
      <key>lilu-0-lilu-25.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,104},{38,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,27}}</string>
        <key>sourceSize</key>
        <string>{38,27}</string>
      </dict>
      <key>lilu-0-lilu-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{91,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,64}}</string>
        <key>sourceSize</key>
        <string>{91,64}</string>
      </dict>
      <key>lilu-0-lilu-18.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,227},{65,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,77}}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
      <key>lilu-0-lilu-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,191},{121,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,78}}</string>
        <key>sourceSize</key>
        <string>{121,78}</string>
      </dict>
      <key>lilu-0-lilu-26.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{207,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,189}}</string>
        <key>sourceSize</key>
        <string>{207,189}</string>
      </dict>
      <key>lilu-0-lilu-27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{242,225}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,225}}</string>
        <key>sourceSize</key>
        <string>{242,225}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>lilu.png</string>
      <key>textureFileName</key>
      <string>lilu.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>