<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lingjiu0-texiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,234},{23,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,28}}</string>
        <key>sourceSize</key>
        <string>{23,28}</string>
      </dict>
      <key>lingjiu0-yanwu.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,126},{16,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,25}}</string>
        <key>sourceSize</key>
        <string>{16,25}</string>
      </dict>
      <key>lingjiu0-texiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,236},{31,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,12}}</string>
        <key>sourceSize</key>
        <string>{31,12}</string>
      </dict>
      <key>lingjiu0-texiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,228},{71,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,28}}</string>
        <key>sourceSize</key>
        <string>{71,28}</string>
      </dict>
      <key>lingjiu0-gongjiyanwu.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,233},{44,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,15}}</string>
        <key>sourceSize</key>
        <string>{44,15}</string>
      </dict>
      <key>lingjiu0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,168},{75,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,58}}</string>
        <key>sourceSize</key>
        <string>{75,58}</string>
      </dict>
      <key>lingjiu0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{77,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,61}}</string>
        <key>sourceSize</key>
        <string>{77,61}</string>
      </dict>
      <key>lingjiu0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{74,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,58}}</string>
        <key>sourceSize</key>
        <string>{74,58}</string>
      </dict>
      <key>lingjiu0-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,171},{53,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,63}}</string>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>lingjiu0-toufa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,83},{37,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,75}}</string>
        <key>sourceSize</key>
        <string>{37,75}</string>
      </dict>
      <key>lingjiu0-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{150,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,81}}</string>
        <key>sourceSize</key>
        <string>{150,81}</string>
      </dict>
      <key>lingjiu0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,83},{104,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,98}}</string>
        <key>sourceSize</key>
        <string>{104,98}</string>
      </dict>
      <key>lingjiu0-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,97},{28,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,52}}</string>
        <key>sourceSize</key>
        <string>{28,52}</string>
      </dict>
      <key>lingjiu0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,226},{32,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,29}</string>
      </dict>
      <key>lingjiu0-youbiangebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,234},{32,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,21}}</string>
        <key>sourceSize</key>
        <string>{32,21}</string>
      </dict>
      <key>lingjiu0-chibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{127,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,95}}</string>
        <key>sourceSize</key>
        <string>{127,95}</string>
      </dict>
      <key>lingjiu0-paotong.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,197},{58,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,34}}</string>
        <key>sourceSize</key>
        <string>{58,34}</string>
      </dict>
      <key>lingjiu0-tuoxuanjiang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,231},{59,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,12}}</string>
        <key>sourceSize</key>
        <string>{59,12}</string>
      </dict>
      <key>lingjiu0-luoxuanjiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,234},{26,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,22}}</string>
        <key>sourceSize</key>
        <string>{26,22}</string>
      </dict>
      <key>lingjiu0-tuoxuanjiang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{53,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,13}}</string>
        <key>sourceSize</key>
        <string>{53,13}</string>
      </dict>
      <key>lingjiu0-che.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{148,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,107}}</string>
        <key>sourceSize</key>
        <string>{148,107}</string>
      </dict>
      <key>lingjiu0-shoubing.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,151},{28,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,44}}</string>
        <key>sourceSize</key>
        <string>{28,44}</string>
      </dict>
      <key>lingjiu0-tuoxuanjiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,97},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>lingjiu0-luoxuanjiang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,245},{24,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,18}}</string>
        <key>sourceSize</key>
        <string>{24,18}</string>
      </dict>
      <key>lingjiu0-tuoxuanjiang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,153},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>lingjiu0-gebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,160},{31,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,34}}</string>
        <key>sourceSize</key>
        <string>{31,34}</string>
      </dict>
      <key>lingjiu0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,236},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>lingjiu0-shoubing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,182},{20,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,33}}</string>
        <key>sourceSize</key>
        <string>{20,33}</string>
      </dict>
      <key>lingjiu0-honglingjin.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,109},{56,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,60}}</string>
        <key>sourceSize</key>
        <string>{56,60}</string>
      </dict>
      <key>lingjiu0-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,182},{59,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,50}}</string>
        <key>sourceSize</key>
        <string>{59,50}</string>
      </dict>
      <key>lingjiu0-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,177},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>lingjiu0-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{73,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,98}}</string>
        <key>sourceSize</key>
        <string>{73,98}</string>
      </dict>
      <key>lingjiu0-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,100},{67,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,80}}</string>
        <key>sourceSize</key>
        <string>{67,80}</string>
      </dict>
      <key>lingjiu0-suifa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,183},{60,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,46}}</string>
        <key>sourceSize</key>
        <string>{60,46}</string>
      </dict>
      <key>lingjiu0-paotong1.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,229},{54,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,32}}</string>
        <key>sourceSize</key>
        <string>{54,32}</string>
      </dict>
      <key>lingjiu0-zuobianerduo .png</key>
      <dict>
        <key>frame</key>
        <string>{{254,196},{33,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,28}}</string>
        <key>sourceSize</key>
        <string>{33,28}</string>
      </dict>
      <key>lingjiu0-chibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,97},{83,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,69}}</string>
        <key>sourceSize</key>
        <string>{83,69}</string>
      </dict>
      <key>lingjiu0-che1.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,183},{56,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,44}}</string>
        <key>sourceSize</key>
        <string>{56,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>lingjiu2.png</string>
      <key>textureFileName</key>
      <string>lingjiu2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>