<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lingsai0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,190},{63,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>lingsai0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,177},{63,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,55}}</string>
        <key>sourceSize</key>
        <string>{63,55}</string>
      </dict>
      <key>lingsai0-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,234},{63,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>lingsai0-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,111},{33,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,66}}</string>
        <key>sourceSize</key>
        <string>{33,66}</string>
      </dict>
      <key>lingsai0-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,0},{68,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,82}}</string>
        <key>sourceSize</key>
        <string>{68,82}</string>
      </dict>
      <key>lingsai0-zuoerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,84},{59,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>lingsai0-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,0},{102,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,136}}</string>
        <key>sourceSize</key>
        <string>{102,136}</string>
      </dict>
      <key>lingsai0-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,138},{50,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,80}}</string>
        <key>sourceSize</key>
        <string>{50,80}</string>
      </dict>
      <key>lingsai0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,238},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>lingsai0-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,232},{20,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,25}}</string>
        <key>sourceSize</key>
        <string>{20,25}</string>
      </dict>
      <key>lingsai0-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,221},{27,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,19}}</string>
        <key>sourceSize</key>
        <string>{27,19}</string>
      </dict>
      <key>lingsai0-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,190},{41,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,21}}</string>
        <key>sourceSize</key>
        <string>{41,21}</string>
      </dict>
      <key>lingsai0-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,213},{27,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,34}}</string>
        <key>sourceSize</key>
        <string>{27,34}</string>
      </dict>
      <key>lingsai0-yaozhuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,241},{10,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,14}}</string>
        <key>sourceSize</key>
        <string>{10,14}</string>
      </dict>
      <key>lingsai0-qunzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,230},{111,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,81}}</string>
        <key>sourceSize</key>
        <string>{111,81}</string>
      </dict>
      <key>lingsai0-youtui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,0},{17,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,38}}</string>
        <key>sourceSize</key>
        <string>{17,38}</string>
      </dict>
      <key>lingsai0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,232},{11,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,15}}</string>
        <key>sourceSize</key>
        <string>{11,15}</string>
      </dict>
      <key>lingsai0-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,71},{14,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,38}}</string>
        <key>sourceSize</key>
        <string>{14,38}</string>
      </dict>
      <key>lingsai0-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,138},{45,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,50}}</string>
        <key>sourceSize</key>
        <string>{45,50}</string>
      </dict>
      <key>lingsai0-youchibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{261,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,228}}</string>
        <key>sourceSize</key>
        <string>{261,228}</string>
      </dict>
      <key>lingsai0-houtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{204,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,188}}</string>
        <key>sourceSize</key>
        <string>{204,188}</string>
      </dict>
      <key>lingsai0-bianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{138,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,56}}</string>
        <key>sourceSize</key>
        <string>{138,56}</string>
      </dict>
      <key>lingsai0-zuotoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,221},{29,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,18}}</string>
        <key>sourceSize</key>
        <string>{29,18}</string>
      </dict>
      <key>lingsai0-zuoerduo1.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,179},{28,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,51}}</string>
        <key>sourceSize</key>
        <string>{28,51}</string>
      </dict>
      <key>lingsai0-zuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,220},{11,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,27}}</string>
        <key>sourceSize</key>
        <string>{11,27}</string>
      </dict>
      <key>lingsai0-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,213},{13,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,27}}</string>
        <key>sourceSize</key>
        <string>{13,27}</string>
      </dict>
      <key>lingsai0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,241},{11,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,12}}</string>
        <key>sourceSize</key>
        <string>{11,12}</string>
      </dict>
      <key>lingsai0-zuotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,40},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>lingsai0-zuotui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,220},{31,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,16}}</string>
        <key>sourceSize</key>
        <string>{31,16}</string>
      </dict>
      <key>lingsai0-qunzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,190},{135,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,96}}</string>
        <key>sourceSize</key>
        <string>{135,96}</string>
      </dict>
      <key>lingsai0-qunzi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,230},{147,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,50}}</string>
        <key>sourceSize</key>
        <string>{147,50}</string>
      </dict>
      <key>lingsai0-chaizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{295,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{295,244}}</string>
        <key>sourceSize</key>
        <string>{295,244}</string>
      </dict>
      <key>lingsai0-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,238},{14,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,21}}</string>
        <key>sourceSize</key>
        <string>{14,21}</string>
      </dict>
      <key>lingsai0-zuochibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{55,219}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,219}}</string>
        <key>sourceSize</key>
        <string>{55,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>lingsai2.png</string>
      <key>textureFileName</key>
      <string>lingsai2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>