<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>lisi1-bing7.png</key>
   <dict>
    <key>frame</key>
    <string>{{413,85},{12,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,23}}</string>
    <key>sourceSize</key>
    <string>{12,23}</string>
   </dict>
   <key>lisi1-bing8.png</key>
   <dict>
    <key>frame</key>
    <string>{{427,85},{6,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,15}}</string>
    <key>sourceSize</key>
    <string>{6,15}</string>
   </dict>
   <key>lisi1-bing9.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,108},{11,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,18}}</string>
    <key>sourceSize</key>
    <string>{11,18}</string>
   </dict>
   <key>lisi1-bing10.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,108},{9,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,15}}</string>
    <key>sourceSize</key>
    <string>{9,15}</string>
   </dict>
   <key>lisi1-bing11.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,85},{13,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,25}}</string>
    <key>sourceSize</key>
    <string>{13,25}</string>
   </dict>
   <key>lisi1-bing12.png</key>
   <dict>
    <key>frame</key>
    <string>{{496,108},{9,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,12}}</string>
    <key>sourceSize</key>
    <string>{9,12}</string>
   </dict>
   <key>lisi1-bing21.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,111},{67,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,12}}</string>
    <key>sourceSize</key>
    <string>{67,12}</string>
   </dict>
   <key>lisi1-bing14.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,85},{11,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,25}}</string>
    <key>sourceSize</key>
    <string>{11,25}</string>
   </dict>
   <key>lisi1-bing15.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,83},{32,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,23}}</string>
    <key>sourceSize</key>
    <string>{32,23}</string>
   </dict>
   <key>lisi1-bing17.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,83},{33,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,55}}</string>
    <key>sourceSize</key>
    <string>{33,55}</string>
   </dict>
   <key>lisi1-bing18.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,56},{70,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,25}}</string>
    <key>sourceSize</key>
    <string>{70,25}</string>
   </dict>
   <key>lisi1-bing19.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,0},{70,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,54}}</string>
    <key>sourceSize</key>
    <string>{70,54}</string>
   </dict>
   <key>lisi1-bing5.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,0},{70,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,109}}</string>
    <key>sourceSize</key>
    <string>{70,109}</string>
   </dict>
   <key>lisi1-bing6.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,0},{50,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,83}}</string>
    <key>sourceSize</key>
    <string>{50,83}</string>
   </dict>
   <key>lisi1-bing13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{181,248}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{181,248}}</string>
    <key>sourceSize</key>
    <string>{181,248}</string>
   </dict>
   <key>lisi1-bing20.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,125},{79,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,39}}</string>
    <key>sourceSize</key>
    <string>{79,39}</string>
   </dict>
   <key>lisi1-bing22.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,0},{128,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,160}}</string>
    <key>sourceSize</key>
    <string>{128,160}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>lisi2.png</string>
   <key>textureFileName</key>
   <string>lisi2.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>