<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>luffydz-quantou0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{554,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{554,253}}</string>
        <key>sourceSize</key>
        <string>{554,253}</string>
      </dict>
      <key>luffydz-quantou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{554,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{554,253}}</string>
        <key>sourceSize</key>
        <string>{554,253}</string>
      </dict>
      <key>luffydz-quantou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,255},{554,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{554,253}}</string>
        <key>sourceSize</key>
        <string>{554,253}</string>
      </dict>
      <key>luffydz-zuoshou01.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,216},{32,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>luffydz-zuoshou02.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,225},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>luffydz-zuoshou03.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,170},{53,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,44}}</string>
        <key>sourceSize</key>
        <string>{53,44}</string>
      </dict>
      <key>luffydz-maoer01.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,155},{44,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,59}}</string>
        <key>sourceSize</key>
        <string>{44,59}</string>
      </dict>
      <key>luffydz-maoer02.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,215},{24,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,50}}</string>
        <key>sourceSize</key>
        <string>{24,50}</string>
      </dict>
      <key>luffydz-caomao.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,0},{206,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,86}}</string>
        <key>sourceSize</key>
        <string>{206,86}</string>
      </dict>
      <key>luffydz-toufa01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,39},{16,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,38}}</string>
        <key>sourceSize</key>
        <string>{16,38}</string>
      </dict>
      <key>luffydz-toufa02.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,234},{24,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,32}}</string>
        <key>sourceSize</key>
        <string>{24,32}</string>
      </dict>
      <key>luffydz-toufa03.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,231},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>luffydz-toufa04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,79},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>luffydz-toufa05.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,159},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>luffydz-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,88},{100,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,96}}</string>
        <key>sourceSize</key>
        <string>{100,96}</string>
      </dict>
      <key>luffydz-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,88},{100,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,96}}</string>
        <key>sourceSize</key>
        <string>{100,96}</string>
      </dict>
      <key>luffydz-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{100,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,96}}</string>
        <key>sourceSize</key>
        <string>{100,96}</string>
      </dict>
      <key>luffydz-toufa06.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,0},{132,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,114}}</string>
        <key>sourceSize</key>
        <string>{132,114}</string>
      </dict>
      <key>luffydz-toufa07.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,109},{26,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,53}}</string>
        <key>sourceSize</key>
        <string>{26,53}</string>
      </dict>
      <key>luffydz-lingdang.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,220},{33,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,36}}</string>
        <key>sourceSize</key>
        <string>{33,36}</string>
      </dict>
      <key>luffydz-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,116},{67,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,37}}</string>
        <key>sourceSize</key>
        <string>{67,37}</string>
      </dict>
      <key>luffydz-yifu01.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,211},{31,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,46}}</string>
        <key>sourceSize</key>
        <string>{31,46}</string>
      </dict>
      <key>luffydz-yifu02.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,186},{31,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,51}}</string>
        <key>sourceSize</key>
        <string>{31,51}</string>
      </dict>
      <key>luffydz-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,98},{58,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>luffydz-piaodai01.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,184},{16,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,18}}</string>
        <key>sourceSize</key>
        <string>{16,18}</string>
      </dict>
      <key>luffydz-piaodai02.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,155},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>luffydz-piaodai03.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,186},{9,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,16}}</string>
        <key>sourceSize</key>
        <string>{9,16}</string>
      </dict>
      <key>luffydz-piaodai04.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,186},{12,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,20}}</string>
        <key>sourceSize</key>
        <string>{12,20}</string>
      </dict>
      <key>luffydz-zuojiao01.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,98},{36,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,55}}</string>
        <key>sourceSize</key>
        <string>{36,55}</string>
      </dict>
      <key>luffydz-zuojiao02.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,159},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>luffydz-kua.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,116},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>luffydz-youjiao01.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,164},{29,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,54}}</string>
        <key>sourceSize</key>
        <string>{29,54}</string>
      </dict>
      <key>luffydz-youjiao02.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,186},{49,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,43}}</string>
        <key>sourceSize</key>
        <string>{49,43}</string>
      </dict>
      <key>luffydz-youshou01.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,216},{39,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,36}}</string>
        <key>sourceSize</key>
        <string>{39,36}</string>
      </dict>
      <key>luffydz-youshou02.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,216},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>luffydz-youshou03.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,186},{38,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,46}}</string>
        <key>sourceSize</key>
        <string>{38,46}</string>
      </dict>
      <key>luffydz-yifu03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{22,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,37}}</string>
        <key>sourceSize</key>
        <string>{22,37}</string>
      </dict>
      <key>luffydz-yifu04.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,225},{26,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,37}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>luffydz-weiba01.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,234},{30,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,16}}</string>
        <key>sourceSize</key>
        <string>{30,16}</string>
      </dict>
      <key>luffydz-weiba02.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,211},{33,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,48}}</string>
        <key>sourceSize</key>
        <string>{33,48}</string>
      </dict>
      <key>luffydz-weiba03.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,155},{28,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,58}}</string>
        <key>sourceSize</key>
        <string>{28,58}</string>
      </dict>
      <key>luffydz-weiba04.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,186},{52,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,37}}</string>
        <key>sourceSize</key>
        <string>{52,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Luffy.png</string>
      <key>textureFileName</key>
      <string>Luffy.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>