<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>luka0-zhuang8.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{262,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,266}}</string>
        <key>sourceSize</key>
        <string>{262,266}</string>
      </dict>
      <key>luka0-zhuang7.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{262,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,266}}</string>
        <key>sourceSize</key>
        <string>{262,266}</string>
      </dict>
      <key>luka0-zhuang6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{262,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,266}}</string>
        <key>sourceSize</key>
        <string>{262,266}</string>
      </dict>
      <key>luka0-zhuang5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{262,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,266}}</string>
        <key>sourceSize</key>
        <string>{262,266}</string>
      </dict>
      <key>luka0-erji.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,154},{109,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,70}}</string>
        <key>sourceSize</key>
        <string>{109,70}</string>
      </dict>
      <key>luka0-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,279},{65,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,79}}</string>
        <key>sourceSize</key>
        <string>{65,79}</string>
      </dict>
      <key>luka0-youerji.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,336},{50,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,71}}</string>
        <key>sourceSize</key>
        <string>{50,71}</string>
      </dict>
      <key>luka0-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,192},{60,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,85}}</string>
        <key>sourceSize</key>
        <string>{60,85}</string>
      </dict>
      <key>luka0-youtoufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,0},{62,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,98}}</string>
        <key>sourceSize</key>
        <string>{62,98}</string>
      </dict>
      <key>luka0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,268},{78,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,66}}</string>
        <key>sourceSize</key>
        <string>{78,66}</string>
      </dict>
      <key>luka0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,268},{78,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,66}}</string>
        <key>sourceSize</key>
        <string>{78,66}</string>
      </dict>
      <key>luka0-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,226},{78,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,70}}</string>
        <key>sourceSize</key>
        <string>{78,70}</string>
      </dict>
      <key>luka0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,268},{162,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,138}}</string>
        <key>sourceSize</key>
        <string>{162,138}</string>
      </dict>
      <key>luka0-zuoerji.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,298},{56,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,75}}</string>
        <key>sourceSize</key>
        <string>{56,75}</string>
      </dict>
      <key>luka0-youtoufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,334},{50,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,71}}</string>
        <key>sourceSize</key>
        <string>{50,71}</string>
      </dict>
      <key>luka0-youtoufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,247},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>luka0-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,299},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
      <key>luka0-youshoubi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,208},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>luka0-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,326},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>luka0-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,299},{15,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,12}}</string>
        <key>sourceSize</key>
        <string>{15,12}</string>
      </dict>
      <key>luka0-qunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,297},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>luka0-zunzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,298},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>luka0-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,154},{42,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{42,52}</string>
      </dict>
      <key>luka0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,336},{29,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,25}}</string>
        <key>sourceSize</key>
        <string>{29,25}</string>
      </dict>
      <key>luka0-youtui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,266},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>luka0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,343},{26,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,15}}</string>
        <key>sourceSize</key>
        <string>{26,15}</string>
      </dict>
      <key>luka0-youtui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,268},{25,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,32}}</string>
        <key>sourceSize</key>
        <string>{25,32}</string>
      </dict>
      <key>luka0-zuotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,268},{16,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,29}}</string>
        <key>sourceSize</key>
        <string>{16,29}</string>
      </dict>
      <key>luka0-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,329},{24,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,12}}</string>
        <key>sourceSize</key>
        <string>{24,12}</string>
      </dict>
      <key>luka0-zuotui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,302},{19,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,25}}</string>
        <key>sourceSize</key>
        <string>{19,25}</string>
      </dict>
      <key>luka0-mayinglong.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,268},{156,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,125}}</string>
        <key>sourceSize</key>
        <string>{156,125}</string>
      </dict>
      <key>luka0-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,226},{23,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,38}}</string>
        <key>sourceSize</key>
        <string>{23,38}</string>
      </dict>
      <key>luka0-zuotoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,100},{61,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,90}}</string>
        <key>sourceSize</key>
        <string>{61,90}</string>
      </dict>
      <key>luka0-zuotoufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,336},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>luka0-zuoerji1.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,336},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>luka0-houtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,0},{155,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,152}}</string>
        <key>sourceSize</key>
        <string>{155,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>luka2.png</string>
      <key>textureFileName</key>
      <string>luka2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>