<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luna0-zhuang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{453,487}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{453,487}}</string>
    <key>sourceSize</key>
    <string>{453,487}</string>
   </dict>
   <key>luna0-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,259},{77,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,99}}</string>
    <key>sourceSize</key>
    <string>{77,99}</string>
   </dict>
   <key>luna0-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{790,336},{96,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,89}}</string>
    <key>sourceSize</key>
    <string>{96,89}</string>
   </dict>
   <key>luna0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,381},{99,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,83}}</string>
    <key>sourceSize</key>
    <string>{99,83}</string>
   </dict>
   <key>luna0-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{777,427},{95,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,77}}</string>
    <key>sourceSize</key>
    <string>{95,77}</string>
   </dict>
   <key>luna0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,400},{101,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,71}}</string>
    <key>sourceSize</key>
    <string>{101,71}</string>
   </dict>
   <key>luna0-shou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{888,399},{36,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,37}}</string>
    <key>sourceSize</key>
    <string>{36,37}</string>
   </dict>
   <key>luna0-shou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{888,367},{45,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,30}}</string>
    <key>sourceSize</key>
    <string>{45,30}</string>
   </dict>
   <key>luna0-shoutao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,68},{52,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,54}}</string>
    <key>sourceSize</key>
    <string>{52,54}</string>
   </dict>
   <key>luna0-shoutao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,124},{52,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,48}}</string>
    <key>sourceSize</key>
    <string>{52,48}</string>
   </dict>
   <key>luna0-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,360},{75,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,77}}</string>
    <key>sourceSize</key>
    <string>{75,77}</string>
   </dict>
   <key>luna0-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{792,0},{171,180}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,180}}</string>
    <key>sourceSize</key>
    <string>{171,180}</string>
   </dict>
   <key>luna0-fashi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{600,184},{115,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,109}}</string>
    <key>sourceSize</key>
    <string>{115,109}</string>
   </dict>
   <key>luna0-fashi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,278},{87,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,101}}</string>
    <key>sourceSize</key>
    <string>{87,101}</string>
   </dict>
   <key>luna0-masheng1.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,413},{32,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,40}}</string>
    <key>sourceSize</key>
    <string>{32,40}</string>
   </dict>
   <key>luna0-xiong.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,174},{57,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,34}}</string>
    <key>sourceSize</key>
    <string>{57,34}</string>
   </dict>
   <key>luna0-bozi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{661,376},{39,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,35}}</string>
    <key>sourceSize</key>
    <string>{39,35}</string>
   </dict>
   <key>luna0-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{661,295},{41,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,38}}</string>
    <key>sourceSize</key>
    <string>{41,38}</string>
   </dict>
   <key>luna0-masheng2.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,206},{16,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,22}}</string>
    <key>sourceSize</key>
    <string>{16,22}</string>
   </dict>
   <key>luna0-zuoshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{888,336},{49,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,29}}</string>
    <key>sourceSize</key>
    <string>{49,29}</string>
   </dict>
   <key>luna0-yao.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,438},{43,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,27}}</string>
    <key>sourceSize</key>
    <string>{43,27}</string>
   </dict>
   <key>luna0-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{544,278},{28,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,55}}</string>
    <key>sourceSize</key>
    <string>{28,55}</string>
   </dict>
   <key>luna0-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,455},{36,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,33}}</string>
    <key>sourceSize</key>
    <string>{36,33}</string>
   </dict>
   <key>luna0-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,182},{24,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,22}}</string>
    <key>sourceSize</key>
    <string>{24,22}</string>
   </dict>
   <key>luna0-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,0},{51,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,66}}</string>
    <key>sourceSize</key>
    <string>{51,66}</string>
   </dict>
   <key>luna0-zuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{957,210},{41,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,47}}</string>
    <key>sourceSize</key>
    <string>{41,47}</string>
   </dict>
   <key>luna0-zuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{661,335},{36,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,39}}</string>
    <key>sourceSize</key>
    <string>{36,39}</string>
   </dict>
   <key>luna0-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{544,335},{27,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,23}}</string>
    <key>sourceSize</key>
    <string>{27,23}</string>
   </dict>
   <key>luna0-zuomasheng.png</key>
   <dict>
    <key>frame</key>
    <string>{{574,295},{85,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,103}}</string>
    <key>sourceSize</key>
    <string>{85,103}</string>
   </dict>
   <key>luna0-youmasheng.png</key>
   <dict>
    <key>frame</key>
    <string>{{792,182},{145,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{145,152}}</string>
    <key>sourceSize</key>
    <string>{145,152}</string>
   </dict>
   <key>luna0-zuopiaodai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{702,408},{73,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,58}}</string>
    <key>sourceSize</key>
    <string>{73,58}</string>
   </dict>
   <key>luna0-zhuzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{717,184},{73,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,71}}</string>
    <key>sourceSize</key>
    <string>{73,71}</string>
   </dict>
   <key>luna0-zuopiaodai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{919,439},{86,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,40}}</string>
    <key>sourceSize</key>
    <string>{86,40}</string>
   </dict>
   <key>luna0-youpiaodai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{717,257},{73,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,62}}</string>
    <key>sourceSize</key>
    <string>{73,62}</string>
   </dict>
   <key>luna0-zhuzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,321},{84,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,85}}</string>
    <key>sourceSize</key>
    <string>{84,85}</string>
   </dict>
   <key>luna0-youpiaodai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,184},{143,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,92}}</string>
    <key>sourceSize</key>
    <string>{143,92}</string>
   </dict>
   <key>luna0-houtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,0},{335,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,182}}</string>
    <key>sourceSize</key>
    <string>{335,182}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>luna2.png</string>
   <key>textureFileName</key>
   <string>luna2.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>