<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>luoke1-luoding.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,262},{26,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,23}}</string>
        <key>sourceSize</key>
        <string>{26,23}</string>
      </dict>
      <key>luoke1-shouji12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{115,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,90}}</string>
        <key>sourceSize</key>
        <string>{115,90}</string>
      </dict>
      <key>luoke1-tiequan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,170},{77,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,87}}</string>
        <key>sourceSize</key>
        <string>{77,87}</string>
      </dict>
      <key>luoke1-tielian12.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,391},{63,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,30}}</string>
        <key>sourceSize</key>
        <string>{63,30}</string>
      </dict>
      <key>luoke1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,364},{55,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,52}}</string>
        <key>sourceSize</key>
        <string>{55,52}</string>
      </dict>
      <key>luoke1-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,229},{92,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,96}}</string>
        <key>sourceSize</key>
        <string>{92,96}</string>
      </dict>
      <key>luoke1-zhuoshoubi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{122,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,133}}</string>
        <key>sourceSize</key>
        <string>{122,133}</string>
      </dict>
      <key>luoke1-zhuogebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,301},{57,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,61}}</string>
        <key>sourceSize</key>
        <string>{57,61}</string>
      </dict>
      <key>luoke1-zhuohujian.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,273},{86,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>luoke1-zhuoshoubi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,385},{57,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>luoke1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{62,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,60}</string>
      </dict>
      <key>luoke1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,343},{55,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,53}}</string>
        <key>sourceSize</key>
        <string>{55,53}</string>
      </dict>
      <key>luoke1-shengti1.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{165,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,158}}</string>
        <key>sourceSize</key>
        <string>{165,158}</string>
      </dict>
      <key>luoke1-shengti2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{195,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,168}}</string>
        <key>sourceSize</key>
        <string>{195,168}</string>
      </dict>
      <key>luoke1-shuohuan.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,135},{135,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,92}}</string>
        <key>sourceSize</key>
        <string>{135,92}</string>
      </dict>
      <key>luoke1-zhuojiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,345},{69,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,38}}</string>
        <key>sourceSize</key>
        <string>{69,38}</string>
      </dict>
      <key>luoke1-zhuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,259},{77,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,82}}</string>
        <key>sourceSize</key>
        <string>{77,82}</string>
      </dict>
      <key>luoke1-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,226},{43,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,55}}</string>
        <key>sourceSize</key>
        <string>{43,55}</string>
      </dict>
      <key>luoke1-youxiaotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,229},{59,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>luoke1-youjiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,351},{80,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,38}}</string>
        <key>sourceSize</key>
        <string>{80,38}</string>
      </dict>
      <key>luoke1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,340},{50,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{50,42}</string>
      </dict>
      <key>luoke1-youxiaotui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,385},{33,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,30}}</string>
        <key>sourceSize</key>
        <string>{33,30}</string>
      </dict>
      <key>luoke1-shengti3.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,384},{48,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,26}}</string>
        <key>sourceSize</key>
        <string>{48,26}</string>
      </dict>
      <key>luoke1-youshouwan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{86,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>luoke1-youshouwan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,327},{83,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,77}}</string>
        <key>sourceSize</key>
        <string>{83,77}</string>
      </dict>
      <key>luoke1-youhujian.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,283},{71,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,60}}</string>
        <key>sourceSize</key>
        <string>{71,60}</string>
      </dict>
      <key>luoke1-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,160},{113,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,111}}</string>
        <key>sourceSize</key>
        <string>{113,111}</string>
      </dict>
      <key>luoke1-yougebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,160},{43,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,64}}</string>
        <key>sourceSize</key>
        <string>{43,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>luoke2.png</string>
      <key>textureFileName</key>
      <string>luoke2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>