<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>maijiadeng1-heixian.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,205},{32,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,44}}</string>
        <key>sourceSize</key>
        <string>{32,44}</string>
      </dict>
      <key>maijiadeng1-youjian.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,71},{89,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,63}}</string>
        <key>sourceSize</key>
        <string>{89,63}</string>
      </dict>
      <key>maijiadeng1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,177},{63,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,61}}</string>
        <key>sourceSize</key>
        <string>{63,61}</string>
      </dict>
      <key>maijiadeng1-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,135},{43,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>maijiadeng1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{46,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,38}}</string>
        <key>sourceSize</key>
        <string>{46,38}</string>
      </dict>
      <key>maijiadeng1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{90,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,69}}</string>
        <key>sourceSize</key>
        <string>{90,69}</string>
      </dict>
      <key>maijiadeng1-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{82,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,54}}</string>
        <key>sourceSize</key>
        <string>{82,54}</string>
      </dict>
      <key>maijiadeng1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,86},{87,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,58}}</string>
        <key>sourceSize</key>
        <string>{87,58}</string>
      </dict>
      <key>maijiadeng1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,147}}</string>
        <key>sourceSize</key>
        <string>{160,147}</string>
      </dict>
      <key>maijiadeng1-kuabu.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,136},{105,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,39}}</string>
        <key>sourceSize</key>
        <string>{105,39}</string>
      </dict>
      <key>maijiadeng1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,221},{49,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,15}}</string>
        <key>sourceSize</key>
        <string>{49,15}</string>
      </dict>
      <key>maijiadeng1-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,188},{56,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,45}}</string>
        <key>sourceSize</key>
        <string>{56,45}</string>
      </dict>
      <key>maijiadeng1-youjiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,188},{51,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,44}}</string>
        <key>sourceSize</key>
        <string>{51,44}</string>
      </dict>
      <key>maijiadeng1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,218},{42,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,14}}</string>
        <key>sourceSize</key>
        <string>{42,14}</string>
      </dict>
      <key>maijiadeng1-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,186},{61,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,43}}</string>
        <key>sourceSize</key>
        <string>{61,43}</string>
      </dict>
      <key>maijiadeng1-zuojiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,210},{35,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,41}}</string>
        <key>sourceSize</key>
        <string>{35,41}</string>
      </dict>
      <key>maijiadeng1-yaobu.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,149},{89,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,37}}</string>
        <key>sourceSize</key>
        <string>{89,37}</string>
      </dict>
      <key>maijiadeng1-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{138,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,84}}</string>
        <key>sourceSize</key>
        <string>{138,84}</string>
      </dict>
      <key>maijiadeng1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,86},{48,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>maijiadeng1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,146},{66,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>maijiadeng1-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,177},{42,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,39}}</string>
        <key>sourceSize</key>
        <string>{42,39}</string>
      </dict>
      <key>maijiadeng1-zuojian.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,149},{65,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>maijiadeng1-pao.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{105,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,147}}</string>
        <key>sourceSize</key>
        <string>{105,147}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>maijiadeng2.png</string>
      <key>textureFileName</key>
      <string>maijiadeng2.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>