<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>maji2-tuke1.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,226},{19,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,30}}</string>
        <key>sourceSize</key>
        <string>{19,30}</string>
      </dict>
      <key>maji2-puke2.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,145},{22,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,38}}</string>
        <key>sourceSize</key>
        <string>{22,38}</string>
      </dict>
      <key>maji2-puke3.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,251},{12,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,34}}</string>
        <key>sourceSize</key>
        <string>{12,34}</string>
      </dict>
      <key>maji2-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,204},{34,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,31}}</string>
        <key>sourceSize</key>
        <string>{34,31}</string>
      </dict>
      <key>maji2-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,261},{20,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,22}}</string>
        <key>sourceSize</key>
        <string>{20,22}</string>
      </dict>
      <key>maji2-zhuogebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,233},{21,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,26}}</string>
        <key>sourceSize</key>
        <string>{21,26}</string>
      </dict>
      <key>maji2-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,145},{76,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,79}}</string>
        <key>sourceSize</key>
        <string>{76,79}</string>
      </dict>
      <key>maji2-zhuotoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,280},{77,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,73}}</string>
        <key>sourceSize</key>
        <string>{77,73}</string>
      </dict>
      <key>maji2-zhubianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,142},{88,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,136}}</string>
        <key>sourceSize</key>
        <string>{88,136}</string>
      </dict>
      <key>maji2-biaoqing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,233},{89,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,64}}</string>
        <key>sourceSize</key>
        <string>{89,64}</string>
      </dict>
      <key>maji2-biaoqing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,222},{85,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,66}}</string>
        <key>sourceSize</key>
        <string>{85,66}</string>
      </dict>
      <key>maji2-biaoqing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,290},{84,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,62}}</string>
        <key>sourceSize</key>
        <string>{84,62}</string>
      </dict>
      <key>maji2-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{181,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,143}}</string>
        <key>sourceSize</key>
        <string>{181,143}</string>
      </dict>
      <key>maji2-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,145},{39,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,26}}</string>
        <key>sourceSize</key>
        <string>{39,26}</string>
      </dict>
      <key>maji2-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,280},{45,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>maji2-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,52},{26,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,45}}</string>
        <key>sourceSize</key>
        <string>{26,45}</string>
      </dict>
      <key>maji2-zhuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,99},{19,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,44}}</string>
        <key>sourceSize</key>
        <string>{19,44}</string>
      </dict>
      <key>maji2-kuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,173},{36,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,29}}</string>
        <key>sourceSize</key>
        <string>{36,29}</string>
      </dict>
      <key>maji2-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,251},{45,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,67}}</string>
        <key>sourceSize</key>
        <string>{45,67}</string>
      </dict>
      <key>maji2-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,299},{91,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,47}}</string>
        <key>sourceSize</key>
        <string>{91,47}</string>
      </dict>
      <key>maji2-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,258},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>maji2-yougebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,185},{24,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,32}}</string>
        <key>sourceSize</key>
        <string>{24,32}</string>
      </dict>
      <key>maji2-youbianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,226},{54,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,70}}</string>
        <key>sourceSize</key>
        <string>{54,70}</string>
      </dict>
      <key>maji2-zhuomaozi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{98,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,140}}</string>
        <key>sourceSize</key>
        <string>{98,140}</string>
      </dict>
      <key>maji2-youmaozi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,145},{74,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,104}}</string>
        <key>sourceSize</key>
        <string>{74,104}</string>
      </dict>
      <key>maji2-zhuomaozi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,231}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,231}}</string>
        <key>sourceSize</key>
        <string>{114,231}</string>
      </dict>
      <key>maji2-youmaozi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{77,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,220}}</string>
        <key>sourceSize</key>
        <string>{77,220}</string>
      </dict>
      <key>maji2-yibai.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,237},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,26}}</string>
        <key>sourceSize</key>
        <string>{30,26}</string>
      </dict>
      <key>maji2-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{22,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,50}}</string>
        <key>sourceSize</key>
        <string>{22,50}</string>
      </dict>
      <key>maji2-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,219},{16,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,37}}</string>
        <key>sourceSize</key>
        <string>{16,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>maji2.png</string>
      <key>textureFileName</key>
      <string>maji2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>