<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>105make-tiukui.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,118},{103,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,98}}</string>
        <key>sourceSize</key>
        <string>{103,98}</string>
      </dict>
      <key>105make-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,157}}</string>
        <key>sourceSize</key>
        <string>{126,157}</string>
      </dict>
      <key>105make-jianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,218},{89,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,88}}</string>
        <key>sourceSize</key>
        <string>{89,88}</string>
      </dict>
      <key>105make-shangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,222},{58,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,57}}</string>
        <key>sourceSize</key>
        <string>{58,57}</string>
      </dict>
      <key>105make-futou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,148},{106,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,89}}</string>
        <key>sourceSize</key>
        <string>{106,89}</string>
      </dict>
      <key>105make-shou.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,239},{52,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,61}}</string>
        <key>sourceSize</key>
        <string>{52,61}</string>
      </dict>
      <key>105make-futou.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,308},{54,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,19}}</string>
        <key>sourceSize</key>
        <string>{54,19}</string>
      </dict>
      <key>105make-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{105,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,146}}</string>
        <key>sourceSize</key>
        <string>{105,146}</string>
      </dict>
      <key>105make-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,231},{64,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,77}}</string>
        <key>sourceSize</key>
        <string>{64,77}</string>
      </dict>
      <key>105make-zu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,231},{60,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,55}}</string>
        <key>sourceSize</key>
        <string>{60,55}</string>
      </dict>
      <key>105make-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,239},{60,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,50}}</string>
        <key>sourceSize</key>
        <string>{60,50}</string>
      </dict>
      <key>105make-bianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{35,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,80}}</string>
        <key>sourceSize</key>
        <string>{35,80}</string>
      </dict>
      <key>105make-huzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,288},{50,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,43}}</string>
        <key>sourceSize</key>
        <string>{50,43}</string>
      </dict>
      <key>105make-huzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,305},{33,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>105make-toukui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,259},{40,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,44}}</string>
        <key>sourceSize</key>
        <string>{40,44}</string>
      </dict>
      <key>105make-huzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{103,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,116}}</string>
        <key>sourceSize</key>
        <string>{103,116}</string>
      </dict>
      <key>105make-bianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,82},{26,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,89}}</string>
        <key>sourceSize</key>
        <string>{26,89}</string>
      </dict>
      <key>105make-naodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{92,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,98}}</string>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>105make-toukui.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,130},{14,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,36}}</string>
        <key>sourceSize</key>
        <string>{14,36}</string>
      </dict>
      <key>105make-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,130},{106,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,99}}</string>
        <key>sourceSize</key>
        <string>{106,99}</string>
      </dict>
      <key>105make-kudang.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,281},{56,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,39}}</string>
        <key>sourceSize</key>
        <string>{56,39}</string>
      </dict>
      <key>105make-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,291},{36,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,47}}</string>
        <key>sourceSize</key>
        <string>{36,47}</string>
      </dict>
      <key>105make-jiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,173},{36,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,47}}</string>
        <key>sourceSize</key>
        <string>{36,47}</string>
      </dict>
      <key>105make-zhuazi.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,308},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>105make-chuizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{131,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,128}}</string>
        <key>sourceSize</key>
        <string>{131,128}</string>
      </dict>
      <key>105make-jiajia.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{45,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,59}}</string>
        <key>sourceSize</key>
        <string>{45,59}</string>
      </dict>
      <key>105make-shoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,291},{38,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,44}}</string>
        <key>sourceSize</key>
        <string>{38,44}</string>
      </dict>
      <key>105make-shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,302},{37,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>sourceSize</key>
        <string>{37,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>make2.png</string>
      <key>textureFileName</key>
      <string>make2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>