<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>manda0-soujizuiv.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,224},{38,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,29}}</string>
    <key>sourceSize</key>
    <string>{38,29}</string>
   </dict>
   <key>manda0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{176,225},{32,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,28}}</string>
    <key>sourceSize</key>
    <string>{32,28}</string>
   </dict>
   <key>manda0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,104},{80,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,84}}</string>
    <key>sourceSize</key>
    <string>{80,84}</string>
   </dict>
   <key>manda0-gongjiyanjin.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,139},{80,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,83}}</string>
    <key>sourceSize</key>
    <string>{80,83}</string>
   </dict>
   <key>manda0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{316,135},{80,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,84}}</string>
    <key>sourceSize</key>
    <string>{80,84}</string>
   </dict>
   <key>manda0-dun.png</key>
   <dict>
    <key>frame</key>
    <string>{{321,0},{93,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,133}}</string>
    <key>sourceSize</key>
    <string>{93,133}</string>
   </dict>
   <key>manda0-jiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,190},{51,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,66}}</string>
    <key>sourceSize</key>
    <string>{51,66}</string>
   </dict>
   <key>manda0-jiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,190},{42,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,60}}</string>
    <key>sourceSize</key>
    <string>{42,60}</string>
   </dict>
   <key>manda0-jiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,221},{42,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,38}}</string>
    <key>sourceSize</key>
    <string>{42,38}</string>
   </dict>
   <key>manda0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{154,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,137}}</string>
    <key>sourceSize</key>
    <string>{154,137}</string>
   </dict>
   <key>manda0-zhuojiaozhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,208},{58,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,26}}</string>
    <key>sourceSize</key>
    <string>{58,26}</string>
   </dict>
   <key>manda0-zhuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,116},{45,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,67}}</string>
    <key>sourceSize</key>
    <string>{45,67}</string>
   </dict>
   <key>manda0-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,0},{87,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,102}}</string>
    <key>sourceSize</key>
    <string>{87,102}</string>
   </dict>
   <key>manda0-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{225,194},{42,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,41}}</string>
    <key>sourceSize</key>
    <string>{42,41}</string>
   </dict>
   <key>manda0-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,194},{68,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,29}}</string>
    <key>sourceSize</key>
    <string>{68,29}</string>
   </dict>
   <key>manda0-jiao4.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,236},{27,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,32}}</string>
    <key>sourceSize</key>
    <string>{27,32}</string>
   </dict>
   <key>manda0-jiao5.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,185},{42,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,68}}</string>
    <key>sourceSize</key>
    <string>{42,68}</string>
   </dict>
   <key>manda0-youzhuazi.png</key>
   <dict>
    <key>frame</key>
    <string>{{40,224},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>manda0-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,0},{163,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{163,114}}</string>
    <key>sourceSize</key>
    <string>{163,114}</string>
   </dict>
   <key>manda0-youshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,221},{39,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,39}}</string>
    <key>sourceSize</key>
    <string>{39,39}</string>
   </dict>
   <key>manda0-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,236},{34,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,25}}</string>
    <key>sourceSize</key>
    <string>{34,25}</string>
   </dict>
   <key>manda0-yougebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,225},{32,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,28}}</string>
    <key>sourceSize</key>
    <string>{32,28}</string>
   </dict>
   <key>manda0-jiao6.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,135},{13,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,17}}</string>
    <key>sourceSize</key>
    <string>{13,17}</string>
   </dict>
   <key>manda0-huo.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,139},{71,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,67}}</string>
    <key>sourceSize</key>
    <string>{71,67}</string>
   </dict>
   <key>manda0-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,116},{111,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,76}}</string>
    <key>sourceSize</key>
    <string>{111,76}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>manda2.png</string>
   <key>textureFileName</key>
   <string>manda2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>