<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>meier1-wuqixuanzhuan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{414,447}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{414,447}}</string>
    <key>sourceSize</key>
    <string>{414,447}</string>
   </dict>
   <key>meier1-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{539,265},{81,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,139}}</string>
    <key>sourceSize</key>
    <string>{81,139}</string>
   </dict>
   <key>meier1-liuhai_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{857,162},{105,191}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,191}}</string>
    <key>sourceSize</key>
    <string>{105,191}</string>
   </dict>
   <key>meier1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{131,449},{98,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,81}}</string>
    <key>sourceSize</key>
    <string>{98,81}</string>
   </dict>
   <key>meier1- gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,408},{104,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,85}}</string>
    <key>sourceSize</key>
    <string>{104,85}</string>
   </dict>
   <key>meier1-daji.png</key>
   <dict>
    <key>frame</key>
    <string>{{721,431},{107,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,80}}</string>
    <key>sourceSize</key>
    <string>{107,80}</string>
   </dict>
   <key>meier1-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{622,390},{97,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,103}}</string>
    <key>sourceSize</key>
    <string>{97,103}</string>
   </dict>
   <key>meier1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,265},{121,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{121,141}}</string>
    <key>sourceSize</key>
    <string>{121,141}</string>
   </dict>
   <key>meier1-toufa_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{522,433},{97,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,86}}</string>
    <key>sourceSize</key>
    <string>{97,86}</string>
   </dict>
   <key>meier1-naodaii.png</key>
   <dict>
    <key>frame</key>
    <string>{{857,0},{140,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,160}}</string>
    <key>sourceSize</key>
    <string>{140,160}</string>
   </dict>
   <key>meier1-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{231,449},{105,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,61}}</string>
    <key>sourceSize</key>
    <string>{105,61}</string>
   </dict>
   <key>meier1-shouu.png</key>
   <dict>
    <key>frame</key>
    <string>{{721,403},{31,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,26}}</string>
    <key>sourceSize</key>
    <string>{31,26}</string>
   </dict>
   <key>meier1-daizi.png</key>
   <dict>
    <key>frame</key>
    <string>{{999,91},{14,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,22}}</string>
    <key>sourceSize</key>
    <string>{14,22}</string>
   </dict>
   <key>meier1-daizi_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1013,60},{6,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,13}}</string>
    <key>sourceSize</key>
    <string>{6,13}</string>
   </dict>
   <key>meier1-pifeng.png</key>
   <dict>
    <key>frame</key>
    <string>{{778,297},{77,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,39}}</string>
    <key>sourceSize</key>
    <string>{77,39}</string>
   </dict>
   <key>meier1-toufa_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{622,283},{111,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,105}}</string>
    <key>sourceSize</key>
    <string>{111,105}</string>
   </dict>
   <key>meier1-bozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{999,31},{21,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,27}}</string>
    <key>sourceSize</key>
    <string>{21,27}</string>
   </dict>
   <key>meier1-xiaobii.png</key>
   <dict>
    <key>frame</key>
    <string>{{774,338},{33,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,44}}</string>
    <key>sourceSize</key>
    <string>{33,44}</string>
   </dict>
   <key>meier1-gebo.png</key>
   <dict>
    <key>frame</key>
    <string>{{964,222},{28,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,43}}</string>
    <key>sourceSize</key>
    <string>{28,43}</string>
   </dict>
   <key>meier1-shou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,368},{32,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,33}}</string>
    <key>sourceSize</key>
    <string>{32,33}</string>
   </dict>
   <key>meier1-xiong.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,355},{42,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,30}}</string>
    <key>sourceSize</key>
    <string>{42,30}</string>
   </dict>
   <key>meier1-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,0},{439,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{439,179}}</string>
    <key>sourceSize</key>
    <string>{439,179}</string>
   </dict>
   <key>meier1-youqiantui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,338},{35,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,40}}</string>
    <key>sourceSize</key>
    <string>{35,40}</string>
   </dict>
   <key>meier1-youqiantui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,212},{24,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,37}}</string>
    <key>sourceSize</key>
    <string>{24,37}</string>
   </dict>
   <key>meier1-youqiantui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,380},{35,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,29}}</string>
    <key>sourceSize</key>
    <string>{35,29}</string>
   </dict>
   <key>meier1-youqianjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,395},{32,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,25}}</string>
    <key>sourceSize</key>
    <string>{32,25}</string>
   </dict>
   <key>meier1-youhoutui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,283},{41,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,40}}</string>
    <key>sourceSize</key>
    <string>{41,40}</string>
   </dict>
   <key>meier1-youhoutui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{795,252},{42,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,43}}</string>
    <key>sourceSize</key>
    <string>{42,43}</string>
   </dict>
   <key>meier1-youhouti3.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,290},{29,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,34}}</string>
    <key>sourceSize</key>
    <string>{29,34}</string>
   </dict>
   <key>meier1-youhoujiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{539,406},{29,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,25}}</string>
    <key>sourceSize</key>
    <string>{29,25}</string>
   </dict>
   <key>meier1-shenzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{830,469},{110,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,52}}</string>
    <key>sourceSize</key>
    <string>{110,52}</string>
   </dict>
   <key>meier1-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{795,181},{60,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,69}}</string>
    <key>sourceSize</key>
    <string>{60,69}</string>
   </dict>
   <key>meier1-gebo0.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,325},{37,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,41}}</string>
    <key>sourceSize</key>
    <string>{37,41}</string>
   </dict>
   <key>meier1-zuozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{999,60},{12,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,29}}</string>
    <key>sourceSize</key>
    <string>{12,29}</string>
   </dict>
   <key>meier1-gebo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,162},{25,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,48}}</string>
    <key>sourceSize</key>
    <string>{25,48}</string>
   </dict>
   <key>meier1-shou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{769,384},{38,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,33}}</string>
    <key>sourceSize</key>
    <string>{38,33}</string>
   </dict>
   <key>meier1-pifeng1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,449},{129,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,64}}</string>
    <key>sourceSize</key>
    <string>{129,64}</string>
   </dict>
   <key>meier1-weibafff.png</key>
   <dict>
    <key>frame</key>
    <string>{{416,181},{208,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{208,82}}</string>
    <key>sourceSize</key>
    <string>{208,82}</string>
   </dict>
   <key>meier1-weiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{626,181},{167,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,100}}</string>
    <key>sourceSize</key>
    <string>{167,100}</string>
   </dict>
   <key>meier1-zuoqiantui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{964,267},{27,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,32}}</string>
    <key>sourceSize</key>
    <string>{27,32}</string>
   </dict>
   <key>meier1-zuoqiantui 1.png</key>
   <dict>
    <key>frame</key>
    <string>{{964,162},{31,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,58}}</string>
    <key>sourceSize</key>
    <string>{31,58}</string>
   </dict>
   <key>meier1-zuoqiantui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{999,0},{22,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,29}}</string>
    <key>sourceSize</key>
    <string>{22,29}</string>
   </dict>
   <key>meier1-zuoqianjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{992,326},{29,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,27}}</string>
    <key>sourceSize</key>
    <string>{29,27}</string>
   </dict>
   <key>meier1-zuohoutui 1.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,355},{31,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,38}}</string>
    <key>sourceSize</key>
    <string>{31,38}</string>
   </dict>
   <key>meier1-zuohoutui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,251},{26,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,37}}</string>
    <key>sourceSize</key>
    <string>{26,37}</string>
   </dict>
   <key>meier1-zuohoutui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{964,301},{26,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,27}}</string>
    <key>sourceSize</key>
    <string>{26,27}</string>
   </dict>
   <key>meier1-zuohoujiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,387},{33,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,28}}</string>
    <key>sourceSize</key>
    <string>{33,28}</string>
   </dict>
   <key>meier1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{846,355},{98,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,112}}</string>
    <key>sourceSize</key>
    <string>{98,112}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>meier2.png</string>
   <key>textureFileName</key>
   <string>meier2.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>