<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>mike1-jinzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,56},{8,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,9}}</string>
    <key>sourceSize</key>
    <string>{8,9}</string>
   </dict>
   <key>mike1-jinzhuozi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,250},{20,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,18}}</string>
    <key>sourceSize</key>
    <string>{20,18}</string>
   </dict>
   <key>mike1-jinzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,43},{10,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,11}}</string>
    <key>sourceSize</key>
    <string>{10,11}</string>
   </dict>
   <key>mike1-jinzhuozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,284},{23,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,23}}</string>
    <key>sourceSize</key>
    <string>{23,23}</string>
   </dict>
   <key>mike1-baozhurere.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,77},{67,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,94}}</string>
    <key>sourceSize</key>
    <string>{67,94}</string>
   </dict>
   <key>mike1-youxiaotui56565.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,214},{75,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,68}}</string>
    <key>sourceSize</key>
    <string>{75,68}</string>
   </dict>
   <key>mike1-zhuioshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{320,284},{26,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,18}}</string>
    <key>sourceSize</key>
    <string>{26,18}</string>
   </dict>
   <key>mike1-zhuoshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,273},{23,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,27}}</string>
    <key>sourceSize</key>
    <string>{23,27}</string>
   </dict>
   <key>mike1-zhuojianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,0},{15,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,23}}</string>
    <key>sourceSize</key>
    <string>{15,23}</string>
   </dict>
   <key>mike1-baozhu.png</key>
   <dict>
    <key>frame</key>
    <string>{{63,250},{30,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,43}}</string>
    <key>sourceSize</key>
    <string>{30,43}</string>
   </dict>
   <key>mike1-shoji.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,173},{61,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,51}}</string>
    <key>sourceSize</key>
    <string>{61,51}</string>
   </dict>
   <key>mike1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,226},{60,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,45}}</string>
    <key>sourceSize</key>
    <string>{60,45}</string>
   </dict>
   <key>mike1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,218},{61,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,46}}</string>
    <key>sourceSize</key>
    <string>{61,46}</string>
   </dict>
   <key>mike1-zhuzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,264},{30,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,43}}</string>
    <key>sourceSize</key>
    <string>{30,43}</string>
   </dict>
   <key>mike1-huangguan.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,0},{88,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,75}}</string>
    <key>sourceSize</key>
    <string>{88,75}</string>
   </dict>
   <key>mike1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,199},{44,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,67}}</string>
    <key>sourceSize</key>
    <string>{44,67}</string>
   </dict>
   <key>mike1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,77},{40,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,63}}</string>
    <key>sourceSize</key>
    <string>{40,63}</string>
   </dict>
   <key>mike1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,142},{33,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,55}}</string>
    <key>sourceSize</key>
    <string>{33,55}</string>
   </dict>
   <key>mike1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{117,257},{126,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,108}}</string>
    <key>sourceSize</key>
    <string>{126,108}</string>
   </dict>
   <key>mike1-zhuotoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{116,216}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,216}}</string>
    <key>sourceSize</key>
    <string>{116,216}</string>
   </dict>
   <key>mike1-xianglian.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,25},{13,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,16}}</string>
    <key>sourceSize</key>
    <string>{13,16}</string>
   </dict>
   <key>mike1-zhuojiaozhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,284},{23,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,24}}</string>
    <key>sourceSize</key>
    <string>{23,24}</string>
   </dict>
   <key>mike1-zhuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{245,257},{23,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,40}}</string>
    <key>sourceSize</key>
    <string>{23,40}</string>
   </dict>
   <key>mike1-youjiaozhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,268},{26,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,25}}</string>
    <key>sourceSize</key>
    <string>{26,25}</string>
   </dict>
   <key>mike1-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{30,266},{24,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,36}}</string>
    <key>sourceSize</key>
    <string>{24,36}</string>
   </dict>
   <key>mike1-baoxiang1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,367},{138,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,87}}</string>
    <key>sourceSize</key>
    <string>{138,87}</string>
   </dict>
   <key>mike1-jingbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{63,218},{51,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,30}}</string>
    <key>sourceSize</key>
    <string>{51,30}</string>
   </dict>
   <key>mike1-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,295},{24,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,20}}</string>
    <key>sourceSize</key>
    <string>{24,20}</string>
   </dict>
   <key>mike1-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,214},{36,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,48}}</string>
    <key>sourceSize</key>
    <string>{36,48}</string>
   </dict>
   <key>mike1-yousouzhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
   <key>mike1-dao.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,309},{161,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,83}}</string>
    <key>sourceSize</key>
    <string>{161,83}</string>
   </dict>
   <key>mike1-youshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,268},{29,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,28}}</string>
    <key>sourceSize</key>
    <string>{29,28}</string>
   </dict>
   <key>mike1-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,273},{30,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,23}}</string>
    <key>sourceSize</key>
    <string>{30,23}</string>
   </dict>
   <key>mike1-youshoubi_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,295},{23,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,15}}</string>
    <key>sourceSize</key>
    <string>{23,15}</string>
   </dict>
   <key>mike1-baoxiang2.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,0},{176,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{176,152}}</string>
    <key>sourceSize</key>
    <string>{176,152}</string>
   </dict>
   <key>mike1-baoxiang3.png</key>
   <dict>
    <key>frame</key>
    <string>{{118,154},{156,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,101}}</string>
    <key>sourceSize</key>
    <string>{156,101}</string>
   </dict>
   <key>mike1-youtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,0},{103,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,212}}</string>
    <key>sourceSize</key>
    <string>{103,212}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>mike.png</string>
   <key>textureFileName</key>
   <string>mike.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>