<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bianzisucai-qianshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,530},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>bianzisucai-bianzi046.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,903},{260,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,132}}</string>
        <key>sourceSize</key>
        <string>{260,132}</string>
      </dict>
      <key>bianzisucai-bianzi045.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,903},{284,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,104}}</string>
        <key>sourceSize</key>
        <string>{284,104}</string>
      </dict>
      <key>bianzisucai-bianzi044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,946},{263,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{263,110}}</string>
        <key>sourceSize</key>
        <string>{263,110}</string>
      </dict>
      <key>bianzisucai-bianzi043.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,110},{331,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{331,187}}</string>
        <key>sourceSize</key>
        <string>{331,187}</string>
      </dict>
      <key>bianzisucai-bianzi042.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,373},{228,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,205}}</string>
        <key>sourceSize</key>
        <string>{228,205}</string>
      </dict>
      <key>bianzisucai-bianzi041.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,123},{143,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,237}}</string>
        <key>sourceSize</key>
        <string>{143,237}</string>
      </dict>
      <key>bianzisucai-bianzi040.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,238},{191,305}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,305}}</string>
        <key>sourceSize</key>
        <string>{191,305}</string>
      </dict>
      <key>bianzisucai-bianzi039.png</key>
      <dict>
        <key>frame</key>
        <string>{{1255,299},{260,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,226}}</string>
        <key>sourceSize</key>
        <string>{260,226}</string>
      </dict>
      <key>mojiezuo1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{1571,460},{102,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,60}}</string>
        <key>sourceSize</key>
        <string>{102,60}</string>
      </dict>
      <key>mojiezuo1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{1939,354},{101,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>mojiezuo1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,385},{101,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,73}}</string>
        <key>sourceSize</key>
        <string>{101,73}</string>
      </dict>
      <key>mojiezuo1-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,416},{52,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,105}}</string>
        <key>sourceSize</key>
        <string>{52,105}</string>
      </dict>
      <key>mojiezuo1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,194},{28,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,64}}</string>
        <key>sourceSize</key>
        <string>{28,64}</string>
      </dict>
      <key>mojiezuo1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,299},{65,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,115}}</string>
        <key>sourceSize</key>
        <string>{65,115}</string>
      </dict>
      <key>mojiezuo1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,464},{71,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,79}}</string>
        <key>sourceSize</key>
        <string>{71,79}</string>
      </dict>
      <key>mojiezuo1-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1571,522},{62,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,83}}</string>
        <key>sourceSize</key>
        <string>{62,83}</string>
      </dict>
      <key>mojiezuo1-toufa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1909,437},{75,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,92}}</string>
        <key>sourceSize</key>
        <string>{75,92}</string>
      </dict>
      <key>mojiezuo1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,545},{209,201}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,201}}</string>
        <key>sourceSize</key>
        <string>{209,201}</string>
      </dict>
      <key>mojiezuo1-toufa6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1975,537},{37,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,88}}</string>
        <key>sourceSize</key>
        <string>{37,88}</string>
      </dict>
      <key>mojiezuo1-toufa7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,564},{37,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,78}}</string>
        <key>sourceSize</key>
        <string>{37,78}</string>
      </dict>
      <key>mojiezuo1-fuweng.png</key>
      <dict>
        <key>frame</key>
        <string>{{1503,623},{50,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,45}}</string>
        <key>sourceSize</key>
        <string>{50,45}</string>
      </dict>
      <key>mojiezuo1-fashi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1940,247},{104,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,105}}</string>
        <key>sourceSize</key>
        <string>{104,105}</string>
      </dict>
      <key>mojiezuo1-toufa7_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1605,110},{111,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,160}}</string>
        <key>sourceSize</key>
        <string>{111,160}</string>
      </dict>
      <key>mojiezuo1-zuoshouwang.png</key>
      <dict>
        <key>frame</key>
        <string>{{2002,627},{35,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,43}}</string>
        <key>sourceSize</key>
        <string>{35,43}</string>
      </dict>
      <key>mojiezuo1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,493},{34,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,35}}</string>
        <key>sourceSize</key>
        <string>{34,35}</string>
      </dict>
      <key>mojiezuo1-zuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,407},{32,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,40}}</string>
        <key>sourceSize</key>
        <string>{32,40}</string>
      </dict>
      <key>bianzisucai-bianzi014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1835,754},{204,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,125}}</string>
        <key>sourceSize</key>
        <string>{204,125}</string>
      </dict>
      <key>bianzisucai-bianzi013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,238},{124,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,224}}</string>
        <key>sourceSize</key>
        <string>{124,224}</string>
      </dict>
      <key>bianzisucai-bianzi004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1986,437},{37,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,98}}</string>
        <key>sourceSize</key>
        <string>{37,98}</string>
      </dict>
      <key>bianzisucai-bianzi003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,464},{37,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,98}}</string>
        <key>sourceSize</key>
        <string>{37,98}</string>
      </dict>
      <key>bianzisucai-bianzi002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,523},{37,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,98}}</string>
        <key>sourceSize</key>
        <string>{37,98}</string>
      </dict>
      <key>bianzisucai-bianzi001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1635,522},{37,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,98}}</string>
        <key>sourceSize</key>
        <string>{37,98}</string>
      </dict>
      <key>mojiezuo1-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,649},{70,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,25}}</string>
        <key>sourceSize</key>
        <string>{70,25}</string>
      </dict>
      <key>mojiezuo1-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1942,627},{58,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,38}}</string>
        <key>sourceSize</key>
        <string>{58,38}</string>
      </dict>
      <key>mojiezuo1-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,545},{42,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,73}}</string>
        <key>sourceSize</key>
        <string>{42,73}</string>
      </dict>
      <key>mojiezuo1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,342},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>mojiezuo1-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,260},{30,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,54}}</string>
        <key>sourceSize</key>
        <string>{30,54}</string>
      </dict>
      <key>mojiezuo1-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{1909,531},{64,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,71}}</string>
        <key>sourceSize</key>
        <string>{64,71}</string>
      </dict>
      <key>mojiezuo1-kudang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1880,604},{60,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,54}}</string>
        <key>sourceSize</key>
        <string>{60,54}</string>
      </dict>
      <key>mojiezuo1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,123},{33,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,69}}</string>
        <key>sourceSize</key>
        <string>{33,69}</string>
      </dict>
      <key>mojiezuo1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,365},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>mojiezuo1-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{1909,290},{25,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
      <key>mojiezuo1-zuochibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,620},{73,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,27}}</string>
        <key>sourceSize</key>
        <string>{73,27}</string>
      </dict>
      <key>mojiezuo1-zuochibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,607},{65,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,45}}</string>
        <key>sourceSize</key>
        <string>{65,45}</string>
      </dict>
      <key>mojiezuo1-zuochibang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,614},{51,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,58}}</string>
        <key>sourceSize</key>
        <string>{51,58}</string>
      </dict>
      <key>mojiezuo1-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,449},{30,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{30,42}</string>
      </dict>
      <key>mojiezuo1-youshouwang.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,316},{34,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,45}}</string>
        <key>sourceSize</key>
        <string>{34,45}</string>
      </dict>
      <key>mojiezuo1-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1909,376},{26,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,27}}</string>
        <key>sourceSize</key>
        <string>{26,27}</string>
      </dict>
      <key>mojiezuo1-bianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,634},{48,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,27}}</string>
        <key>sourceSize</key>
        <string>{48,27}</string>
      </dict>
      <key>mojiezuo1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,537},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>mojiezuo1-weiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1555,654},{63,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,20}}</string>
        <key>sourceSize</key>
        <string>{63,20}</string>
      </dict>
      <key>mojiezuo1-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1909,348},{28,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,26}}</string>
        <key>sourceSize</key>
        <string>{28,26}</string>
      </dict>
      <key>mojiezuo1-weiba3.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,580},{45,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,52}}</string>
        <key>sourceSize</key>
        <string>{45,52}</string>
      </dict>
      <key>mojiezuo1-weiba4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1623,622},{45,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,33}}</string>
        <key>sourceSize</key>
        <string>{45,33}</string>
      </dict>
      <key>mojiezuo1-youchibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,576},{32,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,19}}</string>
        <key>sourceSize</key>
        <string>{32,19}</string>
      </dict>
      <key>mojiezuo1-youchibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,363},{32,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,42}}</string>
        <key>sourceSize</key>
        <string>{32,42}</string>
      </dict>
      <key>mojiezuo1-youchibang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,545},{32,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,35}}</string>
        <key>sourceSize</key>
        <string>{32,35}</string>
      </dict>
      <key>bianzisucai-bianzi055.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,1005},{292,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{292,71}}</string>
        <key>sourceSize</key>
        <string>{292,71}</string>
      </dict>
      <key>bianzisucai-bianzi054.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,917},{288,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,89}}</string>
        <key>sourceSize</key>
        <string>{288,89}</string>
      </dict>
      <key>bianzisucai-bianzi053.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,727},{276,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,133}}</string>
        <key>sourceSize</key>
        <string>{276,133}</string>
      </dict>
      <key>bianzisucai-bianzi051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,371}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,371}}</string>
        <key>sourceSize</key>
        <string>{240,371}</string>
      </dict>
      <key>bianzisucai-bianzi050.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,0},{231,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,340}}</string>
        <key>sourceSize</key>
        <string>{231,340}</string>
      </dict>
      <key>bianzisucai-bianzi049.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,522},{141,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,151}}</string>
        <key>sourceSize</key>
        <string>{141,151}</string>
      </dict>
      <key>bianzisucai-biaozi057.png</key>
      <dict>
        <key>frame</key>
        <string>{{1605,272},{91,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,111}}</string>
        <key>sourceSize</key>
        <string>{91,111}</string>
      </dict>
      <key>bianzisucai-bianzi048.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{178,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,199}}</string>
        <key>sourceSize</key>
        <string>{178,199}</string>
      </dict>
      <key>bianzisucai-bianzi056.png</key>
      <dict>
        <key>frame</key>
        <string>{{1241,527},{260,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,166}}</string>
        <key>sourceSize</key>
        <string>{260,166}</string>
      </dict>
      <key>bianzisucai-bianzi038.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,862},{341,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{341,82}}</string>
        <key>sourceSize</key>
        <string>{341,82}</string>
      </dict>
      <key>bianzisucai-bianzi037.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,768},{300,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,147}}</string>
        <key>sourceSize</key>
        <string>{300,147}</string>
      </dict>
      <key>bianzisucai-bianzi036.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,351},{254,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,202}}</string>
        <key>sourceSize</key>
        <string>{254,202}</string>
      </dict>
      <key>bianzisucai-bianzi035.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,0},{219,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{219,288}}</string>
        <key>sourceSize</key>
        <string>{219,288}</string>
      </dict>
      <key>bianzisucai-bianzi034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,290},{209,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,254}}</string>
        <key>sourceSize</key>
        <string>{209,254}</string>
      </dict>
      <key>bianzisucai-bianzi033.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,123},{276,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,226}}</string>
        <key>sourceSize</key>
        <string>{276,226}</string>
      </dict>
      <key>bianzisucai-bianzi032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1588,737},{245,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{245,164}}</string>
        <key>sourceSize</key>
        <string>{245,164}</string>
      </dict>
      <key>bianzisucai-bianzi031.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,580},{192,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,181}}</string>
        <key>sourceSize</key>
        <string>{192,181}</string>
      </dict>
      <key>bianzisucai-bianzi030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1940,0},{92,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,245}}</string>
        <key>sourceSize</key>
        <string>{92,245}</string>
      </dict>
      <key>bianzisucai-bianzi027.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,832},{243,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,131}}</string>
        <key>sourceSize</key>
        <string>{243,131}</string>
      </dict>
      <key>bianzisucai-bianzi026.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,965},{265,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{265,105}}</string>
        <key>sourceSize</key>
        <string>{265,105}</string>
      </dict>
      <key>bianzisucai-bianzi025.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,891},{281,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{281,112}}</string>
        <key>sourceSize</key>
        <string>{281,112}</string>
      </dict>
      <key>bianzisucai-bianzi024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1674,546},{204,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,189}}</string>
        <key>sourceSize</key>
        <string>{204,189}</string>
      </dict>
      <key>bianzisucai-bianzi023.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,362},{165,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,158}}</string>
        <key>sourceSize</key>
        <string>{165,158}</string>
      </dict>
      <key>bianzisucai-bianzi022.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,675},{216,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,145}}</string>
        <key>sourceSize</key>
        <string>{216,145}</string>
      </dict>
      <key>bianzisucai-bianzi021.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,555},{240,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,170}}</string>
        <key>sourceSize</key>
        <string>{240,170}</string>
      </dict>
      <key>bianzisucai-bianzi020.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{459,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{459,121}}</string>
        <key>sourceSize</key>
        <string>{459,121}</string>
      </dict>
      <key>bianzisucai-bianzi019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,0},{445,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{445,108}}</string>
        <key>sourceSize</key>
        <string>{445,108}</string>
      </dict>
      <key>bianzisucai-bianzi018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,695},{463,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{463,71}}</string>
        <key>sourceSize</key>
        <string>{463,71}</string>
      </dict>
      <key>bianzisucai-bianzi017.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,0},{334,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{334,236}}</string>
        <key>sourceSize</key>
        <string>{334,236}</string>
      </dict>
      <key>bianzisucai-bianzi016.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,748},{185,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,168}}</string>
        <key>sourceSize</key>
        <string>{185,168}</string>
      </dict>
      <key>bianzisucai-bianzi015.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,342},{209,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,236}}</string>
        <key>sourceSize</key>
        <string>{209,236}</string>
      </dict>
      <key>bianzisucai-bianzi011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,781},{175,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,67}}</string>
        <key>sourceSize</key>
        <string>{175,67}</string>
      </dict>
      <key>bianzisucai-bianzi010.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,822},{183,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,67}}</string>
        <key>sourceSize</key>
        <string>{183,67}</string>
      </dict>
      <key>bianzisucai-bianzi007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,768},{189,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,67}}</string>
        <key>sourceSize</key>
        <string>{189,67}</string>
      </dict>
      <key>bianzisucai-bianzi005.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,763},{189,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,67}}</string>
        <key>sourceSize</key>
        <string>{189,67}</string>
      </dict>
      <key>bianzisucai-bianzi029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1880,672},{138,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,80}}</string>
        <key>sourceSize</key>
        <string>{138,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>mojiezuo.png</string>
      <key>textureFileName</key>
      <string>mojiezuo.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
  </dict>
</plist>