<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>moshite1-shouji2.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,275},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
      <key>moshite1-gongji2.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,246},{27,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,25}}</string>
        <key>sourceSize</key>
        <string>{27,25}</string>
      </dict>
      <key>moshite1-daiji2.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,276},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>moshite1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,262},{16,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,31}}</string>
        <key>sourceSize</key>
        <string>{16,31}</string>
      </dict>
      <key>moshite1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,243},{19,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,31}}</string>
        <key>sourceSize</key>
        <string>{19,31}</string>
      </dict>
      <key>moshite1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,227},{19,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,39}}</string>
        <key>sourceSize</key>
        <string>{19,39}</string>
      </dict>
      <key>moshite1-xiaba.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,288},{131,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,75}}</string>
        <key>sourceSize</key>
        <string>{131,75}</string>
      </dict>
      <key>moshite1-tou .png</key>
      <dict>
        <key>frame</key>
        <string>{{780,0},{129,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,133}}</string>
        <key>sourceSize</key>
        <string>{129,133}</string>
      </dict>
      <key>moshite1-xiaba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,135},{80,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,75}}</string>
        <key>sourceSize</key>
        <string>{80,75}</string>
      </dict>
      <key>moshite1-longwei.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,276},{161,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,69}}</string>
        <key>sourceSize</key>
        <string>{161,69}</string>
      </dict>
      <key>moshite1-longsheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,0},{163,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,188}}</string>
        <key>sourceSize</key>
        <string>{163,188}</string>
      </dict>
      <key>moshite1-jianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,112},{28,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,47}}</string>
        <key>sourceSize</key>
        <string>{28,47}</string>
      </dict>
      <key>moshite1-xiongmao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,0},{11,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,24}}</string>
        <key>sourceSize</key>
        <string>{11,24}</string>
      </dict>
      <key>moshite1-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,161},{38,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,32}}</string>
        <key>sourceSize</key>
        <string>{38,32}</string>
      </dict>
      <key>moshite1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,195},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,30}</string>
      </dict>
      <key>moshite1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,212},{50,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,38}}</string>
        <key>sourceSize</key>
        <string>{50,38}</string>
      </dict>
      <key>moshite1-toukui.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,208},{71,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,82}}</string>
        <key>sourceSize</key>
        <string>{71,82}</string>
      </dict>
      <key>moshite1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,135},{45,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,56}}</string>
        <key>sourceSize</key>
        <string>{45,56}</string>
      </dict>
      <key>moshite1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,252},{18,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,31}}</string>
        <key>sourceSize</key>
        <string>{18,31}</string>
      </dict>
      <key>moshite1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,0},{95,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,110}}</string>
        <key>sourceSize</key>
        <string>{95,110}</string>
      </dict>
      <key>moshite1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,112},{68,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,94}}</string>
        <key>sourceSize</key>
        <string>{68,94}</string>
      </dict>
      <key>moshite1-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,252},{25,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,27}}</string>
        <key>sourceSize</key>
        <string>{25,27}</string>
      </dict>
      <key>moshite1-gebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,221},{39,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,20}}</string>
        <key>sourceSize</key>
        <string>{39,20}</string>
      </dict>
      <key>moshite1-zuojianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,227},{21,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,33}}</string>
        <key>sourceSize</key>
        <string>{21,33}</string>
      </dict>
      <key>moshite1-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,212},{28,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,32}}</string>
        <key>sourceSize</key>
        <string>{28,32}</string>
      </dict>
      <key>moshite1-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,193},{39,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,26}}</string>
        <key>sourceSize</key>
        <string>{39,26}</string>
      </dict>
      <key>moshite1-zuioxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,243},{26,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,30}}</string>
        <key>sourceSize</key>
        <string>{26,30}</string>
      </dict>
      <key>moshite1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,281},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>moshite1-zuoshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,268},{19,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,20}}</string>
        <key>sourceSize</key>
        <string>{19,20}</string>
      </dict>
      <key>moshite1-guabu.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,273},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>moshite1-weiba33.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,298},{150,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,55}}</string>
        <key>sourceSize</key>
        <string>{150,55}</string>
      </dict>
      <key>moshite1-weiba22.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,190},{155,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,96}}</string>
        <key>sourceSize</key>
        <string>{155,96}</string>
      </dict>
      <key>moshite1-chibang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{221,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,348}}</string>
        <key>sourceSize</key>
        <string>{221,348}</string>
      </dict>
      <key>moshite1-chibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{222,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,348}}</string>
        <key>sourceSize</key>
        <string>{222,348}</string>
      </dict>
      <key>moshite1-chibang_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{166,274}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,274}}</string>
        <key>sourceSize</key>
        <string>{166,274}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>moshite2.png</string>
      <key>textureFileName</key>
      <string>moshite2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>