<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>naduo0-zhuandong .png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{333,278}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{333,278}}</string>
    <key>sourceSize</key>
    <string>{333,278}</string>
   </dict>
   <key>naduo0-daimao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,136},{119,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{119,42}}</string>
    <key>sourceSize</key>
    <string>{119,42}</string>
   </dict>
   <key>naduo0-daimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{864,250},{43,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,28}}</string>
    <key>sourceSize</key>
    <string>{43,28}</string>
   </dict>
   <key>naduo0-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,205},{59,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,73}}</string>
    <key>sourceSize</key>
    <string>{59,73}</string>
   </dict>
   <key>naduo0-zuoliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{635,136},{48,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,87}}</string>
    <key>sourceSize</key>
    <string>{48,87}</string>
   </dict>
   <key>naduo0-souji.png</key>
   <dict>
    <key>frame</key>
    <string>{{438,213},{66,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,60}}</string>
    <key>sourceSize</key>
    <string>{66,60}</string>
   </dict>
   <key>naduo0-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{685,247},{64,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,45}}</string>
    <key>sourceSize</key>
    <string>{64,45}</string>
   </dict>
   <key>naduo0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{506,237},{64,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,49}}</string>
    <key>sourceSize</key>
    <string>{64,49}</string>
   </dict>
   <key>naduo0-toushi.png</key>
   <dict>
    <key>frame</key>
    <string>{{932,215},{80,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,47}}</string>
    <key>sourceSize</key>
    <string>{80,47}</string>
   </dict>
   <key>naduo0-youliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{941,0},{81,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,116}}</string>
    <key>sourceSize</key>
    <string>{81,116}</string>
   </dict>
   <key>naduo0-zuoliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{941,118},{64,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,95}}</string>
    <key>sourceSize</key>
    <string>{64,95}</string>
   </dict>
   <key>naduo0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{534,0},{153,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,134}}</string>
    <key>sourceSize</key>
    <string>{153,134}</string>
   </dict>
   <key>naduo0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,275},{22,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,19}}</string>
    <key>sourceSize</key>
    <string>{22,19}</string>
   </dict>
   <key>naduo0-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{945,264},{31,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,16}}</string>
    <key>sourceSize</key>
    <string>{31,16}</string>
   </dict>
   <key>naduo0-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,256},{38,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,20}}</string>
    <key>sourceSize</key>
    <string>{38,20}</string>
   </dict>
   <key>naduo0-youyi.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,94},{113,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,109}}</string>
    <key>sourceSize</key>
    <string>{113,109}</string>
   </dict>
   <key>naduo0-xionbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{909,264},{34,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,21}}</string>
    <key>sourceSize</key>
    <string>{34,21}</string>
   </dict>
   <key>naduo0-youbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,180},{81,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,55}}</string>
    <key>sourceSize</key>
    <string>{81,55}</string>
   </dict>
   <key>naduo0-xiabai.png</key>
   <dict>
    <key>frame</key>
    <string>{{792,130},{38,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,77}}</string>
    <key>sourceSize</key>
    <string>{38,77}</string>
   </dict>
   <key>naduo0-youtui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,180},{34,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,49}}</string>
    <key>sourceSize</key>
    <string>{34,49}</string>
   </dict>
   <key>naduo0-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,225},{50,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,30}}</string>
    <key>sourceSize</key>
    <string>{50,30}</string>
   </dict>
   <key>naduo0-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{751,247},{26,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,36}}</string>
    <key>sourceSize</key>
    <string>{26,36}</string>
   </dict>
   <key>naduo0-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{514,94},{18,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,24}}</string>
    <key>sourceSize</key>
    <string>{18,24}</string>
   </dict>
   <key>naduo0-shengti1.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,205},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>naduo0-shengti2.png</key>
   <dict>
    <key>frame</key>
    <string>{{822,250},{40,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,35}}</string>
    <key>sourceSize</key>
    <string>{40,35}</string>
   </dict>
   <key>naduo0-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{978,264},{24,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,23}}</string>
    <key>sourceSize</key>
    <string>{24,23}</string>
   </dict>
   <key>naduo0-zuoyi.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,94},{62,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,117}}</string>
    <key>sourceSize</key>
    <string>{62,117}</string>
   </dict>
   <key>naduo0-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{779,259},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>naduo0-zuotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{572,237},{22,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,48}}</string>
    <key>sourceSize</key>
    <string>{22,48}</string>
   </dict>
   <key>naduo0-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{622,257},{43,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,17}}</string>
    <key>sourceSize</key>
    <string>{43,17}</string>
   </dict>
   <key>naduo0-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{792,209},{28,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,48}}</string>
    <key>sourceSize</key>
    <string>{28,48}</string>
   </dict>
   <key>naduo0-zuobai.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,231},{23,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,53}}</string>
    <key>sourceSize</key>
    <string>{23,53}</string>
   </dict>
   <key>naduo0-zuohoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{689,130},{101,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,115}}</string>
    <key>sourceSize</key>
    <string>{101,115}</string>
   </dict>
   <key>naduo0-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,0},{197,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{197,92}}</string>
    <key>sourceSize</key>
    <string>{197,92}</string>
   </dict>
   <key>naduo0-youhoufav.png</key>
   <dict>
    <key>frame</key>
    <string>{{689,0},{143,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{143,128}}</string>
    <key>sourceSize</key>
    <string>{143,128}</string>
   </dict>
   <key>naduo0-youhoufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{834,125},{96,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,123}}</string>
    <key>sourceSize</key>
    <string>{96,123}</string>
   </dict>
   <key>naduo0-youhoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{834,0},{105,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,123}}</string>
    <key>sourceSize</key>
    <string>{105,123}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>naduo2.png</string>
   <key>textureFileName</key>
   <string>naduo2.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>