<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nandi1-gongjibendai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,216},{24,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,59}}</string>
        <key>sourceSize</key>
        <string>{24,59}</string>
      </dict>
      <key>nandi1-gongjibendai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,0},{24,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,141}}</string>
        <key>sourceSize</key>
        <string>{24,141}</string>
      </dict>
      <key>nandi1-gongjibendai.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,143},{35,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,106}}</string>
        <key>sourceSize</key>
        <string>{35,106}</string>
      </dict>
      <key>nandi1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,277},{26,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,27}}</string>
        <key>sourceSize</key>
        <string>{26,27}</string>
      </dict>
      <key>nandi1-xiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,287},{26,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,24}}</string>
        <key>sourceSize</key>
        <string>{26,24}</string>
      </dict>
      <key>nandi1-shou.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,277},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>nandi1-xiaobi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,290},{27,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,22}}</string>
        <key>sourceSize</key>
        <string>{27,22}</string>
      </dict>
      <key>nandi1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,217},{82,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,58}}</string>
        <key>sourceSize</key>
        <string>{82,58}</string>
      </dict>
      <key>nandi1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,257},{81,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,56}}</string>
        <key>sourceSize</key>
        <string>{81,56}</string>
      </dict>
      <key>nandi1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{83,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,56}}</string>
        <key>sourceSize</key>
        <string>{83,56}</string>
      </dict>
      <key>nandi1-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,142}}</string>
        <key>sourceSize</key>
        <string>{191,142}</string>
      </dict>
      <key>nandi1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,277},{63,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,72}}</string>
        <key>sourceSize</key>
        <string>{63,72}</string>
      </dict>
      <key>nandi1-bianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,134},{35,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,129}}</string>
        <key>sourceSize</key>
        <string>{35,129}</string>
      </dict>
      <key>nandi1-liuhai_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,134},{72,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>nandi1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,114},{116,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,141}}</string>
        <key>sourceSize</key>
        <string>{116,141}</string>
      </dict>
      <key>nandi1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{132,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,86}}</string>
        <key>sourceSize</key>
        <string>{132,86}</string>
      </dict>
      <key>nandi1-naodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{130,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,132}}</string>
        <key>sourceSize</key>
        <string>{130,132}</string>
      </dict>
      <key>nandi1-bianzi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,114},{25,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,100}}</string>
        <key>sourceSize</key>
        <string>{25,100}</string>
      </dict>
      <key>nandi1-benlai.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,232},{24,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,56}}</string>
        <key>sourceSize</key>
        <string>{24,56}</string>
      </dict>
      <key>nandi1-bendai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{79,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,40}}</string>
        <key>sourceSize</key>
        <string>{79,40}</string>
      </dict>
      <key>nandi1-bendai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,306},{69,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,24}}</string>
        <key>sourceSize</key>
        <string>{69,24}</string>
      </dict>
      <key>nandi1-shangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,265},{26,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,33}}</string>
        <key>sourceSize</key>
        <string>{26,33}</string>
      </dict>
      <key>nandi1-datui.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,251},{22,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,43}}</string>
        <key>sourceSize</key>
        <string>{22,43}</string>
      </dict>
      <key>nandi1-xiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,269},{25,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,31}}</string>
        <key>sourceSize</key>
        <string>{25,31}</string>
      </dict>
      <key>nandi1-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,232},{21,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,18}</string>
      </dict>
      <key>nandi1-xiong.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,257},{34,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>nandi1-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,134},{15,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,18}}</string>
        <key>sourceSize</key>
        <string>{15,18}</string>
      </dict>
      <key>nandi1-qugan.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,209},{34,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,58}}</string>
        <key>sourceSize</key>
        <string>{34,58}</string>
      </dict>
      <key>nandi1-shangbi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,269},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>nandi1-toufa_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{148,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,112}}</string>
        <key>sourceSize</key>
        <string>{148,112}</string>
      </dict>
      <key>nandi1-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,209},{20,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,48}}</string>
        <key>sourceSize</key>
        <string>{20,48}</string>
      </dict>
      <key>nandi1-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,265},{23,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,36}}</string>
        <key>sourceSize</key>
        <string>{23,36}</string>
      </dict>
      <key>nandi1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,252},{21,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,13}}</string>
        <key>sourceSize</key>
        <string>{21,13}</string>
      </dict>
      <key>nandi1-bendai4.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,303},{71,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,38}}</string>
        <key>sourceSize</key>
        <string>{71,38}</string>
      </dict>
      <key>nandi1-bendai5.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,144},{57,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,63}}</string>
        <key>sourceSize</key>
        <string>{57,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>nandi2.png</string>
      <key>textureFileName</key>
      <string>nandi2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>