<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shiziyuanjian-shizi_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,601},{138,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,48}}</string>
        <key>sourceSize</key>
        <string>{138,48}</string>
      </dict>
      <key>shiziyuanjian-shizi_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,692},{83,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,47}}</string>
        <key>sourceSize</key>
        <string>{83,47}</string>
      </dict>
      <key>shiziyuanjian-shizi_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,404},{99,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,102}}</string>
        <key>sourceSize</key>
        <string>{99,102}</string>
      </dict>
      <key>shiziyuanjian-shizi_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,730},{52,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,41}}</string>
        <key>sourceSize</key>
        <string>{52,41}</string>
      </dict>
      <key>shiziyuanjian-shizi_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,435},{57,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,76}}</string>
        <key>sourceSize</key>
        <string>{57,76}</string>
      </dict>
      <key>shiziyuanjian-shizi_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,365},{51,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,68}}</string>
        <key>sourceSize</key>
        <string>{51,68}</string>
      </dict>
      <key>shiziyuanjian-shizi_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,513},{31,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,28}}</string>
        <key>sourceSize</key>
        <string>{31,28}</string>
      </dict>
      <key>shiziyuanjian-shizi_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,745},{204,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,222}}</string>
        <key>sourceSize</key>
        <string>{204,222}</string>
      </dict>
      <key>shiziyuanjian-shizi_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,536},{31,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,24}}</string>
        <key>sourceSize</key>
        <string>{31,24}</string>
      </dict>
      <key>shiziyuanjian-shizi_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,296},{141,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,94}}</string>
        <key>sourceSize</key>
        <string>{141,94}</string>
      </dict>
      <key>shiziyuanjian-shizi_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,591},{97,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,76}}</string>
        <key>sourceSize</key>
        <string>{97,76}</string>
      </dict>
      <key>shiziyuanjian-shizi_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,506},{53,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,51}}</string>
        <key>sourceSize</key>
        <string>{53,51}</string>
      </dict>
      <key>shiziyuanjian-shizi_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,641},{81,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,72}}</string>
        <key>sourceSize</key>
        <string>{81,72}</string>
      </dict>
      <key>shiziyuanjian-shizi_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,388},{96,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,87}}</string>
        <key>sourceSize</key>
        <string>{96,87}</string>
      </dict>
      <key>shiziyuanjian-shizi_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,540},{104,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,79}}</string>
        <key>sourceSize</key>
        <string>{104,79}</string>
      </dict>
      <key>shiziyuanjian-shizi_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,669},{81,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,61}}</string>
        <key>sourceSize</key>
        <string>{81,61}</string>
      </dict>
      <key>shiziyuanjian-shizi_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,501},{47,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,29}}</string>
        <key>sourceSize</key>
        <string>{47,29}</string>
      </dict>
      <key>shiziyuanjian-shizi_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,656},{75,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>shiziyuanjian-shizi_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,296},{151,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,112}}</string>
        <key>sourceSize</key>
        <string>{151,112}</string>
      </dict>
      <key>shiziyuanjian-shizi_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,505},{101,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,94}}</string>
        <key>sourceSize</key>
        <string>{101,94}</string>
      </dict>
      <key>shiziyuanjian-shizi_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,573},{71,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,101}}</string>
        <key>sourceSize</key>
        <string>{71,101}</string>
      </dict>
      <key>shiziyuanjian-shizi_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,532},{47,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,27}}</string>
        <key>sourceSize</key>
        <string>{47,27}</string>
      </dict>
      <key>shiziyuanjian-shizi_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,580},{24,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,18}}</string>
        <key>sourceSize</key>
        <string>{24,18}</string>
      </dict>
      <key>shiziyuanjian-shizi_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{109,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,87}}</string>
        <key>sourceSize</key>
        <string>{109,87}</string>
      </dict>
      <key>shiziyuanjian-shizi_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,715},{72,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,32}}</string>
        <key>sourceSize</key>
        <string>{72,32}</string>
      </dict>
      <key>shiziyuanjian-shizi_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,724},{63,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,39}}</string>
        <key>sourceSize</key>
        <string>{63,39}</string>
      </dict>
      <key>shiziyuanjian-shizi_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,477},{81,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,94}}</string>
        <key>sourceSize</key>
        <string>{81,94}</string>
      </dict>
      <key>shiziyuanjian-shizi_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,710},{74,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,33}}</string>
        <key>sourceSize</key>
        <string>{74,33}</string>
      </dict>
      <key>shiziyuanjian-shizi_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,732},{54,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,33}}</string>
        <key>sourceSize</key>
        <string>{54,33}</string>
      </dict>
      <key>shiziyuanjian-shizi_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,513},{62,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,70}}</string>
        <key>sourceSize</key>
        <string>{62,70}</string>
      </dict>
      <key>shiziyuanjian-shizi_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,559},{65,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>shiziyuanjian-shizi_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{199,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,143}}</string>
        <key>sourceSize</key>
        <string>{199,143}</string>
      </dict>
      <key>shiziyuanjian-shizi_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,713},{75,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,31}}</string>
        <key>sourceSize</key>
        <string>{75,31}</string>
      </dict>
      <key>shiziyuanjian-shizi_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,730},{58,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,36}}</string>
        <key>sourceSize</key>
        <string>{58,36}</string>
      </dict>
      <key>shiziyuanjian-shizi_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,585},{58,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,69}}</string>
        <key>sourceSize</key>
        <string>{58,69}</string>
      </dict>
      <key>shiziyuanjian-shizi_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,492},{99,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,97}}</string>
        <key>sourceSize</key>
        <string>{99,97}</string>
      </dict>
      <key>shiziyuanjian-shizi_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,730},{63,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,29}}</string>
        <key>sourceSize</key>
        <string>{63,29}</string>
      </dict>
      <key>shiziyuanjian-shizi_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,610},{67,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,63}}</string>
        <key>sourceSize</key>
        <string>{67,63}</string>
      </dict>
      <key>nianshouweitu-shou1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,447},{109,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,91}}</string>
        <key>sourceSize</key>
        <string>{109,91}</string>
      </dict>
      <key>nianshouyuanjian-qunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,296},{11,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,36}}</string>
        <key>sourceSize</key>
        <string>{11,36}</string>
      </dict>
      <key>HQ_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{161,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,294}}</string>
        <key>sourceSize</key>
        <string>{161,294}</string>
      </dict>
      <key>HQ_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{161,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,294}}</string>
        <key>sourceSize</key>
        <string>{161,294}</string>
      </dict>
      <key>HQ_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{161,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,294}}</string>
        <key>sourceSize</key>
        <string>{161,294}</string>
      </dict>
      <key>HQ_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{161,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,294}}</string>
        <key>sourceSize</key>
        <string>{161,294}</string>
      </dict>
      <key>HQ_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,0},{161,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,294}}</string>
        <key>sourceSize</key>
        <string>{161,294}</string>
      </dict>
      <key>HQ_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,0},{161,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,294}}</string>
        <key>sourceSize</key>
        <string>{161,294}</string>
      </dict>
      <key>shiziyuanjian-shouji2.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,667},{83,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,61}}</string>
        <key>sourceSize</key>
        <string>{83,61}</string>
      </dict>
      <key>nianshouyuanjian-gongji2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{93,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,63}}</string>
        <key>sourceSize</key>
        <string>{93,63}</string>
      </dict>
      <key>nianshouyuanjian-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,651},{94,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,60}}</string>
        <key>sourceSize</key>
        <string>{94,60}</string>
      </dict>
      <key>nianshouyuanjian-xingxing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,392},{39,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,40}}</string>
        <key>sourceSize</key>
        <string>{39,40}</string>
      </dict>
      <key>nianshouyuanjian-xingxing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,651},{75,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,74}}</string>
        <key>sourceSize</key>
        <string>{75,74}</string>
      </dict>
      <key>nianshouyuanjian-xingxing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,447},{53,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,57}}</string>
        <key>sourceSize</key>
        <string>{53,57}</string>
      </dict>
      <key>nianshouyuanjian-xingxing4.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,543},{29,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,23}}</string>
        <key>sourceSize</key>
        <string>{29,23}</string>
      </dict>
      <key>nianshouyuanjian-xingtiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,701},{81,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,29}}</string>
        <key>sourceSize</key>
        <string>{81,29}</string>
      </dict>
      <key>nianshouyuanjian-xingtiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,727},{57,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,38}}</string>
        <key>sourceSize</key>
        <string>{57,38}</string>
      </dict>
      <key>nianshouyuanjian-xingtiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,642},{51,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,17}}</string>
        <key>sourceSize</key>
        <string>{51,17}</string>
      </dict>
      <key>nianshouyuanjian-xingtiao4.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,414},{41,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,44}}</string>
        <key>sourceSize</key>
        <string>{41,44}</string>
      </dict>
      <key>nianshouyuanjian-shihu1.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,391},{154,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,54}}</string>
        <key>sourceSize</key>
        <string>{154,54}</string>
      </dict>
      <key>nianshouyuanjian-shihu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,627},{77,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,81}}</string>
        <key>sourceSize</key>
        <string>{77,81}</string>
      </dict>
      <key>nianshouyuanjian-shimei1.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,508},{110,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,76}}</string>
        <key>sourceSize</key>
        <string>{110,76}</string>
      </dict>
      <key>nianshouyuanjian-shimei2.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,676},{71,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,46}}</string>
        <key>sourceSize</key>
        <string>{71,46}</string>
      </dict>
      <key>nianshouyuanjian-shiya1.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,481},{33,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,30}}</string>
        <key>sourceSize</key>
        <string>{33,30}</string>
      </dict>
      <key>nianshouyuanjian-shimei3.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,296},{52,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,67}}</string>
        <key>sourceSize</key>
        <string>{52,67}</string>
      </dict>
      <key>nianshouyuanjian-shitou.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,749},{187,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,161}}</string>
        <key>sourceSize</key>
        <string>{187,161}</string>
      </dict>
      <key>nianshouyuanjian-shimei4.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,434},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>nianshouyuanjian-shihu3.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,203},{42,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,53}}</string>
        <key>sourceSize</key>
        <string>{42,53}</string>
      </dict>
      <key>nianshouyuanjian-shiya2.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,501},{26,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,33}}</string>
        <key>sourceSize</key>
        <string>{26,33}</string>
      </dict>
      <key>shiziyuanjian-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,439},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>shiziyuanjian-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,346},{27,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,47}}</string>
        <key>sourceSize</key>
        <string>{27,47}</string>
      </dict>
      <key>shiziyuanjian-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,566},{16,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,29}}</string>
        <key>sourceSize</key>
        <string>{16,29}</string>
      </dict>
      <key>shiziyuanjian-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,562},{19,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,29}}</string>
        <key>sourceSize</key>
        <string>{19,29}</string>
      </dict>
      <key>shiziyuanjian-toufa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,597},{51,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,42}}</string>
        <key>sourceSize</key>
        <string>{51,42}</string>
      </dict>
      <key>shiziyuanjian-toufa6.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,454},{67,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,84}}</string>
        <key>sourceSize</key>
        <string>{67,84}</string>
      </dict>
      <key>shiziyuanjian-toufa7.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,258},{38,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,55}}</string>
        <key>sourceSize</key>
        <string>{38,55}</string>
      </dict>
      <key>nianshouyuanjian-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,392},{109,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,98}}</string>
        <key>sourceSize</key>
        <string>{109,98}</string>
      </dict>
      <key>shiziyuanjian-shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,560},{108,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,74}}</string>
        <key>sourceSize</key>
        <string>{108,74}</string>
      </dict>
      <key>nianshouyuanjian-qianbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,410},{29,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,46}}</string>
        <key>sourceSize</key>
        <string>{29,46}</string>
      </dict>
      <key>nianshouyuanjian-shangbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,544},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>nianshouyuanjian-shiping1.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,574},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>nianshouyuanjian-shiping2.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,566},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>nianshouyuanjian-shiping3.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,471},{42,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,37}}</string>
        <key>sourceSize</key>
        <string>{42,37}</string>
      </dict>
      <key>nianshouyuanjian-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,540},{44,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,24}}</string>
        <key>sourceSize</key>
        <string>{44,24}</string>
      </dict>
      <key>nianshouyuanjian-jingbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,568},{26,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,17}}</string>
        <key>sourceSize</key>
        <string>{26,17}</string>
      </dict>
      <key>nianshouyuanjian-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,513},{45,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,25}}</string>
        <key>sourceSize</key>
        <string>{45,25}</string>
      </dict>
      <key>nianshouyuanjian-shangshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,661},{55,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,56}}</string>
        <key>sourceSize</key>
        <string>{55,56}</string>
      </dict>
      <key>nianshouyuanjian-qun1.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,76},{38,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,63}}</string>
        <key>sourceSize</key>
        <string>{38,63}</string>
      </dict>
      <key>nianshouyuanjian-qun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,675},{61,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>nianshouyuanjian-qun3.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,141},{40,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,60}}</string>
        <key>sourceSize</key>
        <string>{40,60}</string>
      </dict>
      <key>nianshouyuanjian-qun4.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,460},{44,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,39}}</string>
        <key>sourceSize</key>
        <string>{44,39}</string>
      </dict>
      <key>nianshouyuanjian-qun5.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,600},{48,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,40}}</string>
        <key>sourceSize</key>
        <string>{48,40}</string>
      </dict>
      <key>nianshouyuanjian-jiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,587},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>nianshouyuanjian-datui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,315},{39,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,52}}</string>
        <key>sourceSize</key>
        <string>{39,52}</string>
      </dict>
      <key>nianshouyuanjian-xiaotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,473},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>nianshouyuanjian-jiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,588},{23,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,16}}</string>
        <key>sourceSize</key>
        <string>{23,16}</string>
      </dict>
      <key>nianshouyuanjian-datui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,296},{28,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,48}}</string>
        <key>sourceSize</key>
        <string>{28,48}</string>
      </dict>
      <key>nianshouyuanjian-xiaotui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,458},{25,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,41}}</string>
        <key>sourceSize</key>
        <string>{25,41}</string>
      </dict>
      <key>shiziyuanjian-weiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,369},{45,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,43}}</string>
        <key>sourceSize</key>
        <string>{45,43}</string>
      </dict>
      <key>shiziyuanjian-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,510},{39,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,32}}</string>
        <key>sourceSize</key>
        <string>{39,32}</string>
      </dict>
      <key>nianshouyuanjian-huoya2.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,540},{67,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>shiziyuanjian-weiba3.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,561},{47,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,17}}</string>
        <key>sourceSize</key>
        <string>{47,17}</string>
      </dict>
      <key>shiziyuanjian-shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,296},{96,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,90}}</string>
        <key>sourceSize</key>
        <string>{96,90}</string>
      </dict>
      <key>nianshouyuanjian-shangbi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,544},{18,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,33}}</string>
        <key>sourceSize</key>
        <string>{18,33}</string>
      </dict>
      <key>nianshouyuanjian-qianbi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,395},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>shiziyuanjian-toufa8.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,410},{109,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,93}}</string>
        <key>sourceSize</key>
        <string>{109,93}</string>
      </dict>
      <key>shiziyuanjian-toufa9.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,296},{66,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,156}}</string>
        <key>sourceSize</key>
        <string>{66,156}</string>
      </dict>
      <key>shiziyuanjian-toufa11.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,719},{55,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,48}}</string>
        <key>sourceSize</key>
        <string>{55,48}</string>
      </dict>
      <key>shiziyuanjian-toufa12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{156,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,173}}</string>
        <key>sourceSize</key>
        <string>{156,173}</string>
      </dict>
      <key>nianshouyuanjian-shifa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,0},{33,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,74}}</string>
        <key>sourceSize</key>
        <string>{33,74}</string>
      </dict>
      <key>nianshouyuanjian-shifa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,621},{102,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,69}}</string>
        <key>sourceSize</key>
        <string>{102,69}</string>
      </dict>
      <key>nianshouyuanjian-shifa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,296},{105,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,106}}</string>
        <key>sourceSize</key>
        <string>{105,106}</string>
      </dict>
      <key>nianshouyuanjian-shifa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,296},{150,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,93}}</string>
        <key>sourceSize</key>
        <string>{150,93}</string>
      </dict>
      <key>nianshouyuanjian-shifa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,586},{99,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,79}}</string>
        <key>sourceSize</key>
        <string>{99,79}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>nianshou.png</string>
      <key>textureFileName</key>
      <string>nianshou.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>