<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>nidun1-rt3.png</key>
   <dict>
    <key>frame</key>
    <string>{{980,0},{488,363}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{488,363}}</string>
    <key>sourceSize</key>
    <string>{488,363}</string>
   </dict>
   <key>nidun1-rt2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1470,0},{488,363}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{488,363}}</string>
    <key>sourceSize</key>
    <string>{488,363}</string>
   </dict>
   <key>nidun1-rt1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{488,363}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{488,363}}</string>
    <key>sourceSize</key>
    <string>{488,363}</string>
   </dict>
   <key>nidun1-rt.png</key>
   <dict>
    <key>frame</key>
    <string>{{490,0},{488,363}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{488,363}}</string>
    <key>sourceSize</key>
    <string>{488,363}</string>
   </dict>
   <key>nidun1-yu .png</key>
   <dict>
    <key>frame</key>
    <string>{{969,365},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-jian6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1470,365},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-jian5.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,701},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-jian4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,701},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-jian3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,365},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-j2.png</key>
   <dict>
    <key>frame</key>
    <string>{{674,701},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-ji.png</key>
   <dict>
    <key>frame</key>
    <string>{{488,365},{335,334}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{335,334}}</string>
    <key>sourceSize</key>
    <string>{335,334}</string>
   </dict>
   <key>nidun1-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1306,365},{88,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,143}}</string>
    <key>sourceSize</key>
    <string>{88,143}</string>
   </dict>
   <key>nidun1-zuoliuhai .png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,0},{48,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,130}}</string>
    <key>sourceSize</key>
    <string>{48,130}</string>
   </dict>
   <key>nidun1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1890,457},{77,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,60}}</string>
    <key>sourceSize</key>
    <string>{77,60}</string>
   </dict>
   <key>nidun1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1966,384},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,71}}</string>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>nidun1-putong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1807,447},{81,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,74}}</string>
    <key>sourceSize</key>
    <string>{81,74}</string>
   </dict>
   <key>nidun1-lian .png</key>
   <dict>
    <key>frame</key>
    <string>{{337,365},{149,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,153}}</string>
    <key>sourceSize</key>
    <string>{149,153}</string>
   </dict>
   <key>nidun1-youjian.png</key>
   <dict>
    <key>frame</key>
    <string>{{1807,661},{169,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{169,113}}</string>
    <key>sourceSize</key>
    <string>{169,113}</string>
   </dict>
   <key>nidun1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{2010,107},{35,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,35}}</string>
    <key>sourceSize</key>
    <string>{35,35}</string>
   </dict>
   <key>nidun1-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1428,399},{26,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,31}}</string>
    <key>sourceSize</key>
    <string>{26,31}</string>
   </dict>
   <key>nidun1-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{2010,66},{32,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,39}}</string>
    <key>sourceSize</key>
    <string>{32,39}</string>
   </dict>
   <key>nidun1-youjianbing.png</key>
   <dict>
    <key>frame</key>
    <string>{{1980,344},{59,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,38}}</string>
    <key>sourceSize</key>
    <string>{59,38}</string>
   </dict>
   <key>nidun1-houhuajie.png</key>
   <dict>
    <key>frame</key>
    <string>{{1807,365},{97,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,80}}</string>
    <key>sourceSize</key>
    <string>{97,80}</string>
   </dict>
   <key>nidun1-yaoshi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1906,399},{25,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,30}}</string>
    <key>sourceSize</key>
    <string>{25,30}</string>
   </dict>
   <key>nidun1-youqung.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,365},{45,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,35}}</string>
    <key>sourceSize</key>
    <string>{45,35}</string>
   </dict>
   <key>nidun1-youqung2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1396,391},{30,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,28}}</string>
    <key>sourceSize</key>
    <string>{30,28}</string>
   </dict>
   <key>nidun1-zuoqungbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1937,382},{27,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,32}}</string>
    <key>sourceSize</key>
    <string>{27,32}</string>
   </dict>
   <key>nidun1-zuoqungbai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,347},{16,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,33}}</string>
    <key>sourceSize</key>
    <string>{16,33}</string>
   </dict>
   <key>nidun1-qungbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,132},{37,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,77}}</string>
    <key>sourceSize</key>
    <string>{37,77}</string>
   </dict>
   <key>nidun1-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1999,206},{37,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,55}}</string>
    <key>sourceSize</key>
    <string>{37,55}</string>
   </dict>
   <key>nidun1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1933,416},{22,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,12}}</string>
    <key>sourceSize</key>
    <string>{22,12}</string>
   </dict>
   <key>nidun1-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,211},{28,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,42}}</string>
    <key>sourceSize</key>
    <string>{28,42}</string>
   </dict>
   <key>nidun1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,415},{22,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,12}}</string>
    <key>sourceSize</key>
    <string>{22,12}</string>
   </dict>
   <key>nidun1-zuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,255},{26,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,43}}</string>
    <key>sourceSize</key>
    <string>{26,43}</string>
   </dict>
   <key>nidun1-zuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{1960,300},{18,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,45}}</string>
    <key>sourceSize</key>
    <string>{18,45}</string>
   </dict>
   <key>nidun1-youhoubai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1999,144},{46,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,60}}</string>
    <key>sourceSize</key>
    <string>{46,60}</string>
   </dict>
   <key>nidun1-xiongbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{1396,365},{40,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,24}}</string>
    <key>sourceSize</key>
    <string>{40,24}</string>
   </dict>
   <key>nidun1-huajie.png</key>
   <dict>
    <key>frame</key>
    <string>{{922,402},{29,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,11}}</string>
    <key>sourceSize</key>
    <string>{29,11}</string>
   </dict>
   <key>nidun1-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{1988,263},{51,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,79}}</string>
    <key>sourceSize</key>
    <string>{51,79}</string>
   </dict>
   <key>nidun1-zuohoubai.png</key>
   <dict>
    <key>frame</key>
    <string>{{2010,0},{33,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,64}}</string>
    <key>sourceSize</key>
    <string>{33,64}</string>
   </dict>
   <key>nidun1-houtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{825,365},{95,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,141}}</string>
    <key>sourceSize</key>
    <string>{95,141}</string>
   </dict>
   <key>nidun1-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,365},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,32}}</string>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>nidun1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{1807,523},{168,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{168,136}}</string>
    <key>sourceSize</key>
    <string>{168,136}</string>
   </dict>
   <key>nidun1-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1906,365},{29,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,32}}</string>
    <key>sourceSize</key>
    <string>{29,32}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>nidun2.png</string>
   <key>textureFileName</key>
   <string>nidun2.png</string>
   <key>size</key>
   <string>{2048,2048}</string>
  </dict>
 </dict>
</plist>