<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>niemu1-shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,107},{21,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,17}}</string>
        <key>sourceSize</key>
        <string>{21,17}</string>
      </dict>
      <key>niemu1-xiaobi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,126},{18,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,20}}</string>
        <key>sourceSize</key>
        <string>{18,20}</string>
      </dict>
      <key>niemu1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{72,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,97}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>niemu1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,292},{47,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,75}}</string>
        <key>sourceSize</key>
        <string>{47,75}</string>
      </dict>
      <key>niemu1-jiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,165},{82,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,112}}</string>
        <key>sourceSize</key>
        <string>{82,112}</string>
      </dict>
      <key>niemu1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,329},{71,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,49}}</string>
        <key>sourceSize</key>
        <string>{71,49}</string>
      </dict>
      <key>niemu1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,339},{73,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,42}}</string>
        <key>sourceSize</key>
        <string>{73,42}</string>
      </dict>
      <key>niemu1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,279},{80,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,48}}</string>
        <key>sourceSize</key>
        <string>{80,48}</string>
      </dict>
      <key>niemu1-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,247},{75,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,90}}</string>
        <key>sourceSize</key>
        <string>{75,90}</string>
      </dict>
      <key>niemu1-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{98,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,163}}</string>
        <key>sourceSize</key>
        <string>{98,163}</string>
      </dict>
      <key>niemu1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{189,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,161}}</string>
        <key>sourceSize</key>
        <string>{189,161}</string>
      </dict>
      <key>niemu1-toufa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,163},{82,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,121}}</string>
        <key>sourceSize</key>
        <string>{82,121}</string>
      </dict>
      <key>niemu1-jiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,286},{64,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,61}}</string>
        <key>sourceSize</key>
        <string>{64,61}</string>
      </dict>
      <key>niemu1-lingdang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,148},{18,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,20}}</string>
        <key>sourceSize</key>
        <string>{18,20}</string>
      </dict>
      <key>niemu1-lingdang.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,165},{15,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,21}}</string>
        <key>sourceSize</key>
        <string>{15,21}</string>
      </dict>
      <key>niemu1-shangbansheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,341},{50,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,45}}</string>
        <key>sourceSize</key>
        <string>{50,45}</string>
      </dict>
      <key>niemu1-dashoubi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,33},{22,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,23}}</string>
        <key>sourceSize</key>
        <string>{22,23}</string>
      </dict>
      <key>niemu1-xiaoshoubi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,170},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>niemu1-shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,200},{19,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,11}}</string>
        <key>sourceSize</key>
        <string>{19,11}</string>
      </dict>
      <key>niemu1-dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,188},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>niemu1-xiabanshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,279},{76,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,60}}</string>
        <key>sourceSize</key>
        <string>{76,60}</string>
      </dict>
      <key>niemu1-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,163},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>niemu1-yao.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,247},{37,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,42}}</string>
        <key>sourceSize</key>
        <string>{37,42}</string>
      </dict>
      <key>niemu1-tui.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,191},{27,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,21}}</string>
        <key>sourceSize</key>
        <string>{27,21}</string>
      </dict>
      <key>niemu1-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{18,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,31}}</string>
        <key>sourceSize</key>
        <string>{18,31}</string>
      </dict>
      <key>niemu1-tui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,58},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>niemu1-jiao5.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,80},{16,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,25}}</string>
        <key>sourceSize</key>
        <string>{16,25}</string>
      </dict>
      <key>niemu1-toufa6.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,214},{38,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,58}}</string>
        <key>sourceSize</key>
        <string>{38,58}</string>
      </dict>
      <key>niemu1-toufa7.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,163},{73,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{73,127}</string>
      </dict>
      <key>niemu1-toufa8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,245}}</string>
        <key>sourceSize</key>
        <string>{191,245}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>niemu2.png</string>
      <key>textureFileName</key>
      <string>niemu2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>