<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>niepu0-zoushoushangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,204},{34,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,30}}</string>
        <key>sourceSize</key>
        <string>{34,30}</string>
      </dict>
      <key>niepu0-qianggun.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,287},{182,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,7}}</string>
        <key>sourceSize</key>
        <string>{182,7}</string>
      </dict>
      <key>niepu0-weiba03.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,100},{84,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>niepu0-weiba02.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,219},{84,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>niepu0-weiba01.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,175},{84,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>niepu0-xinxin.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,110}}</string>
        <key>sourceSize</key>
        <string>{244,110}</string>
      </dict>
      <key>niepu0-youbianjianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,173},{35,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,29}}</string>
        <key>sourceSize</key>
        <string>{35,29}</string>
      </dict>
      <key>niepu0-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,233},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>niepu0-youxiabi.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,184},{20,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,27}}</string>
        <key>sourceSize</key>
        <string>{20,27}</string>
      </dict>
      <key>niepu0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,136},{12,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,19}}</string>
        <key>sourceSize</key>
        <string>{12,19}</string>
      </dict>
      <key>niepu0-xiongjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,213},{29,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,18}}</string>
        <key>sourceSize</key>
        <string>{29,18}</string>
      </dict>
      <key>niepu0-piaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{62,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,32}}</string>
        <key>sourceSize</key>
        <string>{62,32}</string>
      </dict>
      <key>niepu0-ershi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,0},{71,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,98}}</string>
        <key>sourceSize</key>
        <string>{71,98}</string>
      </dict>
      <key>niepu0-erhuan.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,201},{19,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,20}}</string>
        <key>sourceSize</key>
        <string>{19,20}</string>
      </dict>
      <key>niepu0-weiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,80},{42,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,54}}</string>
        <key>sourceSize</key>
        <string>{42,54}</string>
      </dict>
      <key>niepu0-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,294},{80,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,62}}</string>
        <key>sourceSize</key>
        <string>{80,62}</string>
      </dict>
      <key>niepu0-weiba3.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,296},{63,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,32}}</string>
        <key>sourceSize</key>
        <string>{63,32}</string>
      </dict>
      <key>niepu0-toushi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,80},{128,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,127}}</string>
        <key>sourceSize</key>
        <string>{128,127}</string>
      </dict>
      <key>niepu0-shouji1.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,296},{55,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,50}}</string>
        <key>sourceSize</key>
        <string>{55,50}</string>
      </dict>
      <key>niepu0-gongjiyanjin.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,250},{58,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,48}}</string>
        <key>sourceSize</key>
        <string>{58,48}</string>
      </dict>
      <key>niepu0-daiji3.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,296},{57,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,49}}</string>
        <key>sourceSize</key>
        <string>{57,49}</string>
      </dict>
      <key>niepu0-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,250},{64,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,87}}</string>
        <key>sourceSize</key>
        <string>{64,87}</string>
      </dict>
      <key>niepu0-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{106,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,56}}</string>
        <key>sourceSize</key>
        <string>{106,56}</string>
      </dict>
      <key>niepu0-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{106,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,94}}</string>
        <key>sourceSize</key>
        <string>{106,94}</string>
      </dict>
      <key>niepu0-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{179,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,78}}</string>
        <key>sourceSize</key>
        <string>{179,78}</string>
      </dict>
      <key>niepu0-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,112},{95,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,105}}</string>
        <key>sourceSize</key>
        <string>{95,105}</string>
      </dict>
      <key>niepu0-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,112},{37,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,59}}</string>
        <key>sourceSize</key>
        <string>{37,59}</string>
      </dict>
      <key>niepu0-zou jianjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,236},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>niepu0-zuo ershi.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,136},{27,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,46}}</string>
        <key>sourceSize</key>
        <string>{27,46}</string>
      </dict>
      <key>niepu0-zouxiabi.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,175},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>niepu0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,236},{20,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>niepu0-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{86,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,56}}</string>
        <key>sourceSize</key>
        <string>{86,56}</string>
      </dict>
      <key>niepu0-qiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,209},{116,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,76}}</string>
        <key>sourceSize</key>
        <string>{116,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>niepu.png</string>
      <key>textureFileName</key>
      <string>niepu.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>