<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nuomu1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,176},{68,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,55}}</string>
        <key>sourceSize</key>
        <string>{68,55}</string>
      </dict>
      <key>nuomu1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,121},{77,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,61}}</string>
        <key>sourceSize</key>
        <string>{77,61}</string>
      </dict>
      <key>nuomu1-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,110},{78,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,64}}</string>
        <key>sourceSize</key>
        <string>{78,64}</string>
      </dict>
      <key>nuomu1-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,108}}</string>
        <key>sourceSize</key>
        <string>{198,108}</string>
      </dict>
      <key>nuomu1-youbianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,121},{33,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,46}}</string>
        <key>sourceSize</key>
        <string>{33,46}</string>
      </dict>
      <key>nuomu1-zhuobianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,121},{69,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,72}}</string>
        <key>sourceSize</key>
        <string>{69,72}</string>
      </dict>
      <key>nuomu1-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,184},{35,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>nuomu1-zhougebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,185},{26,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>nuomu1-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,184},{34,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,32}}</string>
        <key>sourceSize</key>
        <string>{34,32}</string>
      </dict>
      <key>nuomu1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,100},{117,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,83}}</string>
        <key>sourceSize</key>
        <string>{117,83}</string>
      </dict>
      <key>nuomu1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{75,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,98}}</string>
        <key>sourceSize</key>
        <string>{75,98}</string>
      </dict>
      <key>nuomu1-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,156},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>nuomu1-zhuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,169},{29,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,41}}</string>
        <key>sourceSize</key>
        <string>{29,41}</string>
      </dict>
      <key>nuomu1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,110},{36,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,44}}</string>
        <key>sourceSize</key>
        <string>{36,44}</string>
      </dict>
      <key>nuomu1-you xiao tui.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,185},{23,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,36}}</string>
        <key>sourceSize</key>
        <string>{23,36}</string>
      </dict>
      <key>nuomu1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{182,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,119}}</string>
        <key>sourceSize</key>
        <string>{182,119}</string>
      </dict>
      <key>nuomu1-yougebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,185},{28,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,32}}</string>
        <key>sourceSize</key>
        <string>{28,32}</string>
      </dict>
      <key>nuomu1-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,194},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nuomu1-gaotou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{112,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,98}}</string>
        <key>sourceSize</key>
        <string>{112,98}</string>
      </dict>
      <key>nuomu1-youxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,185},{26,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,32}}</string>
        <key>sourceSize</key>
        <string>{26,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>nuomu.png</string>
      <key>textureFileName</key>
      <string>nuomu.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>