<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nvzhujue1-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{84,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,69}}</string>
        <key>sourceSize</key>
        <string>{84,69}</string>
      </dict>
      <key>nvzhujue1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,244},{63,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,76}}</string>
        <key>sourceSize</key>
        <string>{63,76}</string>
      </dict>
      <key>nvzhujue1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,230},{80,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,76}}</string>
        <key>sourceSize</key>
        <string>{80,76}</string>
      </dict>
      <key>nvzhujue1-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,220},{93,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,67}}</string>
        <key>sourceSize</key>
        <string>{93,67}</string>
      </dict>
      <key>nvzhujue1-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,289},{26,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,65}}</string>
        <key>sourceSize</key>
        <string>{26,65}</string>
      </dict>
      <key>nvzhujue1-toufa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,261},{29,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,67}}</string>
        <key>sourceSize</key>
        <string>{29,67}</string>
      </dict>
      <key>nvzhujue1-toufa6.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,287},{26,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,67}}</string>
        <key>sourceSize</key>
        <string>{26,67}</string>
      </dict>
      <key>nvzhujue1-toufa7.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,230},{51,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,63}}</string>
        <key>sourceSize</key>
        <string>{51,63}</string>
      </dict>
      <key>nvzhujue1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,162},{96,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,97}}</string>
        <key>sourceSize</key>
        <string>{96,97}</string>
      </dict>
      <key>nvzhujue1-bozishuijing.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,162},{12,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,11}}</string>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
      <key>nvzhujue1-youxiuzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,244},{34,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,63}}</string>
        <key>sourceSize</key>
        <string>{34,63}</string>
      </dict>
      <key>nvzhujue1-xiongzhao.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,309},{53,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,24}}</string>
        <key>sourceSize</key>
        <string>{53,24}</string>
      </dict>
      <key>nvzhujue1-yaobu.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,304},{51,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,35}}</string>
        <key>sourceSize</key>
        <string>{51,35}</string>
      </dict>
      <key>nvzhujue1-xiongyi.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,307},{54,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,31}}</string>
        <key>sourceSize</key>
        <string>{54,31}</string>
      </dict>
      <key>nvzhujue1-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,314},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>nvzhujue1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,289},{56,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,41}}</string>
        <key>sourceSize</key>
        <string>{56,41}</string>
      </dict>
      <key>nvzhujue1-qunjia1.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,244},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,61}}</string>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>nvzhujue1-qunjia2.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,198},{62,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,109}}</string>
        <key>sourceSize</key>
        <string>{62,109}</string>
      </dict>
      <key>nvzhujue1-qunjia3.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,117},{96,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,111}}</string>
        <key>sourceSize</key>
        <string>{96,111}</string>
      </dict>
      <key>nvzhujue1-jundaizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,162},{97,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,77}}</string>
        <key>sourceSize</key>
        <string>{97,77}</string>
      </dict>
      <key>nvzhujue1-neiyiqunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,241},{94,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,61}}</string>
        <key>sourceSize</key>
        <string>{94,61}</string>
      </dict>
      <key>nvzhujue1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,295},{42,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,48}}</string>
        <key>sourceSize</key>
        <string>{42,48}</string>
      </dict>
      <key>nvzhujue1-youjiao wan.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,220},{43,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,54}}</string>
        <key>sourceSize</key>
        <string>{43,54}</string>
      </dict>
      <key>nvzhujue1-youtui.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,310},{28,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,49}}</string>
        <key>sourceSize</key>
        <string>{28,49}</string>
      </dict>
      <key>nvzhujue1-youtui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,314},{31,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>nvzhujue1-youxiezi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{30,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,24}}</string>
        <key>sourceSize</key>
        <string>{30,24}</string>
      </dict>
      <key>nvzhujue1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,304},{53,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,36}}</string>
        <key>sourceSize</key>
        <string>{53,36}</string>
      </dict>
      <key>nvzhujue1-zuojiao wan.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,307},{35,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,46}}</string>
        <key>sourceSize</key>
        <string>{35,46}</string>
      </dict>
      <key>nvzhujue1-zuotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,310},{29,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,45}}</string>
        <key>sourceSize</key>
        <string>{29,45}</string>
      </dict>
      <key>nvzhujue1-zuitui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,309},{25,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,41}}</string>
        <key>sourceSize</key>
        <string>{25,41}</string>
      </dict>
      <key>nvzhujue1-zuoxuezi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,315},{34,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,16}}</string>
        <key>sourceSize</key>
        <string>{34,16}</string>
      </dict>
      <key>nvzhujue1-zuoxiuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,244},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>nvzhujue1-zuoxiuzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,308},{28,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,50}}</string>
        <key>sourceSize</key>
        <string>{28,50}</string>
      </dict>
      <key>nvzhujue1-qunjia5.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,210},{45,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,75}}</string>
        <key>sourceSize</key>
        <string>{45,75}</string>
      </dict>
      <key>nvzhujue1-qunjia6.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,0},{117,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,115}}</string>
        <key>sourceSize</key>
        <string>{117,115}</string>
      </dict>
      <key>nvzhujue1-youxiuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,244},{62,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>nvzhujue1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,276},{39,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,56}}</string>
        <key>sourceSize</key>
        <string>{39,56}</string>
      </dict>
      <key>nvzhujue1-youxiuzi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,261},{63,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,51}}</string>
        <key>sourceSize</key>
        <string>{63,51}</string>
      </dict>
      <key>nvzhujue1-toufa10.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{79,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,196}}</string>
        <key>sourceSize</key>
        <string>{79,196}</string>
      </dict>
      <key>nvzhujue1-toufa8.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{96,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,208}}</string>
        <key>sourceSize</key>
        <string>{96,208}</string>
      </dict>
      <key>nvzhujue1-zuishou.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,308},{41,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,38}}</string>
        <key>sourceSize</key>
        <string>{41,38}</string>
      </dict>
      <key>nvzhujue1-toufa11.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,210},{48,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,121}}</string>
        <key>sourceSize</key>
        <string>{48,121}</string>
      </dict>
      <key>nvzhujue1-toufa9.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,0},{125,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,218}}</string>
        <key>sourceSize</key>
        <string>{125,218}</string>
      </dict>
      <key>nvzhujue1-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{211,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,160}}</string>
        <key>sourceSize</key>
        <string>{211,160}</string>
      </dict>
      <key>nvzhujue1-shuijn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,117},{14,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,38}}</string>
        <key>sourceSize</key>
        <string>{14,38}</string>
      </dict>
      <key>nvzhujue1-shuijing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,157},{11,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,36}}</string>
        <key>sourceSize</key>
        <string>{11,36}</string>
      </dict>
      <key>nvzhujue1-shouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{382,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{382,242}}</string>
        <key>sourceSize</key>
        <string>{382,242}</string>
      </dict>
      <key>nvzhujue1-shouhoubei.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,309},{42,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,36}}</string>
        <key>sourceSize</key>
        <string>{42,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>nvzhujue.png</string>
      <key>textureFileName</key>
      <string>nvzhujue.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>