<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>pabi1-shouji1.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,423},{58,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,34}}</string>
    <key>sourceSize</key>
    <string>{58,34}</string>
   </dict>
   <key>pabi1-shoujimofa.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,178},{274,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{274,77}}</string>
    <key>sourceSize</key>
    <string>{274,77}</string>
   </dict>
   <key>pabi1-gongjimf.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,0},{283,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{283,87}}</string>
    <key>sourceSize</key>
    <string>{283,87}</string>
   </dict>
   <key>pabi1-youjiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,431},{63,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,46}}</string>
    <key>sourceSize</key>
    <string>{63,46}</string>
   </dict>
   <key>pabi1-youerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,257},{101,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,125}}</string>
    <key>sourceSize</key>
    <string>{101,125}</string>
   </dict>
   <key>pabi1-shouji3.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,347},{61,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,96}}</string>
    <key>sourceSize</key>
    <string>{61,96}</string>
   </dict>
   <key>pabi1-gaongji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,348},{70,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,78}}</string>
    <key>sourceSize</key>
    <string>{70,78}</string>
   </dict>
   <key>pabi1-putong1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,428},{61,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,61}}</string>
    <key>sourceSize</key>
    <string>{61,61}</string>
   </dict>
   <key>pabi1-shouki4.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,348},{46,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,57}}</string>
    <key>sourceSize</key>
    <string>{46,57}</string>
   </dict>
   <key>pabi1-gongji1.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,347},{51,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,74}}</string>
    <key>sourceSize</key>
    <string>{51,74}</string>
   </dict>
   <key>pabi1-putong2.png</key>
   <dict>
    <key>frame</key>
    <string>{{72,407},{46,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,57}}</string>
    <key>sourceSize</key>
    <string>{46,57}</string>
   </dict>
   <key>pabi1-shouji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{180,433},{78,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,17}}</string>
    <key>sourceSize</key>
    <string>{78,17}</string>
   </dict>
   <key>pabi1-gongji3.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,384},{111,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,28}}</string>
    <key>sourceSize</key>
    <string>{111,28}</string>
   </dict>
   <key>pabi1-putong3.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,414},{112,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,17}}</string>
    <key>sourceSize</key>
    <string>{112,17}</string>
   </dict>
   <key>pabi1-weijing1.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,257},{37,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,76}}</string>
    <key>sourceSize</key>
    <string>{37,76}</string>
   </dict>
   <key>pabi1-weijing2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,315},{128,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,31}}</string>
    <key>sourceSize</key>
    <string>{128,31}</string>
   </dict>
   <key>pabi1-yuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,180},{70,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,126}}</string>
    <key>sourceSize</key>
    <string>{70,126}</string>
   </dict>
   <key>pabi1-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,427},{58,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,32}}</string>
    <key>sourceSize</key>
    <string>{58,32}</string>
   </dict>
   <key>pabi1-youjiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,257},{79,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,102}}</string>
    <key>sourceSize</key>
    <string>{79,102}</string>
   </dict>
   <key>pabi1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{214,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,178}}</string>
    <key>sourceSize</key>
    <string>{214,178}</string>
   </dict>
   <key>pabi1-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,180},{131,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,133}}</string>
    <key>sourceSize</key>
    <string>{131,133}</string>
   </dict>
   <key>pabi1-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,361},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>pabi1-zuojiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,445},{57,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,29}}</string>
    <key>sourceSize</key>
    <string>{57,29}</string>
   </dict>
   <key>pabi1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{133,308},{47,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,117}}</string>
    <key>sourceSize</key>
    <string>{47,117}</string>
   </dict>
   <key>pabi1-zuoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,257},{79,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,88}}</string>
    <key>sourceSize</key>
    <string>{79,88}</string>
   </dict>
   <key>pabi1-putongmofa.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,89},{283,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{283,87}}</string>
    <key>sourceSize</key>
    <string>{283,87}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>pabi2.png</string>
   <key>textureFileName</key>
   <string>pabi2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>