<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>pangda0-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,120},{63,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,110}}</string>
    <key>sourceSize</key>
    <string>{63,110}</string>
   </dict>
   <key>pangda0-liuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,232},{77,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,88}}</string>
    <key>sourceSize</key>
    <string>{77,88}</string>
   </dict>
   <key>pangda0-erduo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{201,151},{96,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,91}}</string>
    <key>sourceSize</key>
    <string>{96,91}</string>
   </dict>
   <key>pangda0-shou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,147},{28,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,30}}</string>
    <key>sourceSize</key>
    <string>{28,30}</string>
   </dict>
   <key>pangda0-shouhuan1.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,200},{32,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,16}}</string>
    <key>sourceSize</key>
    <string>{32,16}</string>
   </dict>
   <key>pangda0-xiabi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,93},{20,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,28}}</string>
    <key>sourceSize</key>
    <string>{20,28}</string>
   </dict>
   <key>pangda0-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{377,0},{83,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,118}}</string>
    <key>sourceSize</key>
    <string>{83,118}</string>
   </dict>
   <key>pangda0-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,0},{165,149}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{165,149}}</string>
    <key>sourceSize</key>
    <string>{165,149}</string>
   </dict>
   <key>pangda0-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,222},{49,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,66}}</string>
    <key>sourceSize</key>
    <string>{49,66}</string>
   </dict>
   <key>pangda0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,290},{85,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,76}}</string>
    <key>sourceSize</key>
    <string>{85,76}</string>
   </dict>
   <key>pangda0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,244},{90,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,82}}</string>
    <key>sourceSize</key>
    <string>{90,82}</string>
   </dict>
   <key>pangda0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,262},{90,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,73}}</string>
    <key>sourceSize</key>
    <string>{90,73}</string>
   </dict>
   <key>pangda0-erduo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{299,151},{70,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,71}}</string>
    <key>sourceSize</key>
    <string>{70,71}</string>
   </dict>
   <key>pangda0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,131},{139,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,129}}</string>
    <key>sourceSize</key>
    <string>{139,129}</string>
   </dict>
   <key>pangda0-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,40},{20,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,51}}</string>
    <key>sourceSize</key>
    <string>{20,51}</string>
   </dict>
   <key>pangda0-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{141,131},{58,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,89}}</string>
    <key>sourceSize</key>
    <string>{58,89}</string>
   </dict>
   <key>pangda0-shangbi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,121},{23,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,24}}</string>
    <key>sourceSize</key>
    <string>{23,24}</string>
   </dict>
   <key>pangda0-gebo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,123},{30,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,31}}</string>
    <key>sourceSize</key>
    <string>{30,31}</string>
   </dict>
   <key>pangda0-shou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,96},{25,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,23}}</string>
    <key>sourceSize</key>
    <string>{25,23}</string>
   </dict>
   <key>pangda0-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,0},{42,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,38}}</string>
    <key>sourceSize</key>
    <string>{42,38}</string>
   </dict>
   <key>pangda0-shangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,156},{28,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,30}}</string>
    <key>sourceSize</key>
    <string>{28,30}</string>
   </dict>
   <key>pangda0-xiaotui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,40},{24,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,27}}</string>
    <key>sourceSize</key>
    <string>{24,27}</string>
   </dict>
   <key>pangda0-datui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,188},{22,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,25}}</string>
    <key>sourceSize</key>
    <string>{22,25}</string>
   </dict>
   <key>pangda0-jiao1.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,179},{30,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,19}}</string>
    <key>sourceSize</key>
    <string>{30,19}</string>
   </dict>
   <key>pangda0-xiashen.png</key>
   <dict>
    <key>frame</key>
    <string>{{299,224},{57,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,52}}</string>
    <key>sourceSize</key>
    <string>{57,52}</string>
   </dict>
   <key>pangda0-datui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,215},{20,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,24}}</string>
    <key>sourceSize</key>
    <string>{20,24}</string>
   </dict>
   <key>pangda0-xiaotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,69},{25,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,25}}</string>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>pangda0-jiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,218},{31,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,17}}</string>
    <key>sourceSize</key>
    <string>{31,17}</string>
   </dict>
   <key>pangda0-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{208,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{208,129}}</string>
    <key>sourceSize</key>
    <string>{208,129}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>pangda2.png</string>
   <key>textureFileName</key>
   <string>pangda2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>