<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>pani1-biaoqing3.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,230},{61,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,49}}</string>
    <key>sourceSize</key>
    <string>{61,49}</string>
   </dict>
   <key>pani1-biaoqing2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,219},{69,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,44}}</string>
    <key>sourceSize</key>
    <string>{69,44}</string>
   </dict>
   <key>pani1-liuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,132},{86,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,92}}</string>
    <key>sourceSize</key>
    <string>{86,92}</string>
   </dict>
   <key>pani1-biaoqing1.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,226},{64,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,46}}</string>
    <key>sourceSize</key>
    <string>{64,46}</string>
   </dict>
   <key>pani1-lingjie.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,267},{31,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,23}}</string>
    <key>sourceSize</key>
    <string>{31,23}</string>
   </dict>
   <key>pani1-zuoshoubi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,267},{33,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,34}}</string>
    <key>sourceSize</key>
    <string>{33,34}</string>
   </dict>
   <key>pani1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,250},{22,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,27}}</string>
    <key>sourceSize</key>
    <string>{22,27}</string>
   </dict>
   <key>pani1-xiuzihou.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,190},{20,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,10}}</string>
    <key>sourceSize</key>
    <string>{20,10}</string>
   </dict>
   <key>pani1-zuoshoubi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,159},{20,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,20}}</string>
    <key>sourceSize</key>
    <string>{20,20}</string>
   </dict>
   <key>pani1-yifu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,267},{29,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,58}}</string>
    <key>sourceSize</key>
    <string>{29,58}</string>
   </dict>
   <key>pani1-yifu2.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,230},{35,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,63}}</string>
    <key>sourceSize</key>
    <string>{35,63}</string>
   </dict>
   <key>pani1-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,0},{146,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,128}}</string>
    <key>sourceSize</key>
    <string>{146,128}</string>
   </dict>
   <key>pani1-liuhai3.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,133},{45,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,81}}</string>
    <key>sourceSize</key>
    <string>{45,81}</string>
   </dict>
   <key>pani1-bozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,202},{13,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,7}}</string>
    <key>sourceSize</key>
    <string>{13,7}</string>
   </dict>
   <key>pani1-erduo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,133},{13,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,31}}</string>
    <key>sourceSize</key>
    <string>{13,31}</string>
   </dict>
   <key>pani1-erduo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,267},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
   <key>pani1-yifuxiabai3.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,178},{88,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,50}}</string>
    <key>sourceSize</key>
    <string>{88,50}</string>
   </dict>
   <key>pani1-baiseyifu.png</key>
   <dict>
    <key>frame</key>
    <string>{{273,216},{48,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,67}}</string>
    <key>sourceSize</key>
    <string>{48,67}</string>
   </dict>
   <key>pani1-zuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,267},{30,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,38}}</string>
    <key>sourceSize</key>
    <string>{30,38}</string>
   </dict>
   <key>pani1-zuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,130},{18,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,27}}</string>
    <key>sourceSize</key>
    <string>{18,27}</string>
   </dict>
   <key>pani1-yifuxiabai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,216},{22,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,49}}</string>
    <key>sourceSize</key>
    <string>{22,49}</string>
   </dict>
   <key>pani1-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,267},{23,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,40}}</string>
    <key>sourceSize</key>
    <string>{23,40}</string>
   </dict>
   <key>pani1-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,181},{18,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,22}}</string>
    <key>sourceSize</key>
    <string>{18,22}</string>
   </dict>
   <key>pani1-yifuxiabai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,265},{50,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,47}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>pani1-yifuxiabai4.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,133},{95,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,43}}</string>
    <key>sourceSize</key>
    <string>{95,43}</string>
   </dict>
   <key>pani1-maozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{188,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{188,130}}</string>
    <key>sourceSize</key>
    <string>{188,130}</string>
   </dict>
   <key>pani1-youshoubi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{327,166},{18,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,22}}</string>
    <key>sourceSize</key>
    <string>{18,22}</string>
   </dict>
   <key>pani1-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{93,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,85}}</string>
    <key>sourceSize</key>
    <string>{93,85}</string>
   </dict>
   <key>pani1-youshoubi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,219},{22,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,29}}</string>
    <key>sourceSize</key>
    <string>{22,29}</string>
   </dict>
   <key>pani1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{190,0},{158,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,131}}</string>
    <key>sourceSize</key>
    <string>{158,131}</string>
   </dict>
   <key>pani1-mao.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,130},{137,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{137,135}}</string>
    <key>sourceSize</key>
    <string>{137,135}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>pani.png</string>
   <key>textureFileName</key>
   <string>pani.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>