<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>panuoziyuan-huoyan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{32,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,88}}</string>
        <key>sourceSize</key>
        <string>{32,88}</string>
      </dict>
      <key>panuoziyuan-huoyan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,187},{16,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,41}}</string>
        <key>sourceSize</key>
        <string>{16,41}</string>
      </dict>
      <key>panuoziyuan-huoyan6.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,142},{17,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,43}}</string>
        <key>sourceSize</key>
        <string>{17,43}</string>
      </dict>
      <key>panuoziyuan-huoyan7.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,256},{37,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,29}}</string>
        <key>sourceSize</key>
        <string>{37,29}</string>
      </dict>
      <key>panuoziyuan-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,269},{26,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,17}}</string>
        <key>sourceSize</key>
        <string>{26,17}</string>
      </dict>
      <key>panuoziyuan-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,263},{36,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,24}}</string>
        <key>sourceSize</key>
        <string>{36,24}</string>
      </dict>
      <key>panuoziyuan-zhuojianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,256},{20,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,34}}</string>
        <key>sourceSize</key>
        <string>{20,34}</string>
      </dict>
      <key>panuoziyuan-qianbianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,90},{43,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,66}}</string>
        <key>sourceSize</key>
        <string>{43,66}</string>
      </dict>
      <key>panuoziyuan-qianbianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{80,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,58}}</string>
        <key>sourceSize</key>
        <string>{80,58}</string>
      </dict>
      <key>panuoziyuan-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,158},{46,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,60}}</string>
        <key>sourceSize</key>
        <string>{46,60}</string>
      </dict>
      <key>panuoziyuan-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,220},{50,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,34}}</string>
        <key>sourceSize</key>
        <string>{50,34}</string>
      </dict>
      <key>panuoziyuan-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,244},{71,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>panuoziyuan-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{69,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,51}}</string>
        <key>sourceSize</key>
        <string>{69,51}</string>
      </dict>
      <key>panuoziyuan-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,206},{71,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,55}}</string>
        <key>sourceSize</key>
        <string>{71,55}</string>
      </dict>
      <key>panuoziyuan-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{128,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,136}}</string>
        <key>sourceSize</key>
        <string>{128,136}</string>
      </dict>
      <key>panuoziyuan-zhuobianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,176}}</string>
        <key>sourceSize</key>
        <string>{117,176}</string>
      </dict>
      <key>panuoziyuan-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,259},{40,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,26}}</string>
        <key>sourceSize</key>
        <string>{40,26}</string>
      </dict>
      <key>panuoziyuan-shangbansheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,206},{39,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>panuoziyuan-huoyan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,138},{121,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,66}}</string>
        <key>sourceSize</key>
        <string>{121,66}</string>
      </dict>
      <key>panuoziyuan-huoyan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,142},{82,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,73}}</string>
        <key>sourceSize</key>
        <string>{82,73}</string>
      </dict>
      <key>panuoziyuan-huoyan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,217},{73,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,50}}</string>
        <key>sourceSize</key>
        <string>{73,50}</string>
      </dict>
      <key>panuoziyuan-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,178},{35,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,49}}</string>
        <key>sourceSize</key>
        <string>{35,49}</string>
      </dict>
      <key>panuoziyuan-xiabansheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,256},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>panuoziyuan-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,229},{30,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,47}}</string>
        <key>sourceSize</key>
        <string>{30,47}</string>
      </dict>
      <key>panuoziyuan-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,269},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>panuoziyuan-youjianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,263},{34,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,16}}</string>
        <key>sourceSize</key>
        <string>{34,16}</string>
      </dict>
      <key>panuoziyuan-youshongbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,269},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>panuoziyuan-youbianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{68,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,140}}</string>
        <key>sourceSize</key>
        <string>{68,140}</string>
      </dict>
      <key>panuoziyuan-youbianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,142},{51,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,115}}</string>
        <key>sourceSize</key>
        <string>{51,115}</string>
      </dict>
      <key>panuoziyuan-houtoufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{141,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,140}}</string>
        <key>sourceSize</key>
        <string>{141,140}</string>
      </dict>
      <key>panuoziyuan-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,142},{51,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,100}}</string>
        <key>sourceSize</key>
        <string>{51,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>panuo2.png</string>
      <key>textureFileName</key>
      <string>panuo2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>