<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>penhuolong0-chibang3.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,137},{85,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,117}}</string>
    <key>sourceSize</key>
    <string>{85,117}</string>
   </dict>
   <key>penhuolong0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,163},{160,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,161}}</string>
    <key>sourceSize</key>
    <string>{160,161}</string>
   </dict>
   <key>penhuolong0-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,165},{160,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,161}}</string>
    <key>sourceSize</key>
    <string>{160,161}</string>
   </dict>
   <key>penhuolong0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,0},{160,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,161}}</string>
    <key>sourceSize</key>
    <string>{160,161}</string>
   </dict>
   <key>penhuolong0-shouji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,439},{78,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,88}}</string>
    <key>sourceSize</key>
    <string>{78,88}</string>
   </dict>
   <key>penhuolong0-gonji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,349},{78,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,88}}</string>
    <key>sourceSize</key>
    <string>{78,88}</string>
   </dict>
   <key>penhuolong0-daiji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,256},{78,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,88}}</string>
    <key>sourceSize</key>
    <string>{78,88}</string>
   </dict>
   <key>penhuolong0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{309,477},{75,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,76}}</string>
    <key>sourceSize</key>
    <string>{75,76}</string>
   </dict>
   <key>penhuolong0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,529},{49,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,40}}</string>
    <key>sourceSize</key>
    <string>{49,40}</string>
   </dict>
   <key>penhuolong0-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,328},{47,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,25}}</string>
    <key>sourceSize</key>
    <string>{47,25}</string>
   </dict>
   <key>penhuolong0-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,0},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>penhuolong0-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,229},{57,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,64}}</string>
    <key>sourceSize</key>
    <string>{57,64}</string>
   </dict>
   <key>penhuolong0-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,471},{59,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,46}}</string>
    <key>sourceSize</key>
    <string>{59,46}</string>
   </dict>
   <key>penhuolong0-youjiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{248,519},{56,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,43}}</string>
    <key>sourceSize</key>
    <string>{56,43}</string>
   </dict>
   <key>penhuolong0-buozhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,450},{86,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,74}}</string>
    <key>sourceSize</key>
    <string>{86,74}</string>
   </dict>
   <key>penhuolong0-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,328},{111,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,120}}</string>
    <key>sourceSize</key>
    <string>{111,120}</string>
   </dict>
   <key>penhuolong0-zuojiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,295},{63,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,52}}</string>
    <key>sourceSize</key>
    <string>{63,52}</string>
   </dict>
   <key>penhuolong0-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,524},{54,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,41}}</string>
    <key>sourceSize</key>
    <string>{54,41}</string>
   </dict>
   <key>penhuolong0-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,493},{71,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,29}}</string>
    <key>sourceSize</key>
    <string>{71,29}</string>
   </dict>
   <key>penhuolong0-youchiban1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{200,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,163}}</string>
    <key>sourceSize</key>
    <string>{200,163}</string>
   </dict>
   <key>penhuolong0-youchiban2.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,0},{98,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,135}}</string>
    <key>sourceSize</key>
    <string>{98,135}</string>
   </dict>
   <key>penhuolong0-beichi.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,450},{71,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,41}}</string>
    <key>sourceSize</key>
    <string>{71,41}</string>
   </dict>
   <key>penhuolong0-zuochiban.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,326},{153,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,143}}</string>
    <key>sourceSize</key>
    <string>{153,143}</string>
   </dict>
   <key>penhuolong0-zuochiban2.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,346},{102,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,129}}</string>
    <key>sourceSize</key>
    <string>{102,129}</string>
   </dict>
   <key>penhuolong0-weihuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,141},{52,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,86}}</string>
    <key>sourceSize</key>
    <string>{52,86}</string>
   </dict>
   <key>penhuolong0-weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,471},{85,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,66}}</string>
    <key>sourceSize</key>
    <string>{85,66}</string>
   </dict>
   <key>penhuolong0-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,526},{74,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,66}}</string>
    <key>sourceSize</key>
    <string>{74,66}</string>
   </dict>
   <key>penhuolong0-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,85},{29,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,31}}</string>
    <key>sourceSize</key>
    <string>{29,31}</string>
   </dict>
   <key>penhuolong0-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,47},{33,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,36}}</string>
    <key>sourceSize</key>
    <string>{33,36}</string>
   </dict>
   <key>penhuolong0-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,118},{27,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,21}}</string>
    <key>sourceSize</key>
    <string>{27,21}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>penhuolong2.png</string>
   <key>textureFileName</key>
   <string>penhuolong2.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>