<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>poyi0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,472},{72,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>poyi0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,375},{79,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,95}}</string>
        <key>sourceSize</key>
        <string>{79,95}</string>
      </dict>
      <key>poyi0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,403},{79,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,94}}</string>
        <key>sourceSize</key>
        <string>{79,94}</string>
      </dict>
      <key>poyi0-z.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,337},{26,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,24}}</string>
        <key>sourceSize</key>
        <string>{26,24}</string>
      </dict>
      <key>poyi0-qianerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{89,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,111}}</string>
        <key>sourceSize</key>
        <string>{89,111}</string>
      </dict>
      <key>poyi0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,359},{102,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,137}}</string>
        <key>sourceSize</key>
        <string>{102,137}</string>
      </dict>
      <key>poyi0-houerduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,407},{67,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,97}}</string>
        <key>sourceSize</key>
        <string>{67,97}</string>
      </dict>
      <key>poyi0-damuzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,403},{41,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,62}}</string>
        <key>sourceSize</key>
        <string>{41,62}</string>
      </dict>
      <key>poyi0-shouzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,417},{76,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,87}}</string>
        <key>sourceSize</key>
        <string>{76,87}</string>
      </dict>
      <key>poyi0-xiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,0},{88,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,190}}</string>
        <key>sourceSize</key>
        <string>{88,190}</string>
      </dict>
      <key>poyi0-yinying.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,367},{112,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,114}}</string>
        <key>sourceSize</key>
        <string>{112,114}</string>
      </dict>
      <key>poyi0-zhongliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,286},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>poyi0-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,302},{35,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,33}}</string>
        <key>sourceSize</key>
        <string>{35,33}</string>
      </dict>
      <key>poyi0-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,158},{25,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,74}}</string>
        <key>sourceSize</key>
        <string>{25,74}</string>
      </dict>
      <key>poyi0-zuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,234},{19,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,50}}</string>
        <key>sourceSize</key>
        <string>{19,50}</string>
      </dict>
      <key>poyi0-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,253},{30,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,47}}</string>
        <key>sourceSize</key>
        <string>{30,47}</string>
      </dict>
      <key>poyi0-xiaohai.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,212},{119,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,171}}</string>
        <key>sourceSize</key>
        <string>{119,171}</string>
      </dict>
      <key>poyi0-shoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,253},{123,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,162}}</string>
        <key>sourceSize</key>
        <string>{123,162}</string>
      </dict>
      <key>poyi0-shouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,480},{77,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,71}}</string>
        <key>sourceSize</key>
        <string>{77,71}</string>
      </dict>
      <key>poyi0-yingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,334},{212,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,31}}</string>
        <key>sourceSize</key>
        <string>{212,31}</string>
      </dict>
      <key>poyi0-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,385},{86,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,93}}</string>
        <key>sourceSize</key>
        <string>{86,93}</string>
      </dict>
      <key>poyi0-xiong.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,0},{217,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{217,156}}</string>
        <key>sourceSize</key>
        <string>{217,156}</string>
      </dict>
      <key>poyi0-houdabuzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,407},{41,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,56}}</string>
        <key>sourceSize</key>
        <string>{41,56}</string>
      </dict>
      <key>poyi0-houshouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,483},{72,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,75}}</string>
        <key>sourceSize</key>
        <string>{72,75}</string>
      </dict>
      <key>poyi0-houshouzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,417},{71,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,80}}</string>
        <key>sourceSize</key>
        <string>{71,80}</string>
      </dict>
      <key>poyi0-houshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,258},{97,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,143}}</string>
        <key>sourceSize</key>
        <string>{97,143}</string>
      </dict>
      <key>poyi0-houxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,192},{89,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,165}}</string>
        <key>sourceSize</key>
        <string>{89,165}</string>
      </dict>
      <key>poyi0-chiwei.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,0},{163,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,251}}</string>
        <key>sourceSize</key>
        <string>{163,251}</string>
      </dict>
      <key>poyi0-chizhong.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{242,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,210}}</string>
        <key>sourceSize</key>
        <string>{242,210}</string>
      </dict>
      <key>poyi0-qianchi.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,158},{186,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,174}}</string>
        <key>sourceSize</key>
        <string>{186,174}</string>
      </dict>
      <key>poyi0-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,367},{100,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{100,118}</string>
      </dict>
      <key>poyi0-xiasheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,212},{119,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,193}}</string>
        <key>sourceSize</key>
        <string>{119,193}</string>
      </dict>
      <key>poyi0-xiabanshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{176,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,115}}</string>
        <key>sourceSize</key>
        <string>{176,115}</string>
      </dict>
      <key>poyi0-houchi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{296,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,256}}</string>
        <key>sourceSize</key>
        <string>{296,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>poyi.png</string>
      <key>textureFileName</key>
      <string>poyi.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>