<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>puyouyou1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{204,233},{36,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,29}}</string>
    <key>sourceSize</key>
    <string>{36,29}</string>
   </dict>
   <key>puyouyou1-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,241},{34,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,30}}</string>
    <key>sourceSize</key>
    <string>{34,30}</string>
   </dict>
   <key>puyouyou1-youshoubi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,205},{39,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,37}}</string>
    <key>sourceSize</key>
    <string>{39,37}</string>
   </dict>
   <key>puyouyou1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,184},{65,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,65}}</string>
    <key>sourceSize</key>
    <string>{65,65}</string>
   </dict>
   <key>puyouyou1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,206},{68,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,60}}</string>
    <key>sourceSize</key>
    <string>{68,60}</string>
   </dict>
   <key>puyouyou1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,76},{32,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,45}}</string>
    <key>sourceSize</key>
    <string>{32,45}</string>
   </dict>
   <key>puyouyou1-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,155},{33,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,61}}</string>
    <key>sourceSize</key>
    <string>{33,61}</string>
   </dict>
   <key>puyouyou1-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,0},{146,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,74}}</string>
    <key>sourceSize</key>
    <string>{146,74}</string>
   </dict>
   <key>puyouyou1-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,225},{66,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,49}}</string>
    <key>sourceSize</key>
    <string>{66,49}</string>
   </dict>
   <key>puyouyou1-yanjing.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,0},{166,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,86}}</string>
    <key>sourceSize</key>
    <string>{166,86}</string>
   </dict>
   <key>puyouyou1-yanjingyingyingzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,130},{137,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{137,52}}</string>
    <key>sourceSize</key>
    <string>{137,52}</string>
   </dict>
   <key>puyouyou1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,139},{92,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,65}}</string>
    <key>sourceSize</key>
    <string>{92,65}</string>
   </dict>
   <key>puyouyou1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,155},{87,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,68}}</string>
    <key>sourceSize</key>
    <string>{87,68}</string>
   </dict>
   <key>puyouyou1-putong.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,184},{86,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,61}}</string>
    <key>sourceSize</key>
    <string>{86,61}</string>
   </dict>
   <key>puyouyou1-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{171,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,128}}</string>
    <key>sourceSize</key>
    <string>{171,128}</string>
   </dict>
   <key>puyouyou1-zuyoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,123},{29,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,41}}</string>
    <key>sourceSize</key>
    <string>{29,41}</string>
   </dict>
   <key>puyouyou1-youyongquan.png</key>
   <dict>
    <key>frame</key>
    <string>{{173,88},{144,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,49}}</string>
    <key>sourceSize</key>
    <string>{144,49}</string>
   </dict>
   <key>puyouyou1-duzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,139},{79,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,92}}</string>
    <key>sourceSize</key>
    <string>{79,92}</string>
   </dict>
   <key>puyouyou1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,218},{26,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,21}}</string>
    <key>sourceSize</key>
    <string>{26,21}</string>
   </dict>
   <key>puyouyou1-zuohshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{385,225},{35,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,37}}</string>
    <key>sourceSize</key>
    <string>{35,37}</string>
   </dict>
   <key>puyouyou1-zuoshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,130},{25,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,24}}</string>
    <key>sourceSize</key>
    <string>{25,24}</string>
   </dict>
   <key>puyouyou1-houtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{341,76},{135,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,77}}</string>
    <key>sourceSize</key>
    <string>{135,77}</string>
   </dict>
   <key>puyouyou1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,244},{41,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,20}}</string>
    <key>sourceSize</key>
    <string>{41,20}</string>
   </dict>
   <key>puyouyou1-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,233},{47,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,40}}</string>
    <key>sourceSize</key>
    <string>{47,40}</string>
   </dict>
   <key>puyouyou1-zuojao.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,247},{39,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,19}}</string>
    <key>sourceSize</key>
    <string>{39,19}</string>
   </dict>
   <key>puyouyou1-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,166},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,37}}</string>
    <key>sourceSize</key>
    <string>{43,37}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>puyouyou2.png</string>
   <key>textureFileName</key>
   <string>puyouyou2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>