<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>qingtailang1-wuyun3.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,175},{123,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,90}}</string>
        <key>sourceSize</key>
        <string>{123,90}</string>
      </dict>
      <key>qingtailang1-wuyun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,338},{98,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>qingtailang1-wuyun1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,250},{105,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,102}}</string>
        <key>sourceSize</key>
        <string>{105,102}</string>
      </dict>
      <key>qingtailang1-wuyun4.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,281},{84,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,54}}</string>
        <key>sourceSize</key>
        <string>{84,54}</string>
      </dict>
      <key>qingtailang1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{123,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,69}}</string>
        <key>sourceSize</key>
        <string>{123,69}</string>
      </dict>
      <key>qingtailang1-baiyun.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{258,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{258,151}}</string>
        <key>sourceSize</key>
        <string>{258,151}</string>
      </dict>
      <key>qingtailang1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,175},{139,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,73}}</string>
        <key>sourceSize</key>
        <string>{139,73}</string>
      </dict>
      <key>qingtailang1-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,267},{123,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,69}}</string>
        <key>sourceSize</key>
        <string>{123,69}</string>
      </dict>
      <key>qingtailang1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{179,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,173}}</string>
        <key>sourceSize</key>
        <string>{179,173}</string>
      </dict>
      <key>qingtailang1-youdai.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{22,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,55}}</string>
        <key>sourceSize</key>
        <string>{22,55}</string>
      </dict>
      <key>qingtailang1-zuodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{34,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,42}}</string>
        <key>sourceSize</key>
        <string>{34,42}</string>
      </dict>
      <key>qingtailang1-zhonbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{95,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,137}}</string>
        <key>sourceSize</key>
        <string>{95,137}</string>
      </dict>
      <key>qingtailang1-zuobia.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,250},{81,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,129}}</string>
        <key>sourceSize</key>
        <string>{81,129}</string>
      </dict>
      <key>qingtailang1-youbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,153},{97,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,126}}</string>
        <key>sourceSize</key>
        <string>{97,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>qingtailang.png</string>
      <key>textureFileName</key>
      <string>qingtailang.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>