<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sailianku-zhushouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,274},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>sailianku-zhuobianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{71,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,54}}</string>
        <key>sourceSize</key>
        <string>{71,54}</string>
      </dict>
      <key>sailianku-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,229},{67,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,55}}</string>
        <key>sourceSize</key>
        <string>{67,55}</string>
      </dict>
      <key>sailianku-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,242},{64,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>sailianku-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,248},{64,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,48}}</string>
        <key>sourceSize</key>
        <string>{64,48}</string>
      </dict>
      <key>sailianku-zhuotoushi.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{62,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,161}}</string>
        <key>sourceSize</key>
        <string>{62,161}</string>
      </dict>
      <key>sailianku-youbianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,236},{39,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,61}}</string>
        <key>sourceSize</key>
        <string>{39,61}</string>
      </dict>
      <key>sailianku-daimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,163},{62,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,83}}</string>
        <key>sourceSize</key>
        <string>{62,83}</string>
      </dict>
      <key>sailianku-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,229},{44,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,72}}</string>
        <key>sourceSize</key>
        <string>{44,72}</string>
      </dict>
      <key>sailianku-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,158}}</string>
        <key>sourceSize</key>
        <string>{151,158}</string>
      </dict>
      <key>sailianku-toufabingjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,188},{46,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,84}}</string>
        <key>sourceSize</key>
        <string>{46,84}</string>
      </dict>
      <key>sailianku-toufa .png</key>
      <dict>
        <key>frame</key>
        <string>{{454,71},{28,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,55}}</string>
        <key>sourceSize</key>
        <string>{28,55}</string>
      </dict>
      <key>sailianku-zhuoshuowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,48},{21,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,14}}</string>
        <key>sourceSize</key>
        <string>{21,14}</string>
      </dict>
      <key>sailianku-youqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,267},{31,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,40}}</string>
        <key>sourceSize</key>
        <string>{31,40}</string>
      </dict>
      <key>sailianku-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,23},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>sailianku-xiong.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,274},{32,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,18}}</string>
        <key>sourceSize</key>
        <string>{32,18}</string>
      </dict>
      <key>sailianku-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,64},{11,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,16}}</string>
        <key>sourceSize</key>
        <string>{11,16}</string>
      </dict>
      <key>sailianku-quangzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,71},{113,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,78}}</string>
        <key>sourceSize</key>
        <string>{113,78}</string>
      </dict>
      <key>sailianku-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,160},{50,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,80}}</string>
        <key>sourceSize</key>
        <string>{50,80}</string>
      </dict>
      <key>sailianku-youqianbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,267},{28,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,32}}</string>
        <key>sourceSize</key>
        <string>{28,32}</string>
      </dict>
      <key>sailianku-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{22,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,21}}</string>
        <key>sourceSize</key>
        <string>{22,21}</string>
      </dict>
      <key>sailianku-zhuochibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{145,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,69}}</string>
        <key>sourceSize</key>
        <string>{145,69}</string>
      </dict>
      <key>sailianku-youchibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{93,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,57}}</string>
        <key>sourceSize</key>
        <string>{93,57}</string>
      </dict>
      <key>sailianku-youtoushi.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,128},{51,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,106}}</string>
        <key>sourceSize</key>
        <string>{51,106}</string>
      </dict>
      <key>sailianku-youhoutofa.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,188},{72,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>sailianku-zhuohoutoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{120,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,186}}</string>
        <key>sourceSize</key>
        <string>{120,186}</string>
      </dict>
      <key>sailianku-houtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,151},{105,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,76}}</string>
        <key>sourceSize</key>
        <string>{105,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sailian3.png</string>
      <key>textureFileName</key>
      <string>sailian3.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>