<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zhuantou10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{293,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,279}}</string>
        <key>sourceSize</key>
        <string>{293,279}</string>
      </dict>
      <key>zhuantou9.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{293,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,279}}</string>
        <key>sourceSize</key>
        <string>{293,279}</string>
      </dict>
      <key>seshi0-zhuabshi9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,18},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>seshi0-zhuanshi6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,18},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>seshi0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{71,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,65}}</string>
        <key>sourceSize</key>
        <string>{71,65}</string>
      </dict>
      <key>seshi0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,208},{67,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,59}}</string>
        <key>sourceSize</key>
        <string>{67,59}</string>
      </dict>
      <key>seshi0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,67},{67,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,64}}</string>
        <key>sourceSize</key>
        <string>{67,64}</string>
      </dict>
      <key>seshi0-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,208},{43,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,55}}</string>
        <key>sourceSize</key>
        <string>{43,55}</string>
      </dict>
      <key>seshi0-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,204},{91,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,79}}</string>
        <key>sourceSize</key>
        <string>{91,79}</string>
      </dict>
      <key>seshi0-erduo1.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,223},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>seshi0-erduo2.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,244},{46,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,22}}</string>
        <key>sourceSize</key>
        <string>{46,22}</string>
      </dict>
      <key>seshi0-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,144},{95,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
      <key>seshi0-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,133},{62,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,69}}</string>
        <key>sourceSize</key>
        <string>{62,69}</string>
      </dict>
      <key>seshi0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{122,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,142}}</string>
        <key>sourceSize</key>
        <string>{122,142}</string>
      </dict>
      <key>seshi0-zuoer1.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,133},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>seshi0-zuoer2.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,262},{31,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{31,32}</string>
      </dict>
      <key>seshi0-youjian.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,247},{38,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,29}}</string>
        <key>sourceSize</key>
        <string>{38,29}</string>
      </dict>
      <key>seshi0-youbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,111},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>seshi0-zhuabshi7.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{108,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>seshi0-zhuanshi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,0},{108,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>seshi0-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,0},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>seshi0-zuotui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,260},{35,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,32}}</string>
        <key>sourceSize</key>
        <string>{35,32}</string>
      </dict>
      <key>seshi0-youtui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,208},{42,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,37}}</string>
        <key>sourceSize</key>
        <string>{42,37}</string>
      </dict>
      <key>seshi0-youtui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,135},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>seshi0-zuotui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,144},{20,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,16}}</string>
        <key>sourceSize</key>
        <string>{20,16}</string>
      </dict>
      <key>seshi0-shenzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,223},{36,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,37}}</string>
        <key>sourceSize</key>
        <string>{36,37}</string>
      </dict>
      <key>seshi0-shenzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,208},{43,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,34}}</string>
        <key>sourceSize</key>
        <string>{43,34}</string>
      </dict>
      <key>seshi0-suishi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,155},{26,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,11}}</string>
        <key>sourceSize</key>
        <string>{26,11}</string>
      </dict>
      <key>seshi0-suichi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,268},{47,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,17}}</string>
        <key>sourceSize</key>
        <string>{47,17}</string>
      </dict>
      <key>seshi0-zuojian.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,265},{29,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,20}}</string>
        <key>sourceSize</key>
        <string>{29,20}</string>
      </dict>
      <key>seshi0-zuobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,67},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>seshi0-zhuabshi8.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,111},{95,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>seshi0-zhuanshi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,111},{95,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sesi.png</string>
      <key>textureFileName</key>
      <string>sesi.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>