<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shenshengtianshishou1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{61,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,52}}</string>
        <key>sourceSize</key>
        <string>{61,52}</string>
      </dict>
      <key>shenshengtianshishou1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,351},{21,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,10}}</string>
        <key>sourceSize</key>
        <string>{21,10}</string>
      </dict>
      <key>shenshengtianshishou1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,352},{17,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,7}}</string>
        <key>sourceSize</key>
        <string>{17,7}</string>
      </dict>
      <key>shenshengtianshishou1-zuoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{75,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,120}}</string>
        <key>sourceSize</key>
        <string>{75,120}</string>
      </dict>
      <key>shenshengtianshishou1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,185}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,185}}</string>
        <key>sourceSize</key>
        <string>{114,185}</string>
      </dict>
      <key>shenshengtianshishou1-youer.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,313},{33,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,98}}</string>
        <key>sourceSize</key>
        <string>{33,98}</string>
      </dict>
      <key>shenshengtianshishou1-zuodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{80,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,73}}</string>
        <key>sourceSize</key>
        <string>{80,73}</string>
      </dict>
      <key>shenshengtianshishou1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,243},{19,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,55}}</string>
        <key>sourceSize</key>
        <string>{19,55}</string>
      </dict>
      <key>shenshengtianshishou1-liuhai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,263},{15,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,54}}</string>
        <key>sourceSize</key>
        <string>{15,54}</string>
      </dict>
      <key>shenshengtianshishou1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,349},{75,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,48}}</string>
        <key>sourceSize</key>
        <string>{75,48}</string>
      </dict>
      <key>shenshengtianshishou1-youdai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{70,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,63}}</string>
        <key>sourceSize</key>
        <string>{70,63}</string>
      </dict>
      <key>shenshengtianshishou1-xiaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,430},{64,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,31}}</string>
        <key>sourceSize</key>
        <string>{64,31}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,122},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>shenshengtianshishou1-dung.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,345},{47,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,82}}</string>
        <key>sourceSize</key>
        <string>{47,82}</string>
      </dict>
      <key>shenshengtianshishou1-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,473},{31,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>shenshengtianshishou1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,473},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>shenshengtianshishou1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,461},{35,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,40}}</string>
        <key>sourceSize</key>
        <string>{35,40}</string>
      </dict>
      <key>shenshengtianshishou1-bozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,362},{26,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,17}}</string>
        <key>sourceSize</key>
        <string>{26,17}</string>
      </dict>
      <key>shenshengtianshishou1-yaochi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{39,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,46}}</string>
        <key>sourceSize</key>
        <string>{39,46}</string>
      </dict>
      <key>shenshengtianshishou1-yao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,333},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>shenshengtianshishou1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,376},{67,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,52}}</string>
        <key>sourceSize</key>
        <string>{67,52}</string>
      </dict>
      <key>shenshengtianshishou1-yao.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,454},{53,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,29}}</string>
        <key>sourceSize</key>
        <string>{53,29}</string>
      </dict>
      <key>shenshengtianshishou1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,441},{36,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,54}}</string>
        <key>sourceSize</key>
        <string>{36,54}</string>
      </dict>
      <key>shenshengtianshishou1-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,300},{18,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,31}}</string>
        <key>sourceSize</key>
        <string>{18,31}</string>
      </dict>
      <key>shenshengtianshishou1-zuojiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,273},{22,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,30}}</string>
        <key>sourceSize</key>
        <string>{22,30}</string>
      </dict>
      <key>shenshengtianshishou1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,400},{33,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,52}}</string>
        <key>sourceSize</key>
        <string>{33,52}</string>
      </dict>
      <key>shenshengtianshishou1-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,333},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>shenshengtianshishou1-youjiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,305},{22,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,26}}</string>
        <key>sourceSize</key>
        <string>{22,26}</string>
      </dict>
      <key>shenshengtianshishou1-xiaodai-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,463},{59,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,20}}</string>
        <key>sourceSize</key>
        <string>{59,20}</string>
      </dict>
      <key>shenshengtianshishou1-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,445},{46,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,42}}</string>
        <key>sourceSize</key>
        <string>{46,42}</string>
      </dict>
      <key>shenshengtianshishou1-wuqi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,210},{84,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,75}}</string>
        <key>sourceSize</key>
        <string>{84,75}</string>
      </dict>
      <key>shenshengtianshishou1-wuqi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,485},{34,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>shenshengtianshishou1-wuqi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,319},{17,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,31}}</string>
        <key>sourceSize</key>
        <string>{17,31}</string>
      </dict>
      <key>shenshengtianshishou1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,482},{31,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>shenshengtianshishou1-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,468},{39,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,35}}</string>
        <key>sourceSize</key>
        <string>{39,35}</string>
      </dict>
      <key>shenshengtianshishou1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,406},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>shenshengtianshishou1-youdai-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,485},{33,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,19}}</string>
        <key>sourceSize</key>
        <string>{33,19}</string>
      </dict>
      <key>shenshengtianshishou1-youchi.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,273},{59,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,87}}</string>
        <key>sourceSize</key>
        <string>{59,87}</string>
      </dict>
      <key>shenshengtianshishou1-zuodai-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,482},{36,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,20}}</string>
        <key>sourceSize</key>
        <string>{36,20}</string>
      </dict>
      <key>shenshengtianshishou1-zuodai-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,429},{46,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,51}}</string>
        <key>sourceSize</key>
        <string>{46,51}</string>
      </dict>
      <key>shenshengtianshishou1-zuodai-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,413},{41,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,58}}</string>
        <key>sourceSize</key>
        <string>{41,58}</string>
      </dict>
      <key>shenshengtianshishou1-youdia-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,363},{31,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,41}}</string>
        <key>sourceSize</key>
        <string>{31,41}</string>
      </dict>
      <key>shenshengtianshishou1-youdia-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,187},{23,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,54}}</string>
        <key>sourceSize</key>
        <string>{23,54}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,214},{73,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>shenshengtianshishou1-youchi-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,299},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{143,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,110}}</string>
        <key>sourceSize</key>
        <string>{143,110}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi1-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,111},{127,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,68}}</string>
        <key>sourceSize</key>
        <string>{127,68}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{157,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,109}}</string>
        <key>sourceSize</key>
        <string>{157,109}</string>
      </dict>
      <key>shenshengtianshishou1-youchi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,112},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>shenshengtianshishou1-youchi1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,181},{85,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,90}}</string>
        <key>sourceSize</key>
        <string>{85,90}</string>
      </dict>
      <key>shenshengtianshishou1-youchi1-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,287},{82,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,60}}</string>
        <key>sourceSize</key>
        <string>{82,60}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,399},{78,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,44}}</string>
        <key>sourceSize</key>
        <string>{78,44}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi2-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,395},{43,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,64}}</string>
        <key>sourceSize</key>
        <string>{43,64}</string>
      </dict>
      <key>shenshengtianshishou1-zuochi2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,187},{89,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,71}}</string>
        <key>sourceSize</key>
        <string>{89,71}</string>
      </dict>
      <key>shenshengtianshishou1-youchi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,424},{59,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,42}}</string>
        <key>sourceSize</key>
        <string>{59,42}</string>
      </dict>
      <key>shenshengtianshishou1-youchi2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,362},{62,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,60}</string>
      </dict>
      <key>shenshengtianshishou1-youchi2-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,206},{26,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,55}}</string>
        <key>sourceSize</key>
        <string>{26,55}</string>
      </dict>
      <key>shenshengtianshishou1-houfa.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,293},{33,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,100}}</string>
        <key>sourceSize</key>
        <string>{33,100}</string>
      </dict>
      <key>shenshengtianshishou1-houfa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,241},{46,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,102}}</string>
        <key>sourceSize</key>
        <string>{46,102}</string>
      </dict>
      <key>shenshengtianshishou1-houfa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,111},{24,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,93}}</string>
        <key>sourceSize</key>
        <string>{24,93}</string>
      </dict>
      <key>shenshengtianshishou1-houfa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,181},{36,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,110}}</string>
        <key>sourceSize</key>
        <string>{36,110}</string>
      </dict>
      <key>shenshengtianshishou1-houfa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,112},{36,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,127}}</string>
        <key>sourceSize</key>
        <string>{36,127}</string>
      </dict>
      <key>shenshengtianshishou1-houfa_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,214},{29,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,97}}</string>
        <key>sourceSize</key>
        <string>{29,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shenshengtianshishou.png</string>
      <key>textureFileName</key>
      <string>shenshengtianshishou.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>