<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shengdanlaoren0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,115},{103,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>shengdanlaoren0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,260},{125,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,68}}</string>
        <key>sourceSize</key>
        <string>{125,68}</string>
      </dict>
      <key>shengdanlaoren0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{136,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,78}}</string>
        <key>sourceSize</key>
        <string>{136,78}</string>
      </dict>
      <key>shengdanlaoren0-maoqiu.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,498},{43,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,43}}</string>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>shengdanlaoren0-maozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,100},{91,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,99}}</string>
        <key>sourceSize</key>
        <string>{91,99}</string>
      </dict>
      <key>shengdanlaoren0-zuoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,490},{48,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,39}}</string>
        <key>sourceSize</key>
        <string>{48,39}</string>
      </dict>
      <key>shengdanlaoren0-maozhi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,330},{146,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,95}}</string>
        <key>sourceSize</key>
        <string>{146,95}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,391},{51,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{51,53}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,484},{41,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,46}}</string>
        <key>sourceSize</key>
        <string>{41,46}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,313},{73,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,76}}</string>
        <key>sourceSize</key>
        <string>{73,76}</string>
      </dict>
      <key>shengdanlaoren0-beidai.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,118},{27,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,43}}</string>
        <key>sourceSize</key>
        <string>{27,43}</string>
      </dict>
      <key>shengdanlaoren0-beidai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,529},{45,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,32}}</string>
        <key>sourceSize</key>
        <string>{45,32}</string>
      </dict>
      <key>shengdanlaoren0-huzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,164},{123,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,94}}</string>
        <key>sourceSize</key>
        <string>{123,94}</string>
      </dict>
      <key>shengdanlaoren0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{137,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,118}}</string>
        <key>sourceSize</key>
        <string>{137,118}</string>
      </dict>
      <key>shengdanlaoren0-youer.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,238},{25,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,30}}</string>
        <key>sourceSize</key>
        <string>{25,30}</string>
      </dict>
      <key>shengdanlaoren0-yifu.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,238},{32,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,118}}</string>
        <key>sourceSize</key>
        <string>{32,118}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,214},{79,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,89}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>shengdanlaoren0-yifu1.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,201},{62,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,110}}</string>
        <key>sourceSize</key>
        <string>{62,110}</string>
      </dict>
      <key>shengdanlaoren0-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,508},{104,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,31}}</string>
        <key>sourceSize</key>
        <string>{104,31}</string>
      </dict>
      <key>shengdanlaoren0-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{108,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,113}}</string>
        <key>sourceSize</key>
        <string>{108,113}</string>
      </dict>
      <key>shengdanlaoren0-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{64,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,43}}</string>
        <key>sourceSize</key>
        <string>{64,43}</string>
      </dict>
      <key>shengdanlaoren0-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,446},{47,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>shengdanlaoren0-zuojiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{64,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,48}}</string>
        <key>sourceSize</key>
        <string>{64,48}</string>
      </dict>
      <key>shengdanlaoren0-pigu.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,466},{102,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,40}}</string>
        <key>sourceSize</key>
        <string>{102,40}</string>
      </dict>
      <key>shengdanlaoren0-youjiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,466},{59,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,40}}</string>
        <key>sourceSize</key>
        <string>{59,40}</string>
      </dict>
      <key>shengdanlaoren0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,430},{65,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,44}}</string>
        <key>sourceSize</key>
        <string>{65,44}</string>
      </dict>
      <key>shengdanlaoren0-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,449},{65,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,39}}</string>
        <key>sourceSize</key>
        <string>{65,39}</string>
      </dict>
      <key>shengdanlaoren0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{65,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,96}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>shengdanlaoren0-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{46,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,40}}</string>
        <key>sourceSize</key>
        <string>{46,40}</string>
      </dict>
      <key>shengdanlaoren0-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,429},{49,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{49,53}</string>
      </dict>
      <key>shengdanlaoren0-jie.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,300},{59,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,89}}</string>
        <key>sourceSize</key>
        <string>{59,89}</string>
      </dict>
      <key>shengdanlaoren0-guai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{231,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,98}}</string>
        <key>sourceSize</key>
        <string>{231,98}</string>
      </dict>
      <key>shengdanlaoren0-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,201},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>shengdanlaoren0-J-souji.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,505},{55,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,28}}</string>
        <key>sourceSize</key>
        <string>{55,28}</string>
      </dict>
      <key>shengdanlaoren0-J-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,531},{48,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,27}}</string>
        <key>sourceSize</key>
        <string>{48,27}</string>
      </dict>
      <key>shengdanlaoren0-J-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,508},{48,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,29}}</string>
        <key>sourceSize</key>
        <string>{48,29}</string>
      </dict>
      <key>shengdanlaoren0-zuoer_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,203},{26,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,33}}</string>
        <key>sourceSize</key>
        <string>{26,33}</string>
      </dict>
      <key>shengdanlaoren0-J-maozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,305},{94,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,61}}</string>
        <key>sourceSize</key>
        <string>{94,61}</string>
      </dict>
      <key>shengdanlaoren0-J-maozhi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,163},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>shengdanlaoren0-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,399},{30,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,16}}</string>
        <key>sourceSize</key>
        <string>{30,16}</string>
      </dict>
      <key>shengdanlaoren0-liuhai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,417},{29,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,16}}</string>
        <key>sourceSize</key>
        <string>{29,16}</string>
      </dict>
      <key>shengdanlaoren0-J-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,391},{68,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,56}}</string>
        <key>sourceSize</key>
        <string>{68,56}</string>
      </dict>
      <key>shengdanlaoren0-J-youer.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,39},{22,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,27}}</string>
        <key>sourceSize</key>
        <string>{22,27}</string>
      </dict>
      <key>shengdanlaoren0-linzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,476},{66,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,27}}</string>
        <key>sourceSize</key>
        <string>{66,27}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,234},{15,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,14}}</string>
        <key>sourceSize</key>
        <string>{15,14}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,95},{20,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>shengdanlaoren0-pao.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,68},{20,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,25}}</string>
        <key>sourceSize</key>
        <string>{20,25}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou3_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,248},{11,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,11}}</string>
        <key>sourceSize</key>
        <string>{11,11}</string>
      </dict>
      <key>shengdanlaoren0-zuoshou1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,210},{15,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,18}}</string>
        <key>sourceSize</key>
        <string>{15,18}</string>
      </dict>
      <key>shengdanlaoren0-daizhi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,484},{47,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,43}}</string>
        <key>sourceSize</key>
        <string>{47,43}</string>
      </dict>
      <key>shengdanlaoren0-daizhi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{19,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,37}}</string>
        <key>sourceSize</key>
        <string>{19,37}</string>
      </dict>
      <key>shengdanlaoren0-xingxing.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,368},{28,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,29}}</string>
        <key>sourceSize</key>
        <string>{28,29}</string>
      </dict>
      <key>shengdanlaoren0-liwu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,368},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{68,60}</string>
      </dict>
      <key>shengdanlaoren0-daizhi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{141,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,162}}</string>
        <key>sourceSize</key>
        <string>{141,162}</string>
      </dict>
      <key>shengdanlaoren0-J-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,358},{56,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>shengdanlaoren0-youshou1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,230},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>shengdanlaoren0-youshou2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,187},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>shengdanlaoren0-youshou3_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,214},{20,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>shengdanlaoren0-youshou_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,164},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>shengdanlaoren0-pao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,427},{34,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,16}}</string>
        <key>sourceSize</key>
        <string>{34,16}</string>
      </dict>
      <key>shengdanlaoren0-daizh.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,427},{119,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,37}}</string>
        <key>sourceSize</key>
        <string>{119,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shengdanlaoren.png</string>
      <key>textureFileName</key>
      <string>shengdanlaoren.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>