<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>sheshouzuo1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{344,140},{132,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,80}}</string>
    <key>sourceSize</key>
    <string>{132,80}</string>
   </dict>
   <key>sheshouzuo1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{803,0},{157,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{157,112}}</string>
    <key>sourceSize</key>
    <string>{157,112}</string>
   </dict>
   <key>sheshouzuo1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,88},{138,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,110}}</string>
    <key>sourceSize</key>
    <string>{138,110}</string>
   </dict>
   <key>sheshouzuo1-toufa3-1.png</key>
   <dict>
    <key>frame</key>
    <string>{{776,217},{95,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,71}}</string>
    <key>sourceSize</key>
    <string>{95,71}</string>
   </dict>
   <key>sheshouzuo1-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{803,114},{113,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,101}}</string>
    <key>sourceSize</key>
    <string>{113,101}</string>
   </dict>
   <key>sheshouzuo1-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,216},{48,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,75}}</string>
    <key>sourceSize</key>
    <string>{48,75}</string>
   </dict>
   <key>sheshouzuo1-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{962,0},{59,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,82}}</string>
    <key>sourceSize</key>
    <string>{59,82}</string>
   </dict>
   <key>sheshouzuo1-toufa7.png</key>
   <dict>
    <key>frame</key>
    <string>{{227,276},{47,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,54}}</string>
    <key>sourceSize</key>
    <string>{47,54}</string>
   </dict>
   <key>sheshouzuo1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{528,217},{96,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,71}}</string>
    <key>sourceSize</key>
    <string>{96,71}</string>
   </dict>
   <key>sheshouzuo1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{673,154},{101,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,76}}</string>
    <key>sourceSize</key>
    <string>{101,76}</string>
   </dict>
   <key>sheshouzuo1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,200},{101,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,71}}</string>
    <key>sourceSize</key>
    <string>{101,71}</string>
   </dict>
   <key>sheshouzuo1-erduo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,185},{87,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,89}}</string>
    <key>sourceSize</key>
    <string>{87,89}</string>
   </dict>
   <key>sheshouzuo1-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,88},{109,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,95}}</string>
    <key>sourceSize</key>
    <string>{109,95}</string>
   </dict>
   <key>sheshouzuo1-tou1.png</key>
   <dict>
    <key>frame</key>
    <string>{{678,0},{123,152}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,152}}</string>
    <key>sourceSize</key>
    <string>{123,152}</string>
   </dict>
   <key>sheshouzuo1-houtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{532,0},{144,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,148}}</string>
    <key>sourceSize</key>
    <string>{144,148}</string>
   </dict>
   <key>sheshouzuo1-toufa8.png</key>
   <dict>
    <key>frame</key>
    <string>{{962,84},{32,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,97}}</string>
    <key>sourceSize</key>
    <string>{32,97}</string>
   </dict>
   <key>sheshouzuo1-toufa9.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,114},{34,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,77}}</string>
    <key>sourceSize</key>
    <string>{34,77}</string>
   </dict>
   <key>sheshouzuo1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,200},{34,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,35}}</string>
    <key>sourceSize</key>
    <string>{34,35}</string>
   </dict>
   <key>sheshouzuo1-youxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{873,260},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,38}}</string>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>sheshouzuo1-yiling1.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,273},{52,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,51}}</string>
    <key>sourceSize</key>
    <string>{52,51}</string>
   </dict>
   <key>sheshouzuo1-youshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,183},{39,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,44}}</string>
    <key>sourceSize</key>
    <string>{39,44}</string>
   </dict>
   <key>sheshouzuo1-jian.png</key>
   <dict>
    <key>frame</key>
    <string>{{344,0},{186,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{186,138}}</string>
    <key>sourceSize</key>
    <string>{186,138}</string>
   </dict>
   <key>sheshouzuo1-yiling2.png</key>
   <dict>
    <key>frame</key>
    <string>{{995,183},{27,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,44}}</string>
    <key>sourceSize</key>
    <string>{27,44}</string>
   </dict>
   <key>sheshouzuo1-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{672,232},{74,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,69}}</string>
    <key>sourceSize</key>
    <string>{74,69}</string>
   </dict>
   <key>sheshouzuo1-xiabai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{803,290},{49,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,44}}</string>
    <key>sourceSize</key>
    <string>{49,44}</string>
   </dict>
   <key>sheshouzuo1-xiabai.png</key>
   <dict>
    <key>frame</key>
    <string>{{996,117},{19,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,34}}</string>
    <key>sourceSize</key>
    <string>{19,34}</string>
   </dict>
   <key>sheshouzuo1-tifa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{948,267},{40,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,35}}</string>
    <key>sourceSize</key>
    <string>{40,35}</string>
   </dict>
   <key>sheshouzuo1-ti1.png</key>
   <dict>
    <key>frame</key>
    <string>{{990,292},{29,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,22}}</string>
    <key>sourceSize</key>
    <string>{29,22}</string>
   </dict>
   <key>sheshouzuo1-datui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,273},{48,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,55}}</string>
    <key>sourceSize</key>
    <string>{48,55}</string>
   </dict>
   <key>sheshouzuo1-xiaotui4.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,261},{28,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,29}}</string>
    <key>sourceSize</key>
    <string>{28,29}</string>
   </dict>
   <key>sheshouzuo1-tifa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,229},{40,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,36}}</string>
    <key>sourceSize</key>
    <string>{40,36}</string>
   </dict>
   <key>sheshouzuo1-ti2.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,274},{31,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,22}}</string>
    <key>sourceSize</key>
    <string>{31,22}</string>
   </dict>
   <key>sheshouzuo1-daui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{52,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,67}}</string>
    <key>sourceSize</key>
    <string>{52,67}</string>
   </dict>
   <key>sheshouzuo1-xiaotui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{996,84},{23,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,31}}</string>
    <key>sourceSize</key>
    <string>{23,31}</string>
   </dict>
   <key>sheshouzuo1-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{532,150},{139,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,65}}</string>
    <key>sourceSize</key>
    <string>{139,65}</string>
   </dict>
   <key>sheshouzuo1-tifa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{54,252},{34,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,32}}</string>
    <key>sourceSize</key>
    <string>{34,32}</string>
   </dict>
   <key>sheshouzuo1-ti3.png</key>
   <dict>
    <key>frame</key>
    <string>{{913,280},{30,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,22}}</string>
    <key>sourceSize</key>
    <string>{30,22}</string>
   </dict>
   <key>sheshouzuo1-datui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,276},{44,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,48}}</string>
    <key>sourceSize</key>
    <string>{44,48}</string>
   </dict>
   <key>sheshouzuo1-xiaotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{996,153},{23,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,28}}</string>
    <key>sourceSize</key>
    <string>{23,28}</string>
   </dict>
   <key>sheshouzuo1-tifa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,237},{34,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,35}}</string>
    <key>sourceSize</key>
    <string>{34,35}</string>
   </dict>
   <key>sheshouzuo1-ti4.png</key>
   <dict>
    <key>frame</key>
    <string>{{54,286},{30,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,21}}</string>
    <key>sourceSize</key>
    <string>{30,21}</string>
   </dict>
   <key>sheshouzuo1-datui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{626,217},{44,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,58}}</string>
    <key>sourceSize</key>
    <string>{44,58}</string>
   </dict>
   <key>sheshouzuo1-xiaotui3.png</key>
   <dict>
    <key>frame</key>
    <string>{{993,229},{28,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,30}}</string>
    <key>sourceSize</key>
    <string>{28,30}</string>
   </dict>
   <key>sheshouzuo1-weiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{403,222},{72,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,77}}</string>
    <key>sourceSize</key>
    <string>{72,77}</string>
   </dict>
   <key>sheshouzuo1-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,222},{79,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,73}}</string>
    <key>sourceSize</key>
    <string>{79,73}</string>
   </dict>
   <key>sheshouzuo1-weiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,297},{44,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,29}}</string>
    <key>sourceSize</key>
    <string>{44,29}</string>
   </dict>
   <key>sheshouzuo1-weiba3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{528,290},{47,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,50}}</string>
    <key>sourceSize</key>
    <string>{47,50}</string>
   </dict>
   <key>sheshouzuo1-weiba4.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,140},{52,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,74}}</string>
    <key>sourceSize</key>
    <string>{52,74}</string>
   </dict>
   <key>sheshouzuo1-weiba5.png</key>
   <dict>
    <key>frame</key>
    <string>{{577,290},{45,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,46}}</string>
    <key>sourceSize</key>
    <string>{45,46}</string>
   </dict>
   <key>sheshouzuo1-weiba6.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,290},{53,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,40}}</string>
    <key>sourceSize</key>
    <string>{53,40}</string>
   </dict>
   <key>sheshouzuo1-zuoyou.png</key>
   <dict>
    <key>frame</key>
    <string>{{873,217},{39,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,41}}</string>
    <key>sourceSize</key>
    <string>{39,41}</string>
   </dict>
   <key>sheshouzuo1-wuqi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{91,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,250}}</string>
    <key>sourceSize</key>
    <string>{91,250}</string>
   </dict>
   <key>sheshouzuo1-wuqi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{93,0},{249,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{249,86}}</string>
    <key>sourceSize</key>
    <string>{249,86}</string>
   </dict>
   <key>sheshouzuo1-gong2.png</key>
   <dict>
    <key>frame</key>
    <string>{{626,277},{44,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,44}}</string>
    <key>sourceSize</key>
    <string>{44,44}</string>
   </dict>
   <key>sheshouzuo1-zuoyou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,242},{32,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,36}}</string>
    <key>sourceSize</key>
    <string>{32,36}</string>
   </dict>
   <key>sheshouzuo1-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,293},{44,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,38}}</string>
    <key>sourceSize</key>
    <string>{44,38}</string>
   </dict>
   <key>sheshouzuo1-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,193},{31,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,47}}</string>
    <key>sourceSize</key>
    <string>{31,47}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sheshouzuo.png</string>
   <key>textureFileName</key>
   <string>sheshouzuo.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>