<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>shuipingzuo1-yu12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,412},{294,232}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{294,232}}</string>
    <key>sourceSize</key>
    <string>{294,232}</string>
   </dict>
   <key>shuipingzuo1-shoushang1.png</key>
   <dict>
    <key>frame</key>
    <string>{{826,741},{90,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,65}}</string>
    <key>sourceSize</key>
    <string>{90,65}</string>
   </dict>
   <key>shuipingzuo1-gongji .png</key>
   <dict>
    <key>frame</key>
    <string>{{296,632},{93,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,71}}</string>
    <key>sourceSize</key>
    <string>{93,71}</string>
   </dict>
   <key>shuipingzuo1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,712},{89,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,71}}</string>
    <key>sourceSize</key>
    <string>{89,71}</string>
   </dict>
   <key>shuipingzuo1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{942,123},{40,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,82}}</string>
    <key>sourceSize</key>
    <string>{40,82}</string>
   </dict>
   <key>shuipingzuo1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,562},{58,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,76}}</string>
    <key>sourceSize</key>
    <string>{58,76}</string>
   </dict>
   <key>shuipingzuo1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{568,746},{66,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,74}}</string>
    <key>sourceSize</key>
    <string>{66,74}</string>
   </dict>
   <key>shuipingzuo1-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,612},{74,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,98}}</string>
    <key>sourceSize</key>
    <string>{74,98}</string>
   </dict>
   <key>shuipingzuo1-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{965,427},{56,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,60}}</string>
    <key>sourceSize</key>
    <string>{56,60}</string>
   </dict>
   <key>shuipingzuo1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{785,123},{155,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,159}}</string>
    <key>sourceSize</key>
    <string>{155,159}</string>
   </dict>
   <key>shuipingzuo1-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,53},{30,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,47}}</string>
    <key>sourceSize</key>
    <string>{30,47}</string>
   </dict>
   <key>shuipingzuo1-shuijing1.png</key>
   <dict>
    <key>frame</key>
    <string>{{637,744},{87,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,64}}</string>
    <key>sourceSize</key>
    <string>{87,64}</string>
   </dict>
   <key>shuipingzuo1-shuijing2.png</key>
   <dict>
    <key>frame</key>
    <string>{{967,286},{53,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,82}}</string>
    <key>sourceSize</key>
    <string>{53,82}</string>
   </dict>
   <key>shuipingzuo1-shuijing3.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,817},{66,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,47}}</string>
    <key>sourceSize</key>
    <string>{66,47}</string>
   </dict>
   <key>shuipingzuo1-xiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,411},{45,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,30}}</string>
    <key>sourceSize</key>
    <string>{45,30}</string>
   </dict>
   <key>shuipingzuo1-shangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{942,207},{40,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,49}}</string>
    <key>sourceSize</key>
    <string>{40,49}</string>
   </dict>
   <key>shuipingzuo1-shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,102},{34,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,40}}</string>
    <key>sourceSize</key>
    <string>{34,40}</string>
   </dict>
   <key>shuipingzuo1-hailang2.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,289},{240,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{240,208}}</string>
    <key>sourceSize</key>
    <string>{240,208}</string>
   </dict>
   <key>shuipingzuo1-ping.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,492},{100,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,118}}</string>
    <key>sourceSize</key>
    <string>{100,118}</string>
   </dict>
   <key>shuipingzuo1-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,808},{66,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,53}}</string>
    <key>sourceSize</key>
    <string>{66,53}</string>
   </dict>
   <key>shuipingzuo1-jianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,691},{56,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,48}}</string>
    <key>sourceSize</key>
    <string>{56,48}</string>
   </dict>
   <key>shuipingzuo1-qunzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,833},{49,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,42}}</string>
    <key>sourceSize</key>
    <string>{49,42}</string>
   </dict>
   <key>shuipingzuo1-qunzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{984,144},{38,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,45}}</string>
    <key>sourceSize</key>
    <string>{38,45}</string>
   </dict>
   <key>shuipingzuo1-qunzi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,833},{49,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,39}}</string>
    <key>sourceSize</key>
    <string>{49,39}</string>
   </dict>
   <key>shuipingzuo1-qunzi4.png</key>
   <dict>
    <key>frame</key>
    <string>{{984,191},{38,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,29}}</string>
    <key>sourceSize</key>
    <string>{38,29}</string>
   </dict>
   <key>shuipingzuo1-qunzi5.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,856},{56,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,30}}</string>
    <key>sourceSize</key>
    <string>{56,30}</string>
   </dict>
   <key>shuipingzuo1-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{984,254},{28,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,30}}</string>
    <key>sourceSize</key>
    <string>{28,30}</string>
   </dict>
   <key>shuipingzuo1-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,0},{28,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,51}}</string>
    <key>sourceSize</key>
    <string>{28,51}</string>
   </dict>
   <key>shuipingzuo1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{984,222},{33,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,30}}</string>
    <key>sourceSize</key>
    <string>{33,30}</string>
   </dict>
   <key>shuipingzuo1-daiji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{967,370},{45,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,55}}</string>
    <key>sourceSize</key>
    <string>{45,55}</string>
   </dict>
   <key>shuipingzuo1-yu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,492},{126,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,138}}</string>
    <key>sourceSize</key>
    <string>{126,138}</string>
   </dict>
   <key>shuipingzuo1-yu2.png</key>
   <dict>
    <key>frame</key>
    <string>{{726,787},{81,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,54}}</string>
    <key>sourceSize</key>
    <string>{81,54}</string>
   </dict>
   <key>shuipingzuo1-yu3.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,805},{103,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,26}}</string>
    <key>sourceSize</key>
    <string>{103,26}</string>
   </dict>
   <key>shuipingzuo1-yu5.png</key>
   <dict>
    <key>frame</key>
    <string>{{643,499},{115,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,130}}</string>
    <key>sourceSize</key>
    <string>{115,130}</string>
   </dict>
   <key>shuipingzuo1-yu6.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,647},{135,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{135,97}}</string>
    <key>sourceSize</key>
    <string>{135,97}</string>
   </dict>
   <key>shuipingzuo1-daiji3.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,640},{57,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,49}}</string>
    <key>sourceSize</key>
    <string>{57,49}</string>
   </dict>
   <key>shuipingzuo1-yu7.png</key>
   <dict>
    <key>frame</key>
    <string>{{768,450},{158,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,110}}</string>
    <key>sourceSize</key>
    <string>{158,110}</string>
   </dict>
   <key>shuipingzuo1-yu8.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,412},{202,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{202,78}}</string>
    <key>sourceSize</key>
    <string>{202,78}</string>
   </dict>
   <key>shuipingzuo1-yu10.png</key>
   <dict>
    <key>frame</key>
    <string>{{262,705},{132,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,98}}</string>
    <key>sourceSize</key>
    <string>{132,98}</string>
   </dict>
   <key>shuipingzuo1-yu11.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,779},{71,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,75}}</string>
    <key>sourceSize</key>
    <string>{71,75}</string>
   </dict>
   <key>shuipingzuo1-haillang3.png</key>
   <dict>
    <key>frame</key>
    <string>{{785,0},{199,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{199,121}}</string>
    <key>sourceSize</key>
    <string>{199,121}</string>
   </dict>
   <key>shuipingzuo1-hailang4.png</key>
   <dict>
    <key>frame</key>
    <string>{{643,631},{108,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,111}}</string>
    <key>sourceSize</key>
    <string>{108,111}</string>
   </dict>
   <key>shuipingzuo1-shouzhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,746},{79,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,69}}</string>
    <key>sourceSize</key>
    <string>{79,69}</string>
   </dict>
   <key>shuipingzuo1-hailang5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,646},{260,252}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,252}}</string>
    <key>sourceSize</key>
    <string>{260,252}</string>
   </dict>
   <key>shuipingzuo1-qunzi6.png</key>
   <dict>
    <key>frame</key>
    <string>{{926,601},{89,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,86}}</string>
    <key>sourceSize</key>
    <string>{89,86}</string>
   </dict>
   <key>shuipingzuo1-qunzi7.png</key>
   <dict>
    <key>frame</key>
    <string>{{636,810},{71,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,46}}</string>
    <key>sourceSize</key>
    <string>{71,46}</string>
   </dict>
   <key>shuipingzuo1-quzi8.png</key>
   <dict>
    <key>frame</key>
    <string>{{709,843},{57,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,29}}</string>
    <key>sourceSize</key>
    <string>{57,29}</string>
   </dict>
   <key>shuipingzuo1-qunzi9.png</key>
   <dict>
    <key>frame</key>
    <string>{{942,258},{35,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,19}}</string>
    <key>sourceSize</key>
    <string>{35,19}</string>
   </dict>
   <key>shuipingzuo1-qunzi10.png</key>
   <dict>
    <key>frame</key>
    <string>{{534,822},{56,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,43}}</string>
    <key>sourceSize</key>
    <string>{56,43}</string>
   </dict>
   <key>shuipingzuo1-qunzi11.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,785},{68,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,69}}</string>
    <key>sourceSize</key>
    <string>{68,69}</string>
   </dict>
   <key>shuipingzuo1-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{925,689},{75,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,88}}</string>
    <key>sourceSize</key>
    <string>{75,88}</string>
   </dict>
   <key>shuipingzuo1-toufa7.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,499},{115,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,146}}</string>
    <key>sourceSize</key>
    <string>{115,146}</string>
   </dict>
   <key>shuipingzuo1-toufa8.png</key>
   <dict>
    <key>frame</key>
    <string>{{753,693},{71,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,92}}</string>
    <key>sourceSize</key>
    <string>{71,92}</string>
   </dict>
   <key>shuipingzuo1-toufa9.png</key>
   <dict>
    <key>frame</key>
    <string>{{760,562},{104,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,129}}</string>
    <key>sourceSize</key>
    <string>{104,129}</string>
   </dict>
   <key>shuipingzuo1-hailang9.png</key>
   <dict>
    <key>frame</key>
    <string>{{928,489},{92,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,110}}</string>
    <key>sourceSize</key>
    <string>{92,110}</string>
   </dict>
   <key>shuipingzuo1-hailang6.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,0},{257,287}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{257,287}}</string>
    <key>sourceSize</key>
    <string>{257,287}</string>
   </dict>
   <key>shuipingzuo1-toufa10.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,284},{47,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,125}}</string>
    <key>sourceSize</key>
    <string>{47,125}</string>
   </dict>
   <key>shuipingzuo1-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{524,410}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{524,410}}</string>
    <key>sourceSize</key>
    <string>{524,410}</string>
   </dict>
   <key>shuipingzuo1-hailang8.png</key>
   <dict>
    <key>frame</key>
    <string>{{785,284},{131,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,164}}</string>
    <key>sourceSize</key>
    <string>{131,164}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>shuipingzuo.png</string>
   <key>textureFileName</key>
   <string>shuipingzuo.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>