<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kuqia1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,531},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>kuqia1-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,476},{45,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,42}}</string>
        <key>sourceSize</key>
        <string>{45,42}</string>
      </dict>
      <key>kuqia1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,410},{77,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,65}}</string>
        <key>sourceSize</key>
        <string>{77,65}</string>
      </dict>
      <key>kuqia1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,362},{41,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,65}}</string>
        <key>sourceSize</key>
        <string>{41,65}</string>
      </dict>
      <key>kuqia1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,477},{81,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,61}}</string>
        <key>sourceSize</key>
        <string>{81,61}</string>
      </dict>
      <key>kuqia1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,481},{77,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,58}}</string>
        <key>sourceSize</key>
        <string>{77,58}</string>
      </dict>
      <key>kuqia1-zuobianliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,127},{47,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,81}}</string>
        <key>sourceSize</key>
        <string>{47,81}</string>
      </dict>
      <key>kuqia1-youbianliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,469},{90,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>kuqia1-youbianxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,540},{22,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,11}}</string>
        <key>sourceSize</key>
        <string>{22,11}</string>
      </dict>
      <key>kuqia1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,260},{27,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,26}}</string>
        <key>sourceSize</key>
        <string>{27,26}</string>
      </dict>
      <key>kuqia1-youbiandabi.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,420},{27,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,15}}</string>
        <key>sourceSize</key>
        <string>{27,15}</string>
      </dict>
      <key>kuqia1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,429},{48,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,45}}</string>
        <key>sourceSize</key>
        <string>{48,45}</string>
      </dict>
      <key>kuqia1-daimao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{72,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,53}}</string>
        <key>sourceSize</key>
        <string>{72,53}</string>
      </dict>
      <key>kuqia1-daimao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,469},{56,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,82}}</string>
        <key>sourceSize</key>
        <string>{56,82}</string>
      </dict>
      <key>kuqia1-daimao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,303},{53,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,57}}</string>
        <key>sourceSize</key>
        <string>{53,57}</string>
      </dict>
      <key>kuqia1-daimao4.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,520},{58,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,28}}</string>
        <key>sourceSize</key>
        <string>{58,28}</string>
      </dict>
      <key>kuqia1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,210},{59,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,104}}</string>
        <key>sourceSize</key>
        <string>{59,104}</string>
      </dict>
      <key>kuqia1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,411},{153,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,56}}</string>
        <key>sourceSize</key>
        <string>{153,56}</string>
      </dict>
      <key>kuqia1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,321},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,106}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>kuqia1-suifa.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,429},{92,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,85}}</string>
        <key>sourceSize</key>
        <string>{92,85}</string>
      </dict>
      <key>kuqia1-xiabanshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,214},{34,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,22}}</string>
        <key>sourceSize</key>
        <string>{34,22}</string>
      </dict>
      <key>kuqia1-qunbai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,469},{16,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>kuqia1-qunbai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,349},{23,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,21}}</string>
        <key>sourceSize</key>
        <string>{23,21}</string>
      </dict>
      <key>kuqia1-qunbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,238},{33,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,20}}</string>
        <key>sourceSize</key>
        <string>{33,20}</string>
      </dict>
      <key>kuqia1-qunbai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,395},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>kuqia1-qunbai4.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,437},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>kuqia1-qunbai5.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,514},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>kuqia1-xiong.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,490},{29,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,22}}</string>
        <key>sourceSize</key>
        <string>{29,22}</string>
      </dict>
      <key>kuqia1-qugan.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,531},{42,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,44}}</string>
        <key>sourceSize</key>
        <string>{42,44}</string>
      </dict>
      <key>kuqia1-toufahoumian.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,303},{162,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,106}}</string>
        <key>sourceSize</key>
        <string>{162,106}</string>
      </dict>
      <key>kuqia1-zuobiandabi.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,540},{23,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,13}}</string>
        <key>sourceSize</key>
        <string>{23,13}</string>
      </dict>
      <key>kuqia1-zuobianxiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,540},{22,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,11}}</string>
        <key>sourceSize</key>
        <string>{22,11}</string>
      </dict>
      <key>kuqia1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,372},{22,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,21}}</string>
        <key>sourceSize</key>
        <string>{22,21}</string>
      </dict>
      <key>kuqia1-youbiandatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,180},{28,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,32}}</string>
        <key>sourceSize</key>
        <string>{28,32}</string>
      </dict>
      <key>kuqia1-youbianxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,288},{23,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,29}}</string>
        <key>sourceSize</key>
        <string>{23,29}</string>
      </dict>
      <key>kuqia1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,493},{16,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,17}}</string>
        <key>sourceSize</key>
        <string>{16,17}</string>
      </dict>
      <key>kuqia1-zuobiandatui .png</key>
      <dict>
        <key>frame</key>
        <string>{{199,319},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>kuqia1-zuobianxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,461},{14,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,27}}</string>
        <key>sourceSize</key>
        <string>{14,27}</string>
      </dict>
      <key>kuqia1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,429},{12,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,16}}</string>
        <key>sourceSize</key>
        <string>{12,16}</string>
      </dict>
      <key>kuqia1-toufahoumian1.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,316},{56,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,92}}</string>
        <key>sourceSize</key>
        <string>{56,92}</string>
      </dict>
      <key>kuqia1-bing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,0},{40,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,125}}</string>
        <key>sourceSize</key>
        <string>{40,125}</string>
      </dict>
      <key>kuqia1-bing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,397},{80,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>kuqia1-bing.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,321},{89,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,74}}</string>
        <key>sourceSize</key>
        <string>{89,74}</string>
      </dict>
      <key>kuqia1-tie1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{235,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,178}}</string>
        <key>sourceSize</key>
        <string>{235,178}</string>
      </dict>
      <key>kuqia1-tie2.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,154},{206,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,147}}</string>
        <key>sourceSize</key>
        <string>{206,147}</string>
      </dict>
      <key>kuqia1-tie4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{197,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,139}}</string>
        <key>sourceSize</key>
        <string>{197,139}</string>
      </dict>
      <key>kuqia1-tie3.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{218,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,152}}</string>
        <key>sourceSize</key>
        <string>{218,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sikuka.png</string>
      <key>textureFileName</key>
      <string>sikuka.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>