<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nuoman1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,288},{94,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,74}}</string>
        <key>sourceSize</key>
        <string>{94,74}</string>
      </dict>
      <key>nuoman1-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,261},{96,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,81}}</string>
        <key>sourceSize</key>
        <string>{96,81}</string>
      </dict>
      <key>nuoman1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,344},{94,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,72}}</string>
        <key>sourceSize</key>
        <string>{94,72}</string>
      </dict>
      <key>nuoman1-daimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,322},{81,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>nuoman1-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,137},{66,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,117}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>nuoman1-youer.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,240},{125,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>nuoman1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,0},{55,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,86}}</string>
        <key>sourceSize</key>
        <string>{55,86}</string>
      </dict>
      <key>nuoman1-liuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,88},{52,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,81}}</string>
        <key>sourceSize</key>
        <string>{52,81}</string>
      </dict>
      <key>nuoman1-liuhai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,288},{31,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,70}}</string>
        <key>sourceSize</key>
        <string>{31,70}</string>
      </dict>
      <key>nuoman1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,137},{145,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,149}}</string>
        <key>sourceSize</key>
        <string>{145,149}</string>
      </dict>
      <key>nuoman1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,360},{70,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,79}}</string>
        <key>sourceSize</key>
        <string>{70,79}</string>
      </dict>
      <key>nuoman1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,371},{70,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,64}}</string>
        <key>sourceSize</key>
        <string>{70,64}</string>
      </dict>
      <key>nuoman1-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,418},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>nuoman1-lingdan.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,421},{47,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,37}}</string>
        <key>sourceSize</key>
        <string>{47,37}</string>
      </dict>
      <key>nuoman1-xiongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,395},{54,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,35}}</string>
        <key>sourceSize</key>
        <string>{54,35}</string>
      </dict>
      <key>nuoman1-xiongdai.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,360},{25,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,19}}</string>
        <key>sourceSize</key>
        <string>{25,19}</string>
      </dict>
      <key>nuoman1-zuoshouzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,371},{58,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,49}}</string>
        <key>sourceSize</key>
        <string>{58,49}</string>
      </dict>
      <key>nuoman1-futou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{430,369}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{430,369}}</string>
        <key>sourceSize</key>
        <string>{430,369}</string>
      </dict>
      <key>nuoman1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,256},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>nuoman1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,255},{63,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,50}}</string>
        <key>sourceSize</key>
        <string>{63,50}</string>
      </dict>
      <key>nuoman1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,362},{68,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>nuoman1-xiabai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{78,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,68}}</string>
        <key>sourceSize</key>
        <string>{78,68}</string>
      </dict>
      <key>nuoman1-youjiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,371},{73,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,69}}</string>
        <key>sourceSize</key>
        <string>{73,69}</string>
      </dict>
      <key>nuoman1-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,360},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>nuoman1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,371},{66,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,45}}</string>
        <key>sourceSize</key>
        <string>{66,45}</string>
      </dict>
      <key>nuoman1-zuojiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,371},{71,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>nuoman1-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,307},{55,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,53}}</string>
        <key>sourceSize</key>
        <string>{55,53}</string>
      </dict>
      <key>nuoman1-zuojiaozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,391},{71,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,28}}</string>
        <key>sourceSize</key>
        <string>{71,28}</string>
      </dict>
      <key>nuoman1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,418},{52,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,36}}</string>
        <key>sourceSize</key>
        <string>{52,36}</string>
      </dict>
      <key>nuoman1-kuabu.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,364},{81,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,66}}</string>
        <key>sourceSize</key>
        <string>{81,66}</string>
      </dict>
      <key>nuoman1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{179,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,259}}</string>
        <key>sourceSize</key>
        <string>{179,259}</string>
      </dict>
      <key>nuoman1-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,381},{42,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,54}}</string>
        <key>sourceSize</key>
        <string>{42,54}</string>
      </dict>
      <key>nuoman1-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,171},{40,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,82}}</string>
        <key>sourceSize</key>
        <string>{40,82}</string>
      </dict>
      <key>nuoman1-zuoer.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,261},{69,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,128}}</string>
        <key>sourceSize</key>
        <string>{69,128}</string>
      </dict>
      <key>nuoman1-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,0},{214,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{214,135}}</string>
        <key>sourceSize</key>
        <string>{214,135}</string>
      </dict>
      <key>nuoman1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{129,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,238}}</string>
        <key>sourceSize</key>
        <string>{129,238}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sinuoman.png</string>
      <key>textureFileName</key>
      <string>sinuoman.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>