<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>shihousunziyuan-youjianjia.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,227},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,36}}</string>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>shihousunziyuan-youshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,99},{32,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,31}}</string>
    <key>sourceSize</key>
    <string>{32,31}</string>
   </dict>
   <key>shihousunziyuan-youshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{426,219},{29,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,26}}</string>
    <key>sourceSize</key>
    <string>{29,26}</string>
   </dict>
   <key>shihousunziyuan-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,166},{27,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,33}}</string>
    <key>sourceSize</key>
    <string>{27,33}</string>
   </dict>
   <key>shihousunziyuan-banzhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{218,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{218,97}}</string>
    <key>sourceSize</key>
    <string>{218,97}</string>
   </dict>
   <key>shihousunziyuan-youliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,205},{47,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,67}}</string>
    <key>sourceSize</key>
    <string>{47,67}</string>
   </dict>
   <key>shihousunziyuan-youliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,97},{27,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,76}}</string>
    <key>sourceSize</key>
    <string>{27,76}</string>
   </dict>
   <key>shihousunziyuan-zuoliuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{469,134},{41,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,77}}</string>
    <key>sourceSize</key>
    <string>{41,77}</string>
   </dict>
   <key>shihousunziyuan-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,137},{75,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,42}}</string>
    <key>sourceSize</key>
    <string>{75,42}</string>
   </dict>
   <key>shihousunziyuan-chuiqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,99},{71,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,51}}</string>
    <key>sourceSize</key>
    <string>{71,51}</string>
   </dict>
   <key>shihousunziyuan-gonji.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,219},{72,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,42}}</string>
    <key>sourceSize</key>
    <string>{72,42}</string>
   </dict>
   <key>shihousunziyuan-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{381,126},{72,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,49}}</string>
    <key>sourceSize</key>
    <string>{72,49}</string>
   </dict>
   <key>shihousunziyuan-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,99},{111,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,36}}</string>
    <key>sourceSize</key>
    <string>{111,36}</string>
   </dict>
   <key>shihousunziyuan-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,165},{37,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,40}}</string>
    <key>sourceSize</key>
    <string>{37,40}</string>
   </dict>
   <key>shihousunziyuan-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,83},{85,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,41}}</string>
    <key>sourceSize</key>
    <string>{85,41}</string>
   </dict>
   <key>shihousunziyuan-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{389,0},{93,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,81}}</string>
    <key>sourceSize</key>
    <string>{93,81}</string>
   </dict>
   <key>shihousunziyuan-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,97},{130,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,128}}</string>
    <key>sourceSize</key>
    <string>{130,128}</string>
   </dict>
   <key>shihousunziyuan-zuoliuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,0},{18,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,49}}</string>
    <key>sourceSize</key>
    <string>{18,49}</string>
   </dict>
   <key>shihousunziyuan-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,181},{73,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,43}}</string>
    <key>sourceSize</key>
    <string>{73,43}</string>
   </dict>
   <key>shihousunziyuan-yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,261},{51,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,15}}</string>
    <key>sourceSize</key>
    <string>{51,15}</string>
   </dict>
   <key>shihousunziyuan-piaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,126},{12,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,28}}</string>
    <key>sourceSize</key>
    <string>{12,28}</string>
   </dict>
   <key>shihousunziyuan-youqunbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,227},{49,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,27}}</string>
    <key>sourceSize</key>
    <string>{49,27}</string>
   </dict>
   <key>shihousunziyuan-zuoqunbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{75,201},{32,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,24}}</string>
    <key>sourceSize</key>
    <string>{32,24}</string>
   </dict>
   <key>shihousunziyuan-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,207},{53,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,55}}</string>
    <key>sourceSize</key>
    <string>{53,55}</string>
   </dict>
   <key>shihousunziyuan-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,175},{27,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,13}}</string>
    <key>sourceSize</key>
    <string>{27,13}</string>
   </dict>
   <key>shihousunziyuan-youjiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{67,227},{38,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,32}}</string>
    <key>sourceSize</key>
    <string>{38,32}</string>
   </dict>
   <key>shihousunziyuan-youjiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,227},{43,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,28}}</string>
    <key>sourceSize</key>
    <string>{43,28}</string>
   </dict>
   <key>shihousunziyuan-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{426,247},{28,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,11}}</string>
    <key>sourceSize</key>
    <string>{28,11}</string>
   </dict>
   <key>shihousunziyuan-zuojiao2.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,132},{30,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,31}}</string>
    <key>sourceSize</key>
    <string>{30,31}</string>
   </dict>
   <key>shihousunziyuan-zuojiao3.png</key>
   <dict>
    <key>frame</key>
    <string>{{305,257},{40,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,27}}</string>
    <key>sourceSize</key>
    <string>{40,27}</string>
   </dict>
   <key>shihousunziyuan-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,226},{65,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,33}}</string>
    <key>sourceSize</key>
    <string>{65,33}</string>
   </dict>
   <key>shihousunziyuan-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,256},{47,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,28}}</string>
    <key>sourceSize</key>
    <string>{47,28}</string>
   </dict>
   <key>shihousunziyuan-zuojianjia.png</key>
   <dict>
    <key>frame</key>
    <string>{{476,103},{34,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,29}}</string>
    <key>sourceSize</key>
    <string>{34,29}</string>
   </dict>
   <key>shihousunziyuan-zuoshou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,137},{34,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,27}}</string>
    <key>sourceSize</key>
    <string>{34,27}</string>
   </dict>
   <key>shihousunziyuan-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,51},{23,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,25}}</string>
    <key>sourceSize</key>
    <string>{23,25}</string>
   </dict>
   <key>shihousunziyuan-shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,213},{44,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,50}}</string>
    <key>sourceSize</key>
    <string>{44,50}</string>
   </dict>
   <key>shihousunziyuan-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{484,78},{24,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,23}}</string>
    <key>sourceSize</key>
    <string>{24,23}</string>
   </dict>
   <key>shihousunziyuan-yun.png</key>
   <dict>
    <key>frame</key>
    <string>{{220,0},{167,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,95}}</string>
    <key>sourceSize</key>
    <string>{167,95}</string>
   </dict>
   <key>shihousunziyuan-yun3.png</key>
   <dict>
    <key>frame</key>
    <string>{{381,177},{76,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,40}}</string>
    <key>sourceSize</key>
    <string>{76,40}</string>
   </dict>
   <key>shihousunziyuan-yun2.png</key>
   <dict>
    <key>frame</key>
    <string>{{113,152},{66,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,51}}</string>
    <key>sourceSize</key>
    <string>{66,51}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sun.png</string>
   <key>textureFileName</key>
   <string>sun.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>