<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>suoer0-zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{728,764}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{728,764}}</string>
        <key>sourceSize</key>
        <string>{728,764}</string>
      </dict>
      <key>suoer0-kuiz3.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,433},{78,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,68}}</string>
        <key>sourceSize</key>
        <string>{78,68}</string>
      </dict>
      <key>suoer0-kudang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,199},{51,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,52}}</string>
        <key>sourceSize</key>
        <string>{51,52}</string>
      </dict>
      <key>suoer0-kuzi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,133},{51,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,64}}</string>
        <key>sourceSize</key>
        <string>{51,64}</string>
      </dict>
      <key>suoer0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,131},{57,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>suoer0-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,274},{25,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>suoer0-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,0},{31,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,55}}</string>
        <key>sourceSize</key>
        <string>{31,55}</string>
      </dict>
      <key>suoer0-shangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,210},{32,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,27}}</string>
        <key>sourceSize</key>
        <string>{32,27}</string>
      </dict>
      <key>suoer0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,362},{101,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>suoer0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,336},{101,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>suoer0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,419},{100,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,82}}</string>
        <key>sourceSize</key>
        <string>{100,82}</string>
      </dict>
      <key>suoer0-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,503},{59,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,55}}</string>
        <key>sourceSize</key>
        <string>{59,55}</string>
      </dict>
      <key>suoer0-toufaxia.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,274},{105,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,86}}</string>
        <key>sourceSize</key>
        <string>{105,86}</string>
      </dict>
      <key>suoer0-toufashang.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,0},{194,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,129}}</string>
        <key>sourceSize</key>
        <string>{194,129}</string>
      </dict>
      <key>suoer0-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,0},{54,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,131}}</string>
        <key>sourceSize</key>
        <string>{54,131}</string>
      </dict>
      <key>suoer0-touying.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,170},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>suoer0-naodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,131},{135,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,141}}</string>
        <key>sourceSize</key>
        <string>{135,141}</string>
      </dict>
      <key>suoer0-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,146},{42,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,22}}</string>
        <key>sourceSize</key>
        <string>{42,22}</string>
      </dict>
      <key>suoer0-youkuzi .png</key>
      <dict>
        <key>frame</key>
        <string>{{730,445},{78,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,65}}</string>
        <key>sourceSize</key>
        <string>{78,65}</string>
      </dict>
      <key>suoer0-zuoerd.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,99},{21,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,45}}</string>
        <key>sourceSize</key>
        <string>{21,45}</string>
      </dict>
      <key>suoer0-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,281},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>suoer0-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,348},{74,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,83}}</string>
        <key>sourceSize</key>
        <string>{74,83}</string>
      </dict>
      <key>suoer0-quantou.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,290},{52,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,44}}</string>
        <key>sourceSize</key>
        <string>{52,44}</string>
      </dict>
      <key>suoer0-chuizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{373,365}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{373,365}}</string>
        <key>sourceSize</key>
        <string>{373,365}</string>
      </dict>
      <key>suoer0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,191},{55,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,51}}</string>
        <key>sourceSize</key>
        <string>{55,51}</string>
      </dict>
      <key>suoer0-xiongqiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,244},{55,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,44}}</string>
        <key>sourceSize</key>
        <string>{55,44}</string>
      </dict>
      <key>suoer0-qunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,261},{66,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,85}}</string>
        <key>sourceSize</key>
        <string>{66,85}</string>
      </dict>
      <key>suoer0-shangbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,57},{36,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,40}}</string>
        <key>sourceSize</key>
        <string>{36,40}</string>
      </dict>
      <key>suoer0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,253},{28,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,26}}</string>
        <key>sourceSize</key>
        <string>{28,26}</string>
      </dict>
      <key>suoer0-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,239},{35,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,20}}</string>
        <key>sourceSize</key>
        <string>{35,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>suoer2.png</string>
      <key>textureFileName</key>
      <string>suoer2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
    </dict>
  </dict>
</plist>