<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>suoluo1-gebo123.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,374},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>suoluo1-youbian.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,326},{45,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,50}}</string>
        <key>sourceSize</key>
        <string>{45,50}</string>
      </dict>
      <key>suoluo1-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,376},{33,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,36}}</string>
        <key>sourceSize</key>
        <string>{33,36}</string>
      </dict>
      <key>suoluo1-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,64},{44,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,66}}</string>
        <key>sourceSize</key>
        <string>{44,66}</string>
      </dict>
      <key>suoluo1-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,132},{46,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,59}}</string>
        <key>sourceSize</key>
        <string>{46,59}</string>
      </dict>
      <key>suoluo1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,307},{62,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,40}}</string>
        <key>sourceSize</key>
        <string>{62,40}</string>
      </dict>
      <key>suoluo1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,283},{61,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,41}}</string>
        <key>sourceSize</key>
        <string>{61,41}</string>
      </dict>
      <key>suoluo1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,235},{61,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,46}}</string>
        <key>sourceSize</key>
        <string>{61,46}</string>
      </dict>
      <key>suoluo1-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{50,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,62}}</string>
        <key>sourceSize</key>
        <string>{50,62}</string>
      </dict>
      <key>suoluo1-bingfa.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,193},{55,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,63}}</string>
        <key>sourceSize</key>
        <string>{55,63}</string>
      </dict>
      <key>suoluo1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,258},{54,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>suoluo1-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{173,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{173,166}}</string>
        <key>sourceSize</key>
        <string>{173,166}</string>
      </dict>
      <key>suoluo1-naodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,163},{94,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>suoluo1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{150,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,69}}</string>
        <key>sourceSize</key>
        <string>{150,69}</string>
      </dict>
      <key>suoluo1-youbiangebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,349},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>suoluo1-qunzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,349},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>suoluo1-qunzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,336},{45,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,38}}</string>
        <key>sourceSize</key>
        <string>{45,38}</string>
      </dict>
      <key>suoluo1-qugan.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,299},{62,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{62,78}</string>
      </dict>
      <key>suoluo1-zuohuwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,336},{36,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,44}}</string>
        <key>sourceSize</key>
        <string>{36,44}</string>
      </dict>
      <key>suoluo1-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,378},{31,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,33}}</string>
        <key>sourceSize</key>
        <string>{31,33}</string>
      </dict>
      <key>suoluo1-zuogebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,174},{28,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,33}}</string>
        <key>sourceSize</key>
        <string>{28,33}</string>
      </dict>
      <key>suoluo1-youbianhutui.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,349},{47,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,34}}</string>
        <key>sourceSize</key>
        <string>{47,34}</string>
      </dict>
      <key>suoluo1-youjiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,246},{25,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,31}}</string>
        <key>sourceSize</key>
        <string>{25,31}</string>
      </dict>
      <key>suoluo1-youtui.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,326},{31,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,46}}</string>
        <key>sourceSize</key>
        <string>{31,46}</string>
      </dict>
      <key>suoluo1-zuobianhutui.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,349},{40,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,33}}</string>
        <key>sourceSize</key>
        <string>{40,33}</string>
      </dict>
      <key>suoluo1-zuojiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,260},{24,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,31}}</string>
        <key>sourceSize</key>
        <string>{24,31}</string>
      </dict>
      <key>suoluo1-zuotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,209},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>suoluo1-you1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{182,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,172}}</string>
        <key>sourceSize</key>
        <string>{182,172}</string>
      </dict>
      <key>suoluo1-you2.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,168},{171,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,65}}</string>
        <key>sourceSize</key>
        <string>{171,65}</string>
      </dict>
      <key>suoluo1-you3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{147,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,52}}</string>
        <key>sourceSize</key>
        <string>{147,52}</string>
      </dict>
      <key>suoluo1-you4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,299},{97,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,91}}</string>
        <key>sourceSize</key>
        <string>{97,91}</string>
      </dict>
      <key>suoluo1-zuo1.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,0},{98,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,161}}</string>
        <key>sourceSize</key>
        <string>{98,161}</string>
      </dict>
      <key>suoluo1-zuo2.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,235},{117,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,89}}</string>
        <key>sourceSize</key>
        <string>{117,89}</string>
      </dict>
      <key>suoluo1-zuo3.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,326},{96,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,21}}</string>
        <key>sourceSize</key>
        <string>{96,21}</string>
      </dict>
      <key>suoluo1-zuo4.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,260},{68,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,74}}</string>
        <key>sourceSize</key>
        <string>{68,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>suoluo2.png</string>
      <key>textureFileName</key>
      <string>suoluo2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>