<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>suxiku-quanquan.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,219},{82,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,79}}</string>
    <key>sourceSize</key>
    <string>{82,79}</string>
   </dict>
   <key>suxiku-bianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{97,248}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,248}}</string>
    <key>sourceSize</key>
    <string>{97,248}</string>
   </dict>
   <key>suxiku-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,321},{76,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,76}}</string>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>suxiku-xiqi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,300},{85,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,67}}</string>
    <key>sourceSize</key>
    <string>{85,67}</string>
   </dict>
   <key>suxiku-gongji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,218},{91,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,70}}</string>
    <key>sourceSize</key>
    <string>{91,70}</string>
   </dict>
   <key>suxiku-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{205,290},{107,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,80}}</string>
    <key>sourceSize</key>
    <string>{107,80}</string>
   </dict>
   <key>suxiku-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,250},{84,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,69}}</string>
    <key>sourceSize</key>
    <string>{84,69}</string>
   </dict>
   <key>suxiku-liuhai .png</key>
   <dict>
    <key>frame</key>
    <string>{{86,251},{117,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{117,88}}</string>
    <key>sourceSize</key>
    <string>{117,88}</string>
   </dict>
   <key>suxiku-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,0},{158,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,154}}</string>
    <key>sourceSize</key>
    <string>{158,154}</string>
   </dict>
   <key>suxiku-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,0},{128,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,129}}</string>
    <key>sourceSize</key>
    <string>{128,129}</string>
   </dict>
   <key>suxiku-xiuzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,60},{38,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,51}}</string>
    <key>sourceSize</key>
    <string>{38,51}</string>
   </dict>
   <key>suxiku-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,200},{24,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,23}}</string>
    <key>sourceSize</key>
    <string>{24,23}</string>
   </dict>
   <key>suxiku-yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,158},{39,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,23}}</string>
    <key>sourceSize</key>
    <string>{39,23}</string>
   </dict>
   <key>suxiku-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,0},{36,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,58}}</string>
    <key>sourceSize</key>
    <string>{36,58}</string>
   </dict>
   <key>suxiku-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,341},{55,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,37}}</string>
    <key>sourceSize</key>
    <string>{55,37}</string>
   </dict>
   <key>suxiku-ydatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,113},{41,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,43}}</string>
    <key>sourceSize</key>
    <string>{41,43}</string>
   </dict>
   <key>suxiku-yxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,156},{33,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,42}}</string>
    <key>sourceSize</key>
    <string>{33,42}</string>
   </dict>
   <key>suxiku-yjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,182},{28,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,23}}</string>
    <key>sourceSize</key>
    <string>{28,23}</string>
   </dict>
   <key>suxiku-zdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,131},{19,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,36}}</string>
    <key>sourceSize</key>
    <string>{19,36}</string>
   </dict>
   <key>suxiku-zxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{440,193},{21,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,24}}</string>
    <key>sourceSize</key>
    <string>{21,24}</string>
   </dict>
   <key>suxiku-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,183},{26,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,22}}</string>
    <key>sourceSize</key>
    <string>{26,22}</string>
   </dict>
   <key>suxiku-xiuzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,131},{31,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,49}}</string>
    <key>sourceSize</key>
    <string>{31,49}</string>
   </dict>
   <key>suxiku-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,169},{19,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,22}}</string>
    <key>sourceSize</key>
    <string>{19,22}</string>
   </dict>
   <key>suxiku-shanzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,156},{113,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,93}}</string>
    <key>sourceSize</key>
    <string>{113,93}</string>
   </dict>
   <key>suxiku-ztoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,131},{73,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,151}}</string>
    <key>sourceSize</key>
    <string>{73,151}</string>
   </dict>
   <key>suxiku-zbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,0},{74,216}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,216}}</string>
    <key>sourceSize</key>
    <string>{74,216}</string>
   </dict>
   <key>suxiku-quanquan2.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,284},{70,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,71}}</string>
    <key>sourceSize</key>
    <string>{70,71}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>suxi2.png</string>
   <key>textureFileName</key>
   <string>suxi2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>