<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>taidi0-dunpai.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,0},{86,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,131}}</string>
    <key>sourceSize</key>
    <string>{86,131}</string>
   </dict>
   <key>taidi0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,168},{113,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,94}}</string>
    <key>sourceSize</key>
    <string>{113,94}</string>
   </dict>
   <key>taidi0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,215},{89,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,90}}</string>
    <key>sourceSize</key>
    <string>{89,90}</string>
   </dict>
   <key>taidi0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,189},{91,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,95}}</string>
    <key>sourceSize</key>
    <string>{91,95}</string>
   </dict>
   <key>taidi0-naodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{193,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{193,166}}</string>
    <key>sourceSize</key>
    <string>{193,166}</string>
   </dict>
   <key>taidi0-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,133},{43,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,45}}</string>
    <key>sourceSize</key>
    <string>{43,45}</string>
   </dict>
   <key>taidi0-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,183},{49,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,30}}</string>
    <key>sourceSize</key>
    <string>{49,30}</string>
   </dict>
   <key>taidi0-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,180},{43,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,20}}</string>
    <key>sourceSize</key>
    <string>{43,20}</string>
   </dict>
   <key>taidi0-shouzhang1.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,138},{44,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,43}}</string>
    <key>sourceSize</key>
    <string>{44,43}</string>
   </dict>
   <key>taidi0-youdatui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{423,94},{47,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,42}}</string>
    <key>sourceSize</key>
    <string>{47,42}</string>
   </dict>
   <key>taidi0-qugan.png</key>
   <dict>
    <key>frame</key>
    <string>{{423,0},{87,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,92}}</string>
    <key>sourceSize</key>
    <string>{87,92}</string>
   </dict>
   <key>taidi0-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{115,168},{45,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,36}}</string>
    <key>sourceSize</key>
    <string>{45,36}</string>
   </dict>
   <key>taidi0-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,202},{43,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,18}}</string>
    <key>sourceSize</key>
    <string>{43,18}</string>
   </dict>
   <key>taidi0-zuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,172},{38,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,28}}</string>
    <key>sourceSize</key>
    <string>{38,28}</string>
   </dict>
   <key>taidi0-zuodabi.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,189},{46,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,33}}</string>
    <key>sourceSize</key>
    <string>{46,33}</string>
   </dict>
   <key>taidi0-shouzhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,133},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>taidi0-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,0},{138,187}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,187}}</string>
    <key>sourceSize</key>
    <string>{138,187}</string>
   </dict>
   <key>taidi0-shouzhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,135},{35,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,35}}</string>
    <key>sourceSize</key>
    <string>{35,35}</string>
   </dict>
   <key>taidi0-zuogebo.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,94},{32,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,39}}</string>
    <key>sourceSize</key>
    <string>{32,39}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>taidi2.png</string>
   <key>textureFileName</key>
   <string>taidi2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>