<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>02tangpu-pugongying2.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,229},{55,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,39}}</string>
    <key>sourceSize</key>
    <string>{55,39}</string>
   </dict>
   <key>02tangpu-pugongying3.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,144},{29,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,32}}</string>
    <key>sourceSize</key>
    <string>{29,32}</string>
   </dict>
   <key>02tangpu-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,241},{54,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,34}}</string>
    <key>sourceSize</key>
    <string>{54,34}</string>
   </dict>
   <key>02tangpu-zhengchang.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,180},{59,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,36}}</string>
    <key>sourceSize</key>
    <string>{59,36}</string>
   </dict>
   <key>02tangpu-liuhai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,0},{17,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,31}}</string>
    <key>sourceSize</key>
    <string>{17,31}</string>
   </dict>
   <key>02tangpu-erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,33},{18,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,24}}</string>
    <key>sourceSize</key>
    <string>{18,24}</string>
   </dict>
   <key>02tangpu-fajia.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,241},{27,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,27}}</string>
    <key>sourceSize</key>
    <string>{27,27}</string>
   </dict>
   <key>02tangpu-liuhai3.png</key>
   <dict>
    <key>frame</key>
    <string>{{334,121},{59,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,57}}</string>
    <key>sourceSize</key>
    <string>{59,57}</string>
   </dict>
   <key>02tangpu-liuhai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,178},{37,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,50}}</string>
    <key>sourceSize</key>
    <string>{37,50}</string>
   </dict>
   <key>02tangpu-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,86},{79,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,81}}</string>
    <key>sourceSize</key>
    <string>{79,81}</string>
   </dict>
   <key>02tangpu-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,59},{17,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,12}}</string>
    <key>sourceSize</key>
    <string>{17,12}</string>
   </dict>
   <key>02tangpu-zuoshoubi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,89},{14,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,11}}</string>
    <key>sourceSize</key>
    <string>{14,11}</string>
   </dict>
   <key>02tangpu-zuoshoubi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{445,229},{12,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,11}}</string>
    <key>sourceSize</key>
    <string>{12,11}</string>
   </dict>
   <key>02tangpu-shenti1.png</key>
   <dict>
    <key>frame</key>
    <string>{{266,255},{29,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,17}}</string>
    <key>sourceSize</key>
    <string>{29,17}</string>
   </dict>
   <key>02tangpu-shenti2.png</key>
   <dict>
    <key>frame</key>
    <string>{{459,230},{37,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,31}}</string>
    <key>sourceSize</key>
    <string>{37,31}</string>
   </dict>
   <key>02tangpu-zuotui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,102},{13,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,12}}</string>
    <key>sourceSize</key>
    <string>{13,12}</string>
   </dict>
   <key>02tangpu-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,86},{12,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,15}}</string>
    <key>sourceSize</key>
    <string>{12,15}</string>
   </dict>
   <key>02tangpu-zuotui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{490,116},{13,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,12}}</string>
    <key>sourceSize</key>
    <string>{13,12}</string>
   </dict>
   <key>02tangpu-youtui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,119},{11,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,9}}</string>
    <key>sourceSize</key>
    <string>{11,9}</string>
   </dict>
   <key>02tangpu-youtui2.png</key>
   <dict>
    <key>frame</key>
    <string>{{498,230},{12,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,9}}</string>
    <key>sourceSize</key>
    <string>{12,9}</string>
   </dict>
   <key>02tangpu-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,130},{12,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,12}}</string>
    <key>sourceSize</key>
    <string>{12,12}</string>
   </dict>
   <key>02tangpu-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,0},{94,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,84}}</string>
    <key>sourceSize</key>
    <string>{94,84}</string>
   </dict>
   <key>02tangpu-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,73},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>02tangpu-pugongying.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{279,239}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{279,239}}</string>
    <key>sourceSize</key>
    <string>{279,239}</string>
   </dict>
   <key>02tangpu-jing1.png</key>
   <dict>
    <key>frame</key>
    <string>{{281,0},{113,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,119}}</string>
    <key>sourceSize</key>
    <string>{113,119}</string>
   </dict>
   <key>02tangpu-jing2.png</key>
   <dict>
    <key>frame</key>
    <string>{{281,121},{51,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,93}}</string>
    <key>sourceSize</key>
    <string>{51,93}</string>
   </dict>
   <key>02tangpu-youshoubi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,130},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
   <key>02tangpu-youshoubi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,103},{11,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,14}}</string>
    <key>sourceSize</key>
    <string>{11,14}</string>
   </dict>
   <key>02tangpu-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{395,169},{67,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,58}}</string>
    <key>sourceSize</key>
    <string>{67,58}</string>
   </dict>
   <key>02tangpu-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,218},{61,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,61}}</string>
    <key>sourceSize</key>
    <string>{61,61}</string>
   </dict>
   <key>02tangpu-pugongying3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,241},{148,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,51}}</string>
    <key>sourceSize</key>
    <string>{148,51}</string>
   </dict>
   <key>02tangpu-pugongying1.png</key>
   <dict>
    <key>frame</key>
    <string>{{281,216},{42,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,37}}</string>
    <key>sourceSize</key>
    <string>{42,37}</string>
   </dict>
   <key>02tangpu-pugongying4.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,241},{29,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,28}}</string>
    <key>sourceSize</key>
    <string>{29,28}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tangpu2.png</string>
   <key>textureFileName</key>
   <string>tangpu2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>