<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>taode0-hugai.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,229},{77,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,68}}</string>
    <key>sourceSize</key>
    <string>{77,68}</string>
   </dict>
   <key>taode0-daijiyanwu.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,127},{106,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,120}}</string>
    <key>sourceSize</key>
    <string>{106,120}</string>
   </dict>
   <key>taode0-gongjiyanwu.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,269},{101,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,64}}</string>
    <key>sourceSize</key>
    <string>{101,64}</string>
   </dict>
   <key>taode0-shoujiyanwu.png</key>
   <dict>
    <key>frame</key>
    <string>{{297,249},{101,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,64}}</string>
    <key>sourceSize</key>
    <string>{101,64}</string>
   </dict>
   <key>taode0-youtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,299},{53,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,68}}</string>
    <key>sourceSize</key>
    <string>{53,68}</string>
   </dict>
   <key>taode0-zhongtoufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,301},{50,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,62}}</string>
    <key>sourceSize</key>
    <string>{50,62}</string>
   </dict>
   <key>taode0-youtoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,139},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,66}}</string>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>taode0-shoujibaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,207},{92,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,60}}</string>
    <key>sourceSize</key>
    <string>{92,60}</string>
   </dict>
   <key>taode0-gongjibiaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,258},{75,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,53}}</string>
    <key>sourceSize</key>
    <string>{75,53}</string>
   </dict>
   <key>taode0-daijibaioqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,276},{75,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,52}}</string>
    <key>sourceSize</key>
    <string>{75,52}</string>
   </dict>
   <key>taode0-zhuoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,207},{63,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,67}}</string>
    <key>sourceSize</key>
    <string>{63,67}</string>
   </dict>
   <key>taode0-houtoufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{431,108},{52,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,97}}</string>
    <key>sourceSize</key>
    <string>{52,97}</string>
   </dict>
   <key>taode0-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,0},{159,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,137}}</string>
    <key>sourceSize</key>
    <string>{159,137}</string>
   </dict>
   <key>taode0-hugai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{142,139},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,88}}</string>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>taode0-zhuoqianzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,313},{56,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,59}}</string>
    <key>sourceSize</key>
    <string>{56,59}</string>
   </dict>
   <key>taode0-zuoshou3.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,244},{43,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,55}}</string>
    <key>sourceSize</key>
    <string>{43,55}</string>
   </dict>
   <key>taode0-zhuojianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,95},{18,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,20}}</string>
    <key>sourceSize</key>
    <string>{18,20}</string>
   </dict>
   <key>taode0-shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{452,335},{32,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,37}}</string>
    <key>sourceSize</key>
    <string>{32,37}</string>
   </dict>
   <key>taode0-chahu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{398,335},{52,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,27}}</string>
    <key>sourceSize</key>
    <string>{52,27}</string>
   </dict>
   <key>taode0-shengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{251,330},{42,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,32}}</string>
    <key>sourceSize</key>
    <string>{42,32}</string>
   </dict>
   <key>taode0-chahu2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,176},{87,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,80}}</string>
    <key>sourceSize</key>
    <string>{87,80}</string>
   </dict>
   <key>taode0-chuahu3.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,330},{60,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,39}}</string>
    <key>sourceSize</key>
    <string>{60,39}</string>
   </dict>
   <key>taode0-youbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{431,0},{56,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,106}}</string>
    <key>sourceSize</key>
    <string>{56,106}</string>
   </dict>
   <key>taode0-houtoufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{303,0},{126,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{126,125}}</string>
    <key>sourceSize</key>
    <string>{126,125}</string>
   </dict>
   <key>taode0-youerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,176},{48,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,66}}</string>
    <key>sourceSize</key>
    <string>{48,66}</string>
   </dict>
   <key>taode0-weibaz.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{140,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,174}}</string>
    <key>sourceSize</key>
    <string>{140,174}</string>
   </dict>
   <key>taode0-zhuojiaowan.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,171},{23,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,12}}</string>
    <key>sourceSize</key>
    <string>{23,12}</string>
   </dict>
   <key>taode0-zhouxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,68},{18,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,25}}</string>
    <key>sourceSize</key>
    <string>{18,25}</string>
   </dict>
   <key>taode0-zhuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,0},{18,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,35}}</string>
    <key>sourceSize</key>
    <string>{18,35}</string>
   </dict>
   <key>taode0-youjiaowan.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,185},{21,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,10}}</string>
    <key>sourceSize</key>
    <string>{21,10}</string>
   </dict>
   <key>taode0-youdatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,127},{15,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,23}}</string>
    <key>sourceSize</key>
    <string>{15,23}</string>
   </dict>
   <key>taode0-youxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,37},{17,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,29}}</string>
    <key>sourceSize</key>
    <string>{17,29}</string>
   </dict>
   <key>taode0-youqianzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,315},{56,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,51}}</string>
    <key>sourceSize</key>
    <string>{56,51}</string>
   </dict>
   <key>taode0-youqianzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{353,315},{43,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,47}}</string>
    <key>sourceSize</key>
    <string>{43,47}</string>
   </dict>
   <key>taode0-shouhuan.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,147},{22,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,22}}</string>
    <key>sourceSize</key>
    <string>{22,22}</string>
   </dict>
   <key>taode0-youjianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,152},{17,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,20}}</string>
    <key>sourceSize</key>
    <string>{17,20}</string>
   </dict>
   <key>taode0-youshoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,117},{22,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,28}}</string>
    <key>sourceSize</key>
    <string>{22,28}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>taode.png</string>
   <key>textureFileName</key>
   <string>taode.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>