<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tianshishouziyuan-han.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,411},{43,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,27}}</string>
        <key>sourceSize</key>
        <string>{43,27}</string>
      </dict>
      <key>tianshishouziyuan-shoudai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,428},{38,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,23}}</string>
        <key>sourceSize</key>
        <string>{38,23}</string>
      </dict>
      <key>tianshishouziyuan-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,325},{38,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,39}}</string>
        <key>sourceSize</key>
        <string>{38,39}</string>
      </dict>
      <key>tianshishouziyuan-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,428},{29,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,35}}</string>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>tianshishouziyuan-shoudai1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,436},{27,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,19}}</string>
        <key>sourceSize</key>
        <string>{27,19}</string>
      </dict>
      <key>tianshishouziyuan-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,436},{28,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>tianshishouziyuan-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,351},{22,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,12}}</string>
        <key>sourceSize</key>
        <string>{22,12}</string>
      </dict>
      <key>tianshishouziyuan-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,365},{18,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,6}}</string>
        <key>sourceSize</key>
        <string>{18,6}</string>
      </dict>
      <key>tianshishouziyuan-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,109},{129,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,113}}</string>
        <key>sourceSize</key>
        <string>{129,113}</string>
      </dict>
      <key>tianshishouziyuan-zuofa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,428},{29,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,28}}</string>
        <key>sourceSize</key>
        <string>{29,28}</string>
      </dict>
      <key>tianshishouziyuan-zuofa.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,218},{26,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,52}}</string>
        <key>sourceSize</key>
        <string>{26,52}</string>
      </dict>
      <key>tianshishouziyuan-zuofa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,305},{17,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,36}}</string>
        <key>sourceSize</key>
        <string>{17,36}</string>
      </dict>
      <key>tianshishouziyuan-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{82,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,56}}</string>
        <key>sourceSize</key>
        <string>{82,56}</string>
      </dict>
      <key>tianshishouziyuan-shoudai.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,366},{36,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,31}}</string>
        <key>sourceSize</key>
        <string>{36,31}</string>
      </dict>
      <key>tianshishouziyuan-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,315},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>tianshishouziyuan-shoudai1-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,428},{41,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,29}}</string>
        <key>sourceSize</key>
        <string>{41,29}</string>
      </dict>
      <key>tianshishouziyuan-shoudai1-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,399},{47,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,27}}</string>
        <key>sourceSize</key>
        <string>{47,27}</string>
      </dict>
      <key>tianshishouziyuan-youfa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,281},{18,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,36}}</string>
        <key>sourceSize</key>
        <string>{18,36}</string>
      </dict>
      <key>tianshishouziyuan-youfa.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,141},{10,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,14}}</string>
        <key>sourceSize</key>
        <string>{10,14}</string>
      </dict>
      <key>tianshishouziyuan-yaodai.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,360},{50,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,28}}</string>
        <key>sourceSize</key>
        <string>{50,28}</string>
      </dict>
      <key>tianshishouziyuan-bozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,371},{24,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,16}}</string>
        <key>sourceSize</key>
        <string>{24,16}</string>
      </dict>
      <key>tianshishouziyuan-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,365},{67,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,61}}</string>
        <key>sourceSize</key>
        <string>{67,61}</string>
      </dict>
      <key>tianshishouziyuan-shoudai1-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,397},{62,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,42}}</string>
        <key>sourceSize</key>
        <string>{62,42}</string>
      </dict>
      <key>tianshishouziyuan-xiabai.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,428},{34,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
      <key>tianshishouziyuan-xiabai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,317},{31,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,41}}</string>
        <key>sourceSize</key>
        <string>{31,41}</string>
      </dict>
      <key>tianshishouziyuan-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,296},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>tianshishouziyuan-zuojiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,335},{27,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,34}}</string>
        <key>sourceSize</key>
        <string>{27,34}</string>
      </dict>
      <key>tianshishouziyuan-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,319},{19,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,30}}</string>
        <key>sourceSize</key>
        <string>{19,30}</string>
      </dict>
      <key>tianshishouziyuan-zuodai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,424},{51,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,19}}</string>
        <key>sourceSize</key>
        <string>{51,19}</string>
      </dict>
      <key>tianshishouziyuan-zuodai1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{62,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,27}}</string>
        <key>sourceSize</key>
        <string>{62,27}</string>
      </dict>
      <key>tianshishouziyuan-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,371},{29,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,38}}</string>
        <key>sourceSize</key>
        <string>{29,38}</string>
      </dict>
      <key>tianshishouziyuan-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,109},{14,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,30}}</string>
        <key>sourceSize</key>
        <string>{14,30}</string>
      </dict>
      <key>tianshishouziyuan-youjiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,322},{31,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,37}}</string>
        <key>sourceSize</key>
        <string>{31,37}</string>
      </dict>
      <key>tianshishouziyuan-pigu.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,398},{50,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,24}}</string>
        <key>sourceSize</key>
        <string>{50,24}</string>
      </dict>
      <key>tianshishouziyuan-zuochi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{111,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,57}}</string>
        <key>sourceSize</key>
        <string>{111,57}</string>
      </dict>
      <key>tianshishouziyuan-zuochi2-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,438},{88,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,40}}</string>
        <key>sourceSize</key>
        <string>{88,40}</string>
      </dict>
      <key>tianshishouziyuan-zuochi2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,281},{124,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,42}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>tianshishouziyuan-zuochi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{128,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,126}}</string>
        <key>sourceSize</key>
        <string>{128,126}</string>
      </dict>
      <key>tianshishouziyuan-zuochi1-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,224},{113,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,55}}</string>
        <key>sourceSize</key>
        <string>{113,55}</string>
      </dict>
      <key>tianshishouziyuan-zuochi1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{164,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,107}}</string>
        <key>sourceSize</key>
        <string>{164,107}</string>
      </dict>
      <key>tianshishouziyuan-zuochi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,256},{55,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,57}}</string>
        <key>sourceSize</key>
        <string>{55,57}</string>
      </dict>
      <key>tianshishouziyuan-zuochi3-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,378},{63,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,48}}</string>
        <key>sourceSize</key>
        <string>{63,48}</string>
      </dict>
      <key>tianshishouziyuan-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,272},{19,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,38}}</string>
        <key>sourceSize</key>
        <string>{19,38}</string>
      </dict>
      <key>tianshishouziyuan-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,361},{32,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,35}}</string>
        <key>sourceSize</key>
        <string>{32,35}</string>
      </dict>
      <key>tianshishouziyuan-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,312},{24,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,30}}</string>
        <key>sourceSize</key>
        <string>{24,30}</string>
      </dict>
      <key>tianshishouziyuan-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{297,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{297,107}}</string>
        <key>sourceSize</key>
        <string>{297,107}</string>
      </dict>
      <key>tianshishouziyuan-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,344},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>tianshishouziyuan-houfa.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,109},{35,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,107}}</string>
        <key>sourceSize</key>
        <string>{35,107}</string>
      </dict>
      <key>tianshishouziyuan-houfa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,109},{48,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,107}}</string>
        <key>sourceSize</key>
        <string>{48,107}</string>
      </dict>
      <key>tianshishouziyuan-houfa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,218},{25,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,97}}</string>
        <key>sourceSize</key>
        <string>{25,97}</string>
      </dict>
      <key>tianshishouziyuan-houfa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,137},{38,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,117}}</string>
        <key>sourceSize</key>
        <string>{38,117}</string>
      </dict>
      <key>tianshishouziyuan-houfa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{39,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,135}}</string>
        <key>sourceSize</key>
        <string>{39,135}</string>
      </dict>
      <key>tianshishouziyuan-houfa_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,218},{31,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,102}}</string>
        <key>sourceSize</key>
        <string>{31,102}</string>
      </dict>
      <key>tianshishouziyuan-youchi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,325},{80,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,51}}</string>
        <key>sourceSize</key>
        <string>{80,51}</string>
      </dict>
      <key>tianshishouziyuan-youchi2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,390},{83,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,46}}</string>
        <key>sourceSize</key>
        <string>{83,46}</string>
      </dict>
      <key>tianshishouziyuan-youchi2-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,361},{52,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,34}}</string>
        <key>sourceSize</key>
        <string>{52,34}</string>
      </dict>
      <key>tianshishouziyuan-youchi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,109},{99,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,103}}</string>
        <key>sourceSize</key>
        <string>{99,103}</string>
      </dict>
      <key>tianshishouziyuan-youchi1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,214},{97,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,89}}</string>
        <key>sourceSize</key>
        <string>{97,89}</string>
      </dict>
      <key>tianshishouziyuan-youchi1-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,305},{76,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,58}}</string>
        <key>sourceSize</key>
        <string>{76,58}</string>
      </dict>
      <key>tianshishouziyuan-youchi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{78,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,51}}</string>
        <key>sourceSize</key>
        <string>{78,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tianshishou.png</string>
      <key>textureFileName</key>
      <string>tianshishou.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>