<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tianshidan33-shuijiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,392},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>tianshidan33-shuijiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,362},{50,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,45}}</string>
        <key>sourceSize</key>
        <string>{50,45}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,218},{37,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,95}}</string>
        <key>sourceSize</key>
        <string>{37,95}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang11.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,442},{75,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,99}}</string>
        <key>sourceSize</key>
        <string>{75,99}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{115,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,109}}</string>
        <key>sourceSize</key>
        <string>{115,109}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,513},{81,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,48}}</string>
        <key>sourceSize</key>
        <string>{81,48}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang21.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,269},{65,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,72}}</string>
        <key>sourceSize</key>
        <string>{65,72}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,224},{34,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,60}}</string>
        <key>sourceSize</key>
        <string>{34,60}</string>
      </dict>
      <key>tianshidan33-shuijiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,145}}</string>
        <key>sourceSize</key>
        <string>{190,145}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,409},{50,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,31}}</string>
        <key>sourceSize</key>
        <string>{50,31}</string>
      </dict>
      <key>tianshidan33-shuijiaochibang5.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,541},{46,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,32}}</string>
        <key>sourceSize</key>
        <string>{46,32}</string>
      </dict>
      <key>tianshidan33-jusang.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,224},{111,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,100}}</string>
        <key>sourceSize</key>
        <string>{111,100}</string>
      </dict>
      <key>tianshidan33-jusangchibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{114,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,94}}</string>
        <key>sourceSize</key>
        <string>{114,94}</string>
      </dict>
      <key>tianshidan33-jusangchibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,426},{104,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,97}}</string>
        <key>sourceSize</key>
        <string>{104,97}</string>
      </dict>
      <key>tianshidan33-kongbu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,412},{111,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,93}}</string>
        <key>sourceSize</key>
        <string>{111,93}</string>
      </dict>
      <key>tianshidan33-kongbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,218},{119,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>tianshidan33-jingxia.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,326},{109,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,98}}</string>
        <key>sourceSize</key>
        <string>{109,98}</string>
      </dict>
      <key>tianshidan33-weixiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,313},{110,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,97}}</string>
        <key>sourceSize</key>
        <string>{110,97}</string>
      </dict>
      <key>tianshidan33-daku.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,123},{152,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,93}}</string>
        <key>sourceSize</key>
        <string>{152,93}</string>
      </dict>
      <key>tianshidan33-fengnu.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,507},{111,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,87}}</string>
        <key>sourceSize</key>
        <string>{111,87}</string>
      </dict>
      <key>tianshidan33-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{110,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,95}}</string>
        <key>sourceSize</key>
        <string>{110,95}</string>
      </dict>
      <key>tianshidan33-guanghuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,123},{153,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,99}}</string>
        <key>sourceSize</key>
        <string>{153,99}</string>
      </dict>
      <key>tianshidan33-youchibang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{119,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,121}}</string>
        <key>sourceSize</key>
        <string>{119,121}</string>
      </dict>
      <key>tianshidan33-youchibang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{104,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,60}}</string>
        <key>sourceSize</key>
        <string>{104,60}</string>
      </dict>
      <key>tianshidan33-youchibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,525},{91,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,35}}</string>
        <key>sourceSize</key>
        <string>{91,35}</string>
      </dict>
      <key>tianshidan33-youchibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,343},{50,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,47}}</string>
        <key>sourceSize</key>
        <string>{50,47}</string>
      </dict>
      <key>tianshidan33-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{180,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,121}}</string>
        <key>sourceSize</key>
        <string>{180,121}</string>
      </dict>
      <key>tianshidan33-zuojao.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,335},{28,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,48}}</string>
        <key>sourceSize</key>
        <string>{28,48}</string>
      </dict>
      <key>tianshidan33-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,286},{31,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,47}}</string>
        <key>sourceSize</key>
        <string>{31,47}</string>
      </dict>
      <key>tianshidan33-zuochibang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,147},{69,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,120}}</string>
        <key>sourceSize</key>
        <string>{69,120}</string>
      </dict>
      <key>tianshidan33-zuochibang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,454},{71,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,52}}</string>
        <key>sourceSize</key>
        <string>{71,52}</string>
      </dict>
      <key>tianshidan33-zuochibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,508},{65,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,31}}</string>
        <key>sourceSize</key>
        <string>{65,31}</string>
      </dict>
      <key>tianshidan33-zuochibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,315},{56,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,45}}</string>
        <key>sourceSize</key>
        <string>{56,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tianshidan3.png</string>
      <key>textureFileName</key>
      <string>tianshidan3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>