<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>tianpingzuo1-m4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,446},{537,444}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{537,444}}</string>
    <key>sourceSize</key>
    <string>{537,444}</string>
   </dict>
   <key>tianpingzuo1-m3.png</key>
   <dict>
    <key>frame</key>
    <string>{{840,0},{652,444}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{652,444}}</string>
    <key>sourceSize</key>
    <string>{652,444}</string>
   </dict>
   <key>tianpingzuo1-m2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1494,0},{535,508}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{535,508}}</string>
    <key>sourceSize</key>
    <string>{535,508}</string>
   </dict>
   <key>tianpingzuo1-m1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{838,444}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{838,444}}</string>
    <key>sourceSize</key>
    <string>{838,444}</string>
   </dict>
   <key>tianpingzuo1-youhuoyabaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{1667,694},{80,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,28}}</string>
    <key>sourceSize</key>
    <string>{80,28}</string>
   </dict>
   <key>tianpingzuo1-youhuopeng.png</key>
   <dict>
    <key>frame</key>
    <string>{{1108,630},{140,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,36}}</string>
    <key>sourceSize</key>
    <string>{140,36}</string>
   </dict>
   <key>tianpingzuo1-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{719,663},{51,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,96}}</string>
    <key>sourceSize</key>
    <string>{51,96}</string>
   </dict>
   <key>tianpingzuo1-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{727,558},{57,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,103}}</string>
    <key>sourceSize</key>
    <string>{57,103}</string>
   </dict>
   <key>tianpingzuo1-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1395,663},{73,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,82}}</string>
    <key>sourceSize</key>
    <string>{73,82}</string>
   </dict>
   <key>tianpingzuo1-shoushang.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,630},{106,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,72}}</string>
    <key>sourceSize</key>
    <string>{106,72}</string>
   </dict>
   <key>tianpingzuo1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1250,630},{103,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,73}}</string>
    <key>sourceSize</key>
    <string>{103,73}</string>
   </dict>
   <key>tianpingzuo1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{1932,510},{109,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,80}}</string>
    <key>sourceSize</key>
    <string>{109,80}</string>
   </dict>
   <key>tianpingzuo1-fashi .png</key>
   <dict>
    <key>frame</key>
    <string>{{819,630},{116,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,121}}</string>
    <key>sourceSize</key>
    <string>{116,121}</string>
   </dict>
   <key>tianpingzuo1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1470,694},{101,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,52}}</string>
    <key>sourceSize</key>
    <string>{101,52}</string>
   </dict>
   <key>tianpingzuo1-youer.png</key>
   <dict>
    <key>frame</key>
    <string>{{727,446},{96,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,110}}</string>
    <key>sourceSize</key>
    <string>{96,110}</string>
   </dict>
   <key>tianpingzuo1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{937,704},{44,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,54}}</string>
    <key>sourceSize</key>
    <string>{44,54}</string>
   </dict>
   <key>tianpingzuo1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1355,630},{38,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,88}}</string>
    <key>sourceSize</key>
    <string>{38,88}</string>
   </dict>
   <key>tianpingzuo1-toufa7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1908,666},{80,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,78}}</string>
    <key>sourceSize</key>
    <string>{80,78}</string>
   </dict>
   <key>tianpingzuo1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{539,446},{186,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{186,178}}</string>
    <key>sourceSize</key>
    <string>{186,178}</string>
   </dict>
   <key>tianpingzuo1-zuoer.png</key>
   <dict>
    <key>frame</key>
    <string>{{1397,446},{71,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,112}}</string>
    <key>sourceSize</key>
    <string>{71,112}</string>
   </dict>
   <key>tianpingzuo1-toufa8.png</key>
   <dict>
    <key>frame</key>
    <string>{{772,683},{44,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,71}}</string>
    <key>sourceSize</key>
    <string>{44,71}</string>
   </dict>
   <key>tianpingzuo1-toufa9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1397,560},{55,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,101}}</string>
    <key>sourceSize</key>
    <string>{55,101}</string>
   </dict>
   <key>tianpingzuo1-toufa10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1076,630},{30,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,53}}</string>
    <key>sourceSize</key>
    <string>{30,53}</string>
   </dict>
   <key>tianpingzuo1-toufa11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1609,694},{56,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,62}}</string>
    <key>sourceSize</key>
    <string>{56,62}</string>
   </dict>
   <key>tianpingzuo1-toushi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1756,510},{174,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{174,143}}</string>
    <key>sourceSize</key>
    <string>{174,143}</string>
   </dict>
   <key>tianpingzuo1-toushi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{539,626},{150,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,137}}</string>
    <key>sourceSize</key>
    <string>{150,137}</string>
   </dict>
   <key>tianpingzuo1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{1749,715},{42,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,34}}</string>
    <key>sourceSize</key>
    <string>{42,34}</string>
   </dict>
   <key>tianpingzuo1-youxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1226,705},{47,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,44}}</string>
    <key>sourceSize</key>
    <string>{47,44}</string>
   </dict>
   <key>tianpingzuo1-youshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1275,705},{46,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,45}}</string>
    <key>sourceSize</key>
    <string>{46,45}</string>
   </dict>
   <key>tianpingzuo1-xiong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1097,709},{48,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,34}}</string>
    <key>sourceSize</key>
    <string>{48,34}</string>
   </dict>
   <key>tianpingzuo1-yaobao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1190,709},{32,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,31}}</string>
    <key>sourceSize</key>
    <string>{32,31}</string>
   </dict>
   <key>tianpingzuo1-yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1793,715},{47,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,20}}</string>
    <key>sourceSize</key>
    <string>{47,20}</string>
   </dict>
   <key>tianpingzuo1-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1932,592},{113,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,72}}</string>
    <key>sourceSize</key>
    <string>{113,72}</string>
   </dict>
   <key>tianpingzuo1-qun.png</key>
   <dict>
    <key>frame</key>
    <string>{{1756,655},{150,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,58}}</string>
    <key>sourceSize</key>
    <string>{150,58}</string>
   </dict>
   <key>tianpingzuo1-shangshen.png</key>
   <dict>
    <key>frame</key>
    <string>{{1990,666},{56,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,69}}</string>
    <key>sourceSize</key>
    <string>{56,69}</string>
   </dict>
   <key>tianpingzuo1-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1147,709},{41,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,39}}</string>
    <key>sourceSize</key>
    <string>{41,39}</string>
   </dict>
   <key>tianpingzuo1-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{983,704},{44,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,52}}</string>
    <key>sourceSize</key>
    <string>{44,52}</string>
   </dict>
   <key>tianpingzuo1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{1573,694},{34,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,29}}</string>
    <key>sourceSize</key>
    <string>{34,29}</string>
   </dict>
   <key>tianpingzuo1-toushi3.png</key>
   <dict>
    <key>frame</key>
    <string>{{786,558},{30,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,64}}</string>
    <key>sourceSize</key>
    <string>{30,64}</string>
   </dict>
   <key>tianpingzuo1-toushi4.png</key>
   <dict>
    <key>frame</key>
    <string>{{786,624},{31,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,57}}</string>
    <key>sourceSize</key>
    <string>{31,57}</string>
   </dict>
   <key>tianpingzuo1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1470,446},{22,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,18}}</string>
    <key>sourceSize</key>
    <string>{22,18}</string>
   </dict>
   <key>tianpingzuo1-youtui.png</key>
   <dict>
    <key>frame</key>
    <string>{{691,626},{26,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,61}}</string>
    <key>sourceSize</key>
    <string>{26,61}</string>
   </dict>
   <key>tianpingzuo1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{1470,466},{20,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,20}}</string>
    <key>sourceSize</key>
    <string>{20,20}</string>
   </dict>
   <key>tianpingzuo1-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{937,630},{29,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,57}}</string>
    <key>sourceSize</key>
    <string>{29,57}</string>
   </dict>
   <key>tianpingzuo1-huoyanjing1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1029,704},{66,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,27}}</string>
    <key>sourceSize</key>
    <string>{66,27}</string>
   </dict>
   <key>tianpingzuo1-zuohuopeng.png</key>
   <dict>
    <key>frame</key>
    <string>{{1108,668},{116,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,39}}</string>
    <key>sourceSize</key>
    <string>{116,39}</string>
   </dict>
   <key>tianpingzuo1-huo_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,446},{141,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,182}}</string>
    <key>sourceSize</key>
    <string>{141,182}</string>
   </dict>
   <key>tianpingzuo1-huo_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{825,446},{141,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,182}}</string>
    <key>sourceSize</key>
    <string>{141,182}</string>
   </dict>
   <key>tianpingzuo1-huo_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1111,446},{141,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,182}}</string>
    <key>sourceSize</key>
    <string>{141,182}</string>
   </dict>
   <key>tianpingzuo1-huo_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1254,446},{141,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,182}}</string>
    <key>sourceSize</key>
    <string>{141,182}</string>
   </dict>
   <key>tianpingzuo1-huo_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1613,510},{141,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,182}}</string>
    <key>sourceSize</key>
    <string>{141,182}</string>
   </dict>
   <key>tianpingzuo1-huo_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1470,510},{141,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,182}}</string>
    <key>sourceSize</key>
    <string>{141,182}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tianpingzuo.png</string>
   <key>textureFileName</key>
   <string>tianpingzuo.png</string>
   <key>size</key>
   <string>{2048,1024}</string>
  </dict>
 </dict>
</plist>