<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tianshidan11-weixiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{76,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>tianshidan11-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,54},{73,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,51}}</string>
        <key>sourceSize</key>
        <string>{73,51}</string>
      </dict>
      <key>tianshidan11-guanghuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,107},{88,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,33}}</string>
        <key>sourceSize</key>
        <string>{88,33}</string>
      </dict>
      <key>tianshidan11-chibang6.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,142},{56,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,41}}</string>
        <key>sourceSize</key>
        <string>{56,41}</string>
      </dict>
      <key>tianshidan11-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{149,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,154}}</string>
        <key>sourceSize</key>
        <string>{149,154}</string>
      </dict>
      <key>tianshidan11-chibang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{47,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,45}}</string>
        <key>sourceSize</key>
        <string>{47,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tianshidan1.png</string>
      <key>textureFileName</key>
      <string>tianshidan1.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>