<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>tianshidan22-tianshidan0261.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,130},{122,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,93}}</string>
    <key>sourceSize</key>
    <string>{122,93}</string>
   </dict>
   <key>tianshidan22-tianshidan026.png</key>
   <dict>
    <key>frame</key>
    <string>{{124,162},{116,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,99}}</string>
    <key>sourceSize</key>
    <string>{116,99}</string>
   </dict>
   <key>tianshidan22-tianshidan025.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,67},{86,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,29}}</string>
    <key>sourceSize</key>
    <string>{86,29}</string>
   </dict>
   <key>tianshidan22-tianshidan024.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,0},{65,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,65}}</string>
    <key>sourceSize</key>
    <string>{65,65}</string>
   </dict>
   <key>tianshidan22-tianshidan023.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{157,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{157,128}}</string>
    <key>sourceSize</key>
    <string>{157,128}</string>
   </dict>
   <key>tianshidan22-tianshidan022.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,98},{49,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,62}}</string>
    <key>sourceSize</key>
    <string>{49,62}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tianshidan2.png</string>
   <key>textureFileName</key>
   <string>tianshidan2.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>