<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tilaisi2-xuanfeng2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,558},{556,556}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{556,556}}</string>
        <key>sourceSize</key>
        <string>{556,556}</string>
      </dict>
      <key>tilaisi2-xuanfeng1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{556,556}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{556,556}}</string>
        <key>sourceSize</key>
        <string>{556,556}</string>
      </dict>
      <key>tilaisi2-zhuoshoubi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,433},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>tilaisi2-youbianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,310},{52,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,129}}</string>
        <key>sourceSize</key>
        <string>{52,129}</string>
      </dict>
      <key>tilaisi2-zhuobianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,320},{52,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,111}}</string>
        <key>sourceSize</key>
        <string>{52,111}</string>
      </dict>
      <key>tilaisi2-zhuozhuazi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,288},{24,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,49}}</string>
        <key>sourceSize</key>
        <string>{24,49}</string>
      </dict>
      <key>tilaisi2-zhuozhuazi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,376},{35,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,56}}</string>
        <key>sourceSize</key>
        <string>{35,56}</string>
      </dict>
      <key>tilaisi2-zhuozhuazi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,488},{37,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,44}}</string>
        <key>sourceSize</key>
        <string>{37,44}</string>
      </dict>
      <key>tilaisi2-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,459},{75,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,53}}</string>
        <key>sourceSize</key>
        <string>{75,53}</string>
      </dict>
      <key>tilaisi2-gongji .png</key>
      <dict>
        <key>frame</key>
        <string>{{754,491},{71,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,53}}</string>
        <key>sourceSize</key>
        <string>{71,53}</string>
      </dict>
      <key>tilaisi2-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,441},{72,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,61}}</string>
        <key>sourceSize</key>
        <string>{72,61}</string>
      </dict>
      <key>tilaisi2-zhuobianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,320},{46,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,123}}</string>
        <key>sourceSize</key>
        <string>{46,123}</string>
      </dict>
      <key>tilaisi2-zhuogebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,434},{35,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,37}}</string>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>tilaisi2-zhuoshoubi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,445},{43,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,41}}</string>
        <key>sourceSize</key>
        <string>{43,41}</string>
      </dict>
      <key>tilaisi2-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,378},{72,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>tilaisi2-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,378},{34,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,39}}</string>
        <key>sourceSize</key>
        <string>{34,39}</string>
      </dict>
      <key>tilaisi2-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,199},{133,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,119}}</string>
        <key>sourceSize</key>
        <string>{133,119}</string>
      </dict>
      <key>tilaisi2-houtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,250},{105,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,126}}</string>
        <key>sourceSize</key>
        <string>{105,126}</string>
      </dict>
      <key>tilaisi2-youbianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,199},{25,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,87}}</string>
        <key>sourceSize</key>
        <string>{25,87}</string>
      </dict>
      <key>tilaisi2-zhuojiaowan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,419},{32,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,34}}</string>
        <key>sourceSize</key>
        <string>{32,34}</string>
      </dict>
      <key>tilaisi2-zhuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,339},{27,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,47}}</string>
        <key>sourceSize</key>
        <string>{27,47}</string>
      </dict>
      <key>tilaisi2-louhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,199},{169,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,109}}</string>
        <key>sourceSize</key>
        <string>{169,109}</string>
      </dict>
      <key>tilaisi2-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,405},{81,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,52}}</string>
        <key>sourceSize</key>
        <string>{81,52}</string>
      </dict>
      <key>tilaisi2-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,388},{29,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,37}}</string>
        <key>sourceSize</key>
        <string>{29,37}</string>
      </dict>
      <key>tilaisi2-youjiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,501},{40,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,24}}</string>
        <key>sourceSize</key>
        <string>{40,24}</string>
      </dict>
      <key>tilaisi2-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,303},{20,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,49}}</string>
        <key>sourceSize</key>
        <string>{20,49}</string>
      </dict>
      <key>tilaisi2-zhuojiaowan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,427},{23,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,12}}</string>
        <key>sourceSize</key>
        <string>{23,12}</string>
      </dict>
      <key>tilaisi2-yougebuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,354},{24,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,37}}</string>
        <key>sourceSize</key>
        <string>{24,37}</string>
      </dict>
      <key>tilaisi2-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,320},{38,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,54}}</string>
        <key>sourceSize</key>
        <string>{38,54}</string>
      </dict>
      <key>tilaisi2-youzhuazi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,455},{37,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,47}}</string>
        <key>sourceSize</key>
        <string>{37,47}</string>
      </dict>
      <key>tilaisi2-youzhuazi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,250},{24,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,51}}</string>
        <key>sourceSize</key>
        <string>{24,51}</string>
      </dict>
      <key>tilaisi2-youzhuazi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,393},{17,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,39}}</string>
        <key>sourceSize</key>
        <string>{17,39}</string>
      </dict>
      <key>tilaisi2-zhuochibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,0},{343,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{343,197}}</string>
        <key>sourceSize</key>
        <string>{343,197}</string>
      </dict>
      <key>tilaisi2-youchibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,0},{103,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,248}}</string>
        <key>sourceSize</key>
        <string>{103,248}</string>
      </dict>
      <key>tilaisi2-weiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,310},{102,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,93}}</string>
        <key>sourceSize</key>
        <string>{102,93}</string>
      </dict>
      <key>tilaisi2-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,463},{94,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,36}}</string>
        <key>sourceSize</key>
        <string>{94,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tilaisi2.png</string>
      <key>textureFileName</key>
      <string>tilaisi2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
    </dict>
  </dict>
</plist>