<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lingti0-nangua.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{52,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{52,49}</string>
      </dict>
      <key>lingti0-zhuoxiuzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,304},{38,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,59}}</string>
        <key>sourceSize</key>
        <string>{38,59}</string>
      </dict>
      <key>lingti0-zhuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,213},{29,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,50}}</string>
        <key>sourceSize</key>
        <string>{29,50}</string>
      </dict>
      <key>lingti0-nanguashouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,269},{106,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,33}}</string>
        <key>sourceSize</key>
        <string>{106,33}</string>
      </dict>
      <key>lingti0-nanguadaiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,214},{130,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,53}}</string>
        <key>sourceSize</key>
        <string>{130,53}</string>
      </dict>
      <key>lingti0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,304},{57,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,38}}</string>
        <key>sourceSize</key>
        <string>{57,38}</string>
      </dict>
      <key>lingti0-chui.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,291},{57,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,40}}</string>
        <key>sourceSize</key>
        <string>{57,40}</string>
      </dict>
      <key>lingti0-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,291},{58,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,40}}</string>
        <key>sourceSize</key>
        <string>{58,40}</string>
      </dict>
      <key>lingti0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,316},{57,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,38}}</string>
        <key>sourceSize</key>
        <string>{57,38}</string>
      </dict>
      <key>lingti0-nangua1.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{163,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,113}}</string>
        <key>sourceSize</key>
        <string>{163,113}</string>
      </dict>
      <key>lingti0-qiantoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>lingti0-zhuobianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,235},{47,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,81}}</string>
        <key>sourceSize</key>
        <string>{47,81}</string>
      </dict>
      <key>lingti0-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{104,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,97}}</string>
        <key>sourceSize</key>
        <string>{104,97}</string>
      </dict>
      <key>lingti0-youtoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,122},{28,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,89}}</string>
        <key>sourceSize</key>
        <string>{28,89}</string>
      </dict>
      <key>lingti0-nangua2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,128}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>lingti0-geng.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,235},{31,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,50}}</string>
        <key>sourceSize</key>
        <string>{31,50}</string>
      </dict>
      <key>lingti0-zhuoqinzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,222},{74,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,67}}</string>
        <key>sourceSize</key>
        <string>{74,67}</string>
      </dict>
      <key>lingti0-hudiejie1.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,28},{9,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,17}}</string>
        <key>sourceSize</key>
        <string>{9,17}</string>
      </dict>
      <key>lingti0-hudiejie2.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,287},{31,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,18}}</string>
        <key>sourceSize</key>
        <string>{31,18}</string>
      </dict>
      <key>lingti0-hudiejie3.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,0},{10,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,26}}</string>
        <key>sourceSize</key>
        <string>{10,26}</string>
      </dict>
      <key>lingti0-lingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,318},{39,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>lingti0-lingzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,269},{58,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,46}}</string>
        <key>sourceSize</key>
        <string>{58,46}</string>
      </dict>
      <key>lingti0-qunzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,115},{34,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,93}}</string>
        <key>sourceSize</key>
        <string>{34,93}</string>
      </dict>
      <key>lingti0-qunzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,235},{47,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,93}}</string>
        <key>sourceSize</key>
        <string>{47,93}</string>
      </dict>
      <key>lingti0-qunzi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{142,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,120}}</string>
        <key>sourceSize</key>
        <string>{142,120}</string>
      </dict>
      <key>lingti0-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,317},{35,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,56}}</string>
        <key>sourceSize</key>
        <string>{35,56}</string>
      </dict>
      <key>lingti0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,210},{31,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,53}}</string>
        <key>sourceSize</key>
        <string>{31,53}</string>
      </dict>
      <key>lingti0-qunzi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,265},{28,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,49}}</string>
        <key>sourceSize</key>
        <string>{28,49}</string>
      </dict>
      <key>lingti0-huo4.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,122},{127,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,90}}</string>
        <key>sourceSize</key>
        <string>{127,90}</string>
      </dict>
      <key>lingti0-huo2.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,115},{123,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,118}}</string>
        <key>sourceSize</key>
        <string>{123,118}</string>
      </dict>
      <key>lingti0-deng.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,130},{55,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,90}}</string>
        <key>sourceSize</key>
        <string>{55,90}</string>
      </dict>
      <key>lingti0-tiequan.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,130},{25,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,21}}</string>
        <key>sourceSize</key>
        <string>{25,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tite.png</string>
      <key>textureFileName</key>
      <string>tite.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>