<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>tiwu0-dunpai.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,217},{95,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,114}}</string>
    <key>sourceSize</key>
    <string>{95,114}</string>
   </dict>
   <key>tiwu0-toukui.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,0},{240,188}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{240,188}}</string>
    <key>sourceSize</key>
    <string>{240,188}</string>
   </dict>
   <key>tiwu0-zhuobianzi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,333},{85,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,102}}</string>
    <key>sourceSize</key>
    <string>{85,102}</string>
   </dict>
   <key>tiwu0-zhuobianzi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,394},{98,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,68}}</string>
    <key>sourceSize</key>
    <string>{98,68}</string>
   </dict>
   <key>tiwu0-qianbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,0},{42,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,51}}</string>
    <key>sourceSize</key>
    <string>{42,51}</string>
   </dict>
   <key>tiwu0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,437},{92,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,63}}</string>
    <key>sourceSize</key>
    <string>{92,63}</string>
   </dict>
   <key>tiwu0-gongjibiaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,464},{80,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,68}}</string>
    <key>sourceSize</key>
    <string>{80,68}</string>
   </dict>
   <key>tiwu0-daijibiaoqing.png</key>
   <dict>
    <key>frame</key>
    <string>{{321,489},{82,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,60}}</string>
    <key>sourceSize</key>
    <string>{82,60}</string>
   </dict>
   <key>tiwu0-lian.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,352},{128,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,115}}</string>
    <key>sourceSize</key>
    <string>{128,115}</string>
   </dict>
   <key>tiwu0-zhuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,275},{21,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,33}}</string>
    <key>sourceSize</key>
    <string>{21,33}</string>
   </dict>
   <key>tiwu0-xiongbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,327},{28,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,20}}</string>
    <key>sourceSize</key>
    <string>{28,20}</string>
   </dict>
   <key>tiwu0-shangbansheng.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,180},{32,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,46}}</string>
    <key>sourceSize</key>
    <string>{32,46}</string>
   </dict>
   <key>tiwu0-xiabansheng.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,262},{28,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,30}}</string>
    <key>sourceSize</key>
    <string>{28,30}</string>
   </dict>
   <key>tiwu0-kudang1.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,228},{28,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,32}}</string>
    <key>sourceSize</key>
    <string>{28,32}</string>
   </dict>
   <key>tiwu0-zhuodatui.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,228},{25,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,45}}</string>
    <key>sourceSize</key>
    <string>{25,45}</string>
   </dict>
   <key>tiwu0-zhuoxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,294},{29,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,31}}</string>
    <key>sourceSize</key>
    <string>{29,31}</string>
   </dict>
   <key>tiwu0-zhuoxiaotui1.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,343},{21,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,23}}</string>
    <key>sourceSize</key>
    <string>{21,23}</string>
   </dict>
   <key>tiwu0-pidai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,469},{56,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,59}}</string>
    <key>sourceSize</key>
    <string>{56,59}</string>
   </dict>
   <key>tiwu0-gongji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,374},{57,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,67}}</string>
    <key>sourceSize</key>
    <string>{57,67}</string>
   </dict>
   <key>tiwu0-mazhui.png</key>
   <dict>
    <key>frame</key>
    <string>{{451,443},{59,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,70}}</string>
    <key>sourceSize</key>
    <string>{59,70}</string>
   </dict>
   <key>tiwu0-youjianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,352},{21,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,22}}</string>
    <key>sourceSize</key>
    <string>{21,22}</string>
   </dict>
   <key>tiwu0-youbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,469},{67,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,80}}</string>
    <key>sourceSize</key>
    <string>{67,80}</string>
   </dict>
   <key>tiwu0-shouji2.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,53},{45,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,39}}</string>
    <key>sourceSize</key>
    <string>{45,39}</string>
   </dict>
   <key>tiwu0-yanjing4.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,137},{37,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,41}}</string>
    <key>sourceSize</key>
    <string>{37,41}</string>
   </dict>
   <key>tiwu0-yanjing3.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,94},{38,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,41}}</string>
    <key>sourceSize</key>
    <string>{38,41}</string>
   </dict>
   <key>tiwu0-matou2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,217},{101,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,175}}</string>
    <key>sourceSize</key>
    <string>{101,175}</string>
   </dict>
   <key>tiwu0-pidai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,426},{103,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,61}}</string>
    <key>sourceSize</key>
    <string>{103,61}</string>
   </dict>
   <key>tiwu0-mashengti.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,190},{149,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{149,160}}</string>
    <key>sourceSize</key>
    <string>{149,160}</string>
   </dict>
   <key>tiwu0-kudang2.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,349},{22,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,23}}</string>
    <key>sourceSize</key>
    <string>{22,23}</string>
   </dict>
   <key>tiwu0-maweiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,345},{81,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,79}}</string>
    <key>sourceSize</key>
    <string>{81,79}</string>
   </dict>
   <key>tiwu0-mabouzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,190},{83,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,153}}</string>
    <key>sourceSize</key>
    <string>{83,153}</string>
   </dict>
   <key>tiwu0-yougebuo.png</key>
   <dict>
    <key>frame</key>
    <string>{{190,356},{19,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,20}}</string>
    <key>sourceSize</key>
    <string>{19,20}</string>
   </dict>
   <key>tiwu0-youqianbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,310},{21,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,31}}</string>
    <key>sourceSize</key>
    <string>{21,31}</string>
   </dict>
   <key>tiwu0-youshouwan.png</key>
   <dict>
    <key>frame</key>
    <string>{{190,333},{24,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,21}}</string>
    <key>sourceSize</key>
    <string>{24,21}</string>
   </dict>
   <key>tiwu0-chuangqiang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{217,215}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{217,215}}</string>
    <key>sourceSize</key>
    <string>{217,215}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tiwu2.png</string>
   <key>textureFileName</key>
   <string>tiwu2.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>