<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wantun1-yachi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{122,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,78}}</string>
        <key>sourceSize</key>
        <string>{122,78}</string>
      </dict>
      <key>wantun1-yachi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,213},{60,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,38}}</string>
        <key>sourceSize</key>
        <string>{60,38}</string>
      </dict>
      <key>wantun1-yachi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,163},{46,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>wantun1-yachi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,212},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>wantun1-maozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{164,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,115}}</string>
        <key>sourceSize</key>
        <string>{164,115}</string>
      </dict>
      <key>wantun1-erduo.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,199},{48,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>wantun1-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,80},{37,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,81}}</string>
        <key>sourceSize</key>
        <string>{37,81}</string>
      </dict>
      <key>wantun1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,131},{74,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,62}}</string>
        <key>sourceSize</key>
        <string>{74,62}</string>
      </dict>
      <key>wantun1-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{71,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,54}}</string>
        <key>sourceSize</key>
        <string>{71,54}</string>
      </dict>
      <key>wantun1-putong.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,151},{71,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,60}}</string>
        <key>sourceSize</key>
        <string>{71,60}</string>
      </dict>
      <key>wantun1-maozi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,80},{96,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,69}}</string>
        <key>sourceSize</key>
        <string>{96,69}</string>
      </dict>
      <key>wantun1-maozi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,172},{50,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,75}}</string>
        <key>sourceSize</key>
        <string>{50,75}</string>
      </dict>
      <key>wantun1-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,151},{20,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,73}}</string>
        <key>sourceSize</key>
        <string>{20,73}</string>
      </dict>
      <key>wantun1-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{86,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,129}}</string>
        <key>sourceSize</key>
        <string>{86,129}</string>
      </dict>
      <key>wantun1-maozi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,117},{57,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,80}}</string>
        <key>sourceSize</key>
        <string>{57,80}</string>
      </dict>
      <key>wantun1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{115,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,103}}</string>
        <key>sourceSize</key>
        <string>{115,103}</string>
      </dict>
      <key>wantun1-toufa1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,131},{25,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,73}}</string>
        <key>sourceSize</key>
        <string>{25,73}</string>
      </dict>
      <key>wantun1-bouzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,238},{24,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,12}}</string>
        <key>sourceSize</key>
        <string>{24,12}</string>
      </dict>
      <key>wantun1-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,172},{24,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,26}}</string>
        <key>sourceSize</key>
        <string>{24,26}</string>
      </dict>
      <key>wantun1-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,206},{25,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,28}}</string>
        <key>sourceSize</key>
        <string>{25,28}</string>
      </dict>
      <key>wantun1-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,226},{21,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,24}}</string>
        <key>sourceSize</key>
        <string>{21,24}</string>
      </dict>
      <key>wantun1-youjioa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,238},{21,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,13}}</string>
        <key>sourceSize</key>
        <string>{21,13}</string>
      </dict>
      <key>wantun1-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,236},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
      <key>wantun1-youjiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,200},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>wantun1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,172},{47,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,64}}</string>
        <key>sourceSize</key>
        <string>{47,64}</string>
      </dict>
      <key>wantun1-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,212},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>wantun1-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,195},{17,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,25}}</string>
        <key>sourceSize</key>
        <string>{17,25}</string>
      </dict>
      <key>wantun1-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>wantun1-beiqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,105},{98,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,65}}</string>
        <key>sourceSize</key>
        <string>{98,65}</string>
      </dict>
      <key>wantun1-weiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{63,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,19}}</string>
        <key>sourceSize</key>
        <string>{63,19}</string>
      </dict>
      <key>wantun1-zuojiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,237},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,18}}</string>
        <key>sourceSize</key>
        <string>{18,18}</string>
      </dict>
      <key>wantun1-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,222},{16,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,19}}</string>
        <key>sourceSize</key>
        <string>{16,19}</string>
      </dict>
      <key>wantun1-zuojiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,244},{20,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,13}}</string>
        <key>sourceSize</key>
        <string>{20,13}</string>
      </dict>
      <key>wantun1-yachi6.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,195},{62,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,47}}</string>
        <key>sourceSize</key>
        <string>{62,47}</string>
      </dict>
      <key>wantun1-weiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{97,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,53}}</string>
        <key>sourceSize</key>
        <string>{97,53}</string>
      </dict>
      <key>wantun1-weiba3.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,226},{27,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,18}}</string>
        <key>sourceSize</key>
        <string>{27,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wantun.png</string>
      <key>textureFileName</key>
      <string>wantun.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>