<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>meisha-yanlei.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,170},{15,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,18}}</string>
        <key>sourceSize</key>
        <string>{15,18}</string>
      </dict>
      <key>meisha-zuiba1.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,376},{78,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,29}}</string>
        <key>sourceSize</key>
        <string>{78,29}</string>
      </dict>
      <key>meisha-xueqiu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>meisha-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,169},{33,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,59}}</string>
        <key>sourceSize</key>
        <string>{33,59}</string>
      </dict>
      <key>meisha-daimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,328},{41,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,20}}</string>
        <key>sourceSize</key>
        <string>{41,20}</string>
      </dict>
      <key>meisha-zuoerduo1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{97,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,167}}</string>
        <key>sourceSize</key>
        <string>{97,167}</string>
      </dict>
      <key>meisha-youerduo1.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,170},{125,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,179}}</string>
        <key>sourceSize</key>
        <string>{125,179}</string>
      </dict>
      <key>meisha-yanjing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,319},{77,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,55}}</string>
        <key>sourceSize</key>
        <string>{77,55}</string>
      </dict>
      <key>meisha-yanjing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,379},{81,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,21}}</string>
        <key>sourceSize</key>
        <string>{81,21}</string>
      </dict>
      <key>meisha-yanjing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,327},{76,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,50}}</string>
        <key>sourceSize</key>
        <string>{76,50}</string>
      </dict>
      <key>meisha-zuiba4.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,351},{83,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,26}}</string>
        <key>sourceSize</key>
        <string>{83,26}</string>
      </dict>
      <key>meisha-zuiba3.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,367},{83,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,25}}</string>
        <key>sourceSize</key>
        <string>{83,25}</string>
      </dict>
      <key>meisha-zuiba2.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,379},{78,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,21}}</string>
        <key>sourceSize</key>
        <string>{78,21}</string>
      </dict>
      <key>meisha-liuhai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,170},{55,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,90}}</string>
        <key>sourceSize</key>
        <string>{55,90}</string>
      </dict>
      <key>meisha-liuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,169},{66,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{66,100}</string>
      </dict>
      <key>meisha-youerzhao.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,262},{47,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,64}}</string>
        <key>sourceSize</key>
        <string>{47,64}</string>
      </dict>
      <key>meisha-liuhai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,202},{76,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,87}}</string>
        <key>sourceSize</key>
        <string>{76,87}</string>
      </dict>
      <key>meisha-youerduo2.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,351},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>meisha-zuoerduo2.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,327},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>meisha-liandan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{110,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,123}}</string>
        <key>sourceSize</key>
        <string>{110,123}</string>
      </dict>
      <key>meisha-zuoerzhao.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,285},{37,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,50}}</string>
        <key>sourceSize</key>
        <string>{37,50}</string>
      </dict>
      <key>meisha-weijin.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,271},{62,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,46}}</string>
        <key>sourceSize</key>
        <string>{62,46}</string>
      </dict>
      <key>meisha-kouzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,361},{25,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,15}}</string>
        <key>sourceSize</key>
        <string>{25,15}</string>
      </dict>
      <key>meisha-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,291},{85,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>meisha-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,350},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>meisha-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,230},{35,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,53}}</string>
        <key>sourceSize</key>
        <string>{35,53}</string>
      </dict>
      <key>meisha-pigu.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,379},{57,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,37}}</string>
        <key>sourceSize</key>
        <string>{57,37}</string>
      </dict>
      <key>meisha-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,262},{22,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,42}}</string>
        <key>sourceSize</key>
        <string>{22,42}</string>
      </dict>
      <key>meisha-weiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,337},{52,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,55}}</string>
        <key>sourceSize</key>
        <string>{52,55}</string>
      </dict>
      <key>meisha-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{200,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,168}}</string>
        <key>sourceSize</key>
        <string>{200,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weisha2.png</string>
      <key>textureFileName</key>
      <string>weisha2.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>