<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wowo0-youcujiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,214},{40,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,64}}</string>
        <key>sourceSize</key>
        <string>{40,64}</string>
      </dict>
      <key>wowo0-youcujiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,135},{28,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,55}}</string>
        <key>sourceSize</key>
        <string>{28,55}</string>
      </dict>
      <key>wowo0-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,208},{47,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,65}}</string>
        <key>sourceSize</key>
        <string>{47,65}</string>
      </dict>
      <key>wowo0-youliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,217},{37,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,64}}</string>
        <key>sourceSize</key>
        <string>{37,64}</string>
      </dict>
      <key>wowo0-zuoliuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,135},{45,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,80}}</string>
        <key>sourceSize</key>
        <string>{45,80}</string>
      </dict>
      <key>wowo0-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,145},{87,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,67}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>wowo0-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,207},{78,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,63}}</string>
        <key>sourceSize</key>
        <string>{78,63}</string>
      </dict>
      <key>wowo0-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,207},{87,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,61}}</string>
        <key>sourceSize</key>
        <string>{87,61}</string>
      </dict>
      <key>wowo0-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{157,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,133}}</string>
        <key>sourceSize</key>
        <string>{157,133}</string>
      </dict>
      <key>wowo0-zuocujiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,214},{43,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,61}}</string>
        <key>sourceSize</key>
        <string>{43,61}</string>
      </dict>
      <key>wowo0-zuocujiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,262},{34,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,49}}</string>
        <key>sourceSize</key>
        <string>{34,49}</string>
      </dict>
      <key>wowo0-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,262},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>wowo0-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,262},{24,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>wowo0-youbeidai.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,207},{16,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,35}}</string>
        <key>sourceSize</key>
        <string>{16,35}</string>
      </dict>
      <key>wowo0-youshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,250},{23,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,25}}</string>
        <key>sourceSize</key>
        <string>{23,25}</string>
      </dict>
      <key>wowo0-lindai.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,264},{10,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,18}}</string>
        <key>sourceSize</key>
        <string>{10,18}</string>
      </dict>
      <key>wowo0-lindai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,262},{13,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,17}}</string>
        <key>sourceSize</key>
        <string>{13,17}</string>
      </dict>
      <key>wowo0-shengti .png</key>
      <dict>
        <key>frame</key>
        <string>{{52,262},{46,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,43}}</string>
        <key>sourceSize</key>
        <string>{46,43}</string>
      </dict>
      <key>wowo0-qungzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,192},{24,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,56}}</string>
        <key>sourceSize</key>
        <string>{24,56}</string>
      </dict>
      <key>wowo0-qungzhi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,248},{36,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,58}}</string>
        <key>sourceSize</key>
        <string>{36,58}</string>
      </dict>
      <key>wowo0-qungzhi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,208},{51,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,60}}</string>
        <key>sourceSize</key>
        <string>{51,60}</string>
      </dict>
      <key>wowo0-qungzhi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,248},{42,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,54}}</string>
        <key>sourceSize</key>
        <string>{42,54}</string>
      </dict>
      <key>wowo0-youjiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,262},{19,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,24}}</string>
        <key>sourceSize</key>
        <string>{19,24}</string>
      </dict>
      <key>wowo0-youjiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,262},{21,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,22}}</string>
        <key>sourceSize</key>
        <string>{21,22}</string>
      </dict>
      <key>wowo0-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,244},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>wowo0-zuojiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,214},{15,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,26}}</string>
        <key>sourceSize</key>
        <string>{15,26}</string>
      </dict>
      <key>wowo0-zuojiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,248},{17,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,23}}</string>
        <key>sourceSize</key>
        <string>{17,23}</string>
      </dict>
      <key>wowo0-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,242},{15,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,20}}</string>
        <key>sourceSize</key>
        <string>{15,20}</string>
      </dict>
      <key>wowo0-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,267},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>wowo0-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,262},{24,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>wowo0-zuoshou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,249},{25,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,23}}</string>
        <key>sourceSize</key>
        <string>{25,23}</string>
      </dict>
      <key>wowo0-zuobeidai.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,208},{22,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,39}}</string>
        <key>sourceSize</key>
        <string>{22,39}</string>
      </dict>
      <key>wowo0-youbianzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{50,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,39}}</string>
        <key>sourceSize</key>
        <string>{50,39}</string>
      </dict>
      <key>wowo0-zuobianzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,262},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>wowo0-youpengshe.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,0},{92,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,122}}</string>
        <key>sourceSize</key>
        <string>{92,122}</string>
      </dict>
      <key>wowo0-huoyan.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,0},{96,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,143}}</string>
        <key>sourceSize</key>
        <string>{96,143}</string>
      </dict>
      <key>wowo0-dankou.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,208},{52,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>wowo0-youdaodan.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,0},{185,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,205}}</string>
        <key>sourceSize</key>
        <string>{185,205}</string>
      </dict>
      <key>wowo0-beike.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{290,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,260}}</string>
        <key>sourceSize</key>
        <string>{290,260}</string>
      </dict>
      <key>wowo0-zuopengshe.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,124},{91,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,122}}</string>
        <key>sourceSize</key>
        <string>{91,122}</string>
      </dict>
      <key>wowo0-zuodaodan.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{185,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,206}}</string>
        <key>sourceSize</key>
        <string>{185,206}</string>
      </dict>
      <key>wowo0-huoyan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,135},{78,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,132}}</string>
        <key>sourceSize</key>
        <string>{78,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wowo2.png</string>
      <key>textureFileName</key>
      <string>wowo2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>