<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wuer1-lei.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,171},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>wuer1-yianwu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,341},{178,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,50}}</string>
        <key>sourceSize</key>
        <string>{178,50}</string>
      </dict>
      <key>wuer1-shou4.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,262},{96,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,52}}</string>
        <key>sourceSize</key>
        <string>{96,52}</string>
      </dict>
      <key>wuer1-shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,293},{160,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,139}}</string>
        <key>sourceSize</key>
        <string>{160,139}</string>
      </dict>
      <key>wuer1-shizhi2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,289},{52,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,83}}</string>
        <key>sourceSize</key>
        <string>{52,83}</string>
      </dict>
      <key>wuer1-shizhi1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,374},{52,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,75}}</string>
        <key>sourceSize</key>
        <string>{52,75}</string>
      </dict>
      <key>wuer1-zhongzhi2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,300},{52,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,79}}</string>
        <key>sourceSize</key>
        <string>{52,79}</string>
      </dict>
      <key>wuer1-zhongzhi1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,381},{52,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,69}}</string>
        <key>sourceSize</key>
        <string>{52,69}</string>
      </dict>
      <key>wuer1-xiaozhi2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,383},{58,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,65}}</string>
        <key>sourceSize</key>
        <string>{58,65}</string>
      </dict>
      <key>wuer1-xiaozhi1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,386},{53,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,61}}</string>
        <key>sourceSize</key>
        <string>{53,61}</string>
      </dict>
      <key>wuer1-muzhi2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,385},{58,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,62}}</string>
        <key>sourceSize</key>
        <string>{58,62}</string>
      </dict>
      <key>wuer1-muzhi1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,335},{59,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>wuer1-yian.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,383},{153,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,41}}</string>
        <key>sourceSize</key>
        <string>{153,41}</string>
      </dict>
      <key>wuer1-tukuai.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,200},{32,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,15}}</string>
        <key>sourceSize</key>
        <string>{32,15}</string>
      </dict>
      <key>wuer1-tukuai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,193},{9,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,7}}</string>
        <key>sourceSize</key>
        <string>{9,7}</string>
      </dict>
      <key>wuer1-tukuai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,206},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>wuer1-tukuai4.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,152},{26,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,17}}</string>
        <key>sourceSize</key>
        <string>{26,17}</string>
      </dict>
      <key>wuer1-tukuai5.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,193},{20,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,11}}</string>
        <key>sourceSize</key>
        <string>{20,11}</string>
      </dict>
      <key>wuer1-shou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,293},{118,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,91}}</string>
        <key>sourceSize</key>
        <string>{118,91}</string>
      </dict>
      <key>wuer1-shou.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,0},{152,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,140}}</string>
        <key>sourceSize</key>
        <string>{152,140}</string>
      </dict>
      <key>wuer1-shouzhi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,166},{65,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>wuer1-shouzhi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,240},{58,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,93}}</string>
        <key>sourceSize</key>
        <string>{58,93}</string>
      </dict>
      <key>wuer1-shouzhi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,300},{49,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,85}}</string>
        <key>sourceSize</key>
        <string>{49,85}</string>
      </dict>
      <key>wuer1-muzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,142},{66,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,96}}</string>
        <key>sourceSize</key>
        <string>{66,96}</string>
      </dict>
      <key>wuer1-muzhi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,316},{62,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,67}}</string>
        <key>sourceSize</key>
        <string>{62,67}</string>
      </dict>
      <key>wuer1-waiqiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{181,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,173}}</string>
        <key>sourceSize</key>
        <string>{181,173}</string>
      </dict>
      <key>wuer1-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,148},{268,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,139}}</string>
        <key>sourceSize</key>
        <string>{268,139}</string>
      </dict>
      <key>wuer1-gonji.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,0},{269,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,146}}</string>
        <key>sourceSize</key>
        <string>{269,146}</string>
      </dict>
      <key>wuer1-daiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,152},{268,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,139}}</string>
        <key>sourceSize</key>
        <string>{268,139}</string>
      </dict>
      <key>wuer1-qiangzhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,142},{79,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,156}}</string>
        <key>sourceSize</key>
        <string>{79,156}</string>
      </dict>
      <key>wuer1-wqiqiang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{301,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,150}}</string>
        <key>sourceSize</key>
        <string>{301,150}</string>
      </dict>
      <key>wuer1-neiqiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{292,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{292,164}}</string>
        <key>sourceSize</key>
        <string>{292,164}</string>
      </dict>
      <key>wuer1-yanjing.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,166},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>wuer1-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,289},{213,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,92}}</string>
        <key>sourceSize</key>
        <string>{213,92}</string>
      </dict>
      <key>wuer1-qiangzhu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,386},{48,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,71}}</string>
        <key>sourceSize</key>
        <string>{48,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wuer2.png</string>
      <key>textureFileName</key>
      <string>wuer2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>