<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>xialuo1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{415,81},{61,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,55}}</string>
    <key>sourceSize</key>
    <string>{61,55}</string>
   </dict>
   <key>xialuo1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,190},{60,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,50}}</string>
    <key>sourceSize</key>
    <string>{60,50}</string>
   </dict>
   <key>xialuo1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,278},{61,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,43}}</string>
    <key>sourceSize</key>
    <string>{61,43}</string>
   </dict>
   <key>xialuo1-maozijian.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,138},{20,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,27}}</string>
    <key>sourceSize</key>
    <string>{20,27}</string>
   </dict>
   <key>xialuo1-maozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,0},{158,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{158,89}}</string>
    <key>sourceSize</key>
    <string>{158,89}</string>
   </dict>
   <key>xialuo1-liuhia.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,146},{33,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,59}}</string>
    <key>sourceSize</key>
    <string>{33,59}</string>
   </dict>
   <key>xialuo1-liuhai.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,210},{36,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,51}}</string>
    <key>sourceSize</key>
    <string>{36,51}</string>
   </dict>
   <key>xialuo1-liuhai_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,155},{50,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,60}}</string>
    <key>sourceSize</key>
    <string>{50,60}</string>
   </dict>
   <key>xialuo1-suifa.png</key>
   <dict>
    <key>frame</key>
    <string>{{299,266},{47,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,30}}</string>
    <key>sourceSize</key>
    <string>{47,30}</string>
   </dict>
   <key>xialuo1-toufa.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,91},{97,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,97}}</string>
    <key>sourceSize</key>
    <string>{97,97}</string>
   </dict>
   <key>xialuo1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{415,0},{80,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{80,79}}</string>
    <key>sourceSize</key>
    <string>{80,79}</string>
   </dict>
   <key>xialuo1-toufa_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,91},{54,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,62}}</string>
    <key>sourceSize</key>
    <string>{54,62}</string>
   </dict>
   <key>xialuo1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,282},{33,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,30}}</string>
    <key>sourceSize</key>
    <string>{33,30}</string>
   </dict>
   <key>xialuo1-youbianxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,282},{27,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,25}}</string>
    <key>sourceSize</key>
    <string>{27,25}</string>
   </dict>
   <key>xialuo1-yandou.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,190},{32,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,38}}</string>
    <key>sourceSize</key>
    <string>{32,38}</string>
   </dict>
   <key>xialuo1-hudiejie.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,305},{27,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,14}}</string>
    <key>sourceSize</key>
    <string>{27,14}</string>
   </dict>
   <key>xialuo1-doupeng 1.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,282},{28,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,34}}</string>
    <key>sourceSize</key>
    <string>{28,34}</string>
   </dict>
   <key>xialuo1-doupeng.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,217},{48,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,38}}</string>
    <key>sourceSize</key>
    <string>{48,38}</string>
   </dict>
   <key>xialuo1-youbiandabi.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,282},{25,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,21}}</string>
    <key>sourceSize</key>
    <string>{25,21}</string>
   </dict>
   <key>xialuo1-fengyi.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,138},{43,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,70}}</string>
    <key>sourceSize</key>
    <string>{43,70}</string>
   </dict>
   <key>xialuo1-fengyi_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,207},{41,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,69}}</string>
    <key>sourceSize</key>
    <string>{41,69}</string>
   </dict>
   <key>xialuo1-fengyi_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,81},{27,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,63}}</string>
    <key>sourceSize</key>
    <string>{27,63}</string>
   </dict>
   <key>xialuo1-qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{349,257},{50,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,32}}</string>
    <key>sourceSize</key>
    <string>{50,32}</string>
   </dict>
   <key>xialuo1-qugan.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,242},{42,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,43}}</string>
    <key>sourceSize</key>
    <string>{42,43}</string>
   </dict>
   <key>xialuo1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,298},{26,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,17}}</string>
    <key>sourceSize</key>
    <string>{26,17}</string>
   </dict>
   <key>xialuo1-youbianxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,282},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>xialuo1-youbiandatui .png</key>
   <dict>
    <key>frame</key>
    <string>{{35,282},{32,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,30}}</string>
    <key>sourceSize</key>
    <string>{32,30}</string>
   </dict>
   <key>xialuo1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{348,291},{29,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,15}}</string>
    <key>sourceSize</key>
    <string>{29,15}</string>
   </dict>
   <key>xialuo1-zuobianxiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,287},{21,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,19}}</string>
    <key>sourceSize</key>
    <string>{21,19}</string>
   </dict>
   <key>xialuo1-zuotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{455,167},{16,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,28}}</string>
    <key>sourceSize</key>
    <string>{16,28}</string>
   </dict>
   <key>xialuo1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,282},{33,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,28}}</string>
    <key>sourceSize</key>
    <string>{33,28}</string>
   </dict>
   <key>xialuo1-wuqi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{253,280}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{253,280}}</string>
    <key>sourceSize</key>
    <string>{253,280}</string>
   </dict>
   <key>xialuo1-shouzhang.png</key>
   <dict>
    <key>frame</key>
    <string>{{249,287},{21,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,24}}</string>
    <key>sourceSize</key>
    <string>{21,24}</string>
   </dict>
   <key>xialuo1-zuobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,282},{31,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,25}}</string>
    <key>sourceSize</key>
    <string>{31,25}</string>
   </dict>
   <key>xialuo1-zuobi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,263},{38,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,40}}</string>
    <key>sourceSize</key>
    <string>{38,40}</string>
   </dict>
   <key>xialuo1-fengyi_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{317,230},{30,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,34}}</string>
    <key>sourceSize</key>
    <string>{30,34}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>xialuo2.png</string>
   <key>textureFileName</key>
   <string>xialuo2.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>