<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xifuku-liuhai.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,290},{55,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,79}}</string>
        <key>sourceSize</key>
        <string>{55,79}</string>
      </dict>
      <key>xifuku-liuhai .png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{84,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,102}}</string>
        <key>sourceSize</key>
        <string>{84,102}</string>
      </dict>
      <key>xifuku-liuhai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,115},{41,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,113}}</string>
        <key>sourceSize</key>
        <string>{41,113}</string>
      </dict>
      <key>xifuku-gongji.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,290},{86,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,70}}</string>
        <key>sourceSize</key>
        <string>{86,70}</string>
      </dict>
      <key>xifuku-shouji.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,331},{79,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,68}}</string>
        <key>sourceSize</key>
        <string>{79,68}</string>
      </dict>
      <key>xifuku-daiji .png</key>
      <dict>
        <key>frame</key>
        <string>{{86,362},{83,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,63}}</string>
        <key>sourceSize</key>
        <string>{83,63}</string>
      </dict>
      <key>xifuku-bingfa .png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{41,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,113}}</string>
        <key>sourceSize</key>
        <string>{41,113}</string>
      </dict>
      <key>xifuku-erduo .png</key>
      <dict>
        <key>frame</key>
        <string>{{293,369},{67,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>xifuku-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{177,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,114}}</string>
        <key>sourceSize</key>
        <string>{177,114}</string>
      </dict>
      <key>xifuku-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{125,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,126}}</string>
        <key>sourceSize</key>
        <string>{125,126}</string>
      </dict>
      <key>xifuku-hudiejie.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,299},{81,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,68}}</string>
        <key>sourceSize</key>
        <string>{81,68}</string>
      </dict>
      <key>xifuku-hudiejie3.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,371},{68,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,58}}</string>
        <key>sourceSize</key>
        <string>{68,58}</string>
      </dict>
      <key>xifuku-shangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,268},{17,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,19}}</string>
        <key>sourceSize</key>
        <string>{17,19}</string>
      </dict>
      <key>xifuku-shangbi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,275},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>xifuku-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,222},{33,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,21}}</string>
        <key>sourceSize</key>
        <string>{33,21}</string>
      </dict>
      <key>xifuku-shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,154},{40,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,66}}</string>
        <key>sourceSize</key>
        <string>{40,66}</string>
      </dict>
      <key>xifuku-qun bai.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,209},{131,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,79}}</string>
        <key>sourceSize</key>
        <string>{131,79}</string>
      </dict>
      <key>xifuku-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,209},{26,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,64}}</string>
        <key>sourceSize</key>
        <string>{26,64}</string>
      </dict>
      <key>xifuku-shangbi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,268},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>xifuku-xiaobi.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,282},{20,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>xifuku-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,245},{28,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,21}}</string>
        <key>sourceSize</key>
        <string>{28,21}</string>
      </dict>
      <key>xifuku-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,161},{95,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,136}}</string>
        <key>sourceSize</key>
        <string>{95,136}</string>
      </dict>
      <key>xifuku-youshang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,152}}</string>
        <key>sourceSize</key>
        <string>{172,152}</string>
      </dict>
      <key>xifuku-youxia.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,116},{161,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,91}}</string>
        <key>sourceSize</key>
        <string>{161,91}</string>
      </dict>
      <key>xifuku-zuoshang.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{96,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,159}}</string>
        <key>sourceSize</key>
        <string>{96,159}</string>
      </dict>
      <key>xifuku-zuoxia.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,230},{76,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,99}}</string>
        <key>sourceSize</key>
        <string>{76,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xifu3.png</string>
      <key>textureFileName</key>
      <string>xifu3.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>