<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xima1-xuanzhuan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{588,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{588,310}}</string>
        <key>sourceSize</key>
        <string>{588,310}</string>
      </dict>
      <key>xima1-xuanzhuan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{588,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{588,310}}</string>
        <key>sourceSize</key>
        <string>{588,310}</string>
      </dict>
      <key>xima1-yun1.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,566},{61,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,33}}</string>
        <key>sourceSize</key>
        <string>{61,33}</string>
      </dict>
      <key>xima1-yun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,328},{93,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,73}}</string>
        <key>sourceSize</key>
        <string>{93,73}</string>
      </dict>
      <key>xima1-yun3.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,514},{86,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,43}}</string>
        <key>sourceSize</key>
        <string>{86,43}</string>
      </dict>
      <key>xima1-yun4.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,559},{63,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,33}}</string>
        <key>sourceSize</key>
        <string>{63,33}</string>
      </dict>
      <key>xima1-yun5.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,456},{104,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,75}}</string>
        <key>sourceSize</key>
        <string>{104,75}</string>
      </dict>
      <key>xima1-yun6.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,533},{74,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,37}}</string>
        <key>sourceSize</key>
        <string>{74,37}</string>
      </dict>
      <key>xima1-texiao1.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,489},{80,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,75}}</string>
        <key>sourceSize</key>
        <string>{80,75}</string>
      </dict>
      <key>xima1-texiao2.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,337},{77,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,88}}</string>
        <key>sourceSize</key>
        <string>{77,88}</string>
      </dict>
      <key>xima1-texiao3.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,403},{76,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,84}}</string>
        <key>sourceSize</key>
        <string>{76,84}</string>
      </dict>
      <key>xima1-texiao4.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,427},{68,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,85}}</string>
        <key>sourceSize</key>
        <string>{68,85}</string>
      </dict>
      <key>xima1-texiao5.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,501},{55,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,64}}</string>
        <key>sourceSize</key>
        <string>{55,64}</string>
      </dict>
      <key>xima1-shan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,178},{223,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{223,157}}</string>
        <key>sourceSize</key>
        <string>{223,157}</string>
      </dict>
      <key>xima1-shan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,601},{373,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{373,80}}</string>
        <key>sourceSize</key>
        <string>{373,80}</string>
      </dict>
      <key>xima1-shanding.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{296,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,176}}</string>
        <key>sourceSize</key>
        <string>{296,176}</string>
      </dict>
      <key>xima1-shanhou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,624},{346,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{346,84}}</string>
        <key>sourceSize</key>
        <string>{346,84}</string>
      </dict>
      <key>xima1-qianzhuobianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,415},{48,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,84}}</string>
        <key>sourceSize</key>
        <string>{48,84}</string>
      </dict>
      <key>xima1-qianzhuobianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,239},{30,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,55}}</string>
        <key>sourceSize</key>
        <string>{30,55}</string>
      </dict>
      <key>xima1-zhuojianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,559},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>xima1-qianyoubianzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,162},{25,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,75}}</string>
        <key>sourceSize</key>
        <string>{25,75}</string>
      </dict>
      <key>xima1-shoijibiaoqing.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,427},{77,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,47}}</string>
        <key>sourceSize</key>
        <string>{77,47}</string>
      </dict>
      <key>xima1-gongjibiaoqing.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,476},{73,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,47}}</string>
        <key>sourceSize</key>
        <string>{73,47}</string>
      </dict>
      <key>xima1-daijibiaoqing.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,525},{72,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,46}}</string>
        <key>sourceSize</key>
        <string>{72,46}</string>
      </dict>
      <key>xima1-zhuoshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,572},{18,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,11}}</string>
        <key>sourceSize</key>
        <string>{18,11}</string>
      </dict>
      <key>xima1-zhuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,515},{18,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,28}}</string>
        <key>sourceSize</key>
        <string>{18,28}</string>
      </dict>
      <key>xima1-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,337},{142,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,117}}</string>
        <key>sourceSize</key>
        <string>{142,117}</string>
      </dict>
      <key>xima1-zhuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,387},{26,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,26}}</string>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
      <key>xima1-zhuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,483},{18,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,30}}</string>
        <key>sourceSize</key>
        <string>{18,30}</string>
      </dict>
      <key>xima1-shengti.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,336},{37,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,49}}</string>
        <key>sourceSize</key>
        <string>{37,49}</string>
      </dict>
      <key>xima1-datuihou.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,456},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>xima1-bozi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,296},{14,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,13}}</string>
        <key>sourceSize</key>
        <string>{14,13}</string>
      </dict>
      <key>xima1-zhuojiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,566},{18,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,15}}</string>
        <key>sourceSize</key>
        <string>{18,15}</string>
      </dict>
      <key>xima1-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,296},{20,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,38}}</string>
        <key>sourceSize</key>
        <string>{20,38}</string>
      </dict>
      <key>xima1-youjiaowan.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,567},{22,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,13}}</string>
        <key>sourceSize</key>
        <string>{22,13}</string>
      </dict>
      <key>xima1-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,561},{17,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,23}}</string>
        <key>sourceSize</key>
        <string>{17,23}</string>
      </dict>
      <key>xima1-youjianbang.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,533},{20,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,26}}</string>
        <key>sourceSize</key>
        <string>{20,26}</string>
      </dict>
      <key>xima1-youshouwan.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,567},{18,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,12}}</string>
        <key>sourceSize</key>
        <string>{18,12}</string>
      </dict>
      <key>xima1-youshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,545},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>xima1-youtoufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,178},{65,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,133}}</string>
        <key>sourceSize</key>
        <string>{65,133}</string>
      </dict>
      <key>xima1-youtoufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,313},{66,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,112}}</string>
        <key>sourceSize</key>
        <string>{66,112}</string>
      </dict>
      <key>xima1-shan3z.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,0},{123,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,160}}</string>
        <key>sourceSize</key>
        <string>{123,160}</string>
      </dict>
      <key>xima1-zhuotoufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,162},{96,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,164}}</string>
        <key>sourceSize</key>
        <string>{96,164}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xima2.png</string>
      <key>textureFileName</key>
      <string>xima2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>