<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yuanjian-yang0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,152}}</string>
        <key>sourceSize</key>
        <string>{172,152}</string>
      </dict>
      <key>yuanjian-qian2.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>yuanjian-qian1.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,37},{24,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,34}}</string>
        <key>sourceSize</key>
        <string>{24,34}</string>
      </dict>
      <key>yuanjian-yang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,38},{5,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,5}}</string>
        <key>sourceSize</key>
        <string>{5,5}</string>
      </dict>
      <key>yuanjian-yang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,38},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,8}}</string>
        <key>sourceSize</key>
        <string>{8,8}</string>
      </dict>
      <key>yuanjian-yang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{183,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,136}}</string>
        <key>sourceSize</key>
        <string>{183,136}</string>
      </dict>
      <key>yuanjian-hou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
      <key>yuanjian-hou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{25,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,36}}</string>
        <key>sourceSize</key>
        <string>{25,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>yang.png</string>
      <key>textureFileName</key>
      <string>yang.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>