<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>yingxi1-dengguang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,179},{240,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{240,73}}</string>
    <key>sourceSize</key>
    <string>{240,73}</string>
   </dict>
   <key>yingxi1-yunshi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{302,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{302,177}}</string>
    <key>sourceSize</key>
    <string>{302,177}</string>
   </dict>
   <key>yingxi1-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{295,336},{54,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,72}}</string>
    <key>sourceSize</key>
    <string>{54,72}</string>
   </dict>
   <key>yingxi1-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,212},{93,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,103}}</string>
    <key>sourceSize</key>
    <string>{93,103}</string>
   </dict>
   <key>yingxi1-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{227,283},{32,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,77}}</string>
    <key>sourceSize</key>
    <string>{32,77}</string>
   </dict>
   <key>yingxi1-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,404},{87,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,52}}</string>
    <key>sourceSize</key>
    <string>{87,52}</string>
   </dict>
   <key>yingxi1-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{407,317},{88,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,51}}</string>
    <key>sourceSize</key>
    <string>{88,51}</string>
   </dict>
   <key>yingxi1-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,407},{87,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,51}}</string>
    <key>sourceSize</key>
    <string>{87,51}</string>
   </dict>
   <key>yingxi1-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,254},{156,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{156,148}}</string>
    <key>sourceSize</key>
    <string>{156,148}</string>
   </dict>
   <key>yingxi1-zuosidai.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,398},{19,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,22}}</string>
    <key>sourceSize</key>
    <string>{19,22}</string>
   </dict>
   <key>yingxi1-yousidai.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,404},{18,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,21}}</string>
    <key>sourceSize</key>
    <string>{18,21}</string>
   </dict>
   <key>yingxi1-shouzhi.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,362},{34,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,29}}</string>
    <key>sourceSize</key>
    <string>{34,29}</string>
   </dict>
   <key>yingxi1-qiang.png</key>
   <dict>
    <key>frame</key>
    <string>{{391,370},{109,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,35}}</string>
    <key>sourceSize</key>
    <string>{109,35}</string>
   </dict>
   <key>yingxi1-babing.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,261},{19,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,42}}</string>
    <key>sourceSize</key>
    <string>{19,42}</string>
   </dict>
   <key>yingxi1-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{255,375},{28,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,32}}</string>
    <key>sourceSize</key>
    <string>{28,32}</string>
   </dict>
   <key>yingxi1-zuobu.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,339},{59,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,40}}</string>
    <key>sourceSize</key>
    <string>{59,40}</string>
   </dict>
   <key>yingxi1-youbu.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,305},{32,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,37}}</string>
    <key>sourceSize</key>
    <string>{32,37}</string>
   </dict>
   <key>yingxi1-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,320},{32,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,34}}</string>
    <key>sourceSize</key>
    <string>{32,34}</string>
   </dict>
   <key>yingxi1-zuoxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,344},{31,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,29}}</string>
    <key>sourceSize</key>
    <string>{31,29}</string>
   </dict>
   <key>yingxi1-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,356},{38,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,40}}</string>
    <key>sourceSize</key>
    <string>{38,40}</string>
   </dict>
   <key>yingxi1-yinying.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,381},{30,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,21}}</string>
    <key>sourceSize</key>
    <string>{30,21}</string>
   </dict>
   <key>yingxi1-lingdai.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,230},{37,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,88}}</string>
    <key>sourceSize</key>
    <string>{37,88}</string>
   </dict>
   <key>yingxi1-youbu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,179},{27,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,102}}</string>
    <key>sourceSize</key>
    <string>{27,102}</string>
   </dict>
   <key>yingxi1-zuobu1.png</key>
   <dict>
    <key>frame</key>
    <string>{{298,230},{68,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,104}}</string>
    <key>sourceSize</key>
    <string>{68,104}</string>
   </dict>
   <key>yingxi1-xiabu.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,254},{67,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,83}}</string>
    <key>sourceSize</key>
    <string>{67,83}</string>
   </dict>
   <key>yingxi1-zuojiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,222},{25,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,37}}</string>
    <key>sourceSize</key>
    <string>{25,37}</string>
   </dict>
   <key>yingxi1-youjiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,381},{23,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,32}}</string>
    <key>sourceSize</key>
    <string>{23,32}</string>
   </dict>
   <key>yingxi1-youxiaobi.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,393},{28,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,22}}</string>
    <key>sourceSize</key>
    <string>{28,22}</string>
   </dict>
   <key>yingxi1-youshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,179},{28,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,41}}</string>
    <key>sourceSize</key>
    <string>{28,41}</string>
   </dict>
   <key>yingxi1-zuobianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,0},{108,228}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,228}}</string>
    <key>sourceSize</key>
    <string>{108,228}</string>
   </dict>
   <key>yingxi1-youbianzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,0},{89,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,210}}</string>
    <key>sourceSize</key>
    <string>{89,210}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>yingxi.png</string>
   <key>textureFileName</key>
   <string>yingxi.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>