<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>youzi0-weiba5.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,0},{153,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{153,115}}</string>
    <key>sourceSize</key>
    <string>{153,115}</string>
   </dict>
   <key>youzi0-guihuo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{298,92},{83,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,136}}</string>
    <key>sourceSize</key>
    <string>{83,136}</string>
   </dict>
   <key>youzi0-toudai.png</key>
   <dict>
    <key>frame</key>
    <string>{{298,0},{137,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{137,90}}</string>
    <key>sourceSize</key>
    <string>{137,90}</string>
   </dict>
   <key>youzi0-zuoxiaobi01.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,254},{35,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,53}}</string>
    <key>sourceSize</key>
    <string>{35,53}</string>
   </dict>
   <key>youzi0-zuoshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{449,309},{23,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,25}}</string>
    <key>sourceSize</key>
    <string>{23,25}</string>
   </dict>
   <key>youzi0-zuoxiaobi0.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,309},{24,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,13}}</string>
    <key>sourceSize</key>
    <string>{24,13}</string>
   </dict>
   <key>youzi0-zuoshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{171,286},{23,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,35}}</string>
    <key>sourceSize</key>
    <string>{23,35}</string>
   </dict>
   <key>youzi0-zuoxiaobi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,273},{25,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,44}}</string>
    <key>sourceSize</key>
    <string>{25,44}</string>
   </dict>
   <key>youzi0-youxiaobi01.png</key>
   <dict>
    <key>frame</key>
    <string>{{73,271},{28,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,56}}</string>
    <key>sourceSize</key>
    <string>{28,56}</string>
   </dict>
   <key>youzi0-youshou.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,176},{16,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,22}}</string>
    <key>sourceSize</key>
    <string>{16,22}</string>
   </dict>
   <key>youzi0-youxiaobi0.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,312},{23,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,13}}</string>
    <key>sourceSize</key>
    <string>{23,13}</string>
   </dict>
   <key>youzi0-youxiaobi2.png</key>
   <dict>
    <key>frame</key>
    <string>{{489,200},{21,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,48}}</string>
    <key>sourceSize</key>
    <string>{21,48}</string>
   </dict>
   <key>youzi0-toufa1.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,117},{36,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,78}}</string>
    <key>sourceSize</key>
    <string>{36,78}</string>
   </dict>
   <key>youzi0-toufa2.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,103},{18,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,48}}</string>
    <key>sourceSize</key>
    <string>{18,48}</string>
   </dict>
   <key>youzi0-toufa3.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,206},{43,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,63}}</string>
    <key>sourceSize</key>
    <string>{43,63}</string>
   </dict>
   <key>youzi0-toufa4.png</key>
   <dict>
    <key>frame</key>
    <string>{{433,103},{56,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,87}}</string>
    <key>sourceSize</key>
    <string>{56,87}</string>
   </dict>
   <key>youzi0-toufa5.png</key>
   <dict>
    <key>frame</key>
    <string>{{433,192},{31,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,81}}</string>
    <key>sourceSize</key>
    <string>{31,81}</string>
   </dict>
   <key>youzi0-zuoerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,280},{66,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,41}}</string>
    <key>sourceSize</key>
    <string>{66,41}</string>
   </dict>
   <key>youzi0-toufa6.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,92},{48,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,116}}</string>
    <key>sourceSize</key>
    <string>{48,116}</string>
   </dict>
   <key>youzi0-shouji.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,230},{74,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,56}}</string>
    <key>sourceSize</key>
    <string>{74,56}</string>
   </dict>
   <key>youzi0-gongji.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,214},{71,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,64}}</string>
    <key>sourceSize</key>
    <string>{71,64}</string>
   </dict>
   <key>youzi0-daiji.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,222},{71,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,62}}</string>
    <key>sourceSize</key>
    <string>{71,62}</string>
   </dict>
   <key>youzi0-toufa7.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,197},{30,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,74}}</string>
    <key>sourceSize</key>
    <string>{30,74}</string>
   </dict>
   <key>youzi0-tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{143,117},{111,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,103}}</string>
    <key>sourceSize</key>
    <string>{111,103}</string>
   </dict>
   <key>youzi0-budai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,305},{47,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,10}}</string>
    <key>sourceSize</key>
    <string>{47,10}</string>
   </dict>
   <key>youzi0-budai2.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,210},{17,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,17}}</string>
    <key>sourceSize</key>
    <string>{17,17}</string>
   </dict>
   <key>youzi0-budai3.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,153},{17,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,21}}</string>
    <key>sourceSize</key>
    <string>{17,21}</string>
   </dict>
   <key>youzi0-budai4.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,275},{45,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,28}}</string>
    <key>sourceSize</key>
    <string>{45,28}</string>
   </dict>
   <key>youzi0-budai5.png</key>
   <dict>
    <key>frame</key>
    <string>{{335,288},{26,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,22}}</string>
    <key>sourceSize</key>
    <string>{26,22}</string>
   </dict>
   <key>youzi0-bozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,229},{17,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,16}}</string>
    <key>sourceSize</key>
    <string>{17,16}</string>
   </dict>
   <key>youzi0-shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,222},{49,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,51}}</string>
    <key>sourceSize</key>
    <string>{49,51}</string>
   </dict>
   <key>youzi0-weiba1.png</key>
   <dict>
    <key>frame</key>
    <string>{{277,288},{56,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,45}}</string>
    <key>sourceSize</key>
    <string>{56,45}</string>
   </dict>
   <key>youzi0-weiba2.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,286},{66,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,39}}</string>
    <key>sourceSize</key>
    <string>{66,39}</string>
   </dict>
   <key>youzi0-weiba3.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,305},{54,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,42}}</string>
    <key>sourceSize</key>
    <string>{54,42}</string>
   </dict>
   <key>youzi0-youshangbi.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,280},{27,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,34}}</string>
    <key>sourceSize</key>
    <string>{27,34}</string>
   </dict>
   <key>youzi0-toufa8.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,210},{29,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,68}}</string>
    <key>sourceSize</key>
    <string>{29,68}</string>
   </dict>
   <key>youzi0-youerduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,275},{33,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,28}}</string>
    <key>sourceSize</key>
    <string>{33,28}</string>
   </dict>
   <key>youzi0-toufa9.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,192},{21,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,60}}</string>
    <key>sourceSize</key>
    <string>{21,60}</string>
   </dict>
   <key>youzi0-toufa100.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,130},{57,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,74}}</string>
    <key>sourceSize</key>
    <string>{57,74}</string>
   </dict>
   <key>youzi0-toufa110.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,130},{79,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,82}}</string>
    <key>sourceSize</key>
    <string>{79,82}</string>
   </dict>
   <key>youzi0-toufa120.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{141,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{141,128}}</string>
    <key>sourceSize</key>
    <string>{141,128}</string>
   </dict>
   <key>youzi0-guihuo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,0},{68,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,101}}</string>
    <key>sourceSize</key>
    <string>{68,101}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>youzi-修改透明帧.png</string>
   <key>textureFileName</key>
   <string>youzi-修改透明帧.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>